@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700|Open+Sans+Condensed:300,700);
/*Bootstrap Components*/
/*Alerts*/
.alert {
  padding: 10px 20px;
  font-size: 12px;
}
.alert.alert-dismissible {
  padding-right: 30px;
}
.alert.alert-dismissible:after {
  content: '';
  display: block;
  clear: both;
}
.alert-info {
  border-color: #d3d7d8;
  background-color: #e7ebec;
}
.alert-success {
  border-color: #ccdcc4;
  background-color: #e0f0d8;
}
/*Badges*/
.badge {
  background-color: #5da400;
  padding: 4px 3px;
}
.badge.live {
  background-color: #e33000;
}
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  font-weight: 600;
  color: #434343;
  line-height: 16px;
  padding: 9px 11px;
}
.btn span {
  color: #b8b8b8;
}
.btn:focus {
  outline: none;
}
.btn.btn-lg {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 16px;
  padding: 13px 18px;
  font-weight: bold;
}
.btn.btn-sm {
  padding: 6px 10px;
}
.btn.btn-xs {
  padding: 2px 6px;
}
.btn-default {
  border-color: #e1e1e1;
  background: #fcfcfc;
}
.btn-primary,
.btn-primary:focus {
  color: #ffffff;
  border-color: #5ea501;
  background: #5da400;
  outline: none;
}
.btn-primary.active,
.btn-primary:focus.active {
  border-color: #5ea501;
  background: #5da400;
  outline: none;
}
.btn-primary:hover,
.btn-primary:focus:hover {
  border-color: #4b9200;
  background: #4f9600;
}
.btn-success,
.btn-success:focus {
  color: #ffffff;
  border-color: #5da400;
  background: #87b762;
  outline: none;
}
.btn-success.active,
.btn-success:focus.active {
  border-color: #5da400;
  background: #87b762;
  outline: none;
}
.btn-success:hover,
.btn-success:focus:hover {
  border-color: #4b9200;
  background: #79a954;
}
.btn-info,
.btn-info:focus {
  color: #ffffff;
  border-color: #87a5ae;
  background: #96b4bd;
  outline: none;
}
.btn-info.active,
.btn-info:focus.active {
  border-color: #91afb8;
  background: #96b4bd;
  outline: none;
}
.btn-info:hover,
.btn-info:focus:hover {
  border-color: #84a2ab;
  background: #88a6af;
}
.btn-warning,
.btn-warning:focus {
  color: #ffffff;
  border-color: #e29f3f;
  background: #f1ae4e;
  outline: none;
}
.btn-warning.active,
.btn-warning:focus.active {
  border-color: #eca949;
  background: #f1ae4e;
  outline: none;
}
.btn-warning:hover,
.btn-warning:focus:hover {
  border-color: #df9c3c;
  background: #e3a040;
}
.btn-danger,
.btn-danger:focus {
  color: #ffffff;
  border-color: #ce402d;
  background: #dd4f3c;
  outline: none;
}
.btn-danger.active,
.btn-danger:focus.active {
  border-color: #d84a37;
  background: #dd4f3c;
  outline: none;
}
.btn-danger:hover,
.btn-danger:focus:hover {
  border-color: #cb3d2a;
  background: #cf412e;
}
.btn-link,
.btn-link:focus {
  color: #0053a8;
  background: #ffffff;
  outline: none;
}
.btn-link.active,
.btn-link:focus.active {
  outline: none;
}
.btn-link:hover,
.btn-link:focus:hover {
  background: #f1f1f1;
  text-decoration: none;
}
.btn-group .btn-link span {
  color: #0053a8;
}
/*Dropdown*/
.dropdown-menu {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.04);
  min-width: 200px;
  padding: 8px 0;
}
.dropdown-menu > li > a {
  color: #383838;
  text-transform: none;
  padding: 2px 13px;
  font-size: 13px;
  line-height: 23px;
}
.dropdown-menu > li > a .sprite {
  margin-right: 6px;
  margin-bottom: -5px;
}
.dropdown-menu > li > a:hover {
  color: #ffffff;
  background: #5da400;
}
/*form-control*/
.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  padding: 6px 12px;
  height: 38px;
  color: #4a4a4a;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 8px rgba(93, 164, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(93, 164, 0, 0.25);
  box-shadow: 0 0 8px rgba(93, 164, 0, 0.25);
  border-color: #5da400;
}
/*Validation states*/
.has-success .form-control {
  border-color: #5da400;
}
.has-success .form-control:focus {
  -webkit-box-shadow: 0 0 8px rgba(93, 164, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(93, 164, 0, 0.25);
  box-shadow: 0 0 8px rgba(93, 164, 0, 0.25);
  border-color: #5da400;
}
.has-success .form-control-feedback {
  color: #5da400;
}
.has-error .form-control {
  border-color: #a43434;
}
.has-error .form-control:focus {
  -webkit-box-shadow: 0 0 8px rgba(164, 52, 52, 0.25);
  -moz-box-shadow: 0 0 8px rgba(164, 52, 52, 0.25);
  box-shadow: 0 0 8px rgba(164, 52, 52, 0.25);
  border-color: #a43434;
}
.has-error .form-control-feedback {
  color: #a43434;
}
.has-warning .form-control {
  border-color: #e29000;
}
.has-warning .form-control:focus {
  -webkit-box-shadow: 0 0 8px rgba(226, 144, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(226, 144, 0, 0.25);
  box-shadow: 0 0 8px rgba(226, 144, 0, 0.25);
  border-color: #e29000;
}
.has-warning .form-control-feedback {
  color: #e29000;
}
.container {
  padding: 0;
  width: 1100px;
  min-width: 1100px;
}
.row {
  margin-bottom: 15px;
}
/*Labels*/
.label {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.label-live {
  background-color: #e33000;
}
.nav-pills {
  border-bottom: 2px solid #f0f0f0;
}
.nav-pills > li {
  margin-bottom: -2px;
}
.nav-pills > li.active a,
.nav-pills > li.active a:hover,
.nav-pills > li.active a:focus {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #5da400;
  border: transparent;
  border-bottom: 2px solid #519000;
  color: #ffffff;
}
.nav-pills > li.active .badge {
  background: #ffffff;
  color: #5da400;
}
.nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: none;
  border-bottom: 2px solid #f0f0f0;
  color: #434343;
  outline: none;
}
.nav-pills > li > a:focus {
  border-left: none;
  border-bottom: 2px solid #519000;
}
.nav-pills > li > a:hover {
  background-color: #f0f0f0;
  border-bottom: 2px solid #519000;
}
.nav-pills > li > a .badge {
  background-color: #5da400;
}
.nav-pills > li.dropdown.open > a {
  color: #ffffff;
  border-color: transparent;
  background-color: #5da400;
  border-bottom: 2px solid #f0f0f0;
  border-left: none;
}
.nav-pills > li + li {
  margin-left: 0;
}
/*Fixed top navbar*/
.header {
  /*Navbar inverse*/
}
.header .navbar {
  border-radius: 0;
}
.header .navbar.navbar-fixed-top {
  background: #ffffff;
  height: 64px;
  border: 0;
}
.header .navbar.navbar-fixed-top .navbar-header {
  margin-right: 0;
  float: left !important;
}
.header .navbar.navbar-fixed-top .navbar-header .navbar-brand {
  padding: 14px;
}
.header .navbar.navbar-fixed-top .navbar-header .navbar-brand img {
  height: 37px;
}
.header .navbar.navbar-fixed-top .navbar-form {
  border: 0;
  float: left !important;
  margin: 15px 0;
  padding-bottom: 0;
  padding-top: 0;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search {
  margin-left: 10px;
  display: inline-table;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search input {
  border: none;
  background: #f2f2f2;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #878787;
  font-size: 12px;
  font-weight: 300;
  box-shadow: none;
  padding: 0px 15px;
  height: 36px;
  width: 224px;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search .form-control {
  display: table-cell !important;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search .form-control::-moz-placeholder {
  color: #afafaf;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search .input-group-btn {
  display: inline-block;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search .input-group-btn .btn {
  border-color: #f2f2f2;
  background: #f2f2f2;
  color: #b0b0b0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 36px;
  font-size: 16px;
  outline: none;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search .input-group-btn .btn:hover,
.header .navbar.navbar-fixed-top .navbar-form .input-search .input-group-btn .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.header .navbar.navbar-fixed-top .navbar-form .input-search .input-group-btn .btn:hover {
  color: #a6a6a6;
}
.header .navbar.navbar-fixed-top .navbar-form .login.btn {
  font-size: 12px;
  font-weight: 600;
  margin-left: 59px;
}
.header .navbar.navbar-fixed-top .navbar-right {
  margin: 0;
}
.header .navbar.navbar-fixed-top .navbar-right > li > a {
  color: #878787;
  padding-bottom: 0;
  padding-top: 0;
  line-height: 64px;
}
.header .navbar.navbar-fixed-top .navbar-right > li > a span {
  vertical-align: middle;
  font-size: 24px;
}
.header .navbar.navbar-fixed-top .navbar-right > li.active > a {
  color: #5da400;
}
.header .navbar.navbar-fixed-top .navbar-right .user.dropdown > a img.img-circle {
  margin-right: 10px;
}
.header .navbar.navbar-fixed-top .navbar-right .user.dropdown > a span {
  color: #b8b8b8;
  font-size: 12px;
  margin-left: 10px;
}
.header .dropdown-inverted .dropdown-menu {
  background-color: #444a4c;
}
.header .dropdown-inverted .dropdown-menu > li > a {
  color: #ffffff;
}
.header .navbar-inverse {
  background-color: #424749;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  margin-bottom: 0;
}
.header .navbar-inverse span.icon-caret-down {
  font-size: 12px;
}
.header .navbar-inverse .navbar-nav {
  margin: 0;
}
.header .navbar-inverse .navbar-nav > li > a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #c2c2c2;
  padding: 0 14px;
  line-height: 50px;
}
.header .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #363a3c;
}
.header .navbar-inverse .navbar-nav > li.dropdown.open > a,
.header .navbar-inverse .navbar-nav > li.dropdown.open > a:hover {
  background-color: #363a3c;
}
.header .navbar-inverse .navbar-nav > li.active > a,
.header .navbar-inverse .navbar-nav > li.active > a:hover {
  background-color: #5da400;
  color: #ffffff;
}
.header .navbar-inverse .navbar-nav > li.divider {
  border-left: 1px solid #383d3f;
  height: 50px;
}
.header .navbar-inverse .social-nav {
  font-size: 20px;
}
.header .navbar-inverse .social-nav li a {
  color: #e4e4e4;
  padding: 0 14px;
}
.header .navbar-collapse.collapse {
  display: block !important;
}
.header .navbar-nav > li,
.header .navbar-nav {
  float: left !important;
}
.header .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.header .navbar-right {
  float: right!important;
}
/*Pagination*/
.pagination > li.active a,
.pagination > li.active a:hover,
.pagination > li.active a:focus {
  -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  border-color: #5ea501;
  background: #5da400;
  outline: none;
}
.pagination > li > a {
  background: #fcfcfc;
}
.pagination > li > a > span {
  color: #b8b8b8;
}
/*panels*/
.panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-color: #f0f0f0;
}
.panel > .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 16px;
  padding: 8px 20px;
  border-color: #f0f0f0;
  position: relative;
}
.panel > .panel-heading .panel-title {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #5e5e5e;
  font-weight: bold;
  display: inline;
}
.panel > .panel-heading .tools {
  float: right;
  display: inline-block;
  font-style: italic;
  color: #949494;
  font-size: 12px;
  margin-top: -10px;
  position: absolute;
  right: 20px;
  top: 50%;
}
.panel > .panel-heading .tools a {
  font-size: 12px;
  font-style: normal;
}
.panel > .panel-heading .tools a span {
  font-size: 10px;
}
.panel > .panel-heading .tools .badge {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  background-color: #5da400;
  color: #ffffff;
}
.panel > .panel-heading .tools .label {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
}
.panel > .panel-heading .tools button {
  border: none;
  color: #d1d1d1;
  background: none;
}
.panel > .panel-heading .tools button.active {
  color: #545454;
}
.panel > .panel-body {
  padding: 20px;
  color: #5c5c5c;
  font-weight: lighter;
}
.panel.panel-condensed .panel-body {
  font-weight: lighter;
  padding: 15px;
}
.panel.panel-condensed .panel-body b,
.panel.panel-condensed .panel-body strong {
  font-weight: 600;
}
.panel.panel-inverse {
  border-color: #313638;
}
.panel.panel-inverse .panel-heading {
  background-color: #313638;
  border-color: #313638;
}
.panel.panel-inverse .panel-heading .panel-title {
  color: #c2c2c2;
}
.panel.panel-inverse .panel-body {
  color: #fff;
  background-color: #444a4c;
}
.panel.panel-inverse a {
  color: #9ccdff;
}
.panel.panel-inverse b,
.panel.panel-inverse strong {
  color: #f5f5f5;
}
.nav-tabs {
  background: #fcfcfc;
  border-bottom: 2px solid #f0f0f0;
}
.nav-tabs > li {
  margin-bottom: -2px;
}
.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:focus {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-right: none;
  background: #5da400;
  border: transparent;
  border-bottom: 2px solid #519000;
  color: #ffffff;
}
.nav-tabs > li.active .badge {
  background: #ffffff;
  color: #5da400;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: none;
  border-bottom: 2px solid #f0f0f0;
  border-right: 1px solid #e0e0e0;
  margin-right: 0;
  color: #434343;
  outline: none;
}
.nav-tabs > li > a:focus {
  border-left: none;
  border-bottom: 2px solid #519000;
}
.nav-tabs > li > a:hover {
  background-color: #f0f0f0;
  border-bottom: 2px solid #519000;
}
.nav-tabs > li > a .badge {
  background-color: #5da400;
}
.nav-tabs > li.dropdown.open > a {
  color: #ffffff;
  border-color: transparent;
  background-color: #5da400;
  border-bottom: 2px solid #f0f0f0;
  border-right: 1px solid #e0e0e0;
  border-left: none;
}
/*LiveScore Components*/
/*Main Colors*/
/*Elements Colors*/
/*Navbar Inverse*/
/*Top BreadCrumbs*/
/*Container*/
/*Alerts*/
/*Buttons*/
/*Validation Form-controls*/
/*Footer (I coulnd't find a color calculation for these colors)*/
/*Typography*/
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 64px;
  background: #e7e9eb;
}
/*Tipography*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #474747;
}
h1 {
  font-weight: bold;
  font-size: 38px;
}
h2 {
  font-size: 27px;
}
h5 {
  font-size: 16px;
}
a {
  color: #0053a8;
}
a:hover {
  text-decoration: none;
  color: #002aff;
}
a:focus {
  text-decoration: none;
}
b,
strong {
  color: #5c5c5c;
}
/*Typography classes*/
.uppercase {
  text-transform: uppercase;
}
span.dark-icon {
  color: #5c5c5c;
}
/*Typography classes*/
.uppercase {
  text-transform: uppercase;
}
span.sprite {
  width: 21px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-bottom: -4px;
}
span.sprite.football {
  background: url('../img/sprite-icons.png') no-repeat -230px -28px;
}
span.sprite.tennis {
  background: url('../img/sprite-icons.png') no-repeat -229px -75px;
}
span.sprite.rugby {
  background: url('../img/sprite-icons.png') no-repeat -230px -52px;
}
span.sprite.handball {
  background: url('../img/sprite-icons.png') no-repeat -229px -98px;
}
span.sprite.basketball {
  background: url('../img/sprite-icons.png') no-repeat -229px -122px;
}
span.sprite.volleyball {
  background: url('../img/sprite-icons.png') no-repeat -257px -28px;
}
span.sprite.icehockey {
  background: url('../img/sprite-icons.png') no-repeat -257px -52px;
}
span.sprite.baseball {
  background: url('../img/sprite-icons.png') no-repeat -257px -75px;
}
span.sprite.a-football {
  background: url('../img/sprite-icons.png') no-repeat -255px -98px;
  height: 17px;
  width: 22px;
  margin-bottom: -4px !important;
  margin-left: -2px;
}
.ad-block {
  background: #d4d4d4;
}
#ad-top {
  height: 230px;
}
#ad-content {
  height: 167px;
}
.live-red {
  color: #e33000;
}
/*Structure*/
.wrapper {
  width: 100%;
  display: table;
}
.left-sidebar {
  width: 180px;
  display: table-cell;
  vertical-align: top;
  background: #f3f4f5;
  border-right: 1px solid #e7e7e7;
}
.main {
  display: table-cell;
  vertical-align: top;
  background: #ffffff;
}
.main .breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  padding: 0 0 0 20px;
  margin: 0;
}
.main .breadcrumb > li {
  font-size: 12px;
}
.main .breadcrumb > li > a {
  outline: none;
  display: inline-block;
  line-height: 50px;
  padding: 0 8px;
  border-bottom: 2px solid transparent;
}
.main .breadcrumb > li > a > span {
  font-size: 11px;
  margin-left: 6px;
  color: #e2e2e2;
}
.main .breadcrumb > li + li:before {
  color: #e2e2e2;
  font-family: 'LSicons';
  content: "\e60d ";
  padding: 0;
  font-size: 17px;
  vertical-align: middle;
}
.main .breadcrumb > li.open > a {
  background: #f0f0f0;
  border-bottom-color: #5da400;
}
.main .breadcrumb > li.open > a > span {
  color: #5da400;
}
.main .breadcrumb > li.active:before {
  padding-right: 8px;
}
.main .breadcrumb > li .dropdown-menu {
  margin-top: 0;
  left: 17px;
}
.main .content-wrapper {
  padding: 20px;
}
.main .content-wrapper .content {
  float: left;
  width: 620px;
  padding-right: 10px;
}
.main .content-wrapper .right-sidebar {
  float: left;
  width: 260px;
  padding-left: 10px;
}
.footer .top-footer {
  padding: 20px;
  background: #313638;
}
.footer .bottom-footer {
  overflow: hidden;
  text-align: center;
  background: #272d2f;
}
.footer .bottom-footer .navbar-nav {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.footer .bottom-footer .navbar-nav li a {
  color: #9fbbd3;
  font-size: 11px;
  padding: 13px 15px;
}
.footer .bottom-footer .navbar-nav li a:hover,
.footer .bottom-footer .navbar-nav li a:focus {
  background: transparent;
}
