<div class="panel panel-default league-standing">
    <div class="panel-heading">Champions League Standings</div>
    <div class="panel-body">
   		<div class="btn-group-collapsible">
        {% include 'blocks/elements/standing_buttons.html.twig' %}
      </div>
    </div>
    {% include 'blocks/sports/competition/competition_standing.html.twig' %}
</div>
