
.widget--bookmaker-list {
  .card__title span:first-child {
    vertical-align: bottom;
  }

  .partner-list {
    li {
      flex-direction: row;
      box-shadow: none;
      margin-bottom: 0;
      margin-bottom: 0;
      border-bottom: 1px dotted #ccc;

      &:last-child {
        border-bottom: none;
      }
    }

    .partner-list__order {
      position: initial;
      border-radius: 0;
    }
  }
}