.card--match-summary {
  font-family: @font-family;

  .card__header {
    text-align: center;
    text-transform: uppercase;
    .card__title {
      font-size: 12px;

      a {
        color: @brand-primary;
      }
    }
  }

  .card__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 2em;
    padding-bottom: 2.5em;
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: @gray-dark;

    .team__name {
      font-size: @font-size-medium;
      font-weight: @font-weight-bolder;
      margin-bottom: @spacer-4;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 10px 0 10px;

    .time {
      font-weight: @font-weight-bold - 100;
      font-size: 2.5em;
    }

    .date {
      font-weight: @font-weight-bold;
      color: @gray-dark;
      margin-bottom: 10px;
    }

    .info__score {
      font-size: 3em;
      font-weight: @font-weight-bold;
    }

    .info__halftime-score {
      font-weight: @font-weight-bold;
      margin-bottom: @spacer-3;
    }

    .info__status {
      font-weight: @font-weight-bold;
      color: @blue;
      text-transform: uppercase;
      text-align: center;
    }

    .period, .minute {
      color: @blue;
      font-weight: @font-weight-bolder;
      margin-left: 5px;
    }

    .match-is-live {
      display: block;
      margin-top: 1em;
      font-weight: normal;
      text-transform: initial;
    }
  }

  &.card--match-summary--inprogress {
    .info__score {
      background: @blue;
      color: #FFF;
      border-radius: 13px;
      padding: 0 20px;
      margin-bottom: 10px;
    }
  }
}
