.card--participant-forms {
  .card__header {
    height: 60px; // As this widget renders in tight columns, is prone to overflow its title. let's reserve this possible double height space.
  }

  .match-list.match-list--vertical {
    .match-item {
      .match-item__when {
        width: 50px;
      }
    }
  }

  .card__footer {
    font-weight: @text-weight-bold;
  }
}