<div class="main-article">
    <span class="article-data">13/05 - 20h28 - Malik Tz</span>
    <h1>h1 Equipe de France: la liste des 23 Bleus pour le Mondial 2014</h1>
    <img class="article-image" src="{{ basePath }}img/news/main-article.png" alt="Article Image">

    {% include 'blocks/various/share_page_small.html.twig' %}

    <p class="introduction">
        Didier Deschamps a donc tranché et l'annonce des 23 Bleus sèlectionnés pour défendre les couleurs de l'equipe du France lors de cette Coupe de Monde 2014 au Brésil n'a accouché d'aucune véritable surprise.
    </p>
    <h2>Coupe du Monde 2014: Les 23 Brésiliens</h2>
    <p><strong>Gardiens :</strong> Michael Landeau (SC Bastia), Hugo Lloris (Tottenham), Steve Mandanda (Marseille).</p>
    <p><strong>Défenseurs :</strong> Mathieu Dubuchy (Newcastle), Lucas Digne (PSG), Patrice Evra (Manchester United), Laurent Koscielny (Arsenal), Eliaquim Mangala (FC Porto), Bacary Sagna (Arsenal), Mamodou Sakho (Liverpool), Raphael Varene (Real Madrid).</p>
    <span class="subtitle">Coupe du Monde 2014: Les 23 Brésiliens</span>
    <p><strong>Milieux :</strong> Yohan Cabaye (PSG), Clément Grenier (Lyon), Blaise Matuidi (PSG), Rio Mavuba (Liille), Paul Pogba (Juventus), Moussa Sissoko (Newcastle), Mathieu Valbuena (Marseille).</p>
    <p>El periodo de fichajes está a punto de concluir, por lo que los equipos están acelerando para cerrar sus plantillas de cara a la presente temporada. Dos de los clubes que han oficializado nuevas incorporaciones con el Atlético de Madrid y el Real Madrid, que se han hecho con los servicios de Alessio Cerci y Javier "Chicharito" Hernández, respectivamente.
</p>
    <h2>Coupe du Monde 2014: Les 23 Brésiliens</h2>
    <p>
    Tras varias semanas de negociaciones, el Atlético de Madrid ha llegado a un acuerdo con el Torino para hacerse con los servicios del extremo zurdo Alessio Cerci por una cantidad cercana a los 16 millones de euros. Internacional con Italia, se trata de un jugador veloz, con buen regate y gran disparo a media distancia, por lo que hablamos de un futbolista con unas características inéditas en la plantilla rojiblanca. A pesar de que su pierna buena es la izquierda, suele desenvolverse por la banda derecha, donde tiende a buscar el regate hacia dentro para soltar los latigazos que han hecho de él uno de los jugadores más deseados en el periodo de fichajes que está a punto de concluir, y es que el Atlético se ha adelantado a otros pretendientes de renombre como Milan, Arsenal o Mónaco.
    </p>
    <h3>Coupe du Monde 2014: Les 23 Brésiliens</h3>
    <p>El periodo de fichajes está a punto de concluir, por lo que los equipos están acelerando para cerrar sus plantillas de cara a la presente temporada. Dos de los clubes que han oficializado nuevas incorporaciones con el Atlético de Madrid y el Real Madrid, que se han hecho con los servicios de Alessio Cerci y Javier "Chicharito" Hernández, respectivamente.
    </p>

    <p>
        Tras varias semanas de negociaciones, el Atlético de Madrid ha llegado a un acuerdo con el Torino para hacerse con los servicios del extremo zurdo Alessio Cerci por una cantidad cercana a los 16 millones de euros. Internacional con Italia, se trata de un jugador veloz, con buen regate y gran disparo a media distancia, por lo que hablamos de un futbolista con unas características inéditas en la plantilla rojiblanca. A pesar de que su pierna buena es la izquierda, suele desenvolverse por la banda derecha, donde tiende a buscar el regate hacia dentro para soltar los latigazos que han hecho de él uno de los jugadores más deseados en el periodo de fichajes que está a punto de concluir, y es que el Atlético se ha adelantado a otros pretendientes de renombre como Milan, Arsenal o Mónaco.
    </p>
    <h4>Coupe du Monde 2014: Les 23 Brésiliens</h4>
    <p>El periodo de fichajes está a punto de concluir, por lo que los equipos están acelerando para cerrar sus plantillas de cara a la presente temporada. Dos de los clubes que han oficializado nuevas incorporaciones con el Atlético de Madrid y el Real Madrid, que se han hecho con los servicios de Alessio Cerci y Javier "Chicharito" Hernández, respectivamente.
    </p>
    <p>
        Tras varias semanas de negociaciones, el Atlético de Madrid ha llegado a un acuerdo con el Torino para hacerse con los servicios del extremo zurdo Alessio Cerci por una cantidad cercana a los 16 millones de euros. Internacional con Italia, se trata de un jugador veloz, con buen regate y gran disparo a media distancia, por lo que hablamos de un futbolista con unas características inéditas en la plantilla rojiblanca. A pesar de que su pierna buena es la izquierda, suele desenvolverse por la banda derecha, donde tiende a buscar el regate hacia dentro para soltar los latigazos que han hecho de él uno de los jugadores más deseados en el periodo de fichajes que está a punto de concluir, y es que el Atlético se ha adelantado a otros pretendientes de renombre como Milan, Arsenal o Mónaco.
    </p>
</div>