<div class="main-article">
    <span class="article-data">13/05 - 20h28 - Malik Tz</span>
    <h1>h1 Equipe de France: la liste des 23 Bleus pour le Mondial 2014</h1>
    <img class="article-image" src="img/news/main-article.png" alt="Article Image">
    <div class="row social">
        <div class="col-md-3">
            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21"   style="border:none; overflow:hidden; height:21px;" ></iframe>
        </div>
        <div class="col-md-2">
            <iframe id="twitter-widget-0"    src="http://platform.twitter.com/widgets/tweet_button.c27d2d163408c0fe087fbfe1c687ce2b.en.html#_=1420474298805&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Flocalhost%2Flivescore%2Flivescore_github%2F&amp;size=m&amp;text=Livescore&amp;url=http%3A%2F%2Flocalhost%2Flivescore%2Flivescore_github%2F&amp;via=gore_edward" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
            <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.es.Zys4TvseO5E.O/m=auth/exm=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCO-lV8iFe5WC72Fz2PDRPFmZ9-7HA/t=zcms/cb=gapi.loaded_1" async=""></script><script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.es.Zys4TvseO5E.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCO-lV8iFe5WC72Fz2PDRPFmZ9-7HA/t=zcms/cb=gapi.loaded_0" async=""></script><script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="col-md-2">
            <script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true">
                {lang: 'es'}
            </script>
            <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent;"><iframe  hspace="0" marginheight="0" marginwidth="0"  style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1420474293432" name="I0_1420474293432" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=es&amp;origin=http%3A%2F%2Flocalhost&amp;url=http%3A%2F%2Flocalhost%2Flivescore%2Flivescore_github%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.es.Zys4TvseO5E.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCO-lV8iFe5WC72Fz2PDRPFmZ9-7HA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1420474293432&amp;parent=http%3A%2F%2Flocalhost&amp;pfname=&amp;rpctoken=32647836" data-gapiattached="true" title="+1"></iframe></div>
        </div>
        <div class="col-md-5 text-right">
            <div class="btn-group"><button class="btn btn-default dropdown-toggle large-icon btn-partager" type="button"><span class="icon icon-share"></span>Partager<span class="icon-caret-down"></span></button>
            </div>
        </div>
    </div>
    <p class="introduction">
        Didier Deschamps a donc tranché et l'annonce des 23 Bleus sèlectionnés pour défendre les couleurs de l'equipe du France lors de cette Coupe de Monde 2014 au Brésil n'a accouché d'aucune véritable surprise.
    </p>
    <span class="subtitle">Coupe du Monde 2014: Les 23 Brésiliens</span>
    <p><strong>Gardiens :</strong> Michael Landeau (SC Bastia), Hugo Lloris (Tottenham), Steve Mandanda (Marseille).</p>
    <p><strong>Défenseurs :</strong> Mathieu Dubuchy (Newcastle), Lucas Digne (PSG), Patrice Evra (Manchester United), Laurent Koscielny (Arsenal), Eliaquim Mangala (FC Porto), Bacary Sagna (Arsenal), Mamodou Sakho (Liverpool), Raphael Varene (Real Madrid).</p>
    <p><strong>Milieux :</strong> Yohan Cabaye (PSG), Clément Grenier (Lyon), Blaise Matuidi (PSG), Rio Mavuba (Liille), Paul Pogba (Juventus), Moussa Sissoko (Newcastle), Mathieu Valbuena (Marseille).</p>
</div>