<div class="main-article">
    <span class="article-data">13/05 - 20h28 - Malik Tz</span>
    <h1>h1 Equipe de France: la liste des 23 Bleus pour le Mondial 2014</h1>
    <img class="article-image" src="{{ basePath }}img/news/main-article.png" alt="Article Image">

    {% include 'blocks/various/share_page_small.html.twig' %}

    <p class="introduction">
        Didier Deschamps a donc tranché et l'annonce des 23 Bleus sèlectionnés pour défendre les couleurs de l'equipe du France lors de cette Coupe de Monde 2014 au Brésil n'a accouché d'aucune véritable surprise.
    </p>
    <h2>Coupe du Monde 2014: Les 23 Brésiliens</h2>
    <p><strong>Gardiens :</strong> Michael Landeau (SC Bastia), Hugo Lloris (Tottenham), Steve Mandanda (Marseille).</p>
    <p><strong>Défenseurs :</strong> Mathieu Dubuchy (Newcastle), Lucas Digne (PSG), Patrice Evra (Manchester United), Laurent Koscielny (Arsenal), Eliaquim Mangala (FC Porto), Bacary Sagna (Arsenal), Mamodou Sakho (Liverpool), Raphael Varene (Real Madrid).</p>
    <span class="subtitle">Coupe du Monde 2014: Les 23 Brésiliens</span>
    <p><strong>Milieux :</strong> Yohan Cabaye (PSG), Clément Grenier (Lyon), Blaise Matuidi (PSG), Rio Mavuba (Liille), Paul Pogba (Juventus), Moussa Sissoko (Newcastle), Mathieu Valbuena (Marseille).</p>
</div>