<div class="featured-article">
    <div class="row">
        <div class="col-md-7 article-image">
            <img src="img/news/featured-article.png" alt="Featured Article">
            <span class="message">A la une</span>
            <div class="match-container">
                <a href="#" class="article-match-info">
                    <div class="team team1"><img src="img/sprites/realmadrid.png" alt="Real Madrid">Real Madrid</div>
                    <div class="hour">20h30</div>
                    <div class="team team2">Bayern Munich<img src="img/sprites/fc_bayern.png" alt="FC Bayern"></div>
                </a>
            </div>
        </div>
        <div class="col-md-5 article-resume">
            <ul class="article-data">
                <li class="date">Thu. March 10 - 13:45</li>
                <li class="social-link facebook"><a href="#"><span class="icon icon-facebook"></span>12</a></li>
                <li class="social-link twitter"><a href="#"><span class="icon icon-twitter"></span>2</a></li>
                <li class="social-link google-plus"><a href="#"><span class="icon icon-googleplus"></span>0</a></li>
                <li class="social-link comment"><a href="#"><span class="icon glyphicon glyphicon-comment"></span>0</a></li>
            </ul>
            <a href="#"><span class="article-title">2014 World Cup : five questions regarding the french team players list for Brazil</span></a>
            <p>Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs de. Cette journée a été riche en émotions, notamment au Vélodrome.</p>
            <a class="read-more" href="#"><span class="icon-caret-right"></span>Continue reading</a>
        </div>
    </div>
</div>