<div class="row article-resumes">
    <div class="col-md-12">
        <div class="article-resume">
            <ul class="article-data">
                <li><a href="#">Ligue 1</a></li>
                <li class="date">Thu. March 10 - 13:45</li>
            </ul>
            <a href="#"><span class="article-title">Marco Verratti best player in french Ligue 1</span></a>
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="{{ basePath }}img/news/article-resume4.png" alt="Article Resume"></a>
                </div>
                <p>Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs de. Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs</p>
                <a class="read-more" href="#"><span class="icon-caret-right"></span>Continue reading</a>
            </div>
        </div>
        <div class="article-resume">
            <ul class="article-data">
                <li><a href="#">Ligue 1</a></li>
                <li class="date">Thu. March 10 - 13:45</li>
            </ul>
            <a href="#"><span class="article-title">Meilleures cotes du Big Four | Weekend du 20 et 21-09-2014</span></a>
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="{{ basePath }}img/news/article-resume5.png" alt="Article Resume"></a>
                </div>
                <p>Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs de. Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs</p>
                <a class="read-more" href="#"><span class="icon-caret-right"></span>Continue reading</a>
            </div>
        </div>
    </div>
</div>