<div class="row">
    <div class="col-md-12">
        <div class="article-resume">
            <ul class="article-data">
                <li><a href="#">Ligue 1</a></li>
                <li class="date">Thu. March 10 - 13:45</li>
                <li class="social-link facebook"><a href="#"><span class="icon icon-facebook"></span>12</a></li>
                <li class="social-link twitter"><a href="#"><span class="icon icon-twitter"></span>2</a></li>
                <li class="social-link google-plus"><a href="#"><span class="icon icon-googleplus"></span>0</a></li>
                <li class="social-link comment"><a href="#"><span class="icon glyphicon glyphicon-comment"></span>0</a></li>
            </ul>
            <a href="#"><span class="article-title">Marco Verratti best player in french Ligue 1</span></a>
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="img/news/article-resume1.png" alt="Article Image"></a>
                </div>
                <p>Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs de. Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs</p>
                <a class="read-more" href="#"><span class="icon-caret-right"></span>Continue reading</a>
            </div>
        </div>
        <div class="article-resume">
            <ul class="article-data">
                <li><a href="#">Ligue 1</a></li>
                <li class="date">Thu. March 10 - 13:45</li>
                <li class="social-link facebook"><a href="#"><span class="icon icon-facebook"></span>12</a></li>
                <li class="social-link twitter"><a href="#"><span class="icon icon-twitter"></span>2</a></li>
                <li class="social-link google-plus"><a href="#"><span class="icon icon-googleplus"></span>0</a></li>
                <li class="social-link comment"><a href="#"><span class="icon glyphicon glyphicon-comment"></span>0</a></li>
            </ul>
            <a href="#"><span class="article-title">Meilleures cotes du Big Four | Weekend du 20 et 21-09-2014</span></a>
            <a href="#" class="article-match-info">
                <div class="team team1"><img src="img/sprites/realmadrid.png" alt="Real Madrid">Real Madrid</div>
                <div class="versus">1 - 2</div>
                <div class="team team2">Bayern Munich<img src="img/sprites/fc_bayern.png" alt="FC Bayern"></div>
            </a>
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="img/news/article-resume1.png" alt="Article Image"></a>
                </div>
                <p>Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs de. Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs</p>
                <a class="read-more" href="#"><span class="icon-caret-right"></span>Continue reading</a>
            </div>
        </div>
        <div class="article-resume full-width">
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="img/news/article-resume3.png" alt="Article Image"></a>
                </div>
                <ul class="article-data">
                    <li><a href="#">Ligue 1</a></li>
                    <li class="date">Thu. March 10 - 13:45</li>
                    <li class="social-link facebook"><a href="#"><span class="icon icon-facebook"></span>12</a></li>
                    <li class="social-link twitter"><a href="#"><span class="icon icon-twitter"></span>2</a></li>
                    <li class="social-link google-plus"><a href="#"><span class="icon icon-googleplus"></span>0</a></li>
                    <li class="social-link comment"><a href="#"><span class="icon glyphicon glyphicon-comment"></span>0</a></li>
                </ul>
                <a href="#"><span class="article-title">2014 World Cup : five questions regading the french team players list for Brazil</span></a>
            </div>
        </div>
        <div class="article-resume">
            <ul class="article-data">
                <li><a href="#">Ligue 1</a></li>
                <li class="date">Thu. March 10 - 13:45</li>
                <li class="social-link facebook"><a href="#"><span class="icon icon-facebook"></span>12</a></li>
                <li class="social-link twitter"><a href="#"><span class="icon icon-twitter"></span>2</a></li>
                <li class="social-link google-plus"><a href="#"><span class="icon icon-googleplus"></span>0</a></li>
                <li class="social-link comment"><a href="#"><span class="icon glyphicon glyphicon-comment"></span>0</a></li>
            </ul>
            <a href="#"><span class="article-title">Marco Verratti best player in french Ligue 1</span></a>
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="img/news/article-resume4.png" alt="Article Resume"></a>
                </div>
                <p>Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs de. Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs</p>
                <a class="read-more" href="#"><span class="icon-caret-right"></span>Continue reading</a>
            </div>
        </div>
        <div class="article-resume">
            <ul class="article-data">
                <li><a href="#">Ligue 1</a></li>
                <li class="date">Thu. March 10 - 13:45</li>
                <li class="social-link facebook"><a href="#"><span class="icon icon-facebook"></span>12</a></li>
                <li class="social-link twitter"><a href="#"><span class="icon icon-twitter"></span>2</a></li>
                <li class="social-link google-plus"><a href="#"><span class="icon icon-googleplus"></span>0</a></li>
                <li class="social-link comment"><a href="#"><span class="icon glyphicon glyphicon-comment"></span>0</a></li>
            </ul>
            <a href="#"><span class="article-title">Meilleures cotes du Big Four | Weekend du 20 et 21-09-2014</span></a>
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="img/news/article-resume1.png" alt="Article Image"></a>
                </div>
                <p>Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs de. Cette journée a été riche en émotions, notamment au Vélodrome. Le premier but d'Alessandrini sous les couleurs</p>
                <a class="read-more" href="#"><span class="icon-caret-right"></span>Continue reading</a>
            </div>
        </div>
        <div class="article-resume full-width">
            <div class="article-body">
                <div class="article-image">
                    <a href="#"><img src="img/news/article-resume6.png" alt="Article Image"></a>
                </div>
                <ul class="article-data">
                    <li><a href="#">Ligue 1</a></li>
                    <li class="date">Thu. March 10 - 13:45</li>
                    <li class="social-link facebook"><a href="#"><span class="icon icon-facebook"></span>12</a></li>
                    <li class="social-link twitter"><a href="#"><span class="icon icon-twitter"></span>2</a></li>
                    <li class="social-link google-plus"><a href="#"><span class="icon icon-googleplus"></span>0</a></li>
                    <li class="social-link comment"><a href="#"><span class="icon glyphicon glyphicon-comment"></span>0</a></li>
                </ul>
                <a href="#"><span class="article-title">2014 World Cup : five questions regading the french team players list for Brazil</span></a>
                <p>Cette semaine est très riche en grosses affiches, mais nous allons maintenant nous concentrer sur un combiné intéressant concernant ce weekend seulement! Avec notamment le Bayern Munich en Bundesliga, un énorme choc en Premier League et bien ...</p>
            </div>
        </div>
        <ul class="pagination">
            <li><a href="#"><span class="icon-caret-left"></span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><span class="icon-caret-right"></span></a></li>
        </ul>
    </div>
</div>