<div class="panel panel-condensed panel-default news-block">
    <div class="panel-heading">
        News in brief
    </div>
    <div class="main-news">
        <a href="#"><img class="preview" src="{{ basePath }}img/news1.png" alt="News 1"></a>
        <div class="content">
            <div class="date">Thu. March 10 - 13:45</div>
            <p class="resume"><a href="#">2014 World Cup : five questions regading the french team players list for Brazil</a></p>
        </div>
    </div>
    <div class="main-news">
        <a href="#"><img class="preview" src="{{ basePath }}img/news2.png" alt="News 2"></a>
        <div class="content">
            <div class="date">Thu. March 10 - 13:45</div>
            <p class="resume"><a href="#">Odss Ligua Europa Final : FC Séville Benfica</a></p>
        </div>
    </div>
    <div class="sub-news">
        <div class="row">
            <div class="col-xs-5">
                <a href="#"><img class="preview" src="{{ basePath }}img/news2.png" alt="News 2"></a>
            </div>
            <div class="col-xs-7">
                <div class="content">
                    <div class="date">Thu. March 10 - 13:45</div>
                    <p class="resume"><a href="#">Marco Verratti best player in french Ligue 1</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-news">
        <div class="row">
            <div class="col-xs-5">
                <a href="#"><img class="preview" src="{{ basePath }}img/news2.png" alt="News 2"></a>
            </div>
            <div class="col-xs-7">
                <div class="content">
                    <div class="date">Thu. March 10 - 13:45</div>
                    <p class="resume"><a href="#">Duel de statistiques : Miralem Pjanic vs Paul Pogba</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news">
        <ul>
            <li>10/05 <a href="#">- Helena Costa : première femme entraîneur en...</a></li>
            <li>09/05 <a href="#">- Cote et Matchs Ligue 1 : Les affiches de la 37e...</a></li>
            <li>08/05 <a href="#">- La liste des 23 du Brésil pour la Coupe du...</a></li>
            <li>07/05 <a href="#">- Cote PSG Rennes : Le calice jusqu'à la lie ?</a></li>
        </ul>
    </div>

    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>All News</a>
    </div>

</div>