<div class="small-news">
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="article-image"><img src="img/news/small-news1.png" alt="Article Resume"></a>
            <span class="article-date">Thu. March 10 - 13:45</span>
            <a href="#" class="article-title">Marco Verratti best player in french Ligue 1</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="article-image"><img src="img/news/small-news2.png" alt="Article Resume"></a>
            <span class="article-date">Thu. March 10 - 13:45</span>
            <a href="#" class="article-title">Marco Verratti best player in french Ligue 1</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="article-image"><img src="img/news/small-news3.png" alt="Article Image"></a>
            <span class="article-date">Thu. March 10 - 13:45</span>
            <a href="#" class="article-title">Duel de statistiques : Miralem Pjanic vs Paul Pogba</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="article-image"><img src="img/news/small-news4.png" alt="Article Image"></a>
            <span class="article-date">Thu. March 10 - 13:45</span>
            <a href="#" class="article-title">Duel de statistiques : Miralem Pjanic vs Paul Pogba</a>
        </div>
    </div>
</div>