.head-to-head, &.team-form{

  .nav-pills{
    border-bottom: 0;

    &.teams{
      position:relative;
      top:-5px;
    
      >li{
      margin-right:5px;
      
        >img{
          max-width:28px;
          max-height:28px;
        }
      }
    }
  }
    
   .teams{
    margin-bottom:8px;
   
     table.circles{
      width: 100%;
      
      tr{
        td{
          width: 33.3%;
          text-align: center;

          &.circle-info{
            height: 60px;
          }
          
          &.title{
            padding-top: 5px;
          
            span{
              display:block;
              font-weight:@font-weight-semi-bold;
              font-size:@font-size-x-small;
              
              &.win{
                color:@brand-success;
              }
              
              &.draw{
                color:lighten(@gray-light, 32.4%);
              }
              
              &.lost{
                color:@brand-danger;
              }
            }
          }
        }
      }
     }
   
    .team{
    
      .circle{
        display:inline-table;
        width:60px;
        height:60px;
        background-color: lighten(@gray-light, 13.1%);
        color:@ls-light-color;
        .border-radius(50%);
        
        span{
          display: table-cell;
          vertical-align: middle;
          font-size: @ls-head-to-head-first-team-size;
          font-weight: @font-weight-normal;
          text-align: center;
        }
        
        &.gray1{ background-color: lighten(@gray-light, 13.1%); }
        &.gray2{ background-color: lighten(@gray-light, 30.5%); }
        &.gray3{ background-color: lighten(@gray-light, 32.4%); }
        &.success{ background-color:@brand-success; }
        &.danger{ background-color:@brand-danger; }
        
      }
      
      
      &.second{
        
        .circle{
          width:40px;
          height:40px;
          font-size:@ls-head-to-head-second-team-size;
          
          span{
            font-size:@ls-head-to-head-second-team-size;
          }
        }
      }
      
      &.third{
      
        .circle{
          width:32px;
          height:32px;
          
          span{
            font-size:@ls-head-to-head-third-team-size;
          }
        }    
      }
      
      &.fourth{
      
        .circle{
          width:24px;
          height:24px;
          
          span{
            font-size:@font-size-small;
          }
        }
      }
      
      &.fifth{
      
        .circle{
          width:20px;
          height:20px;

          span{
            font-size:@font-size-small;
          }
        }
      }

    }
  }
  
  .table{
    border-top:1px solid darken(@ls-light-color, 6%);   
    margin-bottom: 0;  
  
    tbody{
      
      tr{

        td{
          vertical-align: middle;
        }
      
        .date{
          width:10%;
        }
      
        .logo{
          padding-right: 0;
          padding-left: 0;
          width:2%;
          
          img{
            width:18px;
            height:18px;
          }
        }
        
        .date2{
          width:25%;
        }
        
        .team1{
          width:5%;
          text-align: right;
        }
        
        .score{
          font-weight:@font-weight-bold;
          text-align:center;
          width:7%;
          min-width: 35px;
        }
        
        
      }
      
      a{
        padding:5px;
      }
    }
  
  }
}
  
.head-to-head{
  > .teams{
    margin: 0;
    padding: 15px 0;
  }
}
  
  
.team-form{

  > .row{
    margin: 0;
  }

  .nav-pills{
  
    li{
      margin-right:0;
    }
  }
  
  .navigation{
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
    
    
      .btn{
        padding:8px 13px;
      }
  }
  
  
  table{
  
    tbody{
    
      tr{
      
        .score{
          width:14% !important;
        }
      }
    }
  }    
}

.team-over-under{

  .nav-pills{
    border-bottom: 0;

    &.teams{
      position:relative;
      top:-5px;
    
      >li{
      margin-right:5px;
      
        >img{
          max-width:28px;
          max-height:28px;
        }
      }
    }
  }
}
  
.discussion{

  .panel-body{
  
    ul{
      border: 0;
      
      li:first-child{
        padding-top: 0;
      }
      
      li{
        a{
        
          img{
            max-width: 48px;
          }
        }
        
        .media-body{
          
          .media-heading{
            overflow: hidden;
          }
        }
      }

      li.view-all{
        padding-bottom: 0;
      }
    }
  }
  
  .make-prediction{
    padding: 10px 20px;
    background-color: darken(@ls-light-color, 4%);
    border-top: 1px solid darken(@ls-light-color, 6%);
    overflow: hidden;
    padding-bottom: 0;
  
    .user-info{

      > div{
        vertical-align: top;
        padding-top: 2px;
        margin-left: 8px;
        display: inline-block;

        .name{
          line-height: 45px;
          font-size: @font-size-base;
          font-weight: @font-weight-semi-bold;
          color: lighten(@ls-dark-color, 36%);
          margin-top: 0;
          display: block;
          margin-bottom: 7px;
        }
      }
    
      .prediction{
        
        .name{
          line-height: @font-size-xx-large;
        }
        
        .btn-group-xs{
          
          .btn{
            padding: 4px 9px;
          }
        }
      }
    }
    
    .comment-form{
      margin-top: 10px;
      
      textarea.form-control{
        height: 90px;
      }
      
      .btn{
        margin: 20px 0;
        float: right;
      }
    }
  }    
}