{% extends 'blocks/elements/message_success.html.twig' %}

{% set icon_classes = 'glyphicon glyphicon-ok' %}

{% block message_title %}Your account has been <br>successfully validated{% endblock %}
{% block message_texte %}[Text that welcomes the user and enourage to customize his livescore]{% endblock %}
{% block message_buttons %}
    <button type="button" class="btn btn-primary">Close</button>
{% endblock %}
