<div class="password-forgotten">
    <span class="title">Reset your password</span>
    <p>Enter the email you used to register, and we will send you a link to reset your password:</p>
    <div class="alert alert-danger" role="alert">
        <span class="icon glyphicon glyphicon-remove"></span> This email or username is not recognized.
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-xs-12">
                <label>Enter you email here</label>
                <input type="email" class="form-control" placeholder="Your login email or name" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">
            </div>
        </div>
        <button type="button" class="btn btn-default"><span class="icon-caret-left"></span> Back</button>
        <button type="button" class="btn btn-primary">Reset password</button>
    </form>
</div>



