<div class="login">
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" href="#">Login</a>
        <a class="btn btn-default" href="#">New User</a>
    </div>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="login-facebook">
                <button type="button" class="btn btn-facebook"><i class="icon icon-facebook"></i>Login with Facebook</button>
            </div>
            <div class="divider">
                <span>or sign in using your account details</span>
            </div>
            <div class="alert alert-danger" role="alert">Incorrect password <a href="#"> > Retreive password</a></div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Email / Name</label>
                        <input type="text" class="form-control" placeholder="Your login email or name">
                    </div>
                </div>
                <div class="form-group has-error has-feedback">
                    <div class="col-md-12">
                        <a href="#" class="forgot-password-link">Forgot you password?</a>
                        <label>Password</label>
                    </div>
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Input error">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>
                <div class="checkbox">
                    <input id="check2" type="checkbox" checked="">
                    <label for="check2">Remember me</label>
                </div>
                <button type="button" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>
