<div class="successfully">
    <i class="icon glyphicon glyphicon-ok"></i>
    <span class="title">Congratulations!<br/> Your registration has been successful</span>
    <p>Please check your emails to validate your account.</p>
    <button type="button" class="btn btn-primary"><span class="icon-caret-right"></span> Go to My Dashboard</button>
</div>