.footer .top-footer {
  background: @ls-top-footer-bg;

  > .row {
    margin: 0;
    display: table;
    width: 100%;
  }

  .left-column {
    padding: 20px 25px 40px;
    display: table-cell;
    float: none;
    vertical-align: top;

    > .row {
      margin-bottom: 0;
    }


    h3, span.title, span {
      color: @ls-footer-title-color;
      font-size: @font-size-small;
      font-weight: @font-weight-semi-bold;
      line-height: 20px;
      display: block;
      margin-bottom: 9px;
      margin-top: 18px;

      img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }

    h3.title, span.title {
      text-transform: uppercase;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: @ls-footer-link-color;
          font-size: @font-size-x-small;
          line-height: 18px;

          &:hover {
            color: darken(@ls-footer-link-color, 10%);
          }
        }
      }
    }
  }

  .right-column {
    background: @ls-bottom-footer-bg;
    display: table-cell;
    float: none;
    padding: 40px 20px 0;
    vertical-align: top;

    img {
      margin-bottom: 40px;
    }

    p {
      color: darken(@ls-light-color, 2.2%);
      font-size: @font-size-x-small;
      line-height: 18px;
    }

    .app-links {
      margin-top: 20px;

      img:first-child {
        margin-right: 5px;
      }
    }
  }
}

.footer .bottom-footer {
  overflow: hidden;
  text-align: center;
  background: @ls-bottom-footer-bg;

  .navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;

    li {
      a {
        color: @ls-footer-link-color;
        font-size: @font-size-small - 1;
        padding: 13px 15px;

        &:hover, &:focus {
          background: transparent;
        }

        &:hover {
          color: darken(@ls-footer-link-color, 10%);
        }
      }
    }
  }

  .warning-text {
    font-size: 10px;
    line-height: 18px;
    color: #fff;
    text-align: right;
    padding: 4px 0 0;
  }

  .legal-text {
    margin: 10px auto 0;
    border-top: 1px solid #7f7f7f;
    color: #7f7f7f;
    padding: 10px 0 0;
    font-size: 11px;
    line-height: 13px;
  }

  .ls-svg {
    float: right;
    max-width: 32px;
    max-height: 32px;
    background: @ls-light-color;
    margin: 4px 0 0 10px;

    &-bg {
      fill: @ls-bottom-footer-bg;
    }

    &-text {
      fill: @ls-bottom-footer-bg;
    }
  }


  .over18 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: @nav-link-padding;

    .ls-svg {
      fill: #fff;
      background: none;
    }

    a {
      color: #fff;
    }

    p {
      margin: 0;
    }
  }
}
