<div class="panel panel-condensed panel-default">
    <div class="panel-heading">
        Favorite Leagues
    </div>
    <ul class="image-list">
        <li><img src="img/sprites/ligue1.png" alt="Ligue 1"></li>
        <li><img src="img/sprites/ligue2.png" alt="Ligue 2"></li>
        <li><img src="img/sprites/premiereleague.png" alt="Premiere league"></li>
        <li><img src="img/sprites/bundesliga.png" alt="Bundes Liga"></li>
        <li><img src="img/sprites/seriea.png" alt="Serie A"></li>
    </ul>
</div>