<div class="btn-group profile-tabs">
<a class="btn btn-link btn-xs">All</a>
<a class="btn btn-link btn-xs">Predictions</a>
<a class="btn btn-link btn-xs">Comments</a>
<a class="btn btn-link btn-xs">Mentions</a>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="media-list">
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">New Prediction Contest Grids available. Play now!</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <a href="#">> Grid nº13</a>
                </div>
            </li>
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">sebastien au.</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <p>real meme si jsuis pour le barca</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">John Smith</span>
                        <div class="tools">
                            <span class="date">30 min ago</span>
                        </div>
                    </div>
                    <p><a href="#" class="reply">@sebastien au</a>c la guerre pour les deux</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">Congratulations !</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <p>Finished 3rd in this month contest</p>
                    <button class="btn btn-default">Get my gift</button>
                </div>
            </li>
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">sebastien au</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <p>made a predictions on the match PSG - Bastia</p>
                    <div class="media match-info">
                        <div class="media-body">
                            <span class="date"><a href="#"></a>Ligue 1 - Sam. 16 Aout 2014</span>
                            <img class="team1" src="img/sprites/psg.png" alt="PSG">
                            <table class="user-prediction">
                                <tr>
                                    <td class="team1">PSG</td>
                                    <td class="prediction">
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" class="btn btn-prediction-result">1</button>
                                            <button type="button" class="btn btn-prediction">X</button>
                                            <button type="button" class="btn btn-prediction-failed">2</button>
                                        </div>
                                    </td>
                                    <td class="team2">Bastia</td>
                                </tr>
                            </table>
                            <img class="team2" src="img/sprites/bastia.png" alt="Bastia">
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">sebastien au</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <p>made a predictions on the match PSG - Bastia</p>
                    <div class="media match-info">
                        <div class="media-body">
                            <span class="date"><a href="#"></a>Ligue 1 - Sam. 16 Aout 2014</span>
                            <img class="team1" src="img/sprites/steaua-bucarest.png" alt="Steaua Bucarest">
                            <table class="user-prediction">
                                <tr>
                                    <td class="team1">Steaua Bucarest</td>
                                    <td class="prediction">
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" class="btn btn-prediction">1</button>
                                            <button type="button" class="btn btn-prediction">X</button>
                                            <button type="button" class="btn btn-prediction-done">2</button>
                                        </div>
                                    </td>
                                    <td class="team2">Razgrad</td>
                                </tr>
                            </table>
                            <img class="team2" src="img/sprites/razgrad.png" alt="Razgrad">
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">sebastien au.</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <p>Result of predictions contest grid nº12</p>
                </div>
                <div class="row indicators">
                    <div class="col-md-4">
                        My Ranking: <span class="number-big">345</span><span class="number-small">/ 739</span>
                    </div>
                    <div class="col-md-4">
                        Correct predictions: <span class="number-big">9</span><span class="number-small">/ 16</span>
                    </div>
                    <div class="col-md-4">
                        Points: <span class="number-big">9</span>
                    </div>
                </div>
                <table class="table matches predictions table-condensed table-striped no-border">
                    <tbody>
                    <tr class="league-data">
                        <th colspan="9">
                            <div class="title">
                                <span class="country"><span class="icon-cup icon"></span>Grid Nº3</span>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="text-right">Date</th>
                        <th></th>
                        <th></th>
                        <th>Score</th>
                        <th></th>
                        <th>Prediction</th>
                        <th class="text-center">Trend</th>
                        <th>Aide</th>
                    </tr>
                    <tr class="">
                        <td class="icon odd"></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Leverkusen</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Werder Brême</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="icon odd"></td>
                        <td class="date">13/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/bundesliga.png" alt="Bundes liga"></td>
                        <td class="team team1"><a href="#">Arsenal</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Man City</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-waiting">
                        <td class="icon odd"><span class="icon icon-clock"></span></td>
                        <td class="date">13/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/premiereleague.png" alt="Premiere League"></td>
                        <td class="team team1"><a href="#">Bayern</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Stuttgart</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction-done">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-waiting">
                        <td class="icon odd"><span class="icon icon-clock"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Barcelone</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Ath. Bilbao</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction btn-hidden">Hidden</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-waiting prediction-closed live">
                        <td class="icon odd"><span class="icon icon-clock"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Rennes</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">0</span></a></td>
                        <td class="team team2"><a href="#">PSG</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-done">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Bastia</a></td>
                        <td class="score"><a href="#"><span class="home-score">2</span><span class="versus"> - </span><span class="away">1</span></a></td>
                        <td class="team team2"><a href="#">Lens</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-success">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Reims</a></td>
                        <td class="score"><a href="#"><span class="home-score">1</span><span class="versus"> - </span><span class="away">3</span></a></td>
                        <td class="team team2"><a href="#">Toulouse</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-result">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-failed">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">St Etienne</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">2</span></a></td>
                        <td class="team team2"><a href="#">Caen</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-success">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Real Madrid</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">1</span></a></td>
                        <td class="team team2"><a href="#">Atletico M.</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-failed">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-result">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Juventus</a></td>
                        <td class="score"><a href="#"><span class="home-score">1</span><span class="versus"> - </span><span class="away">0</span></a></td>
                        <td class="team team2"><a href="#">Udinese</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-success">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Lille</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">1</span></a></td>
                        <td class="team team2"><a href="#">Nantes</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction-failed">X</a>
                                <a href="#" class="btn btn-prediction-result">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Guingamp</a></td>
                        <td class="score"><a href="#"><span class="home-score">2</span><span class="versus"> - </span><span class="away">2</span></a></td>
                        <td class="team team2"><a href="#">Bordeaux</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction-success">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Man Utd</a></td>
                        <td class="score"><a href="#"><span class="home-score">1</span><span class="versus"> - </span><span class="away">3</span></a></td>
                        <td class="team team2"><a href="#">QPR</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-success">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Evian</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">2</span></a></td>
                        <td class="team team2"><a href="#">OM</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-failed">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-result">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="media">
                <a href="#" class="media-left avatar">
                    <img class="img-circle" alt="64x64" src="img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">New Prediction Contest Grids available. Play now!</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <a href="#">> Grid nº12</a>
                </div>
            </li>
            <li class="media">
                <div class="media-left avatar">
                    <a href="#">
                        <img class="img-circle" alt="64x64" src="img/user-default.png">
                    </a>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-success">1</button>
                        <button class="btn btn-default">N</button>
                        <button class="btn btn-default">2</button>
                    </div>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">sebastien au.</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                        </div>
                    </div>
                    <p>real meme si jsuis pour le barca</p>
                    <div class="media">
                        <div class="media-left avatar">
                            <a href="#">
                                <img class="img-circle" alt="64x64" src="img/user-default.png">
                            </a>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default">1</button>
                                <button type="button" class="btn btn-prediction-failed">N</button>
                                <button class="btn btn-default">2</button>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <span class="name">ramoul</span>
                                <div class="tools">
                                    <span class="date"><a href="#"></a>19/05 15h19</span>
                                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                                </div>
                            </div>
                            <p><a class="reply" href="#">@Andréleboss</a>, Lyon va pas aller en LDC l'année prochaine, surtout avec un 0-0 contre Chernomorets en Ligue Europa. ^^</p>
                        </div>
                    </div>
                    <!-- Nested media object -->

                </div>
            </li>
        </ul>
    </div>
</div>