<div class="section-group">
    <div class="form-section">
        <div class="row">
            <div class="col-md-3 name">Name</div>
            <div class="col-md-8 field">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="icon glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-3 name">Email</div>
            <div class="col-md-8 field">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2"><span class="icon glyphicon glyphicon-envelope"></span></span>
                    <input type="text" class="form-control" placeholder="example@domain.com" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-md-1 info">
                <span class="icon glyphicon glyphicon-question-sign" data-container="body" data-placement="left" data-toggle="tooltip" data-original-title="Tooltip on left"></span>
            </div>
        </div>
    </div>
    <div class="form-section">
        <div class="row profile-image-field">
            <div class="col-md-3 name">Profile picture</div>
            <div class="col-md-8 field">
                <div class="profile-image">
                    <img src="img/profile-img.jpg" alt="Profile Avatar">
                    <a href="#"><span class="icon glyphicon glyphicon-camera"></span></a>
                </div>
                <a href="#">Change profile picture</a>
            </div>
        </div>
    </div>
    <div class="form-section">
        <div class="row">
            <div class="col-md-3 name">Password</div>
            <div class="col-md-8 field">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3"><span class="icon glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-3 name">Password confirmation</div>
            <div class="col-md-8 field">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4"><span class="icon glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" placeholder="password confirmation" aria-describedby="basic-addon4">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="form-section">
        <div class="row">
            <div class="col-md-3 name">Receive nesletter</div>
            <div class="col-md-9 field">
                <div class="switch-button">
                    <input type="checkbox" id="switch1" name="check" checked="">
                    <span><label for="switch1"></label></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <div class="row">
            <div class="col-md-12 buttons">
                <button class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>