<div class="profile-wall">
    <img src="img/profile-banner.png" alt="Profile Banner">
    <a href="#" class="change-image">
        <span class="icon glyphicon glyphicon-camera"></span> Change profile image
    </a>
    <div class="profile-image">
        <img src="img/profile-img.jpg" alt="Profile Avatar">
        <a href="#" class="modal-toggle"><span class="icon glyphicon glyphicon-camera"></span></a>
    </div>
    <div class="modal fade" id="modal-profile-image">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Change Profile picture</h4>
                </div>
                <div class="change-profile-image">
                    <div class="row">
                        <div class="col-md-3 left-side">
                            <div class="current-image">
                                <img class="image-circle" src="img/profile-img.jpg" alt="Profile Image">
                                <span class="nick-name">sebastien au.</span>
                            </div>
                        </div>
                        <div class="col-md-9 options">
                            <div class="predefined-images">
                                <label>Pre-defined</label>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="img">
                                                <img class="img-circle" src="img/user-default.png" alt="Avatar">
                                            </div>
                                            <span class="name">Blank</span>
                                        </a>
                                    </li>
                                    <li class="selected-image">
                                        <a href="#">
                                            <div class="img">
                                                <img class="img-circle" src="img/profile-img.jpg" alt="Profile Image">
                                            </div>
                                            <span class="name">Facebook</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="custom-picture">
                                <label>Custom picture</label>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="img">
                                            <img class="add-file" src="img/user-dashboard/add-file.png" alt="Add File">
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="drag-zone">
                                            <div class="drag-message">
                                                <span>Drag picture here or</span>
                                                <button class="btn btn-primary"><span class="icon glyphicon glyphicon-camera"></span>Select Picture</button>
                                            </div>
                                            <div class="drop-message">
                                                <span class="icon glyphicon glyphicon-circle-arrow-up"></span> Drop image here
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-teams">
                                <label>My Teams</label>
                                <div class="scroll-container">
                                    <ul>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                        <li><div class="logo"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></div><span class="name">Real M.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <span class="display-name">sebastien au.</span>
</div>

<ul class="nav nav-pills profile-nav">
    <li class="active"><a href="#">Activity</a></li>
    <li><a href="#">Predictions</a></li>
    <li><a href="#">Predictions Contest</a></li>
</ul>