<div class="row">
    <div class="col-md-12">
        <div class="setting-box">
            <div class="option-name"><span class="icon-bell icon"></span>Enable Notifications</div>
            <div class="switch-button field">
                <input type="checkbox" checked="" name="check" id="switch1">
                <span><label for="switch1"></label></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default first-day-month-gift">
            <div class="panel-heading">
                <div class="panel-title">Match Notifications</div>
            </div>
            <ul class="settings-list">
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite whistle-active"></span></div>Enable Notifications</div>
                    <div class="switch-button field">
                        <input type="checkbox" checked="" name="check" id="opt1">
                        <span><label for="opt1"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite goal"></span></div>Goal</div>
                    <div class="switch-button field">
                        <input type="checkbox" name="check" id="opt2">
                        <span><label for="opt2"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite red-card"></span></div>Red Card</div>
                    <div class="switch-button field">
                        <input type="checkbox" checked="" name="check" id="opt3">
                        <span><label for="opt3"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite yellow-card"></span></div>Yellow Card</div>
                    <div class="switch-button field">
                        <input type="checkbox" checked="" name="check" id="opt4">
                        <span><label for="opt4"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite whistle-active"></span></div>Half time score</div>
                    <div class="switch-button field">
                        <input type="checkbox" checked="" name="check" id="opt5">
                        <span><label for="opt5"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite player-change"></span></div>Substitutions</div>
                    <div class="switch-button field">
                        <input type="checkbox" name="check" id="opt6">
                        <span><label for="opt6"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite extra-time"></span></div>Extra time starting</div>
                    <div class="switch-button field">
                        <input type="checkbox" name="check" id="opt7">
                        <span><label for="opt7"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite shootouts"></span></div>Shootouts starting</div>
                    <div class="switch-button field">
                        <input type="checkbox" name="check" id="opt8">
                        <span><label for="opt8"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite whistle-active"></span></div>Final result</div>
                    <div class="switch-button field">
                        <input type="checkbox" name="check" id="opt9">
                        <span><label for="opt9"></label></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default first-day-month-gift">
            <div class="panel-heading">
                <div class="panel-title">Contest Notifications</div>
            </div>
            <ul class="settings-list">
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite grid"></span></div>New Contest Grid</div>
                    <div class="switch-button field">
                        <input type="checkbox" name="check" id="opt10">
                        <span><label for="opt10"></label></span>
                    </div>
                </li>
                <li>
                    <div class="option-name"><div class="icon"><span class="sprite gift"></span></div>Contest grid result</div>
                    <div class="switch-button field">
                        <input type="checkbox" name="check" id="opt11">
                        <span><label for="opt11"></label></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>