<div class="panel panel-condensed panel-default">
    <div class="panel-heading">
        <div class="tools">
            <a href="#" class="icon"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
        <div class="panel-title">
            <span class="glyphicon glyphicon-comment"></span>
            Notifications
        </div>
    </div>
    <div class="notifications-list ls-scrollbar">
        <ul class="media-list">
            <li class="media highlight">
                <div class="media-left avatar">
                    <img src="img/user-default.png" alt="64x64" class="img-circle">
                </div>
                <div class="media-body">
                    <span class="meadia-heading">Congratulations !</span>
                    <p>New Prediction Contest Grid is available. Play now !</p>
                    <span class="date">19/05 15h19</span>
                </div>
            </li>
            <li class="media highlight">
                <div class="media-left avatar">
                    <img src="img/user-default.png" alt="64x64" class="img-circle">
                </div>
                <div class="media-body">
                    <span class="meadia-heading">YOUNITED</span>
                    <p>real meme si jsuis pour le barca</p>
                    <span class="date">19/05 15h19</span>
                </div>
            </li>
            <li class="media">
                <div class="media-left avatar">
                    <img src="img/user-default.png" alt="64x64" class="img-circle">
                </div>
                <div class="media-body">
                    <span class="meadia-heading">Congratulations ! </span>
                    <p>You won this month predictions contest</p>
                    <span class="date">19/05 15h19</span>
                </div>
            </li>
            <li class="media">
                <div class="media-left avatar">
                    <img src="img/user-default.png" alt="64x64" class="img-circle">
                </div>
                <div class="media-body">
                    <span class="meadia-heading">Congratulations ! </span>
                    <p>You won this month predictions contest</p>
                    <span class="date">19/05 15h19</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>All Notifications</a>
    </div>
</div>