<div class="panel panel-condensed panel-default contest-ranking">
    <div class="panel-heading">
        Contest Ranking
    </div>
    <div class="panel-body">
        <ul>
            <li class="rank">
                <span class="title">Current month rank</span>
                <div class="rank-numbers">
                    <span class="rank1 active">12<sup>ème</sup></span>
                    <span class="rank2">/ 1187</span>
                </div>
            </li>
            <li class="rank">
                <span class="title">Current season rank</span>
                <div class="rank-numbers">
                    <span class="rank1">3<sup>ème</sup></span>
                    <span class="rank2">/ 1187</span>
                </div>
            </li>
        </ul>
        <span class="title">Evolution</span>
    </div>
    <div class="evolution-image">
        <img src="{{ ImageDirPath }}300x170.gif" alt="Visual Block">
    </div>
</div>