.widget-creator-heading{
	padding: 20px;

	> .title{
		display: inline-block;
		margin: 0;
		font-size: @ls-widget-creator-heading-title-size;
		font-weight: @font-weight-semi-bold;
		line-height: @ls-widget-creator-heading-title-size + 8px;
	}

	> .btn{
		vertical-align: top;

		&:first-child{
			margin-right: 20px;
		}
	}

	> a.pull-right{
		line-height: @ls-widget-creator-heading-title-size + 8px;
	}
}