<div class="row row-voffset">
    <div class="col-md-6">
        <div class="create-widget">
            <img src="{{ ImageDirPath }}webmaster/create-edit-my-widgets.png" alt="Create & Edit My Widgets">
            <div class="content">
                <p>Create and manage your widgets for you own website or blog from here, the WhatstheScore.com webmaster area. Get started in one click on the button below!</p>
                <a href="#">Click here to see some live demo widgets</a>
                <button type="button" class="btn btn-primary btn-lg"><span class="icon glyphicon glyphicon-plus"></span> Create new Widget</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget-conditions">
            <p><b>Conditions of use</b></p>
            <p>The widgets provided by WhatstheScore.com are FREE. By using them, you agree to respect the following condition:<br>
                <span class="important">You will keep the link at the bottom of the widgets that acknowledges WhatstheScore.com as provider of the widget, without editing it.</span><br>
                Failure to adhere to these conditions would force us to deactivate you widgets. Please write to us via our <a href="#">contact form</a> if you have any questions.
            </p>
            <p>The WhatstheScore.com team</p>
        </div>
    </div>
</div>