<div class="widget-creator-heading">
    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="icon icon-caret-left"></span> Back to My Widgets</button>
    <span class="title">h1 Create / Edit your widget here</span>
    <a href="#" class="pull-right">Need Help</a>
</div>