<div id="rootwizard" class="ls-wizard">
    <ul class="nav nav-pills">
        <li><a href="#tab1" data-toggle="tab"><span class="label">1</span>Type of widget<span class="chevron"></span></a></li>
        <li><a href="#tab2" data-toggle="tab"><span class="label">2</span>Subject of your widget (competition(s) or a team?)</a></li>
        <li><a href="#tab3" data-toggle="tab"><span class="label">3</span>Settings and validation</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane widget-creator-type-of-widget" id="tab1">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-heading">
                        <span class="label">1</span>
                        <span class="title">Choose the type of widget you wish to create:</span>
                        <span class="description">(Hover for a quick description)</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#"><span class="sprite-icons football"></span>Football</a></li>
                                <li><a href="#"><span class="sprite-icons tennis"></span>Tennis</a></li>
                                <li><a href="#"><span class="sprite-icons rugby"></span>Rugby</a></li>
                                <li><a href="#"><span class="sprite-icons handball"></span>Handball</a></li>
                                <li><a href="#"><span class="sprite-icons basketball"></span>Basketball</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-selector-group">
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector active"><img src="img/sprites/icon_calendar.png" alt="Results / Fixtures"></a>
                            <span class="title">Results / Fixtures</span>
                        </div>
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector"><img src="img/sprites/icon_standings.png" alt="Standings"></a>
                            <span class="title">Standings</span>
                        </div>
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector"><img src="img/sprites/icon_score.png" alt="My Team's Next Match"></a>
                            <span class="title">My Team's Next Match</span>
                        </div>
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector"  data-popover="popover" data-html="true" data-placement="bottom" data-content="
                        <img src='img/webmaster/popover-top.jpg'>
                        <div class='content'>
                          <p>The 'Livescore' widget enables you to display the list of matches being played today, with LIVE scores. You can choose to display:<br>
                          Matches from all competitions,
                          Matches from specific competitions of your choice, or
                          Matches from competitions in a selected country (eg: only games from English competitions).<br>
                          Users on your website / blog will be able to view results from past dates and upcoming fixtures. They will also be able to customize their livescore and receive alerts for the matches they are particularly interested in.</p>
                          <p>As always with WhatstheScore.com widgets, you can choose the colours of the widget to best suit the design of your own site or blog.</p>
                        </div>
                        " data-template="<div class='popover'><div class='arrow'></div><div class='popover-title'></div><div class='popover-content'></div></div>" data-trigger="hover"><img src="img/sprites/icon_live.png" alt="Livescore"></a>
                            <span class="title">Livescore</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane widget-creator-widget-subject" id="tab2">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-heading">
                        <span class="label">2</span>
                        <span class="title">Select the subject of your widget:</span>
                        <span class="description">One or several competitions ? A team  ?</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#"><i class="icon-team icon icon-lg"></i>Compétition</a></li>
                                <li><a href="#"><i class="icon-shirt icon icon-lg"></i>Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row search-competition">
                        <div class="col-md-6">
                            <label>Type here to search a competition :</label>
                            <div class="inner-addon right-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                <input data-toggle="dropdown" type="text" placeholder="Champions League, Europa League..." class="form-control">
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><span class="country-flag fr"></span>Ligue 1</a></li>
                                    <li><a href="#"><span class="country-flag fr"></span>Ligue 2</a></li>
                                    <li><a href="#"><span class="country-flag _United_Nations"></span>Coupe de la Ligue</a></li>
                                    <li><a href="#"><span class="country-flag _United_Nations"></span>Ligue des Champions</a></li>
                                    <li><a href="#"><span class="country-flag _United_Nations"></span>Ligue des Champions Asie</a></li>
                                    <li><a href="#"><span class="country-flag _United_Nations"></span>Ligue des Champions Asie / Phase de poule</a></li>
                                    <li><a href="#"><span class="country-flag _United_Nations"></span>Ligue des Champions Asie / Phase finale</a></li>
                                    <li><a href="#"><span class="country-flag es"></span>Ligue Junior</a></li>
                                    <li class="pag-nav">
                                        <ul class="pagination pagination-xs">
                                            <li><a href="#"><span class="icon-caret-left"></span></a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><span class="icon-caret-right"></span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <a href="#">World Cup,</a> <a href="#">Champions League,</a> <a href="#">Premier League,</a> <a href="#">Championship,</a> <a href="#">English League Cup,</a> <a href="#">Bundesliga,</a> <a href="#">Serie A,</a> <a href="#">Spanish League,</a> <a href="#">Europa League,</a> <a href="#">FA Cup</a>
                        </div>
                        <div class="col-md-6">
                            <span class="title">Your Selection</span>
                            <table class="table table-striped no-border league-selection">
                                <tbody>
                                <tr>
                                    <td class="number">1</td>
                                    <td class="flag"><span class="country-flag _United_Nations"></span></td>
                                    <td class="name">Champions League (Football, International)</td>
                                    <td class="functions"><a class="btn btn-danger btn-sm">Delete</a></td>
                                </tr>
                                <tr>
                                    <td class="number">2</td>
                                    <td class="flag"><span class="country-flag _England"></span></td>
                                    <td class="name">Champions League (Football, International)</td>
                                    <td class="functions"><a class="btn btn-danger btn-sm">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane widget-creator-settings-validation" id="tab3">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-heading">
                        <span class="title">Available presets :</span>
                        <span class="description">(Hover for a quick description)</span>
                        <a href="#" class="pull-right"><span class="icon icon-caret-up"></span>Hide presets</a>
                    </div>
                    <div class="btn-selector-group">
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector active"><img src="img/sprites/icon_calendar.png" alt="Results / Fixtures"></a>
                            <span class="title">Results / Fixtures</span>
                        </div>
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector"><img src="img/sprites/icon_calendar.png" alt="Results / Fixtures"></a>
                            <span class="title">Standings</span>
                        </div>
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector"><img src="img/sprites/icon_calendar.png" alt="Results / Fixtures"></a>
                            <span class="title">My Team's Next Match</span>
                        </div>
                        <div class="btn-selector-item">
                            <a href="#" class="btn btn-default btn-selector"><img src="img/sprites/icon_calendar.png" alt="Results / Fixtures"></a>
                            <span class="title">Livescore</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-grey">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="step-heading">
                                <span class="title">Settings</span>
                                <span class="description">(Hover for a quick description)</span>
                            </div>
                            <ul class="nav nav-pills">
                                <li><a href="#"><span class="sprite-icons webmaster-cogs"></span>Options</a></li>
                                <li class="active"><a href="#"><span class="sprite-icons webmaster-palette"></span>Style and colors</a></li>
                            </ul>
                            <div class="widget-parameters widget-options">
                                <span class="title">basic colors</span>
                                <div class="param-group">
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-background icon"></span>Main background
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-text icon"></span>Main text (competition and team names)
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-text icon"></span>Match day and score
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-border icon"></span>Borders
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="title">Menus</span>
                                <div class="param-group">
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-background icon"></span>Header menu background
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-text icon"></span>Header menu
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-background icon"></span>Active tab
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-text icon"></span>Active tab text
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="title">Matches listing</span>
                                <div class="param-group">
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-text icon"></span>Live elements (eg to differentiate live score from result when game ongoing)
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-background icon"></span>Highlight of selected team
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-9 name">
                                            <span class="sprite-icons webmaster-background icon"></span>Background for date row and active row hover
                                        </div>
                                        <div class="col-md-3 value">
                                            <div class="input-group color-picker">
                                                <input type="text" class="form-control color-picker" value="#000000">
                                                <span class="input-group-addon"><span class="color-preview"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-parameters widget-style">
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Name
                                    </div>
                                    <div class="col-md-9 value">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Width
                                    </div>
                                    <div class="col-md-9 value width">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="300">
                                            <span class="input-group-addon">px</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Height
                                    </div>
                                    <div class="col-md-9 value height">
                                        <div class="radio">
                                            <input id="radio1" type="radio" checked="" name="radio1">
                                            <label for="radio1">Auto</label>
                                        </div>
                                        <span class="glyphicon glyphicon-info-sign icon"></span>
                                        <div class="radio">
                                            <input id="radio2" type="radio" checked="" name="radio1">
                                            <label for="radio2">Custom Height</label>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="">
                                            <span class="input-group-addon">px</span>
                                        </div>
                                        <span class="glyphicon glyphicon-info-sign icon"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Type of display
                                    </div>
                                    <div class="col-md-9 value type-of-display">
                                        <div class="divider">
                                            <div class="radio">
                                                <input id="radio3" type="radio" checked="" name="radio2">
                                                <label for="radio3">Choice of season :</label>
                                            </div>
                                            <div class="select-component">
                                                <select name="season">
                                                    <option selected="" value="1">2011/2012</option>
                                                    <option value="1">2011/2012</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="divider">
                                            <div class="radio">
                                                <input id="radio4" type="radio" checked="" name="radio2">
                                                <label for="radio4">Previous matchday auto update</label>
                                            </div>
                                            <span class="glyphicon glyphicon-info-sign icon"></span>
                                        </div>
                                        <div class="divider">
                                            <div class="radio">
                                                <input id="radio5" type="radio" checked="" name="radio2">
                                                <label for="radio5">Previous matchday fixed</label>
                                            </div>
                                            <span class="glyphicon glyphicon-info-sign icon"></span>
                                        </div>
                                        <div class="divider">
                                            <div class="radio">
                                                <input id="radio6" type="radio" checked="" name="radio2">
                                                <label for="radio6">Next matchday auto update</label>
                                            </div>
                                            <span class="glyphicon glyphicon-info-sign icon"
                                                  data-popover="popover" data-placement="right" data-content="
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.
                        " data-trigger="hover" data-container="body"
                                                ></span>
                                        </div>
                                        <div class="divider">
                                            <div class="radio">
                                                <input id="radio7" type="radio" checked="" name="radio2">
                                                <label for="radio7">Next matchday fixed</label>
                                            </div>
                                            <span class="glyphicon glyphicon-info-sign icon"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Display Odds
                                    </div>
                                    <div class="col-md-9 value">
                                        <div class="switch-button yes-no">
                                            <input id="switch1" type="checkbox" checked="" name="check">
                                            <span><label for="switch1"></label></span>
                                        </div>
                                        <div class="select-component">
                                            <select name="odds">
                                                <option selected="" value="1">Best odds</option>
                                                <option value="1">Best odds</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Display team logos
                                    </div>
                                    <div class="col-md-9 value">
                                        <div class="switch-button yes-no">
                                            <input id="switch2" type="checkbox" checked="" name="check">
                                            <span><label for="switch2"></label></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Links
                                    </div>
                                    <div class="col-md-9 value">
                                        <div class="select-component">
                                            <select name="odds">
                                                <option selected="" value="1">Popup window</option>
                                                <option value="1">Popup window</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 name">
                                        Highlight a team
                                    </div>
                                    <div class="col-md-9 value">
                                        <div class="select-component">
                                            <select name="odds">
                                                <option selected="" value="1">None</option>
                                                <option value="1">None</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 widget-preview">
                            <div class="step-heading">
                                <span class="title">Widget Preview</span>
                                <span class="description">(Hover for a quick description)</span>
                            </div>

                            <div class="iframe-container">
                                <div class="widget-iframe">
                                    <iframe src="webmaster-widget-maker-iframe.html"></iframe>
                                </div>
                            </div>

                            <span class="title">Code to paste to insert the widget on your site</span>
                            <p class="warning"><b>IMPORTANT</b> : You must click on the "SAVE" button below otherwise the widget will be lost and the code will not work on your website.</p>

                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-primary active">HTML</a>
                                <a class="btn btn-default">BBCode Wordpress (BETA)</a>
                            </div>

                        <textarea class="form-control embed-code">
                          <div data-type=timetable data-id="54789" id="wgt-54789" class="tap-sport-tools" style="width:300px; height:auto;"></div>
    <div id="wgt-ft-54789" style="width:296px;"><p>Widget powered by <a target="_blank" rel="nofollow" href="http://www.site.com">site.com</a></p></div><style type="text/css">#wgt-ft-54789  {background:#FFFFFF !important;color:#484848 !important;text-decoration:none !important;padding:4px 2px !important;margin:0 !important;}#wgt-ft-54789 * {font:10px Arial !important;}#wgt-ft-54789 a {color:#484848 !important;}#wgt-ft-54789 img {vertical-align:bottom !important;height:15px !important;}</style><script type="text/javascript" src="http://tools.site.com/load.min.js?232"></script>rea
                        </textarea>

                            <div class="buttons">
                                <a class="btn btn-default" href="#">
                                    <span class="icon-caret-left"></span>
                                    Back to My Widgets
                                </a>
                                <a class="btn btn-primary" href="#">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                    Save widget
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="wizard navigation">
        <li class="previous"><a class="btn btn-primary" href="javascript:;"><span class="icon-caret-left"></span>Previous</a></li>
        <li class="next"><a class="btn btn-primary" href="javascript:;"><span class="icon-caret-right"></span>Next</a></li>
    </ul>
</div>