<div class="webmaster-content-section-3">
    <div class="row">
        <div class="col-md-4">
            <div class="widgets">
                <span class="title">Top content</span>
                <img src="{{ basePath }}img/webmaster/feature1.png" alt="Feature">
                <p>Results and fixtures but also live scores, <br>tables and complementary info such as <br>betting odds, video highlight and of course<br> match datails are available for your visitors.</p>
                <a href="#"> > Manage widgets</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widgets">
                <span class="title">All in 3 easy steps</span>
                <img src="{{ basePath }}img/webmaster/feature2.png" alt="Feature">
                <p>In less than 2 minutes, you can obtain <br>your html code and place your new <br>widget on a  page, in an article, within a <br>sidebar or any other space of your<br> website.</p>
                <a href="#"> > Manage widgets</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widgets">
                <span class="title">100% customizable</span>
                <img src="{{ basePath }}img/webmaster/feature3.png" alt="Feature">
                <p>Whether it's about content or looks, you can <br>build the widget that will be tailor-made to <br>your site and fit the area you have chosen<br> for it.</p>
                <a href="#"> > Manage widgets</a>
            </div>
        </div>
    </div>
</div>