<div class="webmaster-content-section-2">
    <div class="row">
        <div class="col-xs-12">
            <span class="title">Examples</span>
            <div class="section-nav">
                <a href="#"><span class="icon icon-caret-left"></span></a>
                <a href="#"><span class="icon icon-caret-right"></span></a>
            </div>
        </div>
    </div>
    <div class="row features">
        <div class="col-xs-3">
            <div class="widget">
                <div class="image">
                    <a href="#"><img src="{{ basePath }}img/webmaster/preview1.png" alt="Preview"></a>
                    <a href="#" class="zoom"><span class="icon glyphicon glyphicon-fullscreen"></span></a>
                </div>
                <a href="#">Calendar Widget</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="widget">
                <div class="image">
                    <a href="#"><img src="{{ basePath }}img/webmaster/preview2.png" alt="Preview"></a>
                    <a href="#" class="zoom"><span class="icon glyphicon glyphicon-fullscreen"></span></a>
                </div>
                <a href="#">Standings Widget</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="widget">
                <div class="image">
                    <a href="#"><img src="{{ basePath }}img/webmaster/preview3.png" alt="Preview"></a>
                    <a href="#" class="zoom"><span class="icon glyphicon glyphicon-fullscreen"></span></a>
                </div>
                <a href="#">Livescore Widget</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="widget">
                <div class="image">
                    <a href="#"><img src="{{ basePath }}img/webmaster/preview4.png" alt="Preview"></a>
                    <a href="#" class="zoom"><span class="icon glyphicon glyphicon-fullscreen"></span></a>
                </div>
                <a href="#">My Team Widget</a>
            </div>
        </div>
    </div>
</div>