<div class="webmaster-content-section-1">
    <div class="row">
        <div class="col-md-12">
            <span class="title">Made by you, for your wibsite</span>
        </div>
    </div>
    <div class="row row-voffset columns">
        <div class="col-md-3">
            <div class="widget-preview">
                <img src="{{ ImageDirPath }}webmaster/widgets-wireframe.png" alt="Widgets Wireframe">
                <span class="image-title">Your website</span>
                <span class="widget-1">Premier League results</span>
                <span class="widget-2">Champions League tables</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="description">
                <p>Choose and manage quick and easy-to-make sports widgets.</p>
                <div class="row webmaster-list">
                    <div class="col-md-6">
                        <ul>
                            <li>- LIVE Scores</li>
                            <li>- Match datails and videos</li>
                            <li>- Intuituve Navigation</li>
                            <li>- Great design</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>- Fixtures and Results</li>
                            <li>- Stats and Betting Odds</li>
                            <li>- League tables</li>
                            <li>- Tailor to your site</li>
                        </ul>
                    </div>
                </div>
                <p>Please check the <a href="#">conditions of use of our widgets</a> first and then click on the button below to create your first widget!</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="create-widget">
                <button type="button" class="btn btn-primary btn-lg"><span class="icon glyphicon glyphicon-plus"></span> Create new Widget</button>
                <a href="#"> > Manage widgets</a>
                <a href="#"> > Contact</a>
            </div>
        </div>
    </div>
</div>