<div class="webmaster-banner">
    <img src="{{ basePath }}img/user-dashboard/main-banner.png" alt="Visual Block">
    <div class="banner-title">
        <span class="big"><span>Free</span> widgets</span>
        <span class="subtitle">Livescore / Tables</span>
        <span class="small">Webmasters,</span>
        <span class="medium">Get your own widgets now!</span>
    </div>
</div>