<ol class="breadcrumb">
    <li><a href="#">Foot en direct</a></li>
    <li><a href="#">Actualité</a></li>
    <li class="active">Equipe de France : la liste des 23 Bleus pour le Mondial 2014</li>
</ol>