<ol class="breadcrumb">
    <li><a href="#"><span class="icon glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Actualité</a></li>
    <li class="active">Real Madrid vs. Bayern Munich Score</li>
</ol>

