{% if breadcrumb is defined %}
    <ol class="breadcrumb" role="navigation">
        <li><a href="#"><span class="icon glyphicon glyphicon-home"></span></a></li>
        <li><a href="#"><span class="icon icon-football" title="Football"></span></a></li>
        {% for item in breadcrumb %}
            {% if loop.first %}
                <li><a href="#">{{ item | raw }}</a></li>
            {% elseif loop.last %}
                <li  class="active"><a href="#">{{ item | raw }}</a></li>
            {% else %}
                <li><a href="#">{{ item | raw }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endif %}
