<ol class="breadcrumb">
    <li><a href="#"><span class="icon glyphicon glyphicon-home"></span></a></li>
    <li><a href="#"><span class="icon icon-football" title="Football"></span></a></li>
    <li><a href="#">Champions League</a></li>
    <li><a href="#">Real Madrid - Bayern</a></li>
    <li class="active"><h1>Real Madrid vs. Bayern Munich Score</h1></li>
</ol>