<ol class="breadcrumb">
    <li><a href="#">Foot en direct</a></li>
    <li><a href="#">International Football Scores</a></li>
    <li><a href="#"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">Champions League Scores</a></li>
</ol>