<ol class="breadcrumb">
    <li><a href="#"><span class="icon glyphicon glyphicon-home"></span></a></li>
    <li><a href="#"><span class="icon icon-football" title="Football"></span></a></li>
    <li><a href="#">Champions League Scores</a></li>
    <li class="active"><a href=""><h1>Real Madrid vs. Bayern Munich Score</h1></a></li>
</ol>