<header class="header">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="img/ls-logo.png" alt="site logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group input-search">
                    <input type="text" class="form-control" placeholder="Arsenal, Rooney, Premier League...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown alerts"><a href="#"><span class="icon-bell"><span class="badge live">5</span></span></a></li>
                <li class="dropdown notifications">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-comment"><span class="badge primary">3</span></span></a>
                    <ul class="dropdown-menu custom" role="menu">
                        <li>
                            <div class="dropdown-title">Notifications (3)<div class="tools"><a href="#" class="icon"><span class="icon glyphicon glyphicon-cog"></span></a></div></div>
                            <div class="notifications-list ls-scrollbar">
                                <ul class="media-list">
                                    <li class="media highlight">
                                        <div class="media-left avatar">
                                            <img src="img/user-default.png" alt="64x64" class="img-circle">
                                        </div>
                                        <div class="media-body">
                                            <span class="meadia-heading">Congratulations !</span>
                                            <p>New Prediction Contest Grid is available. Play now !</p>
                                            <span class="date">19/05 15h19</span>
                                        </div>
                                    </li>
                                    <li class="media highlight">
                                        <div class="media-left avatar">
                                            <img src="img/user-default.png" alt="64x64" class="img-circle">
                                        </div>
                                        <div class="media-body">
                                            <span class="meadia-heading">YOUNITED</span>
                                            <p>real meme si jsuis pour le barca</p>
                                            <span class="date">19/05 15h19</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left avatar">
                                            <img src="img/user-default.png" alt="64x64" class="img-circle">
                                        </div>
                                        <div class="media-body">
                                            <span class="meadia-heading">Congratulations ! </span>
                                            <p>You won this month predictions contest</p>
                                            <span class="date">19/05 15h19</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left avatar">
                                            <img src="img/user-default.png" alt="64x64" class="img-circle">
                                        </div>
                                        <div class="media-body">
                                            <span class="meadia-heading">Congratulations ! </span>
                                            <p>You won this month predictions contest</p>
                                            <span class="date">19/05 15h19</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="view-all">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown settings">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu custom" role="menu">
                        <li>
                            <div class="dropdown-title">Settings</div>
                            <div class="field time-zone">
                                <label for="time-zone">Time Zone</label>
                                <div class="select-component">
                                    <select name="time-zone" id="time-zone">
                                        <option value="1" selected>15h09 UTC+2 Madrid</option>
                                        <option value="1">15h09 UTC+2 Madrid</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field odds-type">
                                <label for="time-zone">Odds Type</label>
                                <div class="select-component">
                                    <select name="time-zone" id="time-zone2">
                                        <option value="1" selected>Decimal Odds</option>
                                        <option value="1">Decimal Odds</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="active"><a href="#"><span class="glyphicon glyphicon-volume-up"></span></a></li>
                <!--User dropdown-->
                <li class="user dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-circle" src="img/user-default.png" alt="user avatar">sebastien au. <span class="icon-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="icon glyphicon glyphicon-user"></span>My account</a></li>
                        <li><a href="#"><span class="icon icon-prono"></span>My predictions</a></li>
                        <li><a href="#"><span class="icon icon-cup"></span>Prediction Contest</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="icon glyphicon glyphicon-wrench"></span>Webmaster zone</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="icon glyphicon glyphicon-edit"></span>Contact</a></li>
                        <li><a href="#"><span class="icon glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <nav class="navbar navbar-inverse">
        <div class="loading-bar" style="width: 21%;"></div>
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="sprite football"></span>Football</a></li>
                <li><a href="#"><span class="sprite tennis"></span>Tennis</a></li>
                <li><a href="#"><span class="sprite rugby"></span>Rugby</a></li>
                <li><a href="#"><span class="sprite handball"></span>Handball</a></li>
                <li class="dropdown dropdown-inverted">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<span class="icon-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="sprite basketball"></span>Basketball</a></li>
                        <li><a href="#"><span class="sprite volleyball"></span>Volleyball</a></li>
                        <li><a href="#"><span class="sprite icehockey"></span>Ice Hockey</a></li>
                        <li><a href="#"><span class="sprite baseball"></span>Baseball</a></li>
                        <li><a href="#"><span class="sprite am-football"></span>American Football</a></li>
                    </ul>
                </li>
                <li><a href="#">Streaming</a></li>
                <li><a href="#">Prediction Contest</a></li>
                <li><a href="#">News</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right social-nav">
                <li><a href="#"><span class="icon-apple"></span></a></li>
                <li><a href="#"><span class="icon-android"></span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-googleplus"></span></a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</header>