<header class="header">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="loading-bar" style="width: 21%;"></div>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{{ basePath }}img/ls-logo.png" alt="site logo"></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <div class="btn-group"><button class="btn btn-default dropdown-toggle large-icon btn-partager" type="button" data-popover="popover" data-html="true" data-placement="bottom" data-content="
                        <div class='row share-social'>
                          <div class='col-md-12'>
                            <div class='social-embeds'>

                              <!-- Facebook Button-->
                              <iframe class='facebook' src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65' scrolling='no' frameborder='0' style='border:none; overflow:hidden; width:77px; height:65px; margin-right: 10px;' allowTransparency='true'></iframe>

                              <a href='https://twitter.com/share' class='twitter-share-button' data-count='vertical' data-via='footendirectcom' >Tweet</a>
                              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                              <!-- Google Button -->
                              <script src='https://apis.google.com/js/platform.js' async defer>
                                {lang: 'es'}
                              </script>
                              <div class='g-plusone' data-size='tall'></div>
                            </div>
                          </div>
                        </div>

                        " data-template="<div class='popover popover-partager share-social-minimal'><div class='arrow'></div><div class='popover-title'></div><div class='popover-content'></div></div>"><span class="icon icon-share"></span>Partager<span class="icon-caret-down"></span></button>
                        </div>
            </ul>


        </div><!-- /.container-fluid -->
    </nav>
</header>