<ul class="sidebar-nav sidebar-nav-inverse user-sidebar-nav">
    <li class="user-display">
        <img class="img-circle avatar" src="img/user-default.png" alt="User Avatar">
        <div class="info">
            <span>sebastien au.</span>
            <a href="#">My Profile</a>
        </div>
    </li>
    <li class="rank">
        <span class="title">contest rank</span>
        <div class="rank-numbers">
            <span class="rank1">345</span>
            <span class="rank2">/ 739</span>
        </div>
    </li>
    <li class="open">
        <a class="dropdown-toggle active" href="#"><span class="icon glyphicon glyphicon-user"></span>Member area</a>
        <ul class="sub-menu">
            <li>
                <a href="#"><span class="icon glyphicon glyphicon-th-large"></span>Dashboard</a>
            </li>
            <li>
                <a href="#"><span class="icon icon-cup"></span>Predictions Contest</a>
            </li>
            <li>
                <a href="#"><span class="icon glyphicon glyphicon-th-list"></span>My Predictions</a>
            </li>
            <li>
                <a href="#"><span class="icon glyphicon glyphicon-star"></span>My Favorites</a>
            </li>
            <li>
                <a href="#"><span class="icon glyphicon glyphicon-pencil"></span>My Information</a>
            </li>
            <li>
                <a href="#"><span class="icon glyphicon glyphicon-cog"></span>Settings</a>
            </li>
        </ul>
    </li>
    <li class="open">
        <a class="dropdown-toggle active" href="#"><span class="icon glyphicon glyphicon-wrench"></span>Webmaster area</a>
        <ul class="sub-menu">
            <li>
                <a href="#"><span class="icon icon-widget"></span>My Widgets</a>
            </li>
        </ul>
    </li>
</ul>