<ul class="sidebar-nav">
    <li>
        <a href="#"><i class="icon icon-football"></i>All Matches</a>
        <!-- <a href="javascript:;" class="pull-right calendar-button btn-datepicker-open" data-position="right-top"><input type="hidden" name="dp"><span class="icon-calendar"></span></a> -->
    </li>
    <li>
        <a href="#" class="live-red uppercase"><i class="icon-ellipse"></i>Live Now<span class="badge live pull-right">12</span></a>
    </li>
    <li>
        <a href="#" ><i class="icon-bell"></i>My Games<span class="badge live pull-right">3</span></a>
    </li>
    <li class="active open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-star"></i>My Leagues</a>
        <a href="#" class="option-icon"><span class="icon glyphicon glyphicon-cog right"></span></a>
        <ul class="sub-menu sortable-ul">
            <li class="more"><a href="#"><i class="glyphicon glyphicon-plus"></i>Click here to add competitions</a></li>
        </ul>
    </li>
    <li class="active open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-star"></i>My Teams</a>
        <a href="#" class="option-icon"><span class="icon glyphicon glyphicon-cog right"></span></a>
        <ul class="sub-menu sortable-ul">
            <li class="more"><a href="#"><i class="glyphicon glyphicon-plus"></i>Click here to add teams</a></li>
        </ul>
    </li>
    <li class="open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-globe"></i>Top Countries</a>
        <ul class="sub-menu">
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag fr"></span></span>France</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag _England"></span></span>England</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag es"></span></span>Spain</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag it"></span></span>Italy</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag de"></span></span>Germany</a></li>
        </ul>
    </li>
    <li class="open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-globe"></i>Country</a>
        <ul class="sub-menu second-menu">
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag _United_Nations"></span></span>International</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag za"></span></span>South Africa</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag al"></span></span>Albania</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag ag"></span></span>Algeria</a></li>
            <li class="open">
                <a class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag de"></span></span>Germany</a>
                <ul class="sub-menu third-menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Bundesliga <span class="fav active"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Super Coupe <span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Bundesliga 2 <span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li class="open">
                        <a class="dropdown-toggle">CFA</a>
                        <ul class="sub-menu fourth-menu">
                            <li><a href="#">All</a></li>
                            <li><a href="#">CFA Group A<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                            <li><a href="#">CFA Group B<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                            <li><a href="#">CFA Group C<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                            <li><a href="#">CFA Group D<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">Bundesliga 3<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Regionalliga<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Coupe de la Lig.<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Oberliga<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">DfB-Pokal<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Barrages<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                </ul>
            </li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag ad"></span></span>Andorra</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag _England"></span></span>England</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="icon-placeholder"><span class="country-flag ao"></span></span>Angola</a></li>
            <li class="more"><a href="#"><i class="dark-icon icon-expand"></i>View all</a></li>
        </ul>
    </li>
    <li><a href="#">+ View more</a></li>
</ul>