<div class="row">
    <div class="col-md-12">
            <div class="empty-state">
                <span class="icon icon-prono"></span>
                <p>No prediction available</p>
            </div>
    </div>
</div>