<div class="row">
    <div class="col-md-12">
            <div class="empty-state">
                <span class="icon icon-bell"></span>
                <p>No new notifications</p>
            </div>
    </div>
</div>