<div class="row">
    <div class="col-md-12">
            <div class="empty-state">
                <span class="icon glyphicon glyphicon-comment"></span>
                <p>No message available</p>
            </div>
    </div>
</div>