<div class="row">
    <div class="col-md-12">
            <div class="empty-state">
                <span class="icon icon-x2"></span>
                <p>Odds not available</p>
            </div>
    </div>
</div>