<div class="empty-state">
    <span class="icon {{ empty_icon }}"></span>
    <p>{{ empty_message }}</p>
    <div class="well">
        <p><span style="color:#5da400" class="glyphicon glyphicon-info-sign"></span> <strong>How to manage your games and notifications?</strong></p>
            <p>Add matches to your personalized list by simply clicking on the bell icon
                (<i class="icon-bell"></i>) which you'll find to the right of each match in the listing or on the individual match page.</p>
            <p>For your selected matches you will receive visual and sound alerts (if you activate the sound by clicking on the speaker icon at the top of your screen) when goals are scored and for the final whistle.</p>

        <table class="table table-bordered table-width-auto">
            <tr>
                <td>Sound active:</td>
                <td><span style="color: #5da400; font-size: 18px;" class="glyphicon glyphicon-volume-up active"></span></td>
            </tr>
            <tr>
                <td>Sound inactive:</td>
                <td><span style="font-size: 18px;"  class="glyphicon glyphicon glyphicon-volume-off"></span></td>
            </tr>
        </table>
    </div>
</div>