<table class="table my-games table-striped no-border">
    <thead  class="league-data">
    <tr>
        <th colspan="8"><div class="title"><span class="icon"><i class="icon-bell"></i></span><a class="title" href="#">My Games</a><a class="help-icon" href="#" data-toggle="popover" data-popover="popover" data-trigger="hover" data-placement="right" data-content="[Translation to create] Have your games always showing up first here by clicking the star next to each game or by selecting your favorite team." data-container="body"><span class="glyphicon glyphicon-question-sign"></span></a></div></th>
    </tr>
    </thead>
    <tbody>
    <tr class="empty-row">
        <td colspan="7"><span class="icon icon-calendar"></span><span>No matches in your games today. </span><a href="#"><span class="icon-caret-right"></span>Go to My Games</a></td>
    </tr>
    </tbody>
</table>
