<table class="table matches table-condensed table-striped no-border">
    <tbody>
    <tr class="league-data active">
        <th colspan="7">
            <div class="tools">
                    <span>
                      <a href="#"><i class="icon-standings"></i> Table</a>
                      <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                    </span>
            </div>
            <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
            <div class="title">
                <a class="country"><span class="icon-placeholder"><i class="country-flag fr"></i></span>France :</a>
                <a href="#">Ligue 2</a>
            </div>
        </th>
    </tr>
    <tr class="empty-row">
        <td colspan="7"><span class="icon icon-calendar"></span><span>No game</span></td>
    </tr>
    <tr class="league-data active">
        <th colspan="7">
            <div class="tools">
                    <span>
                        <a class="live" href="#"><i class="icon-standings"></i>LIVE Table</a>
                        <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                    </span>
            </div>
            <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
            <div class="title">
                <a href="#" class="country"><span class="icon-placeholder"><i class="country-flag dz"></i></span>Algeria :</a>
                <a href="#">Algeria Nedjma Championnat</a>
            </div>
        </th>
    </tr>
    <tr class="empty-row">
        <td colspan="7"><span class="icon icon-calendar"></span><span>No game</span></td>
    </tr>


    </tbody>
</table>

