<div class="row">
    <div class="col-md-12">

        <div class="empty-state">
            <span class="icon icon-calendar"></span>
            <p>No game</p>
            <nav>
                <ul class="pager btn-available-matches">
                    <li><a href="#"><span class="icon icon-caret-double-left"></span> Last game was played on <time datetime="2014-06-22">June 22nd</time></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>