<div class="panel panel-condensed panel-default news-block">
    <div class="panel-heading">
        Default empty block
    </div>

    <div class="empty-state">
        <span class="glyphicon glyphicon-th-list"></span>
        <p>No data available</p>
    </div>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>View all</a>
    </div>
</div>