<div class="panel panel-default discussion">
    <div class="panel-heading">
        <div class="panel-title"><span class="glyphicon glyphicon-comment "></span>Chat Real Madrid - Bayern Munich</div>
        <div class="tools">
            <span class="badge">49</span><i class="uppercase"> Messages</i>
        </div>
    </div>
    <div class="make-prediction">
        <div class="user-info"><img src="img/user-default.png" class="img-circle" alt="User Avatar">
            <div class="prediction">
                <span class="name">sebastien.au</span>
                <!--<a href="#" class="name">Login or Register</a>-->
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-prediction-done" type="button">1</button>
                    <button class="btn btn-prediction" type="button">X</button>
                    <button class="btn btn-prediction" type="button">2</button>
                </div>
            </div>
        </div>
        <div class="comment-form">
            <textarea class="form-control" placeholder="Ecris ici...." rows="2"></textarea>
            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-edit"></span>Publish my comment</button>
        </div>
    </div>
    <div class="panel-body">

        {% include 'blocks/various/comments_list.html.twig' %}

        <span class="users-list-title">
            Users currently <span class="active">active</span> (243 users)
        </span>
        <ul class="users-list">
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><img data-toggle="tooltip" data-placement="bottom" data-original-title="mickael32" class="img-circle" alt="64x64" src="img/user-default.png"></a>
            </li>
            <li>
                <a href="#"><span>More</span></a>
            </li>
        </ul>
    </div>


</div>


{% include 'blocks/modals/modal_report_message.html.twig' %}