<div class="panel panel-condensed panel-default">
    <div class="panel-heading">
        Help
    </div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit, nisl eget tempor consectetur, nisi sem volutpat eros, id lacinia nibh quam et ipsum. Aliquam quis vehicula mauris, in ornare erat.</p>
    </div>
</div>