<div class="panel panel-condensed panel-default newsletter">
    <div class="panel-heading">
        Newsletter
    </div>
    <img src="img/300x100.gif" alt="Visual Block">
    <div class="panel-body">
        <span class="description">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</span>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="Your email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label>First name</label>
                    <input type="text" class="form-control" placeholder="What's your name?">
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary">Submit</button>
                <span class="message">You will need to confirm your email</span>
            </div>
        </form>
    </div>
</div>