<div class="panel panel-condensed panel-default">
    <div class="panel-heading">
        Long box title that has to be displayed on two lines
    </div>
    <table class="table matches table-striped table-condensed no-border">
        <thead>
        <tr>
            <th>#</th>
            <th>BOOKMAKER</th>
            <th>BONUS</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><img alt="Bonus 1" src="{{ basePath }}img/sprites/bonus1.png"></td>
            <td><a href="#">50€</a></td>
            <td><a href="#">Visit <span class="icon-caret-right"></span></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td><img alt="Bonus 2" src="{{ basePath }}img/sprites/bonus2.png"></td>
            <td><a href="#">50€</a></td>
            <td><a href="#">Visit <span class="icon-caret-right"></span></a></td>
        </tr>
        <tr>
            <td>3</td>
            <td><img alt="Bonus 3" src="{{ basePath }}img/sprites/bonus3.png"></td>
            <td><a href="#">50€</a></td>
            <td><a href="#">Visit <span class="icon-caret-right"></span></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td><img alt="Bonus 4" src="{{ basePath }}img/sprites/bonus4.png"></td>
            <td><a href="#">50€</a></td>
            <td><a href="#">Visit <span class="icon-caret-right"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>