<div class="row">
    <div class="sharing">
        <div class="col-md-7">
            <p>Tu as aimé cet article ? Partage-le maintenant!</p>
            <div class="social-embeds">
                <!-- Facebook Button-->
                <iframe class="facebook" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65"   style="border:none; overflow:hidden; width:50px; height:65px;" ></iframe>
                <!-- Facebook Button-->
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="footendirectcom" >Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <!-- Google Button -->
                <script src="https://apis.google.com/js/platform.js" async defer>
                    {lang: 'es'}
                </script>
                <div class="g-plusone" data-size="tall"></div>
            </div>
            <div class="share-link-block">
                <p>Partager le lien de la page :</p>
                <input type="text" class="share-link" value="http://footendirect.com/actualites/un-11-ty">
            </div>
        </div>
        <div class="col-md-5 likes">
            <p>Réseaux sociaux :</p>
            <div class="fb">
                <a href="#" class="icon"><span class="icon-facebook"></span></a>
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21"   style="border:none; overflow:hidden; height:21px;" ></iframe>
            </div>
            <div class="tw">
                <a href="#" class="icon"><span class="icon-twitter"></span></a>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="gore_edward">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="gp">
                <a href="#" class="icon"><span class="icon-googleplus"></span></a>
                <script src="https://apis.google.com/js/platform.js" async defer>
                    {lang: 'es'}
                </script>

                <div class="g-plusone" data-size="medium"></div>
            </div>
        </div>
    </div>
</div>