<div class="row">
    <div class="col-xs-4">
        <h4>Top football matches</h4>
        <ul class="list-unstyled">
            <li><a href="#">Swansea vs. Everton score</a></li>
            <li><a href="#">Southampton vs. Hull score</a></li>
            <li><a href="#">Sunderland vs. Crystal Palace score</a></li>
            <li><a href="#">Tottenham vs. Aston Villa score</a></li>
            <li><a href="#">West Bromwich vs. Leicester score</a></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h4>Live</h4>
        <ul class="list-unstyled">
            <li><a href="#">Champions League scores</a></li>
            <li><a href="#">Premier League scores</a></li>
            <li><a href="#">European Championship scores</a></li>
            <li><a href="#">Ligue 1 scores</a></li>
            <li><a href="#">Ligue 2 scores</a></li>
            <li><a href="#">French Cup scores</a></li>
            <li><a href="#">League Cup scores</a></li>
            <li><a href="#">Bundesliga scores</a></li>
            <li><a href="#">Serie A scores</a></li>
            <li><a href="#">Spanish League scores</a></li>
            <li><a href="#">Europa League scores</a></li>
            <li><a href="#">World Cup scores</a></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h4>Results</h4>
        <ul class="list-unstyled">
            <li><a href="#">Champions League results</a></li>
            <li><a href="#">Premier League results</a></li>
            <li><a href="#">European Championship results</a></li>
            <li><a href="#">Ligue 1 results</a></li>
            <li><a href="#">Ligue 2 results</a></li>
            <li><a href="#">French Cup results</a></li>
            <li><a href="#">League Cup results</a></li>
            <li><a href="#">Bundesliga results</a></li>
            <li><a href="#">Serie A results</a></li>
            <li><a href="#">Spanish League results</a></li>
            <li><a href="#">Europa League results</a></li>
            <li><a href="#">World Cup results</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h4>Fixtures</h4>
        <ul class="list-unstyled">
            <li><a href="#">Champions League fixtures</a></li>
            <li><a href="#">Premier League fixtures</a></li>
            <li><a href="#">European Championship fixtures</a></li>
            <li><a href="#">Ligue 1 fixtures</a></li>
            <li><a href="#">Ligue 2 fixtures</a></li>
            <li><a href="#">French Cup fixtures</a></li>
            <li><a href="#">League Cup fixtures</a></li>
            <li><a href="#">Bundesliga fixtures</a></li>
            <li><a href="#">Serie A fixtures</a></li>
            <li><a href="#">Spanish League fixtures</a></li>
            <li><a href="#">Europa League fixtures</a></li>
            <li><a href="#">World Cup fixtures</a></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h4>Tables</h4>
        <ul class="list-unstyled">
            <li><a href="#">Champions League tables</a></li>
            <li><a href="#">Premier League tables</a></li>
            <li><a href="#">European Championship tables</a></li>
            <li><a href="#">Ligue 1 tables</a></li>
            <li><a href="#">Ligue 2 tables</a></li>
            <li><a href="#">French Cup tables</a></li>
            <li><a href="#">League Cup tables</a></li>
            <li><a href="#">Bundesliga tables</a></li>
            <li><a href="#">Serie A tables</a></li>
            <li><a href="#">Spanish League tables</a></li>
            <li><a href="#">Europa League tables</a></li>
            <li><a href="#">World Cup tables</a></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h4><a href="#">News</a></h4>
        <h4><a href="#">Streaming</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h4>Football results by country</h4>
        <ul class="list-unstyled">
            <li><a href="#">English Football scores</a></li>
            <li><a href="#">German Football scores</a></li>
            <li><a href="#">Spanish Football scores</a></li>
            <li><a href="#">Italian Football scores</a></li>
            <li><a href="#">Scottish Football scores</a></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h4>Football team results</h4>
        <ul class="list-unstyled">
            <li><a href="#">Chelsea results and fixtures</a></li>
            <li><a href="#">Manchester City results and fixtures</a></li>
            <li><a href="#">England results and fixtures</a></li>
            <li><a href="#">Liverpool results and fixtures</a></li>
            <li><a href="#">Arsenal results and fixtures</a></li>
            <li><a href="#">Manchester United results and fixtures</a></li>
        </ul>
    </div>
</div>