<div class="panel-sport-content">
    <div class="sport-content sport-content--collapsed">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores excepturi aliquid, est enim, aperiam quos! Fugit fugiat aliquid nobis aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea earum, minus quae nam vitae, quos consequatur mollitia itaque recusandae non quod odio quis modi, odit consequuntur doloremque vel animi aperiam facere autem similique? Consectetur sed tempora nostrum, rerum. Suscipit quidem reiciendis hic cumque esse, officia reprehenderit illum aliquid quibusdam deleniti. Nobis amet ad facilis deleniti adipisci praesentium laudantium id saepe iure impedit, architecto dolorem sunt quo officiis, omnis eaque nam?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime, quidem provident iure aut fugiat eius fugit, numquam dolorem. Voluptatum, quae similique reprehenderit. Eos perferendis adipisci doloremque, harum quo quaerat, assumenda consectetur commodi consequatur aut iusto vel reprehenderit fugit nihil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam itaque nemo amet eius laborum, nulla eum praesentium autem, in vero ad impedit, ipsa ab sint quae accusantium voluptate reprehenderit, tempore.</p>
    </div>
    <button type="button" class="btn btn-default btn-block sport-content__show-more"><span>Mostrar más</span><span class="icon dark-icon icon-caret-down"></span></button>
</div>