<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ligue 1 Teams
            </div>
            <table class="table links-table">
                <tbody>
                <tr>
                    <td><a href="#"><img src="img/sprites/barcelona.png" alt="Barcelona">AC Milan</a></td>
                    <td><a href="#"><img src="img/sprites/barcelona.png" alt="Barcelona">Ajax</a></td>
                    <td><a href="#"><img src="img/sprites/barcelona.png" alt="Barcelona">Anderlecht</a></td>
                </tr>
                <tr>
                    <td><a href="#"><img src="img/sprites/team2.png" alt="Team 2">Arsenal</a></td>
                    <td><a href="#"><img src="img/sprites/team2.png" alt="Team 2">Atletico M.</a></td>
                    <td><a href="#"><img src="img/sprites/team2.png" alt="Team 2">Austria Wien</a></td>
                </tr>
                <tr>
                    <td><a href="#"><img src="img/sprites/team5.png" alt="Team 5">Barcelona</a></td>
                    <td><a href="#"><img src="img/sprites/team5.png" alt="Team 5">Basel</a></td>
                    <td><a href="#"><img src="img/sprites/team5.png" alt="Team 5">Bayern Munich</a></td>
                </tr>
                <tr>
                    <td><a href="#"><img src="img/sprites/team4.png" alt="Team 4">Benfica</a></td>
                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/sprites/team4.png" alt="Team 4">Celtic <span class="icon-caret-right"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                            <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                            <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                            <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                            <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                        </ul>
                    </td>
                    <td><a href="#"><img src="img/sprites/team4.png" alt="Team 4">Chelsea</a></td>
                </tr>
                <tr>
                    <td><a href="#"><img src="img/sprites/psg.png" alt="PSG">Copenhagen</a></td>
                    <td><a href="#"><img src="img/sprites/psg.png" alt="PSG">Milan</a></td>
                    <td><a href="#"><img src="img/sprites/psg.png" alt="PSG">Anderlecht</a></td>
                </tr>
                <tr>
                    <td><a href="#"><img src="img/sprites/manchestercity.png" alt="Manchester City">FC Porto</a></td>
                    <td><a href="#"><img src="img/sprites/manchestercity.png" alt="Manchester City">Arsenal</a></td>
                    <td><a href="#"><img src="img/sprites/manchestercity.png" alt="Manchester City">Ajax</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>