<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-standing no-border">
            <tbody>
            <tr class="league-data active">
                <th colspan="19">
                    <div class="tools">
                            <span>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Ligue 2 </a>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="text-right">#</th>
                <th></th>
                <th>Team</th>
                <th></th>
                <th class="text-center">Pts</th>
                <th class="text-center"></th>
                <th class="text-center">P</th>
                <th class="text-center">W</th>
                <th class="text-center">D</th>
                <th class="text-center">L</th>
                <th class="text-center">Gf</th>
                <th class="text-center">Ga</th>
                <th class="text-center">+/-</th>
                <th colspan="6">Next Form</th>
            </tr>
            <tr class="playing live selected-row">
                <td class="number rank-standing-green">1</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>PSG</span></td>
                <td class="extra-points">+3</td>
                <td class="points">89</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">27</td>
                <td class="point">8</td>
                <td class="point">3</td>
                <td class="point">84</td>
                <td class="point">23</td>
                <td class="point">61</td>
                <td class="event-outcome event-outcome-live">live</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr>
                <td class="number rank-standing-green">2</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="extra-points"></td>
                <td class="points">89</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">27</td>
                <td class="point">8</td>
                <td class="point">3</td>
                <td class="point">84</td>
                <td class="point">23</td>
                <td class="point">61</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number rank-standing-clear-green">3</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>Lille</span></td>
                <td class="extra-points"></td>
                <td class="points">71</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">27</td>
                <td class="point">8</td>
                <td class="point">3</td>
                <td class="point">84</td>
                <td class="point">23</td>
                <td class="point">61</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number rank-standing-blue">4</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>St Etienne</span></td>
                <td class="extra-points"></td>
                <td class="points">69</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">27</td>
                <td class="point">8</td>
                <td class="point">3</td>
                <td class="point">84</td>
                <td class="point">23</td>
                <td class="point">61</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr class="live">
                <td class="number rank-standing-clear-blue">5</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/lyon.png" alt="Lyon"><span>Lyon</span></td>
                <td class="extra-points"></td>
                <td class="points">61</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">27</td>
                <td class="point">8</td>
                <td class="point">3</td>
                <td class="point">84</td>
                <td class="point">23</td>
                <td class="point">61</td>
                <td class="event-outcome event-outcome-live">live</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
            </tr>
            <tr>
                <td class="number">6</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>OM</span></td>
                <td class="extra-points"></td>
                <td class="points">60</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">16</td>
                <td class="point">12</td>
                <td class="point">10</td>
                <td class="point">53</td>
                <td class="point">40</td>
                <td class="point">13</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr>
                <td class="number">7</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Bardeaux</span></td>
                <td class="extra-points">+3</td>
                <td class="points">53</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">13</td>
                <td class="point">14</td>
                <td class="point">11</td>
                <td class="point">49</td>
                <td class="point">43</td>
                <td class="point">6</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number">8</td>
                <td class="stats extra-points"><span class="icon-arrow-up"></span>+1</td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Lorient</span></td>
                <td class="extra-points"></td>
                <td class="points">49</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">13</td>
                <td class="point">10</td>
                <td class="point">15</td>
                <td class="point">49</td>
                <td class="point">53</td>
                <td class="point">-5</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr>
                <td class="number">9</td>
                <td class="stats extra-points"><span class="icon-arrow-up"></span>+4</td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Reims</span></td>
                <td class="extra-points">+1</td>
                <td class="points">49</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">12</td>
                <td class="point">13</td>
                <td class="point">13</td>
                <td class="point">46</td>
                <td class="point">53</td>
                <td class="point">-7</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
            </tr>
            <tr>
                <td class="number">10</td>
                <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-2</span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Bastia</span></td>
                <td class="extra-points">+1</td>
                <td class="points">49</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">13</td>
                <td class="point">10</td>
                <td class="point">15</td>
                <td class="point">42</td>
                <td class="point">56</td>
                <td class="point">-14</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr>
                <td class="number">11</td>
                <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-1</span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Toulouse</span></td>
                <td class="extra-points"></td>
                <td class="points">48</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">12</td>
                <td class="point">12</td>
                <td class="point">14</td>
                <td class="point">44</td>
                <td class="point">52</td>
                <td class="point">-8</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number">12</td>
                <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-1</span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Nantes</span></td>
                <td class="extra-points"></td>
                <td class="points">46</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">11</td>
                <td class="point">13</td>
                <td class="point">14</td>
                <td class="point">47</td>
                <td class="point">45</td>
                <td class="point">2</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost" data-popover="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="bottom" data-content="
                        <table class='table matches my-games table-condensed no-border'>
                          <tbody>
                            <tr>
                              <td class='date'>02/04</td>
                              <td><img class='league' src='img/sprites/ligue1.png'></td>
                              <td class='team team1'><a href='#'>Nantes <img src='img/sprites/barcelona.png'></a></td>
                              <td class='score'><a href='#'><span class='home-score'>0</span> <span class='versus'> - </span> <span class='away'>1</span></a></td>
                              <td class='team team2'><a href='#'><img src='img/sprites/realmadrid.png'><b>Lille</b></a></td>
                            </tr>
                          </tbody>
                        </table>
                        " data-template="<div class='popover popover-standings'><div class='arrow'></div><div class='popover-title'></div><div class='popover-content'></div></div>">l</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number">13</td>
                <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-1</span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Rennes</span></td>
                <td class="extra-points"></td>
                <td class="points">46</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">12</td>
                <td class="point">10</td>
                <td class="point">14</td>
                <td class="point">47</td>
                <td class="point">45</td>
                <td class="point">2</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr>
                <td class="number">14</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Montpellier</span></td>
                <td class="extra-points">+1</td>
                <td class="points">44</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">11</td>
                <td class="point">11</td>
                <td class="point">15</td>
                <td class="point">54</td>
                <td class="point">45</td>
                <td class="point">6</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number rank-standing-clear-orange">15</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/fr.png" alt="OM"><span>Guingamp</span></td>
                <td class="extra-points"></td>
                <td class="points">42</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">8</td>
                <td class="point">18</td>
                <td class="point">12</td>
                <td class="point">45</td>
                <td class="point">53</td>
                <td class="point">-8</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr>
                <td class="number rank-standing-orange">16</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>Nice</span></td>
                <td class="extra-points"></td>
                <td class="points">42</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">11</td>
                <td class="point">9</td>
                <td class="point">18</td>
                <td class="point">34</td>
                <td class="point">42</td>
                <td class="point">-8</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number rank-standing-clear-red">17</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>Evian</span></td>
                <td class="extra-points"></td>
                <td class="points">42</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">12</td>
                <td class="point">6</td>
                <td class="point">20</td>
                <td class="point">30</td>
                <td class="point">44</td>
                <td class="point">-14</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-won">w</td>
            </tr>
            <tr>
                <td class="number rank-standing-red">18</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>Sochaux</span></td>
                <td class="extra-points"></td>
                <td class="points">40</td>
                <td class="point-detail"><span data-placement="bottom" data-toggle="tooltip" data-original-title="-6 point (Federation decision)">p</span></td>
                <td class="point">38</td>
                <td class="point">10</td>
                <td class="point">10</td>
                <td class="point">18</td>
                <td class="point">37</td>
                <td class="point">61</td>
                <td class="point">-24</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
            </tr>
            <tr>
                <td class="number rank-standing-red">19</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>Valenciennes</span></td>
                <td class="extra-points"></td>
                <td class="points">40</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">6</td>
                <td class="point">10</td>
                <td class="point">23</td>
                <td class="point">37</td>
                <td class="point">65</td>
                <td class="point">-28</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-won">w</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr>
                <td class="number rank-standing-red">20</td>
                <td class="stats"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/barcelona.png" alt="Barcelona"><span>Ajaccio</span></td>
                <td class="extra-points"></td>
                <td class="points">23</td>
                <td class="point-detail"></td>
                <td class="point">38</td>
                <td class="point">4</td>
                <td class="point">11</td>
                <td class="point">23</td>
                <td class="point">37</td>
                <td class="point">72</td>
                <td class="point">-35</td>
                <td class="event-outcome event-outcome-upcoming"><span class="glyphicon glyphicon-time"></span></td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-draw">d</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-lost">l</td>
                <td class="event-outcome event-outcome-lost">l</td>
            </tr>
            <tr class="league-data active">
                <th colspan="19">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i>  Classement</a>
                              <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <span class="country"><i class="country-flag _United_Nations"></i>International :</span>
                        <a href="#">Champions League</a>
                        <span class="match-name">: Groupe stage - Group C</span>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="text-right">#</th>
                <th></th>
                <th colspan="8">Team</th>
                <th class="text-center">Pts</th>
                <th class="text-center"></th>
                <th class="text-center">P</th>
                <th class="text-center">W</th>
                <th class="text-center">D</th>
                <th class="text-center">L</th>
                <th class="text-center">Gf</th>
                <th class="text-center">Ga</th>
                <th class="text-center">+/-</th>
            </tr>
            <tr>
                <td class="number rank-standing-green">1</td>
                <td class="stats"></td>
                <td class="team" colspan="7"><img src="img/sprites/psg.png" alt="PSG"><span>PSG</span></td>
                <td class="extra-points"></td>
                <td class="points">13</td>
                <td class="point-detail"></td>
                <td class="point">6</td>
                <td class="point">4</td>
                <td class="point">1</td>
                <td class="point">1</td>
                <td class="point">16</td>
                <td class="point">5</td>
                <td class="point">11</td>
            </tr>
            <tr>
                <td class="number rank-standing-green">2</td>
                <td class="stats"></td>
                <td class="team" colspan="7"><img src="img/sprites/psg.png" alt="PSG"><span>Olympiakos</span></td>
                <td class="extra-points"></td>
                <td class="points">10</td>
                <td class="point-detail"></td>
                <td class="point">6</td>
                <td class="point">3</td>
                <td class="point">1</td>
                <td class="point">2</td>
                <td class="point">10</td>
                <td class="point">8</td>
                <td class="point">2</td>
            </tr>
            <tr>
                <td class="number rank-standing-clear-blue">3</td>
                <td class="stats"></td>
                <td class="team" colspan="7"><img src="img/sprites/psg.png" alt="PSG"><span>benfica</span></td>
                <td class="extra-points"></td>
                <td class="points">10</td>
                <td class="point-detail"></td>
                <td class="point">6</td>
                <td class="point">3</td>
                <td class="point">1</td>
                <td class="point">2</td>
                <td class="point">8</td>
                <td class="point">8</td>
                <td class="point">0</td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td class="stats"></td>
                <td class="team" colspan="7"><img src="img/sprites/psg.png" alt="PSG"><span>anderlecht</span></td>
                <td class="extra-points"></td>
                <td class="points">1</td>
                <td class="point-detail"></td>
                <td class="point">6</td>
                <td class="point">0</td>
                <td class="point">1</td>
                <td class="point">5</td>
                <td class="point">4</td>
                <td class="point">17</td>
                <td class="point">-13</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>