<!-- Standing WITHOUT team forms and next match -->
<table class="table matches table-condensed table-striped table-standing no-border layout-fixed">
    <colgroup>
        <col class="number">
        <col class="rank-variation">
        <col class="team">
        <col class="extra-points">
        <col class="points">
        <col class="point-details">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
    </colgroup>
    <tbody>
    <tr class="league-data active">
        <th colspan="13">
            <div class="tools">
                <span>
                  <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                </span>
            </div>
            <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag fr"></i>France :</span>
                <a href="#">Ligue 2 </a>
            </div>
        </th>
    </tr>
    <tr>
        <th class="text-right">#</th>
        <th></th>
        <th>Team</th>
        <th></th>
        <th class="text-center">Pts</th>
        <th class="text-center"></th>
        <th class="text-center">P</th>
        <th class="text-center">W</th>
        <th class="text-center">D</th>
        <th class="text-center">L</th>
        <th class="text-center">Gf</th>
        <th class="text-center">Ga</th>
        <th class="text-center">+/-</th>
    </tr>
    <tr class="playing live selected-row">
        <td class="number rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">1</td>
        <td class="stats up"><span class="icon-arrow-up"></span>+3</td>
        <td class="team has-logo"><a href=""><img src="img/sprites/psg.png" alt="Barcelona"><span>PSG</span></a></td>
        <td class="extra-points">+3</td>
        <td class="points">89</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">2</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></a></td>
        <td class="extra-points"></td>
        <td class="points">89</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank-standing-clear-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">3</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/sprites/barcelona.png" alt="Barcelona"><span>Lille</span></a></td>
        <td class="extra-points"></td>
        <td class="points">71</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank-standing-blue" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">4</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/sprites/barcelona.png" alt="Barcelona"><span>St Etienne</span></a></td>
        <td class="extra-points"></td>
        <td class="points">69</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>

    <tr>
        <td class="number rank-standing-clear-blue" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">5</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Team with really long name</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>

    <tr class="live">
        <td class="number">6</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Sochaux</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">7</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Bordeaux</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">8</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Montpellier</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">9</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Nantes</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">10</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Guingamp</span></a></td>
        <td class="extra-points">+2</td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">11</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Rennes</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">12</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Bastia</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">13</td>
        <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-2</span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Reims</span></a></td>
        <td class="extra-points">+3</td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">14</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Caen</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number">15</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Lorient</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number rank-standing-clear-orange" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">16</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Nice</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"><span data-placement="bottom" data-toggle="tooltip" data-original-title="-6 point (Federation decision)">p</span></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number rank-standing-orange" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">17</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Evian</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number rank-standing-clear-red" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">18</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Toulouse</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number rank-standing-red" data-placement="top" data-toggle="tooltip" data-original-title="[relegation]" data-container="body">19</td>
        <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-2</span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Lens</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>
    <tr>
        <td class="number rank-standing-red" data-placement="top" data-toggle="tooltip" data-original-title="[relegation]" data-container="body">20</td>
        <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-2</span></td>
        <td class="team has-logo"><a href=""><img src="img/team-default.png" alt="Barcelona"><span>Metz</span></a></td>
        <td class="extra-points"></td>
        <td class="points">40</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">10</td>
        <td class="point">10</td>
        <td class="point">18</td>
        <td class="point">37</td>
        <td class="point">61</td>
        <td class="point">-24</td>
    </tr>

    </tbody>
</table>
