<div class="panel panel-condensed panel-default live-commented-matches">
    <div class="panel-heading">
        Live commented matches
    </div>
    <img class="preview" src="img/live-commented-matches.png" alt="Live">
    <div class="description">
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper</p>
    </div>
    <table class="table matches table-condensed table-striped no-border">
        <tr class="live">
            <td class="date">63'</td>
            <td class="team1"><a href="#">VA</a></td>
            <td class="score"><a href="#">1 - 2</a></td>
            <td class="team2"><a href="#">Monaco</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
        <tr>
            <td class="date">21h00</td>
            <td class="team1"><a href="#">Rennes</a></td>
            <td class="score none"><a href="#"><span class="icon-expand-h"></span></a></td>
            <td class="team2"><a href="#">Sochaux</a></td>
            <td class="commented"><a href="#"><span class="icon-mic"></span></a></td>
        </tr>
    </table>
</div>