<div class="matches-slider match-slider-inverse">
    <div class="toggle-container">
        <div class="slider-content">
            <div class="title live">
                <span class="h4"><span class="title">Live Now</span><span>My Leagues</span></span>
                <div class="controls"><span class="glyphicon glyphicon-cog"></span> <span class="glyphicon glyphicon-question-sign"></span></div>
            </div>
            <div class="prev control"><span class="icon-caret-left"></span></div>
            <div class="content">
                <div class="matches">
                    <div class="inner owl-carousel owl-theme">
                        <div class="match live">
                            <span class="status">22'</span>
                            <table>
                                <tr>
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Bas</td>
                                    <td class="score">1</td>
                                </tr>
                                <tr>
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Aja</td>
                                    <td class="score update">1</td>
                                </tr>
                            </table>
                        </div>
                        <div class="match">
                            <span class="status">FT</span>
                            <table>
                                <tr>
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Man</td>
                                    <td class="score">0</td>
                                </tr>
                                <tr class="win">
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Atl</td>
                                    <td class="score">2</td>
                                </tr>
                            </table>
                        </div>
                        <div class="match">
                            <span class="status">FT</span>
                            <table>
                                <tr>
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Nan</td>
                                    <td class="score">3</td>
                                </tr>
                                <tr class="win">
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Mar</td>
                                    <td class="score">4</td>
                                </tr>
                            </table>
                        </div>
                        <div class="match live">
                            <span class="status">45'+</span>
                            <table>
                                <tr>
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Man</td>
                                    <td class="score">0</td>
                                </tr>
                                <tr>
                                    <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                                    <td class="team">Atl</td>
                                    <td class="score">2</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="next control"><span class="icon-caret-right"></span></div>
        </div>
    </div>
    <div class="toggle-right"><span class="icon-caret-double-left"></span></div>
</div>