<div class="row">
    <div class="col-md-12">
        <h2>Rugby</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped other-sport sport-rugby">
            <tbody class="header">
            <tr class="league-data">
                <th colspan="8">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i>Classement</a>
                              <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Top 14</a>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>score</th>
                <th>ht</th>
                <th>tries</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="live">
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams">Bradford Bulls</td>
                <td class="score main">17</td>
                <td class="score">16</td>
                <td class="score">2</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Wakefield Trinity</td>
                <td class="score main">12</td>
                <td class="score">0</td>
                <td class="score">2</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><b>Castleford Tigers</b></td>
                <td class="score main">20</td>
                <td class="score">16</td>
                <td class="score">3</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Hull K R</td>
                <td class="score main">12</td>
                <td class="score">0</td>
                <td class="score">2</td>
            </tr>
            </tbody>
            <tbody class="header">
            <tr class="league-data">
                <th colspan="8">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i>  Classement</a>
                              <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Top 14</a>
                    </div>
                </th>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><i class="country-flag ie"></i><b>Leinster</b></td>
                <td class="score main">20</td>
                <td class="score">16</td>
                <td class="score">3</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag _Scotland"></i>Glasgow</td>
                <td class="score main">12</td>
                <td class="score">0</td>
                <td class="score">2</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><i class="country-flag es"></i>Bradford Bulls</td>
                <td class="score main">20</td>
                <td class="score">16</td>
                <td class="score">3</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag _Scotland"></i>Wekefield Trinity</td>
                <td class="score main">12</td>
                <td class="score">0</td>
                <td class="score">2</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag de"></i><b>Leinster</b></td>
                <td class="score main"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag _Scotland"></i>Glasgow</td>
                <td class="score main"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag de"></i>Bradford Bulls</td>
                <td class="score main"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag ie"></i>Wekefield Trinity</td>
                <td class="score main"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>