<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Arjen Robben goals
                <div class="tools">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-default spinner dropdown-toggle" data-toggle="dropdown"><span class="icon icon-expand"></span><span>All time </span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <table class="table matches table-condensed table-striped no-border goals-statistics">
                <tbody>
                <tr>
                    <th class="date" colspan="9">2014</th>
                </tr>
                <tr>
                    <th class="statistics-title" colspan="9"><span>ALL 2014 GOALS</span>
                        <div class="stat">
                            <span class="icon icon-football"></span>
                            <span class="result">7</span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="logo"><img src="img/sprites/nl.png" alt="Netherland"></td>
                    <td class="date">04/06</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/league4.png" alt="League"></td>
                    <td class="team team1"><a href="#">Netherland</a></td>
                    <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Wales</a></td>
                    <td class="minutes">20'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">17/05</td>
                    <td class="time">AET</td>
                    <td class="stage"><img src="img/sprites/league3.png" alt="League"> Final</td>
                    <td class="team team1"><a href="#">Borussia Dortmund</a></td>
                    <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#">Bayern Munich</a></td>
                    <td class="minutes">32'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">26/04</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/bundesliga.png" alt="Bundes Liga"> MD32</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">5</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#">Werder Bremen</a></td>
                    <td class="minutes">18'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">09/04</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ldc.png" alt="Ldc"> 1/4 - L2</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Manchester United</a></td>
                    <td class="minutes">87'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">01/03</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/bundesliga.png" alt="Bundes Liga"> MD23</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">5</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Schalke</a></td>
                    <td class="minutes">73'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">12/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/league3.png" alt="League"> 1/4</td>
                    <td class="team team1"><a href="#">Hamburg</a></td>
                    <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">5</span></a></td>
                    <td class="team team2"><a href="#">Bayern Munich</a></td>
                    <td class="minutes">62'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">02/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/bundesliga.png" alt="Bundes Liga"> MD19</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">5</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Frankfurt</a></td>
                    <td class="minutes">89'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <th class="date" colspan="9">2013</th>
                </tr>
                <tr>
                    <th class="statistics-title" colspan="9"><span>ALL 2013 GOALS</span>
                        <div class="stat">
                            <span class="icon icon-football"></span>
                            <span class="result">22</span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="logo"><img src="img/sprites/nl.png" alt="Netherland"></td>
                    <td class="date">04/06</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/league4.png" alt="League"></td>
                    <td class="team team1"><a href="#">Netherland</a></td>
                    <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Wales</a></td>
                    <td class="minutes">20'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">17/05</td>
                    <td class="time">AET</td>
                    <td class="stage"><img src="img/sprites/league3.png" alt="League"> Final</td>
                    <td class="team team1"><a href="#">Borussia Dortmund</a></td>
                    <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#">Bayern Munich</a></td>
                    <td class="minutes">32'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">26/04</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/bundesliga.png" alt="Bundes Liga"> MD32</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">5</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#">Werder Bremen</a></td>
                    <td class="minutes">18'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">09/04</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ldc.png" alt="Ldc"> 1/4 - L2</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Manchester United</a></td>
                    <td class="minutes">87'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">01/03</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/bundesliga.png" alt="Bundes Liga"> MD23</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">5</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Schalke</a></td>
                    <td class="minutes">73'</td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">12/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/league3.png" alt="League"> 1/4</td>
                    <td class="team team1"><a href="#">Hamburg</a></td>
                    <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">5</span></a></td>
                    <td class="team team2"><a href="#">Bayern Munich</a></td>
                    <td class="minutes">62'</td>
                    <td class="tools"></td>
                </tr>
                <tr>
                    <td class="logo"><img alt="fc" src="img/sprites/fc_bayern.png"></td>
                    <td class="date">02/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/bundesliga.png" alt="Bundes Liga"> MD19</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score"><a href="#"><span class="home-score">5</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Frankfurt</a></td>
                    <td class="minutes">89'</td>
                    <td class="tools"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>