<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default match-report">
            <div class="panel-heading">
                Match report
            </div>
            <table class="table table-condensed table-striped no-border">
                <thead>
                <tr>
                    <th class="text-center team" colspan="2">Real Madrid</th>
                    <th class="text-center middle"><span class="icon icon-clock"></span>Time</th>
                    <th class="text-center team" colspan="2">Bayern Munich</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th colspan="5" class="text-center">1st Half</th>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">6'</td>
                    <td class="icon"><span class="sprite-icons yellow-card"></span></td>
                    <td class="team away">David Alaba</td>
                </tr>
                <tr>
                    <td class="team home">Cristiano Ronaldo (Penalty)</td>
                    <td class="icon"><span class="sprite-icons penalty-goal"></span></td>
                    <td class="striped">6'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home"><a href="#" class="replay"><span class="icon icon-play"></span></a>Cristiano Ronaldo</td>
                    <td class="icon"><span class="sprite-icons goal"></span></td>
                    <td class="striped">14'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home">Pepe</td>
                    <td class="icon"><span class="sprite-icons yellow-card"></span></td>
                    <td class="striped">26'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">27'</td>
                    <td class="icon"><span class="sprite-icons penalty-missed"></span></td>
                    <td class="team away">Arjen Robben (Penalty)</td>
                </tr>
                <tr>
                    <th colspan="5" class="text-center">2nd Half</th>
                </tr>
                <tr>
                    <td class="team home">Alvaro Arbeloa</td>
                    <td class="icon"><span class="sprite-icons yellow-card"></span></td>
                    <td class="striped">59'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home">KakaA.<br>Di Maria</td>
                    <td class="icon"><span class="sprite-icons player-change"></span></td>
                    <td class="striped">75'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">90 + 2'</td>
                    <td class="icon"><span class="sprite-icons yellow-card"></span></td>
                    <td class="team away">Arjen Robben</td>
                </tr>
                <tr>
                    <th colspan="5" class="text-center">Extra Time 1st Half</th>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">95'</td>
                    <td class="icon"><span class="sprite-icons player-change"></span></td>
                    <td class="team away">T. Muller<br>F. Ribery</td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">102'</td>
                    <td class="icon"><span class="sprite-icons yellow-card"></span></td>
                    <td class="team away">Luiz Gustavo</td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">104'</td>
                    <td class="icon"><span class="sprite-icons yellow-card"></span></td>
                    <td class="team away">Holger Badstuber</td>
                </tr>
                <tr>
                    <th colspan="5" class="text-center">Extra Time Second Half</th>
                </tr>
                <tr>
                    <td class="team home">G. HiguainK.<br>Benzema</td>
                    <td class="icon"><span class="sprite-icons player-change"></span></td>
                    <td class="striped">107'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home">E. Granero<br>M. Ozil</td>
                    <td class="icon"><span class="sprite-icons player-change"></span></td>
                    <td class="striped">111'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home">Esteban Granero</td>
                    <td class="icon"><span class="sprite-icons yellow-card"></span></td>
                    <td class="striped">116'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <th colspan="5" class="text-center">Penalty Shootout</th>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">121'</td>
                    <td class="icon"><span class="sprite-icons shootout-goal"></span></td>
                    <td class="team away">David Alaba</td>
                </tr>
                <tr>
                    <td class="team home">Cristiano Ronaldo</td>
                    <td class="icon"><span class="sprite-icons shootout-missed"></span></td>
                    <td class="striped">121'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">121'</td>
                    <td class="icon"><span class="sprite-icons shootout-goal"></span></td>
                    <td class="team away">Mario Gomez</td>
                </tr>
                <tr>
                    <td class="team home">Kaka</td>
                    <td class="icon"><span class="sprite-icons shootout-missed"></span></td>
                    <td class="striped">121'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">121'</td>
                    <td class="icon"><span class="sprite-icons shootout-missed"></span></td>
                    <td class="team away">Toni Kroos</td>
                </tr>
                <tr>
                    <td class="team home">Xabi Alonso</td>
                    <td class="icon"><span class="sprite-icons shootout-goal"></span></td>
                    <td class="striped">121'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">121'</td>
                    <td class="icon"><span class="sprite-icons shootout-missed"></span></td>
                    <td class="team away">Philipp Lahm</td>
                </tr>
                <tr>
                    <td class="team home">Sergio Ramos</td>
                    <td class="icon"><span class="sprite-icons shootout-missed"></span></td>
                    <td class="striped">121'</td>
                    <td class="icon"></td>
                    <td class="team away"></td>
                </tr>
                <tr>
                    <td class="team home"></td>
                    <td class="icon"></td>
                    <td class="striped">121'</td>
                    <td class="icon"><span class="sprite-icons shootout-missed"></span></td>
                    <td class="team away">Bastian Schweinsteiger</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>