<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default match-information">
            <div class="panel-heading">
                <div class="panel-title"><img alt="Ligue" src="img/sprites/ldc.png"><a href="#">Champions League</a> / <a href="#">Group Stage - Matchday 12 - Gr...</a></div>
                <div class="tools">
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs" type="button">1st Leg</button>
                        <button class="btn btn-primary btn-xs" type="button">Default</button>
                    </div>
                    <a href="#" class="icon"><span class="icon icon-open icon-lg"></span></a>
                    <a href="#" class="icon"><span class="icon icon-bell icon-lg"></span></a>
                </div>
            </div>
            <div class="match-info">
                <div class="date"><span class="icon icon-default icon-calendar"></span> Wednesday 25 April 2012 - <strong>20:45</strong></div>
                <div class="pull-right">
                    <span class="referee">Referee : Viktor Kassai</span>
                    <span class="stadium">Stadium : Estadio Santiago...</span>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="team home-team">
                        <div class="row">
                            <div class="col-md-2 logo"><a href="#"><img src="img/sprites/realmadrid.png" alt="Real Madrid"></a></div>
                            <div class="col-md-10 name"><a href="#" class="star"><span class="glyphicon glyphicon-star"></span></a><a href="#">Real Madrid</a></div>
                        </div>
                    </th>
                    <th class="score"><span class="home-score">2</span><span class="versus">-</span><span class="away-score">1</span></th>
                    <th class="team away-team">
                        <div class="row">
                            <div class="col-md-10 name"><a href="#">Bayern Munich<span class="qualified"><i class="icon-tick"></i>Qualified</span></a><a href="#" class="star"><span class="glyphicon glyphicon-star"></span></a></div>
                            <div class="col-md-2 logo"><a href="#"><img src="img/sprites/fc_bayern.png" alt="FC Bayern"></a></div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="team-information home">
                        <div class="standings">
                            <table class="table table-condensed no-border">
                                <tr>
                                    <td class="event-outcome event-outcome-won">w</td>
                                    <td class="event-outcome event-outcome-lost" data-popover="popover" data-container=".match-information .standings" data-html="true" data-placement="bottom" data-content="
                                    <table class='table my-games table-condensed table-striped no-border'>
                                      <tbody>
                                        <tr class='event-lost'>
                                          <td class='date'>02/04</td>
                                          <td><img class='league' src='img/sprites/ldc.png'></td>
                                          <td class='team team team1'><a href='#'><b>Barcelona</b> <img src='img/sprites/barcelona.png'></a></td>
                                          <td class='score'><a href='#'><span class='home-score'>2</span> <span class='versus'> - </span> <span class='away'>1</span></a></td>
                                          <td class='team team team2'><a href='#'><img src='img/sprites/realmadrid.png'><b>Real Madrid</b></a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    ">l</td>
                                    <td class="event-outcome event-outcome-draw">d</td>
                                    <td class="event-outcome event-outcome-won">w</td>
                                    <td class="event-outcome event-outcome-won">w</td>
                                </tr>
                                <tr>
                                    <td class="position" colspan="5">3<sup>rd</sup></td>
                                </tr>
                            </table>
                        </div>
                        <div class="faults">
                            <span class="sprite-icons yellow-red-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-red-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-red-card"></span>
                            <span class="sprite-icons red-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                        </div>
                        <ul class="players">
                            <li>Cristiano Ronaldo (6’)<span class="sprite-icons penalty-goal"></span></li>
                            <li>Cristiano Ronaldo (14’)<span class="sprite-icons goal"></span></li>
                        </ul>
                    </td>
                    <td class="middle">
                        <div class="score">
                            <div class="title">Aggregate</div>
                            <span class="home-score">3</span>
                            <span class="versus">-</span>
                            <span class="away-score">3</span>
                        </div>
                        <div class="score">
                            <div class="title">Pens</div>
                            <span class="home-score">1</span>
                            <span class="versus">-</span>
                            <span class="away-score success">3</span>
                        </div>
                        <div class="title">Pen</div>
                        <div class="time-zone">Ht<span class="score">1 - 0</span></div>
                        <div class="time-zone">Reg<span class="score">2 - 1</span></div>
                        <div class="time-zone">E.t.<span class="score">2 - 1</span></div>
                    </td>
                    <td class="team-information away">
                        <div class="faults">
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                            <span class="sprite-icons yellow-card"></span>
                        </div>
                        <div class="standings">
                            <table class="table table-condensed no-border">
                                <tr>
                                    <td class="event-outcome event-outcome-won">w</td>
                                    <td class="event-outcome event-outcome-lost">l</td>
                                    <td class="event-outcome event-outcome-draw">d</td>
                                    <td class="event-outcome event-outcome-won">w</td>
                                    <td class="event-outcome event-outcome-won">w</td>
                                </tr>
                                <tr>
                                    <td class="position" colspan="5">1<sup>st</sup></td>
                                </tr>
                            </table>
                        </div>
                        <ul class="players">
                            <li><span class="sprite-icons penalty-goal"></span>Arjen Robben (27’)</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>