<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                PSG fixtures and result
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-primary active">Main</a>
                            <a class="btn btn-default">Championship Group</a>
                            <a class="btn btn-default">Europa League</a>
                            <a class="btn btn-default">Europa League</a>
                            <a class="btn btn-default"><span class="icon-caret-down"></span></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default large-icon"><span class="icon icon-calendar"></span> <span class="icon-caret-down"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-xs btn-group-justified">
                            <a class="btn btn-default">1st round</a>
                            <a class="btn btn-primary active">2nd round</a>
                            <a class="btn btn-default">3rd round</a>
                            <a class="btn btn-default">Playoffs</a>
                            <a class="btn btn-default">Final</a>
                            <a class="btn btn-default"><span class="icon-caret-down"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <button type="button" class="btn btn-link btn-xs dropdown-toggle">All</button>
                    <button type="button" class="btn btn-link btn-xs dropdown-toggle">1st leg</button>
                    <button type="button" class="btn btn-link btn-xs dropdown-toggle">2nd leg<span class="icon-caret-down"></span></button>
                </div>
            </div>
            <table class="table matches table-condensed table-striped">
                <thead class="league-data">
                <tr>
                    <th colspan="8">
                        <div class="tools">
                              <span>
                                <a href="#"><i class="icon-standings"></i>Classement</a>
                                <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                              </span>
                        </div>
                        <div class="title">
                            <span class="country"><i class="country-flag _United_Nations"></i>International :</span>
                            <a href="#">Champions League</a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="3" class="text-center"><b>Tuesday 16 july 2013</b></th>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <td><span class="hour">17:30</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#"><b>Plzen</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">4</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
                    <td class="team team2"><a href="#">Zeljeznicar</a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">18:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">BATE Borisov</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#"><b>Karagandy</b></a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">18:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#"><b>Dinamo Tbilisi</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">6</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">EB/Streymur</a></td>
                    <td class="half-time-score">(2 - 1)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">19:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Sheriff</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Sutjeska</a></td>
                    <td class="half-time-score">(1 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">19:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Ekranas</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#"><b>Hafnarfjordur</b></a></td>
                    <td class="half-time-score">(0 - 1)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">19:30</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Birkikara</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Maribor</a></td>
                    <td class="half-time-score">(1 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">19:30</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Fola</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">5</span></a></td>
                    <td class="team team2"><a href="#"><b>Dinamo Zagreb</b></a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">19:45</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#"><b>Steaua Buceresti</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Vardar Skopje</a></td>
                    <td class="half-time-score">(3 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="3" class="text-center"><b>Wednesday 17 july 2013</b></th>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <td><span class="hour">15:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Shirak</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Parizan Belgrad</a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">17:30</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Helsinki</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Nomme Kalju</a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">18:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Neftchi</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Skenderbeu</a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">19:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Sligo Rovers</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#"><b>Molde</b></a></td>
                    <td class="half-time-score">(1 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">19:00</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#"><b>Elfsborg</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">7</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Daugava Daugavpils</a></td>
                    <td class="half-time-score">(1 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">20:15</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">TNS</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
                    <td class="team team2"><a href="#">Legia</a></td>
                    <td class="half-time-score">(1 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">20:15</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#"><span class="label red-card">1</span>Slovan Branti</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Ludogorests R.</a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">20:30</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Gyor</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#"><b>Maccabi Tel Aviv</b></a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><span class="hour">20:45</span></td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Cliftonville</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#">Celtic</a></td>
                    <td class="half-time-score">(2 - 0)</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a class="fav-match" href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>