<div class="row">
    <div class="col-md-12">
        <div class="odds-selector">
            <div class="content">
                <p>Show odds from :</p>
            </div>
            <div class="button">
                <div class="btn-group">
                    <a class="btn btn-default bet-preview"><img src="img/sprites/bonus2.png" alt="Bwin"></a>
                    <a class="btn btn-default bet-name"><span class="icon-caret-down"></span>Bwin</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table matches my-games odds table-striped table-condensed no-border">
            <thead  class="league-data">
            <tr>
                <th colspan="10"><div class="title"><span class="icon"><i class="icon-bell"></i></span><a href="#">My Games </a><a class="icon-help" href="#" data-toggle="popover" data-popover="popover" data-trigger="hover" data-placement="right" data-content="[Translation to create] Have your games always showing up first here by clicking the star next to each game or by selecting your favorite team." data-container="body"><span class="glyphicon glyphicon-question-sign"></span></a></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th colspan="3">Status</th>
                <th></th>
                <th>Score</th>
                <th></th>
                <th class="text-center">1</th>
                <th class="text-center">x</th>
                <th class="text-center">2</th>
                <th></th>
            </tr>
            <tr>
                <td><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                <td><b>13h30</b></td>
                <td>Term.</td>
                <td class="team team1"><a href="#"><span>Barcelona</span><img src="img/sprites/barcelona.png" alt="Barcelona"></a></td>
                <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                <td class="team team2"><a href="#"><img alt="Team 5" src="img/sprites/team5.png"><span>Atletico Madrid</span></a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-stats"></i></a>
                    <a class="active" href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                <td><b>20h45</b></td>
                <td><a href="#">Parier</a></td>
                <td class="team team1"><a href="#"><span>PSG</span><img src="img/sprites/psg.png" alt="PSG"></a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#"><img alt="Team 5" src="img/sprites/team5.png"><span>Montpellier</span></a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-stats"></i></a>
                    <a class="active" href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                <td><b>21h30</b></td>
                <td><a href="#">Parier</a></td>
                <td class="team team1"><a href="#"><span>Udinese</span><img src="img/sprites/barcelona.png" alt="Barcelona"></a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#"><img alt="Team 5" src="img/sprites/team5.png"><span>Sampdoria</span></a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-stats"></i></a>
                    <a class="active" href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table matches odds table-condensed table-striped no-border">
            <tbody>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Ligue 2 </a>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Time</th>
                <th>Status</th>
                <th></th>
                <th>Score</th>
                <th></th>
                <th class="text-center">1</th>
                <th class="text-center">x</th>
                <th class="text-center">2</th>
                <th></th>
            </tr>
            <tr>
                <td><span class="hour">20h00</span></td>
                <td><a href="#">Parier</a></td>
                <td class="team team1"><a href="#">Caen</a></td>
                <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                <td class="team team2"><a href="#">Nimes</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-stats"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a class="live" href="#"><i class="icon-standings"></i>LIVE Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag dz"></i>Algeria :</span>
                        <a href="#">Algeria Nedjma Championnat</a>
                    </div>
                </th>
            </tr>
            <tr class="live">
                <td><span class="hour">18h00</span></td>
                <td class="time">104+</td>
                <td class="team team1"><a href="#">Ain Fekroun</a></td>
                <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                <td class="team team2"><a href="#">CR Belouizdad</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-stats"></i></a>
                    <a class="active" href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">18h00</span></td>
                <td class="time"> TAB</td>
                <td class="team team1"><a href="#">USM El Harrach</a></td>
                <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
                <td class="team team2 win"><a href="#">CABBA <span class="qualified">*</span></a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">18h00</span></td>
                <td class="time">FT</td>
                <td class="team team1 win"><a href="#">MO Béjaia</a></td>
                <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                <td class="team team2"><a href="#">JS Kabylie</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr class="live">
                <td><span class="hour">18h00</span></td>
                <td class="time live">57'</td>
                <td class="team team1"><a href="#">JS Saoura</a></td>
                <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                <td class="team team2 win"><a href="#">MC Alger</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">18h00</span></td>
                <td class="time">FT</td>
                <td class="team team1"><a href="#">MC El Eulma</a></td>
                <td class="score"><a href="#"><span class="home-score">10</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
                <td class="team team2"><a href="#">ES Setif</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">18h00</span></td>
                <td class="time">HT</td>
                <td class="team team1"><a href="#">CS Constantine</a></td>
                <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                <td class="team team2"><a href="#">ASO Chlef</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="javascript:;" data-popover="popover" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<img src='img/sprites/bonus3.png'>" data-html="true">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">18h00</span></td>
                <td class="time"></td>
                <td class="team team1"><a href="#">USM Alger</a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#">Arbaa</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">18h00</span></td>
                <td class="time"></td>
                <td class="team team1"><a href="#">MC Oran</a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#">JSM Bejaia</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag at"></i>Austria :</span>
                        <a href="#">Austria Regionalliga</a>
                    </div>
                </th>
            </tr>
            <tr>
                <td><span class="hour">20h45</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Leyton Orient</a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#">Peterborough</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag at"></i>Austria :</span>
                        <a href="#">Austria Regionalliga</a>
                    </div>
                </th>
            </tr>
            <tr>
                <td><span class="hour">20h45</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Defensores de Bel.</a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#">CD UAI Urquiza</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">20h45</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Flandria</a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#">Club Atletico Est.</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">20h45</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Barracas Central</a></td>
                <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                <td class="team team2"><a href="#" >Colegiales</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">20h45</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Chacarita Juniors</a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#">Dep. Merlo</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td><span class="hour">20h45</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Los Andes</a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="team team2"><a href="#">Deportivo Armenio</a></td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="tools">
                    <a href="#"><i class="icon-bulb"></i></a>
                    <a href="#"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Ligue 2 </a>
                    </div>
                </th>
            </tr>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Ligue 2 </a>
                    </div>
                </th>
            </tr>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Ligue 2 </a>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>