<div class="matches-slider" id="matches-slider1">
    <div class="prev control"><span class="icon-caret-left"></span></div>
    <div class="content">
        <div class="matches">
            <div class="inner owl-carousel owl-theme">
                <div class="match">
                    <span class="status">Term</span>
                    <table>
                        <tr class="win">
                            <td class="team">Tfc</td>
                            <td class="score">3</td>
                        </tr>
                        <tr>
                            <td class="team">Va</td>
                            <td class="score">1</td>
                        </tr>
                    </table>
                </div>
                <div class="match">
                    <span class="status">Term</span>
                    <table>
                        <tr>
                            <td class="team">Soc</td>
                            <td class="score">0</td>
                        </tr>
                        <tr class="win">
                            <td class="team">Etg</td>
                            <td class="score">3</td>
                        </tr>
                    </table>
                </div>
                <div class="match">
                    <span class="status">Term</span>
                    <table>
                        <tr class="win">
                            <td class="team">Rea</td>
                            <td class="score">2</td>
                        </tr>
                        <tr>
                            <td class="team">Bay</td>
                            <td class="score">1</td>
                        </tr>
                    </table>
                </div>
                <div class="match highlight live">
                    <span class="status">75'</span>
                    <table>
                        <tr>
                            <td class="team">Rei</td>
                            <td class="score update">1</td>
                        </tr>
                        <tr>
                            <td class="team">Aca</td>
                            <td class="score">3</td>
                        </tr>
                    </table>
                </div>
                <div class="match">
                    <span class="status">TAB</span>
                    <table>
                        <tr>
                            <td class="team">Nice</td>
                            <td class="score">0</td>
                        </tr>
                        <tr class="win">
                            <td class="team">Lyon</td>
                            <td class="score">1</td>
                        </tr>
                    </table>
                </div>
                <div class="match">
                    <span class="status">Term</span>
                    <table>
                        <tr class="win">
                            <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                            <td class="team">Asm</td>
                            <td class="score">3</td>
                        </tr>
                        <tr>
                            <td class="flag"><img src="img/sprites/manchestercity.png" alt="Manchester City"></td>
                            <td class="team">Bor</td>
                            <td class="score">1</td>
                        </tr>
                    </table>
                </div>
                <div class="match live">
                    <span class="status">26'</span>
                    <table>
                        <tr>
                            <td class="team">OM</td>
                            <td class="score">1</td>
                        </tr>
                        <tr>
                            <td class="team">GUI</td>
                            <td class="score">1</td>
                        </tr>
                    </table>
                </div>
                <div class="match paused">
                    <span class="status">HT</span>
                    <table>
                        <tr>
                            <td class="team">OM</td>
                            <td class="score">1</td>
                        </tr>
                        <tr>
                            <td class="team">GUI</td>
                            <td class="score">1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="next control"><span class="icon-caret-right"></span></div>
</div>