<div class="panel panel-default odds-selector">
    <div class="content">
        <p>Show odds from :</p>
    </div>
    <div class="button">
        <div class="btn-group">
            <a class="btn btn-default bet-preview"><img src="{{ ImageDirPath }}sprites/bonus2.png" alt="Bwin"></a>
            <a class="btn btn-default bet-name"><span class="icon-caret-down"></span>Bwin</a>
        </div>
    </div>
</div>

