<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                PSG fixtures and result
            </div>
            <table class="table matches table-condensed table-striped team-results no-border">
                <thead class="league-data">
                <tr>
                    <th colspan="9">
                        <div class="title">
                            <span class="country"><img src="img/sprites/psg.png" alt="PSG"></span>
                            <a href="#">PSG results and fixtures</a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won">W</td>
                    <td><span class="date">02/04</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1"><a href="#"><b>PSG</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Chelsea</a></td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-mic"></i></a>
                        <a href="#" class="available"><i class="glyphicon glyphicon-comment"></i><span class="comment-number">24</span></a>
                        <a href="#" class="available"><i class="icon-prono"></i></a>
                        <a href="#" class="available"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won">W</td>
                    <td><span class="date">05/04</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ligue1.png" alt="Ligue 1">MD32</td>
                    <td class="team team1"><a href="#"><b>PSG</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Reims</a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-lost">
                    <td class="event-outcome event-outcome-lost">L</td>
                    <td><span class="date">08/04</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ldc.png" alt="Ldc">1/4 - L2</td>
                    <td class="team team1"><a href="#"><b>Chelsea</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">PSG</a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-lost">
                    <td class="event-outcome event-outcome-lost">L</td>
                    <td><span class="date">13/04</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ligue1.png" alt="Ligue 1">MD33</td>
                    <td class="team team1"><a href="#"><b>Lyon</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">PSG</a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won">W</td>
                    <td><span class="date">19/04</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/cdl.png" alt="Cdl">Final</td>
                    <td class="team team1"><a href="#">Lyon</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#"><b>PSG</b></a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won">W</td>
                    <td><span class="date">23/04</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ligue1.png" alt="Ligue 1">MD34</td>
                    <td class="team team1"><a href="#"><b>PSG</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Evian<span class="label red-card">1</span></a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-draw">
                    <td class="event-outcome event-outcome-draw">D</td>
                    <td><span class="date">27/04</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ligue1.png" alt="Ligue 1">MD35</td>
                    <td class="team team1"><a href="#">Sochaux</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">PSG</a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-lost">
                    <td class="event-outcome event-outcome-lost">L</td>
                    <td><span class="date">07/05</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ligue1.png" alt="Ligue 1">MD36</td>
                    <td class="team team1"><a href="#">PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#"><b>Rennes</b></a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won">W</td>
                    <td><span class="date">10/05</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ligue1.png" alt="Ligue 1">MD37</td>
                    <td class="team team1"><a href="#"><span class="label red-card">1</span>Lille</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
                    <td class="team team2"><a href="#"><b>PSG</b></a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won">W</td>
                    <td><span class="date">17/05</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/ligue1.png" alt="Ligue 1">MD38</td>
                    <td class="team team1"><a href="#"><b>PSG</b></a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">4</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                    <td class="team team2"><a href="#">Montpellier</a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-play"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-draw">
                    <td class="event-outcome event-outcome-draw">D</td>
                    <td><span class="hour">19:30</span></td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="img/sprites/friendly-match.png" alt="Friendly Match"></td>
                    <td class="team team1"><a href="#">Kitchee</a></td>
                    <td class="score"><a href="#" class="has-score-details"> <span class="versus"> - </span></a></td>
                    <td class="team team2"><a href="#">PSG</a></td>
                    <td class="tools">
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                    <td class="tools favorite">
                        <a href="#" class="available fav-match"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="text-center view-more"><a href="#">View all matches</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>