<div class="panel panel-default stats">
    <div class="panel-heading">
        Discipline Stats
    </div>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Cards</th>
            <th class="text-center"><span class="sprite-icons yellow-card"></span></th>
            <th class="text-center"><span class="sprite-icons red-card"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Total</td>
            <td class="date">81</td>
            <td class="date">4</td>
        </tr>
        <tr>
            <td>Avarage / Game</td>
            <td class="date">2.13</td>
            <td class="date">0.11</td>
        </tr>
        </tbody>
    </table>
</div>