<div class="panel panel-default team-over-under">
    <div class="panel-heading">
        O/U 2,5 Goals PSG
    </div>
    <div class="panel-body">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary active" href="#">2014 / 2015</a>
            <a class="btn btn-default" href="#">2013 / 2014</a>
        </div>

        <div id="chart_OU"></div>
    </div>
</div>