<div class="panel panel-default team-form">
    <div class="panel-heading">
        Real Madrid Form
        <div class="tools">
            <ul class="nav nav-pills teams">
                <li><img alt="Real" src="img/sprites/realmadrid.png"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 navigation">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default">All</a>
                <a class="btn btn-default">Home</a>
                <a class="btn btn-primary active">Away</a>
                <a class="btn btn-default">Next</a>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="teams">
            <table class="circles">
                <tr>
                    <td class="circle-info"><div class="team first"><div class="circle success"><span>4</span></div></div></td>
                    <td class="circle-info"><div class="team third"><div class="circle gray3"><span>1</span></div></div></td>
                    <td class="circle-info"><div class="team fourth"><div class="circle danger"><span>0</span></div></div></td>
                </tr>
                <tr>
                    <td class="title"><span class="win">WIN</span></td>
                    <td class="title"><span class="draw">DRAW</span></td>
                    <td class="title"><span class="lost">LOST</span></td>
                </tr>
            </table>
        </div>
        <table class="table matches table-condensed table-striped no-border">
            <tbody>
            <tr class="event-draw">
                <td class="event-outcome event-outcome-draw">D</td>
                <td class="date">21h00</td>
                <td class="logo"><img src="img/sprites/cup2.png" alt="Cup"></td>
                <td class="team team1">Sevilla</td>
                <td class="score">0 - 0</td>
                <td class="team team2">Villar.</td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won">W</td>
                <td class="date">21h00</td>
                <td class="logo"><img src="img/sprites/eurocoup.png" alt="Europa League"></td>
                <td class="team team1 win">Sevilla</td>
                <td class="score">2 - 0</td>
                <td class="team team2">Valenc.</td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won">W</td>
                <td class="date">21h00</td>
                <td class="logo"><img src="img/sprites/cup2.png" alt="Cup"></td>
                <td class="team team1 win">Sevilla</td>
                <td class="score">4 - 0</td>
                <td class="team team2">Granada</td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won">W</td>
                <td class="date">21h00</td>
                <td class="logo"><img src="img/sprites/eurocoup.png" alt="Europa League"></td>
                <td class="team team1 win">Sevilla</td>
                <td class="score">4 - 1</td>
                <td class="team team2">Porto</td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won">W</td>
                <td class="date">21h00</td>
                <td class="logo"><img src="img/sprites/cup2.png" alt="Cup"></td>
                <td class="team team1 win">Sevilla</td>
                <td class="score">4 - 1</td>
                <td class="team team2">Espany.</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>Team profile</a>
    </div>
</div>