<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default head-to-head">
            <div class="panel-heading">
                Head to Head
                <div class="tools">
                    <ul class="nav nav-pills teams">
                        <li><img alt="Real" src="img/sprites/realmadrid.png"></li>
                        <li><img alt="fc" src="img/sprites/fc_bayern.png"></li>
                    </ul>
                </div>
            </div>
            <div class="teams">
                <table class="circles">
                    <tr>
                        <td class="circle-info"><div class="team first"><div class="circle gray1"><span>4</span></div></div></td>
                        <td class="circle-info"><div class="team third"><div class="circle gray3"><span>1</span></div></div></td>
                        <td class="circle-info"><div class="team second"><div class="circle gray2"><span>2</span></div></div></td>
                    </tr>
                    <tr>
                        <td class="title"><span>REAL M.</span></td>
                        <td class="title"><span>DRAW</span></td>
                        <td class="title"><span>BAYERN</span></td>
                    </tr>
                </table>
            </div>
            <table class="table matches table-condensed table-striped no-border">
                <tbody>
                <tr>
                    <td class="date">17/04/12</td>
                    <td class="logo"><img src="img/sprites/cup2.png" alt="Cup"></td>
                    <td class="stage">MD16</td>
                    <td class="team team1">Bayern</td>
                    <td class="score">2 - 1</td>
                    <td class="team team2">Real.</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                        <a href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">13/08/10</td>
                    <td class="logo"><img src="img/sprites/eurocoup.png" alt="Europa League"></td>
                    <td class="stage">MD25</td>
                    <td class="team team1">Bayern</td>
                    <td class="score">0 - 0</td>
                    <td class="team team2">Real.*</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                        <a href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">07/03/07</td>
                    <td class="logo"><img src="img/sprites/cup2.png" alt="Cup"></td>
                    <td class="stage">MD7</td>
                    <td class="team team1">Bayern</td>
                    <td class="score">2 - 1</td>
                    <td class="team team2">Real.</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                        <a href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">20/02/07</td>
                    <td class="logo"><img src="img/sprites/eurocoup.png" alt="Europa League"></td>
                    <td class="stage">MD12</td>
                    <td class="team team1">Real.</td>
                    <td class="score">3 - 2</td>
                    <td class="team team2">Bayern</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                        <a href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">10/03/04</td>
                    <td class="logo"><img src="img/sprites/cup2.png" alt="Cup"></td>
                    <td class="stage">MD14</td>
                    <td class="team team1">Real.</td>
                    <td class="score">1 - 0</td>
                    <td class="team team2">Bayern</td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                        <a href="#"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <a href="#"><span class="icon-caret-right"></span>All Stats</a>
            </div>
        </div>
    </div>
</div>