<div class="panel panel-default goal-stats">
    <div class="panel-heading">
        Goal Stats
    </div>
    <table class="table table-condensed table-striped">
        <tbody>
        <tr>
            <th class="text-right" colspan="2"><b>69</b> Scored</th>
            <th class="text-center">Min</th>
            <th colspan="2"><b>23</b> Conceded</th>
        </tr>
        <tr>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                </div>
            </td>
            <td class="percent">8</td>
            <td class="text-center striped">1 - 15</td>
            <td class="percent">3</td>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                </div>
            </td>
            <td class="percent">9</td>
            <td class="text-center striped">16 - 30</td>
            <td class="percent">2</td>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
                </div>
            </td>
            <td class="percent">10</td>
            <td class="text-center striped">31 - 45</td>
            <td class="percent">6</td>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="5" class="text-center"><b>Half time</b></th>
        </tr>
        <tr>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 45%"></div>
                </div>
            </td>
            <td class="percent">9</td>
            <td class="text-center striped">46 - 60</td>
            <td class="percent">3</td>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 15%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                </div>
            </td>
            <td class="percent">17</td>
            <td class="text-center striped">61 - 75</td>
            <td class="percent">3</td>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 15%"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 70%"></div>
                </div>
            </td>
            <td class="percent">16</td>
            <td class="text-center striped">76 - 90+</td>
            <td class="percent">6</td>
            <td class="prog">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>