<div class="panel panel-condensed panel-default top-competitions-block">
    <div class="panel-heading">
        Top Competitions SEO
    </div>
    {% include 'blocks/sports/listings/match_listing_sidebar_top_20.html.twig' %}
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>Full Table</a>
    </div>
</div>