<div class="panel panel-condensed panel-default top-competitions-block">
    <div class="panel-heading">
        <div class="tools">
            <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
        Top Competitions
    </div>
    <ul class="nav nav-pills nav-justified">
        <li class="active">
            <a href="#"><img src="img/sprites/ligue1.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/bundesliga.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/ligue2.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/premiereleague.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/seriea.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/ldc.png" alt="Ligue"></a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="icon-caret-down"></span></a>
            <ul role="menu" class="dropdown-menu pull-right">
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
                <li><a href="#">Option 3</a></li>
            </ul>
        </li>
    </ul>
    <div class="panel-content">
        <div class="active-ligue">
            <img class="ligue-logo" src="img/sprites/ligue1.png" alt="ligue">
                        <span class="h4">
                          <span>Ligue 1</span>
                          37th matchday
                        </span>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" href="#">Results</a>
                <a class="btn btn-primary active" href="#">Table</a>
                <a class="btn btn-default" href="#">Fixtures</a>
            </div>
        </div>
        <table class="table teams table-standing table-condensed table-striped no-border">
            <thead>
            <tr>
                <th class="number">#</th>
                <th class="state"></th>
                <th class="team">Team</th>
                <th class="pts text-center">PTS</th>
                <th class="text-center">J</th>
                <th class="text-center">+/-</th>
            </tr>
            </thead>
            <tbody>
            <tr class="live">
                <td class="number">1</td>
                <td class="state"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/psg.png" alt="PSG"><span>PSG</span></td>
                <td class="pts">86</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">2</td>
                <td class="state"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">3</td>
                <td class="state"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">4</td>
                <td class="state"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="live highlight">
                <td class="number">5</td>
                <td class="state up"><span class="icon-arrow-up"></span>+1</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts updated">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="highlight">
                <td class="number">6</td>
                <td class="state down"><span class="icon-arrow-down"></span>-1</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">7</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">8</td>
                <td class="state up"><span class="icon-arrow-up"></span>+1</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">9</td>
                <td class="state up"><span class="icon-arrow-up"></span>+4</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">10</td>
                <td class="state down"><span class="icon-arrow-down"></span>-2</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">11</td>
                <td class="state down"><span class="icon-arrow-down"></span>-1</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">12</td>
                <td class="state down"><span class="icon-arrow-down"></span>-1</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">13</td>
                <td class="state down"><span class="icon-arrow-down"></span>-1</td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">14</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">15</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">16</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">17</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">18</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">19</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            <tr class="">
                <td class="number">20</td>
                <td class="state equal"><span class="icon-equal"></span></td>
                <td class="team"><img src="img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></td>
                <td class="pts">79</td>
                <td class="point">37</td>
                <td class="point">57</td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <a href="#"><span class="icon-caret-right"></span>Full Table</a>
        </div>
    </div>
</div>