<div class="panel panel-condensed panel-default top-competitions-block">
    <div class="panel-heading">
        <div class="tools">
            <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
        Top Competitions
    </div>
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#"><img src="img/sprites/ligue1.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/bundesliga.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/ligue2.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/premiereleague.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/seriea.png" alt="Ligue"></a>
        </li>
        <li>
            <a href="#"><img src="img/sprites/ldc.png" alt="Ligue"></a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="icon-caret-down"></span></a>
            <ul role="menu" class="dropdown-menu pull-right">
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
                <li><a href="#">Option 3</a></li>
            </ul>
        </li>
    </ul>
    <div class="active-ligue">
        <img class="ligue-logo" src="img/sprites/ligue1.png" alt="ligue">
                        <span class="h4">
                          <span>Ligue 1</span>
                          37th matchday
                        </span>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default active" href="#">Results</a>
            <a class="btn btn-default" href="#">Table</a>
            <a class="btn btn-default" href="#">Fixtures</a>
        </div>
    </div>
    <table class="table matches results table-condensed table-striped no-border layout-fixed">
        <colgroup>
            <col class="hour">
            <col class="time">
            <col class="team">
            <col class="score">
            <col class="team">
        </colgroup>
        <thead>
        <tr>
            <th colspan="5" class="text-center">Samedi 10 Mai 2014</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">VA</a></td>
            <td class="striped score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
            <td class="team team2"><a href="#">Monaco</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Rennes</a></td>
            <td class="striped score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
            <td class="team team2"><a href="#">Sochaux</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Nantes</a></td>
            <td class="striped score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
            <td class="team team2"><a href="#">St Etie.</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Montpel.</a></td>
            <td class="striped score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
            <td class="team team2"><a href="#">Bastia</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Lyon</a></td>
            <td class="striped score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Lorient</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Lille</a></td>
            <td class="striped score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
            <td class="team team2"><a href="#">PSG</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Guingamp</a></td>
            <td class="striped score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
            <td class="team team2"><a href="#">Toulouse</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Evian</a></td>
            <td class="striped score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
            <td class="team team2"><a href="#">Nice</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Bordeaux</td>
            <td class="striped score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">OM</a></td>
        </tr>
        <tr>
            <td class="hour">21h00</td>
            <td class="time">Term.</td>
            <td class="team team1"><a href="#">Ajaccio</a></td>
            <td class="striped score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Reims</a></td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>Full Table</a>
    </div>
</div>