<div class="panel panel-default panel-condensed top-match-block">
    <div class="panel-heading">
        Upcoming Top Games
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="top-match active">
                <div class="shields">
                    <img src="img/sprites/team1.png" alt="Team 1"><img src="img/sprites/team2.png" alt="Team 2">
                </div>
                <div class="teams">Smc - Nim</div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="top-match">
                <div class="shields">
                    <img src="img/sprites/team3.png" alt="Team 3"><img src="img/sprites/team4.png" alt="Team 4">
                </div>
                <div class="teams">Sev - Ven</div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="top-match">
                <div class="shields">
                    <img src="img/sprites/barcelona.png" alt="Barcelona"><img src="img/sprites/team5.png" alt="Team 5">
                </div>
                <div class="teams">Bar - Ama</div>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="score-board">
            <div class="title">LdC - Group 1 - J2</div>
            <div class="match-date">28 Juin 2014</div>
            <div class="teams">Nimes - PSG</div>
            <div class="team team1"><img src="img/sprites/team2.png" alt="Team 2"></div>
            <div class="team team2"><img src="img/sprites/psg.png" alt="PSG"></div>
            <div class="match-time"><span>20h30</span></div>
        </div>
        <div class="score-board live">
            <div class="title">LdC - Group 1 - J2</div>
            <div class="match-date">28 Juin 2014</div>
            <div class="teams">Nimes - PSG</div>
            <div class="team team1"><img src="img/sprites/team2.png" alt="Team 2"></div>
            <div class="team team2"><img src="img/sprites/psg.png" alt="PSG"></div>
            <div class="match-info">
                <div class="block">
                    <div class="score">
                        <span class="home-score">2</span>
                        <span class="versus">-</span>
                        <span class="away-score">1</span>
                    </div>
                    <div class="time">
                        43'
                    </div>
                </div>
            </div>
        </div>
        <div class="make-prediction">
            <div class="pull-right"><button class="btn btn-prediction btn-xs" type="button">1</button> <button class="btn btn-prediction btn-xs" type="button">X</button> <button class="btn btn-prediction btn-xs" type="button">2</button></div> Make a prediction
        </div>
        <table class="table bets table-condensed table-striped">
            <tr class="stats">
                <td class="logo"><img src="img/sprites/bets1.png" alt="Bet1"></td>
                <td><a href="#">Betclic</a></td>
                <td class="stat"><span class="icon-arrow-down"></span><a href="#">1.75</a></td>
                <td class="stat"><span class="icon-arrow-up"></span><a href="#">3.50</a></td>
                <td class="stat"><span class="icon-equal"></span><a href="#">3.80</a></td>
            </tr>
            <tr class="stats">
                <td class="logo"><img src="img/sprites/bets2.png" alt="Bet1"></td>
                <td><a href="#">PMU</a></td>
                <td class="stat best-odd"><span class="icon-equal"></span><a href="#">1.64</a></td>
                <td class="stat"><span class="icon-arrow-up"></span><a href="#">3.45</a></td>
                <td class="stat"><span class="icon-arrow-up"></span><a href="#">3.60</a></td>
            </tr>
            <tr class="stats">
                <td class="logo"><img src="img/sprites/bets3.png" alt="Bet1"></td>
                <td><a href="#">Netbet</a></td>
                <td class="stat"><span class="icon-arrow-down"></span><a href="#">1.75</a></td>
                <td class="stat best-odd"><span class="icon-arrow-up"></span><a href="#">3.50</a></td>
                <td class="stat best-odd"><span class="icon-arrow-up"></span><a href="#">3.70</a></td>
            </tr>
        </table>
        <div class="add-comment">
            <p><span></span>Say what you think about this game!</p>
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-circle avatar" alt="64x64" src="img/user-default.png">
                </div>
                <div class="col-xs-9">
                    <textarea class="form-control" placeholder="Write here..."></textarea>
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-edit"></span>Publish my comment</button>
                </div>
            </div>
        </div>
        <div class="comments">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left avatar">
                        <a href="#">
                            <img class="img-circle" alt="64x64" src="img/user-default.png">
                        </a>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-success" type="button">1</button>
                            <button class="btn btn-default" type="button">N</button>
                            <button class="btn btn-default" type="button">2</button>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <div class="tools">
                                <span class="date">19/05 15h19</span>
                                <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                            </div>
                            <span class="name">Reboul</span>
                        </div>
                        <p>Victoire du Real car l'atletico a deja reussi sa saison en étant champion !</p>
                        <!-- Nested media object -->
                    </div>
                </li>
                <li class="media">
                    <div class="media-left avatar">
                        <a href="#">
                            <img class="img-circle" alt="64x64" src="img/user-default.png">
                        </a>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-prediction-result" type="button">1</button>
                            <button class="btn btn-default" type="button">N</button>
                            <button class="btn btn-prediction-failed" type="button">2</button>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <div class="tools">
                                <span class="date">19/05 15h19</span>
                                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                            </div>
                            <span class="name">YOUNITED-is-king</span>
                        </div>
                        <p>real meme si jsuis pour le barca</p>
                        <!-- Nested media object -->
                    </div>
                </li>

                <li class="media">
                    <div class="media-left avatar avatar-user">
                        <a href="#">
                            <img class="img-circle" alt="64x64" src="img/user-default.png">
                        </a>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-success" type="button">1</button>
                            <button class="btn btn-default" type="button">N</button>
                            <button class="btn btn-default" type="button">2</button>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <span class="name">sebastien.au</span>
                        </div>
                        <form class="message-edit">
                            <div class="form-group">
                                <textarea class="form-control" rows="2" placeholder="Textarea">real meme si jsuis pour le barca</textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Publish</button>
                            </div>
                        </form>
                        <!-- Nested media object -->
                    </div>
                </li>

                <li class="media">
                    <a href="#" class="media-left avatar">
                        <img class="img-circle" alt="64x64" src="img/user-default.png">
                    </a>
                    <div class="media-body">
                        <div class="media-heading">
                            <div class="tools">
                                <span class="date">30 min ago</span>
                                <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                            </div>
                            <span class="name">Stimer</span>
                        </div>
                        <p>c la guerre pour les deux</p>
                    </div>
                </li>
                <li class="media view-all"><a href="#">+ View all 56 comments</a></li>
            </ul>
        </div>

    </div>
</div>