<!--START LAYOUT-19 ( SHADOW SPACE ) -->
<tr>
    <td align="center" valign="top" class="container" style="background-color: rgb(244, 243, 243);">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="min-width: 600px; background-color: rgb(244, 243, 243);">
            <tr>
                <td valign="top" class="image-full-width" style="position: relative;">
                    <img src="{{ basePath }}img/emails/shadow-space.png" width="600" alt="shadow-space" style="max-width: 600px; display: block !important; cursor: pointer;" border="0" hspace="0" vspace="0">
                </td>
            </tr>
            <!-- start space -->
            <tr>
                <td valign="top" height="20" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-19 ( SHADOW SPACE ) -->