<!--START LAYOUT-20 ( LOGO FOOTER ) -->
<tr>
    <td align="center" valign="top" class="container" style="background-color:#ffffff;">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="min-width:600px; background-color:#ffffff;">
            <!-- start space -->
            <tr>
                <td valign="top" height="40" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start image -->
            <tr>
                <td align="center" valign="top">
                    <a href="#" style="text-decoration: none;">
                        <img src="{{ basePath }}img/emails/logo-footer.png" width="auto" style="max-width:100%; display:block!important;" alt="logo-footer" border="0" hspace="0" vspace="0">
                    </a>
                </td>
            </tr>
            <!-- end image -->
            <!-- start space -->
            <tr>
                <td valign="top" height="40" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-20 ( LOGO FOOTER ) -->