<!--START LAYOUT-4 HEADER IMAGE  -->
<tr>
    <td align="center" valign="top" class="container" style="background-color: rgb(244, 243, 243);">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="min-width:600px; background-color:#ffffff;">
            <!-- start image -->
            <tr>
                <td valign="top" class="image-full-width" style="position: relative;">
                    <img src="{{ basePath }}img/emails/{{ mailContent.block_4_image }}" width="600" alt="header-image" style="max-width: 600px; display: block !important; cursor: pointer;" border="0" hspace="0" vspace="0">
                </td>
            </tr>
            <!-- end image-->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-4 HEADER IMAGE -->