<!--START LAYOUT-16 ( ICON + TITLE )-->
<tr>
    <td align="center" valign="top" class="container" style="background-color: rgb(244, 243, 243);">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#ffffff; min-width:600px;  padding-left:20px; padding-right:20px;">
            <!-- start space -->
            <tr>
                <td valign="top" height="20" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start content container-->
            <tr>
                <td valign="top">
                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width">
                        <tr  dup="0">
                            <td valign="top" align="center">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="padding-top:5px; padding-bottom:5px;">
                                    <tr>
                                        <td align="left" valign="top" width="29" style="padding-right:20px;">
                                            <table width="29" border="0" cellspacing="0" cellpadding="0" align="left">
                                                <tr valign="top">
                                                    <td align="left" valign="middle" style="position: relative;">
                                                        <img src="images/icon-team.png" width="40" style="max-width: 40px; display: block !important; cursor: pointer;" alt="icon-team" border="0" hspace="0" vspace="0">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="center" style="font-size: 18px; line-height: 24px; color: rgb(51, 51, 51); font-weight: 300; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
															<span style="text-decoration: none; color: #333333; font-weight:bold;">
																<a href="#" style="color: rgb(51, 51, 51); font-weight: bold; text-decoration: none;">
                                                                    OUR DEVELOPER TEAM
                                                                </a>
															</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content container-->
            <!-- start space -->
            <tr>
                <td valign="top" height="20">
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-16 ( ICON + TITLE )-->