<!--START LAYOUT-22 ( FOOTER UNSUBSCRIBE ) -->
<tr>
    <td align="center" valign="top" class="container" style="background-color:#ffffff;">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="min-width:600px; background-color:#ffffff;">
            <!-- start space -->
            <tr>
                <td valign="top" height="20" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start image -->
            <tr>
                <td align="center" style="font-size: 14px; line-height: 24px; font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
                    <a href="#" style="color:#0053a8;">View online</a> &nbsp;&nbsp; | &nbsp;&nbsp;<a href="#" style="color: #0053a8; text-decoration: none;">Unsubscribe</a>
                </td>
            </tr>
            <!-- end image -->
            <!-- start space -->
            <tr>
                <td valign="top" height="40" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-22 ( FOOTER UNSUBSCRIBE ) -->