<!--START LAYOUT-23 ( FOOTER ALL RIGHTS RESERVED ) -->
<tr>
    <td align="center" valign="top" class="container" style="background-color:#f05e5e;">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="min-width:600px; background-color:#f05e5e;">
            <!-- start space -->
            <tr>
                <td valign="top" height="10" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start image -->
            <tr>
                <td align="center" style="font-size: 14px; line-height: 24px; color: rgb(255, 255, 255); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
                    <span style="color:#ffffff;">MailBuild , all rights reserved 2013 © </span>
                </td>
            </tr>
            <!-- end image -->
            <!-- start space -->
            <tr>
                <td valign="top" height="10" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-23 ( FOOTER ALL RIGHTS RESERVED ) -->