<!-- START LAYOUT-21 ( FOOTER SOCIAL ) -->
<tr>
    <td valign="top" align="center" style="background-color:#ffffff;">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#ffffff; min-width:600px;  padding-left:20px; padding-right:20px;">
            <!-- start space -->
            <tr>
                <td valign="top" height="20">
                </td>
            </tr>
            <!-- end space -->
            <!-- start content container -->
            <tr>
                <td valign="top" align="center">
                    <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                        <tr>
                            <td valign="top" align="center">
                                <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                    <tr>
                                        <td height="20" align="center" valign="middle">
                                            <a href="#" style="text-decoration: none;">
                                                <img src="{{ basePath }}img/emails/icon_circle-facebook.png" width="20" alt="icon_circle-facebook" style="max-width:20px; display:block !important;" border="0" hspace="0" vspace="0">
                                            </a>
                                        </td>
                                        <td style="padding-left:5px; " height="20" align="center" valign="middle">
                                            <a href="#" style="text-decoration: none;">
                                                <img src="{{ basePath }}img/emails/icon_circle-twitter.png" width="30" alt="icon_circle-twitter" style="max-width:20px; display:block !important;" border="0" hspace="0" vspace="0">
                                            </a>
                                        </td>
                                        <td style="padding-left:5px; " height="20" align="center" valign="middle">
                                            <a href="#" style="text-decoration: none;">
                                                <img src="{{ basePath }}img/emails/icon_circle-googleplus.png" width="20" alt="icon_circle-googleplus" style="max-width:20px; display:block !important;" border="0" hspace="0" vspace="0">
                                            </a>
                                        </td>
                                        <td style="padding-left:5px;" height="20" align="center" valign="middle">
                                            <a href="#" style="text-decoration: none;">
                                                <img src="{{ basePath }}img/emails/icon_circle-rss.png" width="20" alt="icon_circle-rss" style="max-width:20px; display:block !important;" border="0" hspace="0" vspace="0">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content container -->
            <!-- start space -->
            <tr>
                <td valign="top" height="20" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!-- END LAYOUT-21 ( FOOTER SOCIAL ) -->