<!--START LAYOUT-15 ( QUOTE )-->
<tr>
    <td align="center" valign="top" class="container" style="background-color: rgb(244, 243, 243);">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#ffffff; min-width:600px;  padding-left:20px; padding-right:20px;">
            <!-- start space -->
            <tr>
                <td valign="top" height="20">
                </td>
            </tr>
            <!-- end space -->
            <!-- start content container-->
            <tr>
                <td valign="top">
                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width">
                        <tr>
                            <td style="width:2px; background-color:#5da400;">
                                <table width="5" border="0" cellspacing="0" cellpadding="0" align="left">
                                    <tr>
                                        <td valign="top" height="100%">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table border="0" cellspacing="0" cellpadding="0" align="left" style="background-color:#f7f6f6;  padding:20px;">
                                    <tr>
                                        <td align="center" style="font-size: 18px; line-height: 24px; color: rgb(51, 51, 51); font-weight: 300; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
															<span style="text-decoration: none; color: #333333; font-weight:bold;">
																<a href="#" style="color: rgb(51, 51, 51); font-weight: bold; text-decoration: none;">
                                                                    RECOMMEND
                                                                </a>
															</span>
                                        </td>
                                    </tr>
                                    <!-- start space -->
                                    <tr>
                                        <td valign="top" height="15" style="font-size:0; line-height:0;">
                                        </td>
                                    </tr>
                                    <!-- end space -->
                                    <tr>
                                        <td align="left" style="font-size: 14px; line-height: 24px; color: rgb(136, 136, 136); font-weight: 300; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempam et justo duo dolores et ea rebum. Lorem ipsum
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content container-->
            <!-- start space -->
            <tr>
                <td valign="top" height="20" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--START LAYOUT-15 ( QUOTE )-->