<!--START LAYOUT-2 LOGO AND MENU -->
<tr>
    <td align="center" valign="top" style="background-color: rgb(244, 243, 243);">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width: 600px; padding-left: 20px; padding-right: 20px; background-color: rgb(244, 243, 243);">
            <!-- start space -->
            <tr>
                <td valign="top" height="30" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start content container-->
            <tr>
                <td valign="top">
                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width">
                        <tr>
                            <td valign="middle">
                                <!-- start logo -->
                                <table align="center" border="0" cellspacing="0" cellpadding="0" class="full-width-center">
                                    <tr>
                                        <td align="center" valign="top" style="position: relative;">
                                            <a href="#" style="text-decoration: none;">
                                                <img src="{{ basePath }}img/emails/{{ mailContent.block_2_logo_image }}" width="auto" style="max-width: 100%; display: block !important; cursor: pointer;" alt="logo-top" border="0" hspace="0" vspace="0">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- end logo -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content container-->
            <!-- start space -->
            <tr>
                <td valign="top" height="30" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-2 LOGO AND MENU -->