<!--START LAYOUT-5 TITLE / DIVIDER-->
<tr>
    <td align="center" valign="top" class="container" style="background-color: rgb(244, 243, 243);">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#ffffff; min-width:600px;  padding-left:20px; padding-right:20px;">
            <!-- start space -->
            <tr>
                <td valign="top" height="40" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start content container-->
            <tr>
                <td valign="top">
                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width">
                        <tr>
                            <td valign="top">
                                <!-- start content -->
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                    <tr>
                                        <td align="center" style="font-size: 24px; line-height: 24px; color: rgb(51, 51, 51); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
															<span style="text-decoration: none; color: #333333; font-weight:bold;">
																<a href="#" style="color: rgb(51, 51, 51); font-weight: bold; text-decoration: none;">
                                                                    AWSOME <span style="color:#f05e5e;">BUILDER</span>
                                                                </a>
															</span>
                                        </td>
                                    </tr>
                                    <!-- start space -->
                                    <tr>
                                        <td valign="top" height="10" >
                                        </td>
                                    </tr>
                                    <!-- end space -->
                                    <tr>
                                        <td align="center" style="font-size: 18px; line-height: 24px; color: rgb(51, 51, 51); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
															<span style="text-decoration: none; color: #333333; font-weight:300;">
																DRAG &amp; DROP
															</span>
                                        </td>
                                    </tr>
                                </table>
                                <!-- end content -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content container-->
            <!-- start space -->
            <tr>
                <td valign="top" height="40" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start divider  -->
            <tr>
                <td valign="top">
                    <table width="45" border="0" cellpadding="0" cellspacing="0" align="center" style="margin:0 auto; height:3px; background-color:#f05e5e;">
                        <tr>
                            <td height="3" valign="top">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end divider  -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-5 TITLE / DIVIDER  -->