<!--START LAYOUT-22 ( FOOTER UNSUBSCRIBE ) -->
<tr>
    <td align="center" valign="top" class="container" style="background-color:#ffffff;">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="min-width:600px; background-color:#ffffff;">
            <!-- start space -->
            <tr>
                <td valign="top" height="20" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start image -->
            <tr>
                <td align="center" style="font-size: 14px; line-height: 24px; color: rgb(240, 94, 94); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
                    <span style="color:#f05e5e;">view online <span style="color:#f05e5e;">&nbsp;&nbsp; | &nbsp;&nbsp;</span><span style="text-decoration: none; color:#f05e5e;"><a href="#" style="color: rgb(240, 94, 94); text-decoration: none;">unsubscribe</a></span></span>
                </td>
            </tr>
            <!-- end image -->
            <!-- start space -->
            <tr>
                <td valign="top" height="40" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-22 ( FOOTER UNSUBSCRIBE ) -->