<div class="review-header">
  <span class="review-header-title">William Hill</span>
  <div class="review-stars review-stars review-stars--4"></div>
  <div class="reiew-header-promo">
    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
          <defs>
              <path id="a" d="M1.25 16.25c0 .691.559 1.25 1.25 1.25h6.25v-6.25h-7.5v5zM18.75 5h-1.645c.243-.473.395-.996.395-1.563A3.443 3.443 0 0 0 14.062 0c-1.624 0-2.675.832-4.023 2.668C8.691.832 7.641 0 6.016 0a3.443 3.443 0 0 0-3.438 3.438c0 .566.149 1.09.395 1.562H1.25C.559 5 0 5.559 0 6.25v3.125c0 .344.281.625.625.625h18.75A.627.627 0 0 0 20 9.375V6.25C20 5.559 19.441 5 18.75 5zM6.012 5a1.562 1.562 0 1 1 0-3.125c.777 0 1.351.129 3.363 3.125H6.012zm8.05 0H10.7c2.008-2.988 2.567-3.125 3.364-3.125a1.562 1.562 0 1 1 0 3.125zM11.25 17.5h6.25c.691 0 1.25-.559 1.25-1.25v-5h-7.5v6.25z"/>
          </defs>
          <g fill="none" fill-rule="evenodd" transform="translate(2 3)">
              <mask id="b" fill="#fff">
                  <use xlink:href="#a"/>
              </mask>
              <use fill="#3D3D3D" fill-rule="nonzero" xlink:href="#a"/>
              <path fill="#FFD800" d="M-2-3h24v24H-2z" mask="url(#b)"/>
          </g>
      </svg>
    </span>
    <div class="text">Bono de Bienvenida: <span class="value">$150</span></div>
  </div>
  <a href="#" class="btn btn-cta">¡REGÍSTRATE AHORA!</a>
  <div class="review-header-bookmaker">
    <img src="{{ basePath }}img/review/bookmakers/williamhill.png" alt="Featured Article">
  </div>
</div>
