<div class="panel panel-default goals-distribution">
    <div class="panel-heading">
        Distribution of Arjen Robben's goals
    </div>
    <div class="row">
        <div class="col-md-6 js-chart">
            <div class="title">[ JS GRAPH ]</div>
            <img src="{{ ImageDirPath }}sprites/js_chart.png" alt="Ligue">
        </div>
        <div class="col-md-6">
            <p>This chart provides a breakdown of Arjen Robben scoring record.</p>
            <span class="content">Arjen Robben scored most of his goals (1) between 31' and 45'</span>
        </div>
    </div>
</div>
