<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default player-statistics">
            <div class="panel-heading">
                Arjen Robben League Stats
            </div>
            <div class="row stat-titles">
                <div class="col-md-4">
                    <span class="title">Nb of league games played</span>
                </div>
                <div class="col-md-4">
                    <span class="title">Minutes played</span>
                </div>
                <div class="col-md-4">
                    <span class="title">Number of goals</span>
                </div>
            </div>
            <div class="row stat-values">
                <div class="col-md-4">
                    <div class="value">
                        <span class="icon icon-titular"></span>
                        <span class="result">28</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="value">
                        <span class="icon icon-stopwatch"></span>
                        <span class="result">1685'</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="value">
                        <span class="icon icon-football"></span>
                        <span class="result">11</span>
                    </div>
                </div>
            </div>
            <div class="row stats-bottom">
                <div class="col-md-4">
                    <div class="statistics">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="result football-field">20</span>
                            </div>
                            <div class="col-md-6">
                                <span class="result arrow-right-green">8</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistics">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="result arrow-left-red">12</span>
                            </div>
                            <div class="col-md-6">
                                <span class="result chairs">9</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistics">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="result yellow-card">0</span>
                            </div>
                            <div class="col-md-6">
                                <span class="result red-card">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-condensed table-striped no-border player-statistics">
                <thead>
                <tr>
                    <th class="competition">Competitions</th>
                    <th><span class="sprite-icons clock"></span></th>
                    <th class="shirt-number"><span class="sprite-icons shirt"></span></th>
                    <th><span class="sprite-icons football-field"></span></th>
                    <th><span class="sprite-icons green-arrow"></span></th>
                    <th><span class="sprite-icons red-arrow"></span></th>
                    <th><span class="sprite-icons chairs"></span></th>
                    <th class="goals-number"><span class="sprite-icons football"></span></th>
                    <th><span class="sprite-icons yellow-card"></span></th>
                    <th><span class="sprite-icons red-card"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th colspan="10">2013 / 2014</th>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag _United_Nations"></span><a href="#">Champions League</a></td>
                    <td>877</td>
                    <td class="shirt-number">10</td>
                    <td>10</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                    <td class="goals-number">4</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag de"></span><a href="#">Bundesliga</a></td>
                    <td>1685</td>
                    <td class="shirt-number">28</td>
                    <td>20</td>
                    <td>8</td>
                    <td>12</td>
                    <td>9</td>
                    <td class="goals-number">11</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag _United_Nations"></span><a href="#">International Friendlies</a></td>
                    <td>-</td>
                    <td class="shirt-number">-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="goals-number">1</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag de"></span><a href="#">German Cup</a></td>
                    <td>377</td>
                    <td class="shirt-number">4</td>
                    <td>2</td>
                    <td>-</td>
                    <td>2</td>
                    <td>-</td>
                    <td class="goals-number">4</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th colspan="10">2012 / 2013</th>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag _United_Nations"></span><a href="#">Champions League</a></td>
                    <td>731</td>
                    <td class="shirt-number">9</td>
                    <td>7</td>
                    <td>2</td>
                    <td>0</td>
                    <td>2</td>
                    <td class="goals-number">4</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag de"></span><a href="#">Bundesliga</a></td>
                    <td>984</td>
                    <td class="shirt-number">16</td>
                    <td>11</td>
                    <td>5</td>
                    <td>7</td>
                    <td>9</td>
                    <td class="goals-number">4</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag _United_Nations"></span><a href="#">World Cup</a></td>
                    <td>540</td>
                    <td class="shirt-number">6</td>
                    <td>6</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td class="goals-number">3</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag _United_Nations"></span><a href="#">Club Friendlies</a></td>
                    <td>-</td>
                    <td class="shirt-number">-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="goals-number">3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag _United_Nations"></span><a href="#">International Friendlies</a></td>
                    <td>-</td>
                    <td class="shirt-number">-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="goals-number">2</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag de"></span><a href="#">German Cup</a></td>
                    <td>377</td>
                    <td class="shirt-number">2</td>
                    <td>2</td>
                    <td>-</td>
                    <td>2</td>
                    <td>-</td>
                    <td class="goals-number">4</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag de"></span><a href="#">German Super Cup</a></td>
                    <td>90</td>
                    <td class="shirt-number">1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td class="goals-number">2</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="competition"><span class="country-flag eu"></span><a href="#">UEFA Super Cup</a></td>
                    <td>96</td>
                    <td class="shirt-number">1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td class="goals-number">0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>