{% extends "pages/patterns-library/index.html.twig" %}


{% block container_content_wrapper %}
    <div class="row">
        <div class="col-md-6">
            {% include 'blocks/elements/icons_actions.html.twig' %}
        </div>
    </div>
{% endblock %}

