{# Login Modal #}
{% extends 'blocks/containers/modal.html.twig' %}

{% set modal_id = 'modal-report' %}
{% set modal_dialog_classes = 'modal-sm' %}

{% block modal_header %}
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Report a message</h4>
{% endblock %}

{% block modal_content %}
    <!-- Status 1 -->
        <p>Are you sure you want to report this message ?</p>

    <!-- Status 2
    <div class="modal-body">
      <p>Are you sure you want to report this message ?</p>
    </div>
    -->

    <!-- Status 3
    <div class="modal-body">
       <p>Are you sure you want to report this message ?</p>
      <div class="alert alert-success" role="alert">
         <span class="icon glyphicon glyphicon-ok"></span> Message reported with success
      </div>
    </div>
    -->
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary">Report</button>

    <!-- Status 2
      <button type="button" class="btn btn-default" data-dismiss="modal" disabled="disabled">Cancel</button>
      <button type="button" class="btn btn-primary" data-loading-text="Reporting..." disabled="disabled">Reporting...</button>
    -->

    <!-- Status 3
      <button type="button" class="btn btn-primary" data-dismiss="modal">Closing...</button>
    -->

{% endblock %}
