{# PWD FORGOTTEN MODAL SIMPLE #}
{% extends 'blocks/containers/modal.html.twig' %}

{% set modal_classes = 'login login-modal' %}
{% set modal_id = 'login-pwd-simple' %}
{% set modal_dialog_classes = 'modal-sm' %}

{% block modal_header %}
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Password reset</h4>
{% endblock %}

{% block modal_content %}
    <div class="login-register-container">
        <div class="row">
            <div class="col-xs-12">

                <!-- LOST PASSWORD BLOCK -->
                {% include 'blocks/login/parts/form_password_reset.html.twig' %}

            </div>
        </div>
    </div>
{% endblock %}
