<!-- PWD FORGOTTEN MODAL -->
<div class="modal fade login login-modal" id="login-pwd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Login or Register</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">[ CUSTOM MESSAGE ] Please log in or create a free account in order to use this function.</div>

                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" class="login-image">
                            <img src="img/290x380.jpg" alt="Visual Block">
                        </a>
                    </div>
                    <div class="col-sm-6">

                        <!-- LOST PASSWORD BLOCK -->
                        {% include 'blocks/login/parts/password_reset.html.twig' %}

                    </div>
                </div>


            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->