{# REGISTER SUCCESS STATE MODAL #}
{% extends 'blocks/containers/modal.html.twig' %}

{% set modal_classes = 'login login-modal' %}
{% set modal_id = 'login-pwd-success' %}

{% block modal_header %}
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Password reset</h4>
{% endblock %}

{% block modal_content %}
    <div class="login-register-container">
        {% include 'blocks/login/parts/reset_request_success.html.twig' %}
    </div>
{% endblock %}
