{# PWD FORGOTTEN MODAL #}
{% extends 'blocks/containers/modal.html.twig' %}

{% set modal_classes = 'login login-modal' %}
{% set modal_id = 'login-pwd' %}

{% block modal_header %}
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Login or Register</h4>
{% endblock %}

{% block modal_content %}
    <div class="login-register-container">
        <div class="alert alert-danger" role="alert">[ CUSTOM MESSAGE ] Please log in or create a free account in order to use this function.</div>

        <div class="row">
            <div class="col-xs-6">
                <div class="login-image">
                    <img src="{{ ImageDirPath }}290x380.jpg" alt="Visual Block">
                </div>
            </div>
            <div class="col-xs-6">

                <!-- LOST PASSWORD BLOCK -->
                {{ include('blocks/login/login_register.html.twig', {tab:'password_reset'}) }}

            </div>
        </div>
    </div>
{% endblock %}
