{% extends "layouts/3_columns.html.twig" %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'blocks/sports/match_listing_all_columns.html.twig' %}
    <h3>Match listing (general)</h3>
    {{ include('blocks/elements/match_listing_buttons.html.twig', {type: 'all'}) }}
    {% include 'blocks/sports/match_listing_general_2.html.twig' %}
    {{ include('blocks/elements/match_listing_buttons.html.twig', {type: 'odds'}) }}
    {% include 'blocks/sports/match_listing_general_odds_2.html.twig' %}
    {{ include('blocks/elements/match_listing_buttons.html.twig', {type: 'predictions'}) }}
    {% include 'blocks/sports/match_listing_general_predictions_2.html.twig' %}
    <h3>Match listing (by competition)</h3>
    {% include 'blocks/sports/match_listing_by_competition_2.html.twig' %}
    <h3>Match listing (by participant)</h3>
    {% include 'blocks/sports/match_listing_by_team_2.html.twig' %}
    <h3>Match listing (by player)</h3>
    {% include 'blocks/sports/match_listing_by_player_2.html.twig' %}
    <h3>Predictions Listing</h3>
    {% include 'blocks/predictions/predictions_contest_grid.html.twig' %}
    {% include 'blocks/predictions/predictions_last_predictions_2.html.twig' %}
    <h3>Head to Head</h3>
    {% include 'blocks/sports/team_head2head.html.twig' %}
    <h3>Team Forms</h3>
    <div class="row">
        <div class="col-md-6">
            {% include 'blocks/sports/team_form_1.html.twig' %}
        </div>
        <div class="col-md-6">
            {% include 'blocks/sports/team_form_2.html.twig' %}
        </div>
    </div>
    <h3>Competition Standing</h3>
    <div class="row"><div class="col-md-12">{% include 'blocks/sports/competition_standing.html.twig' %}</div></div>
    {% include 'blocks/sports/competition_standing_noform_2.html.twig' %}
    {% include 'blocks/sports/competition_standing_groups_2.html.twig' %}
    {% include 'blocks/sports/match_listing_A_R.html.twig' %}



{% endblock %}

{% block content_right %}
{% endblock %}