{% extends "layouts/full.html.twig" %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
{% endblock %}

{% block container_content_wrapper %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% include 'blocks/login/new_password_form_panel.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% include 'blocks/login/new_password_success_panel.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block container_footer %}
    {% include 'blocks/commons/footer.html.twig' %}
{% endblock %}