{% extends "layouts/full.html.twig" %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
{% endblock %}

{% block container_content_wrapper %}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            {% include 'blocks/login/panel_new_password_form.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            {% include 'blocks/login/panel_new_password_success.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block container_footer %}
    {% include 'blocks/commons/footer.html.twig' %}
{% endblock %}