{% extends "layouts/3_columns.html.twig" %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
    {% include 'blocks/sports/matches_slider.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'blocks/sports/match/match_information.html.twig' %}
    {{ include('blocks/elements/page_tabs.html.twig', {type: 'match'}) }}
    {% include 'blocks/various/share_page_small.html.twig' %}
    {% include 'blocks/sports/match/team_head2head.html.twig' %}
    <div class="row">
        <div class="col-sm-6">{% include 'blocks/sports/team/team_form_1.html.twig' %}</div>
        <div class="col-sm-6">{% include 'blocks/sports/team/team_form_2.html.twig' %}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">{{ include('blocks/sports/team/team_over_under_v1.1.html.twig', {logo: 'true'}) }}</div>
        <div class="col-sm-6">{{ include('blocks/sports/team/team_over_under_v1.1.html.twig', {logo: 'true', team2: '_2'}) }}</div>
    </div>
    {% include 'blocks/various/comment_thread.html.twig' %}
    {% include 'blocks/modals/modal_report_message.html.twig' %}

{% endblock %}

{% block content_right %}
    {% include 'blocks/sports/upcoming_top_games.html.twig' %}
{% endblock %}