{% extends "layouts/3_columns.html.twig" %}

{% block container_content_left %}
    {% include 'blocks/commons/left_navbar_member.html.twig' %}
    {% include 'blocks/commons/left_navbar.html.twig' %}
{% endblock %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}

    <span class="page-title">My Information</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit, nisl eget tempor consectetur, nisi sem volutpat eros, id lacinia nibh quam et ipsum. Aliquam quis vehicula mauris, in ornare erat.</p>

    {% include 'blocks/user/user_edit_profile.html.twig' %}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit, nisl eget tempor consectetur, nisi sem volutpat eros, id lacinia nibh quam et ipsum. Aliquam quis vehicula mauris, in ornare erat.</p>

    <span class="page-title">My Favorites</span>
    {% include 'blocks/user/user_edit_my_leagues.html.twig' %}
    {% include 'blocks/user/user_edit_my_teams.html.twig' %}

{% endblock %}

{% block content_right %}
    {% include 'blocks/various/help_panel.html.twig' %}
{% endblock %}