{% extends "layouts/3_columns.html.twig" %}

{% block container_content_before %}
    {% include 'blocks/placeholders/visual_block_1220x230.html.twig' %}
{% endblock %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Login</h3>
            <button class="btn btn-default" data-toggle="modal" data-target="#login-main">LOGIN_MAIN</button>

            <h3>Password Forgotten</h3>
            <button class="btn btn-default" data-toggle="modal" data-target="#login-pwd">LOGIN_PWD</button>

            <h3>Registration</h3>
            <button class="btn btn-default" data-toggle="modal" data-target="#reg-main">REG_MAIN</button>
            <button class="btn btn-default" data-toggle="modal" data-target="#login-reg-success">LOGIN_REG_SUCCESS</button>

            <h3>Facebook</h3>
            <button class="btn btn-default" data-toggle="modal" data-target="#login-fb-error">LOGIN_FB_ERROR</button>
        </div>
    </div>

    {% include 'blocks/modals/modal_sample.html.twig' %}
    {% include 'blocks/modals/modal_login.html.twig' %}
    {% include 'blocks/modals/modal_register.html.twig' %}
    {% include 'blocks/modals/modal_register_success.html.twig' %}
    {% include 'blocks/modals/modal_password_forgotten.html.twig' %}
    {% include 'blocks/modals/modal_register_fb_failed.html.twig' %}

{% endblock %}

{% block content_right %}
{% endblock %}