<div class="row row-voffset">
    <div class="col-md-10">
        <div class="btn-group btn-group-justified btn-group-distributed">
            <a class="btn btn-primary active">Main</a>
            <a class="btn btn-default">Championship Group</a>
            <a class="btn btn-default">Europa League</a>
            <a class="btn btn-default">Europa League</a>
            <a class="btn btn-default"><span class="icon-caret-down"></span></a>
        </div>
    </div>
    <div class="col-md-2 text-right">

        <div class="btn-group">
            <button type="button" class="btn btn-default large-icon"><span class="icon icon-calendar"></span> <span class="icon-caret-down"></span></button>
        </div>
    </div>
</div>
<div class="row row-voffset">
    <div class="col-md-12">
        <div class="btn-group btn-group-xs btn-group-justified btn-group-distributed">
            <a class="btn btn-default">1st round</a>
            <a class="btn btn-primary active">2nd round</a>
            <a class="btn btn-default">3rd round</a>
            <a class="btn btn-default">Playoffs</a>
            <a class="btn btn-default">Final</a>
            <a class="btn btn-default"><span class="icon-caret-down"></span></a>
        </div>
    </div>
</div>
<div class="row text-center">
    <button type="button" class="btn btn-link btn-xs dropdown-toggle">All</button>
    <button type="button" class="btn btn-link btn-xs dropdown-toggle">1st leg</button>
    <button type="button" class="btn btn-link btn-xs dropdown-toggle">2nd leg<span class="icon-caret-down"></span></button>
</div>