<div class="panel panel-no-border">
    <div class="row content-header league">
        <div class="col-xs-2 avatar">
            <img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">
        </div>
        <div class="col-xs-10 info">
            <div class="title-container">
                <div class="row title">
                    <div class="col-xs-11 title-value">Champions League</div>
                    <div class="col-xs-1">
                        <a href="#" class="fav active"><span class="glyphicon glyphicon-star"></span></a>
                    </div>
                </div>
            </div>
            <a href="#" class="uppercase additionnal-info"><span class="country-flag _United_Nations"></span>International</a>
            <div class="btn-group">
                <a href="" class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span>2013 / 2014</span><span class="icon-caret-select"></span>
                </a>
                <ul class="dropdown-menu dropdown-select" role="menu">
                    <li><a href="#">2014 / 2015</a></li>
                    <li class="active"><a href="#">2013 / 2014</a></li>
                    <li><a href="#">2012 / 2013</a></li>
                    <li><a href="#">2011 / 2012</a></li>
                    <li><a href="#">2010 / 2011</a></li>
                    <li><a href="#">2010</a></li>
                    <li><a href="#">2009 / 2009</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ include('blocks/elements/page_tabs.html.twig', {type: 'competition', tab: selectedTab}) }}
        </div>
    </div>
</div>