<div class="panel panel-no-border">
    <div class="row content-header player">
        <div class="col-xs-2 avatar">
            <img src="{{ basePath }}img/player-default.png" alt="Player">
        </div>
        <div class="col-xs-4 info">
            <div class="title-container">
                <div class="title">
                    <div class="title-value">
                        <span class="first-name">Arjen</span>
                        <span class="last-name">Robben</span>
                    </div>
                </div>
            </div>
            <a href="#" class="uppercase additionnal-info"><span class="country-flag nl"></span>Netherlands</a>
        </div>
        <div class="col-xs-3 description">
            <ul>
                <li><span class="icon-cake-candle icon"></span><span>30 years old</span><span class="glyphicon glyphicon-info-sign info" data-toggle="tooltip" data-placement="top" title="24/05/1987"></span></li>
                <li><span class="icon-man-height icon"></span><span>1.81 m</span></li>
                <li><span class="icon-weight icon"></span><span>80 Kg</span></li>
                <li><span class="icon-arrows-position icon"></span><span>Forward</span></li>
            </ul>
        </div>
        <div class="col-xs-3 teams">
            <a href="#">
                <img src="{{ basePath }}img/sprites/nl.png" alt="Netherland">
                Netherland
            </a>
            <a href="#">
                <img src="{{ basePath }}img/sprites/fc_bayern.png" alt="FC Bayern">
                FC Bayern
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ include('blocks/elements/page_tabs.html.twig', {type: 'competition', tab: selectedTab}) }}
        </div>
    </div>
</div>