<div class="panel content-header country">
    <div class="row">
        <div class="col-sm-12">
            <div class="avatar">
                <img src="{{ basePath }}img/sprites/fr.png" alt="France">
            </div>
            <div class="info">
                <div class="title">
                    <span>France</span>
                </div>
                <a href="#" class="uppercase name">Football</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ include('blocks/elements/page_tabs.html.twig', {type: 'country', tab:'summary'}) }}
        </div>
    </div>
</div>