<div class="content-header country">
    <div class="avatar">
        <img src="img/sprites/fr.png" alt="France">
    </div>
    <div class="info">
        <div class="title">
            <span>France</span>
        </div>
        <a href="#" class="uppercase name">Football</a>
    </div>
</div>