<div class="panel panel-no-border">
    <div class="content-header country">
            <div class="avatar">
                <img src="{{ basePath }}img/flag-fr.png" alt="France">
            </div>
            <div class="info">
                <div class="title">
                    <span>France</span>
                </div>
                <a href="#" class="uppercase additionnal-info">Football</a>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ include('blocks/elements/page_tabs.html.twig', {type: 'country', tab: selectedTab}) }}
        </div>
    </div>
</div>