<div class="row">
    <div class="col-md-12">
        <h2>Basic Table - Striped rows</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped no-border">
            <thead>
            <tr class="league-data">
                <th colspan="4"><div class="title"><span>Algeria Nedjma Championnat</span></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 4 but too long ...</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            <tr>
                <th colspan="4" class="divider">Defenders</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Condensed table</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
            <tr class="league-data">
                <th colspan="4"><div class="title"><span>Algeria Nedjma Championnat</span></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 4 but too long ...</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            <tr>
                <th colspan="4"  class="divider">Defenders</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Condensed table - Striped rows</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped no-border">
            <thead>
            <tr class="league-data">
                <th colspan="4"><div class="title"><span>Algeria Nedjma Championnat</span></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 4 but too long ...</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            <tr class="highlight">
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>BG Live update</td>
            </tr>
            <tr class="selected">
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>BG Team selected</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            <tr class="event-won">
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>BG Win</td>
            </tr>
            <tr class="event-lost">
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>BG Lost</td>
            </tr>
            <tr class="event-draw">
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>BG Draw</td>
            </tr>
            <tr>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            <tr>
                <th colspan="4"  class="divider">Defenders</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 4 but too long ...</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            <tr>
                <th colspan="4"  class="divider"><span class="icon"><i class="icon-calendar"></i></span>Sun 23 June 2014</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 4 but too long ...</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            <tr>
                <td colspan="4" class="text-center view-more"><a href="#"><span class="icon"><i class="icon-expand"></i></span>Display More</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Condensed table - Bordered</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr class="league-data">
                <th colspan="4"><div class="title"><span>Algeria Nedjma Championnat</span></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
                <td>Item 1</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
                <td>Item 2</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 4 but too long ...</td>
                <td>Item 4</td>
                <td>Item 4</td>
                <td>Item 4</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>