<div class="row">
    <div class="col-md-12">
        <button data-popover="popover" type="button" class="btn btn-default" data-original-title="Popover in top" data-content="This is the popover content space, put your ideas here!" data-placement="top" data-trigger="hover"><i class="fa fa-chevron-circle-up"></i> Popover</button>

        <button class="btn btn-default" data-toggle="modal" data-target="#modal-window">Modal Window</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#login-main">Modal Login</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#login-main-simple">Modal Login Simple</button>

        {% include 'blocks/modals/modal_sample.html.twig' %}
        {% include 'blocks/modals/modal_login.html.twig' %}
        {% include 'blocks/modals/modal_login_simple.html.twig' %}



    </div>
</div>