<div class="row">
    <div class="col-xs-12">
        <div>
            <span class="badge live">259</span>
            <span class="badge primary">259</span>
            <span class="badge">259</span>
        </div>
        <div>
            <span class="badge live">12</span>
            <span class="badge primary">49</span>
            <span class="badge">49</span>
        </div>
    </div>
</div>