<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-12">
                    <textarea class="form-control" rows="3" placeholder="Textarea"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Text field">
                </div>
            </div>
            <div class="form-group has-success has-feedback">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Input success">
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-error has-feedback">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Input error">
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-warning has-feedback">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Input warning">
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                </div>
            </div>
            <div class="input-group calendar-button" data-position="bottom-right">
                <input type="text" aria-describedby="basic-addon1" placeholder="Username" class="form-control">
                <span id="basic-addon1" class="input-group-addon btn-datepicker-open"><span class="icon icon-calendar"></span></span>
            </div>
        </form>
    </div>
</div>