<div class="row">
    <div class="col-md-8">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-primary active">All</button>
                <button type="button" class="btn btn-default">Finished</button>
                <button type="button" class="btn btn-default btn-live">Live <span class="live-red">(12)</span></button>
                <button type="button" class="btn btn-default">Next</button>
                <button type="button" class="btn btn-default">Predictions</button>
                <button type="button" class="btn btn-default">Odds</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group pull-right btn-group-date-selector">
            <input type="hidden" value="Mon 2 Jun" class="input-datepicker">
            <button type="button" class="btn btn-default btn-datepicker-day-before"><span class="icon-caret-left"></span></button>
            <button type="button" class="btn btn-default btn-datepicker-open">
                <span class="text-selected-date">Mon 2 Jun.</span>
                <span class="icon-caret-down"></span>
            </button>
            <button type="button" class="btn btn-default btn-datepicker-day-after"><span class="icon-caret-right"></span></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="social">
            <div>
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21"   style="border:none; overflow:hidden; height:21px;"></iframe>
            </div>
            <div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="gore_edward">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div>
                <script src="https://apis.google.com/js/platform.js" async defer>
                    {lang: 'es'}
                </script>
                <div class="g-plusone" data-size="medium"></div>
            </div>
            <div class="text-right">
                <div class="btn-group"><button class="btn btn-default dropdown-toggle large-icon btn-partager" type="button"><span class="icon icon-share"></span>Partager<span class="icon-caret-down"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default btn-block"><span class="dark-icon icon-expand"></span><span>Display all matches</span></button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#">Summary <span class="badge">2</span></a></li>
            <li><a href="#">Results / Fixtures</a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#">Squad <span class="badge">4</span></a></li>
            <li><a href="#">Stats </a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Summary</a></li>
            <li><a href="#">Results / Fixtures</a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#">Squad</a></li>
            <li><a href="#">Stats</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-prediction">Prediction</button>
        <button type="button" class="btn btn-prediction-done">Pred. done</button>
        <button type="button" class="btn btn-prediction-success">Pred. success</button>
        <button type="button" class="btn btn-prediction-result">Pred. Result</button>
        <button type="button" class="btn btn-prediction-failed">Pred. failed</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-default btn-lg">Large button</button>
        </p>
        <p>
            <button type="button" class="btn btn-primary">Default button</button>
            <button type="button" class="btn btn-default">Default button</button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-default btn-sm">Small button</button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
            <button type="button" class="btn btn-default btn-xs">Extra small button</button>
            <button type="button" class="btn btn-link btn-xs dropdown-toggle"><span>2013 / 2014</span><span class="icon-caret-down"></span></button>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="pagination">
            <li><a href="#"><span class="icon-caret-left"></span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><span class="icon-caret-right"></span></a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-justified btn-group-distributed">
            <a class="btn btn-primary active">Main</a>
            <a class="btn btn-default">Home</a>
            <a class="btn btn-default">Away</a>
            <a class="btn btn-default">Attack</a>
            <a class="btn btn-default">Defense</a>
            <a class="btn btn-default">1st Half</a>
            <a class="btn btn-default">2nd Half</a>
            <a class="btn btn-default">Fairplay</a>
            <a class="btn btn-default">Scorer</a>
            <a class="btn btn-default"><span class="icon-caret-down"></span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="btn-group">
            <button type="button" class="btn btn-default"><span class="icon-caret-left"></span></button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span>Phase de poule</span><span class="icon icon-caret-down"></span></button>
            </div>
            <button type="button" class="btn btn-default"><span class="icon-caret-right"></span></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default"><span class="icon-caret-left"></span></button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span>Phase de poule</span><span class="icon icon-caret-select"></span></button>
            </div>
            <button type="button" class="btn btn-default"><span class="icon-caret-right"></span></button>
        </div>
    </div>
    <div class="col-md-3 text-right">
        <div class="btn-group calendar-button" data-position="bottom-right">
            <input type="hidden" name="date">
            <button type="button" class="btn btn-default large-icon btn-datepicker-open"><span class="icon icon-calendar"></span> <span class="icon-caret-down"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-xs btn-group-justified btn-group-distributed">
            <a class="btn btn-default">1st round</a>
            <a class="btn btn-primary active">2nd round</a>
            <a class="btn btn-default">3rd round</a>
            <a class="btn btn-default">Playoffs</a>
            <a class="btn btn-default">Final</a>
            <a class="btn btn-default"><span class="icon-caret-down"></span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-prediction">1</button>
            <button type="button" class="btn btn-prediction">X</button>
            <button type="button" class="btn btn-prediction">2</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-prediction">1</button>
            <button type="button" class="btn btn-prediction">X</button>
            <button type="button" class="btn btn-prediction-done">2</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-prediction">1</button>
            <button type="button" class="btn btn-prediction">X</button>
            <button type="button" class="btn btn-prediction-success">2</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-prediction-result">1</button>
            <button type="button" class="btn btn-prediction">X</button>
            <button type="button" class="btn btn-prediction-failed">2</button>
        </div>
    </div>
</div>