<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info" role="alert">Heads up! This alert needs your attention, but it's not super important.</div>
        <div class="alert alert-success" role="alert"><span class="icon glyphicon glyphicon-ok"></span><strong> Manchester City</strong> successfully added to My Teams</div>
        <div class="alert alert-danger" role="alert">An error ocurred, please retry in 30 seconds</div>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span class="icon glyphicon glyphicon-volume-up"></span>Sound is disabled. <strong>Do you want to enable sound now ?</strong> <button type="button" class="btn btn-xs btn-success pull-right">Activate sound</button>
        </div>
    </div>
</div>