<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tools">
                    <a href="#"><span class="icon-caret-right"></span> Text Link</a>
                </div>
                <div class="panel-title">Panel title</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Panel title H1</h1>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Panel title H2</h2>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title H3</h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tools">
                    <span class="label label-live"><i class="icon icon-ellipse"></i>Live</span>
                </div>
                Panel title
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tools">
                    <span class="badge">49</span><i class="uppercase">Messages</i>
                </div>
                <div class="panel-title"><span class="glyphicon glyphicon-comment "></span>Panel title</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tools">
                    <a href="#" class="icon active"><span class="glyphicon glyphicon-align-justify"></span></a>
                    <a href="#" class="icon"><span class="glyphicon glyphicon-align-justify"></span></a>
                    <a href="#" class="icon"><span class="glyphicon glyphicon-th-large"></span></a>
                </div>
                Panel title
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tools">
                    <i>Les buteurs pour PSG en Ligue 1 cette saison</i>
                </div>
                <div class="panel-title"><span class="icon icon-football"></span>Panel title</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="tools">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-default spinner dropdown-toggle" data-toggle="dropdown"><span class="icon icon-caret-select"></span><span>All time</span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                Panel title
            </div>
            <div class="panel-body">
                <p>Cras justo odio, dapibus ac facilisis in, <b>egestas eget</b> quam. Morbi leo risus, porta ac consectetur ac, <a href="#">link color</a> at eros. Morbi leo risus, link hover color ac,
                    vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
        </div>
        <div class="panel panel-condensed">
            <div class="panel-body">
                <p>Cras justo odio, dapibus ac facilisis in, <b>egestas eget</b> quam. Morbi leo risus, porta ac consectetur ac, <a href="#">link color</a> at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at </p>
            </div>
        </div>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="tools">
                    <a href="#"><span class="icon-caret-right"></span> Text Link</a>
                </div>
                Panel title
            </div>
            <div class="panel-body">
                <p>Cras justo odio, dapibus ac facilisis in, <b>egestas eget</b> quam. Morbi leo risus, porta ac consectetur ac, <a href="#">link color</a> at eros. Morbi leo risus, link hover color ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
        </div>
    </div>
</div>