<div class="row">
    <div class="col-md-12">
        <ul class="media-list">
            <li class="media">
                <a href="#" class="media-left avatar avatar-user">
                    <img class="img-circle" alt="64x64" src="{{ ImageDirPath }}user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">ramoul</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                        </div>
                    </div>
                    <p>real 1-0 atlitico</p>
                    <!-- Nested media object -->
                </div>
            </li>
            <li class="media">
                <div class="avatar media-left avatar-user">
                    <a href="#">
                        <img class="img-circle" alt="64x64" src="{{ ImageDirPath }}user-default.png">
                    </a>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-success">1</button>
                        <button class="btn btn-default">N</button>
                        <button class="btn btn-default">2</button>
                    </div>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">ramoul</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                        </div>
                    </div>
                    <p>Moi j'y croi pour lyon a la 3eme place du poduim vu que St etienne a fais match nul contre rennes il faut juste
                        que lyon gagne le match contre toulouse et que lille perde contre l'OM apres il reste que 3 points d'ecart !
                        En plus lille contre psg a l'avant derniere journées</p>
                    <!-- Nested media object -->
                    <div class="media">
                        <div class="media-left avatar avatar-user">
                            <a href="#">
                                <img class="img-circle" alt="64x64" src="{{ ImageDirPath }}user-default.png">
                            </a>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default">1</button>
                                <button type="button" class="btn btn-prediction-failed">N</button>
                                <button class="btn btn-default">2</button>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <span class="name">ramoul</span>
                                <div class="tools">
                                    <span class="date"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>19/05 15h19</span>
                                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                                </div>
                            </div>
                            <p><a class="reply" href="#">@Andréleboss</a>, Lyon va pas aller en LDC l'année prochaine, surtout avec un 0-0 contre Chernomorets en Ligue Europa. ^^</p>
                        </div>
                    </div>
                    <!-- Nested media object -->
                    <div class="media">
                        <a href="#" class="media-left avatar avatar-user">
                            <img class="img-circle" alt="64x64" src="{{ ImageDirPath }}user-default.png">
                        </a>
                        <div class="media-body">
                            <div class="media-heading">
                                <span class="name">ramoul</span>
                                <div class="tools">
                                    <span class="date">19/05 15h19</span>
                                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                                </div>
                            </div>
                            <p><a class="reply" href="#">@Andréleboss</a>, Lyon va pas aller en LDC l'année prochaine, surtout avec un 0-0 contre Chernomorets en Ligue Europa. ^^</p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>