<div class="page-message">
    {% block image_block %}{% endblock %}
    <span class="title">{% block message_title %}{% endblock %}</span>
    <span class="sub-title">{% block message_sub_title %}{% endblock %}</span>
    {% block message_buttons %}{% endblock %}
</div>