<div class="row row-voffset">
    <div class="col-xs-5">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-justified btn-group-distributed">
                <a href="#" class="btn btn-default active">All</a>
                <a href="#" class="btn btn-default">Finished</a>
                <a href="#" class="btn btn-default btn-live">Live <span class="live-red">(12)</span></a>
                <a href="#" class="btn btn-default">Next</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-justified">
                {% if type == 'all' %}
                    <a href="#" class="btn btn-default active"><span class="icon-matches-list"></span></a>
                    <a href="#" class="btn btn-default">1X2</a>
                    <a href="#" class="btn btn-default">P</a>
                {% elseif type == 'predictions' %}
                    <a href="#" class="btn btn-default"><span class="icon-matches-list"></span></a>
                    <a href="#" class="btn btn-default">1X2</a>
                    <a href="#" class="btn btn-default active">P</a>
                {% elseif type == 'odds' %}
                    <a href="#" class="btn btn-default"><span class="icon-matches-list"></span></a>
                    <a href="#" class="btn btn-default active">1X2</a>
                    <a href="#" class="btn btn-default">P</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="btn-group pull-right btn-group-date-selector">
            <input type="hidden" value="Mon 2 Jun" class="input-datepicker">
            <button type="button" class="btn btn-default btn-datepicker-day-before"><span class="icon-caret-left"></span></button>
            <button type="button" class="btn btn-default btn-datepicker-open">
                <span class="text-selected-date">Mon 2 Jun.</span>
                <span class="icon-caret-down"></span>
            </button>
            <button type="button" class="btn btn-default btn-datepicker-day-after"><span class="icon-caret-right"></span></button>
        </div>
    </div>
</div>
