<div class="row">
    <div class="col-md-8">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-primary active">All</button>
                <button class="btn btn-default">Finished</button>
                <button type="button" class="btn btn-default btn-live">Live <span class="live-red">(12)</span></button>
                <button class="btn btn-default">Next</button>
                <button class="btn btn-default">Predictions</button>
                <button class="btn btn-default">Odds</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group pull-right btn-group-date-selector">
            <input type="hidden" value="Mon 2 Jun" class="input-datepicker">
            <button type="button" class="btn btn-default btn-datepicker-day-before"><span class="icon-caret-left"></span></button>
            <button type="button" class="btn btn-default btn-datepicker-open">
                <span class="text-selected-date">Mon 2 Jun.</span>
                <span class="icon-caret-down"></span>
            </button>
            <button type="button" class="btn btn-default btn-datepicker-day-after"><span class="icon-caret-right"></span></button>
        </div>
    </div>
</div>


