<div class="successfully">
    <i class="icon {{ icon_classes }}"></i>
    <span class="title">{% block message_title %}{% endblock %}</span>
    <p>{% block message_texte %}{% endblock %}</p>
    {% block message_buttons %}{% endblock %}
</div>