
<div class="row">

    {% if type == 'competition' %}
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#">Summary</a></li>
                <li><a href="#">Results</a></li>
                <li><a href="#">Fixtures</a></li>
                <li><a href="#">Tables</a></li>
                <li><a href="#">Teams</a></li>
            </ul>
        </div>
    {% elseif type == 'country' %}
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-country" role="tablist">
                <li class="active"><a href="#">Summary</a></li>
                <li><a href="#">Tables</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Competitions</a></li>

            </ul>
        </div>
    {% elseif type == 'team' %}
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#">Summary</a></li>
                <li><a href="#">Results / Fixtures</a></li>
                <li class="active"><a href="#">Tables</a></li>
                <li><a href="#">Squad</a></li>
                <li><a href="#">Stats </a></li>
            </ul>
        </div>
    {% elseif type == 'player' %}
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#">Summary</a></li>
                <li class="active"><a href="#">Goals</a></li>
            </ul>
        </div>
    {% elseif type == 'match' %}
        <div class="col-md-12">
            <ul role="tablist" class="nav nav-tabs">
                <li class="active"><a href="#">Match Details</a></li>
                <li><a href="#">Head to Head</a></li>
                <li><a href="#">Odds</a></li>
                <li><a href="#">Chat</a></li>
                <li><a href="#">Videos <span class="badge">4</span></a></li>
                <li><a href="#">Streaming</a></li>
            </ul>
        </div>
    {% endif %}






</div>