<div class="row">
    <div class="col-md-4 player">
        <a href="#"><span class="name"><img src="img/sprites/realmadrid.png" alt="Real Madrid">Cristiano Ronaldo</span></a>
        <div class="goals">
            17
            <p><i class="icon-football"></i>Goals</p>
        </div>
        <div class="picture">
            <a href="#"><img src="img/player-default.png" class="img-circle" alt="Player"></a>
        </div>
    </div>
    <div class="col-md-4 player">
        <a href="#"><span class="name"><img src="img/sprites/psg.png" alt="PSG">Zlatan Ibrahimovic</span></a>
        <div class="goals">
            10
            <p><i class="icon-football"></i>Goals</p>
        </div>
        <div class="picture">
            <a href="#"><img src="img/player-default.png" class="img-circle" alt="Player"></a>
        </div>
    </div>
    <div class="col-md-4 player">
        <a href="#"><span class="name"><img src="img/sprites/barcelona.png" alt="Barcelona">Lionel Messi</span></a>
        <div class="goals">
            8
            <p><i class="icon-football"></i>Goals</p>
        </div>
        <div class="picture">
            <a href="#"><img src="img/player-default.png" class="img-circle" alt="Player"></a>
        </div>
    </div>
</div>