<div class="row">
    <div class="col-md-12">
        <h1>h1.Bootstrap heading</h1>
        <h2>h2.Bootstrap heading</h2>
        <h3>h3.Bootstrap heading</h3>
        <h4>h4.Bootstrap heading</h4>
        <h5>h5.Bootstrap heading</h5>
        <h6>h6.Bootstrap heading</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="lead">Cras justo odio, dapibus ac <b>facilisis</b> in, egestas eget quam. Morbi leo risus,
            porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at
            eros.
        </p>
        <p>Cras justo odio, dapibus ac facilisis in, <b>egestas eget</b> quam. Morbi leo risus, porta ac
            consectetur ac, <a href="#">link color</a> at eros. Morbi leo risus, <a href="#">blue link hover</a>
            ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, u
            <a href="#">black link hover</a> justo sit amet risus.
        </p>
        <p class="small">Integer posuere erat a ante venenatis <b>dapibus</b> posuere velit aliquet.
            Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
            Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        </p>
    </div>
</div>