<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#"><span class="sprite football"></span>Football</a></li>
            <li><a href="#"><span class="sprite-icons tennis"></span>Tennis</a></li>
            <li><a href="#"><span class="sprite-icons rugby"></span>Rugby</a></li>
            <li><a href="#"><span class="sprite-icons handball"></span>Handball</a></li>
            <li><a href="#"><span class="sprite-icons basketball"></span>Basketball</a></li>
        </ul>
    </div>
</div>