<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li class="active"><a href="#"><span class="sprite football"></span>Football</a></li>
            <li><a href="#"><span class="sprite tennis"></span>Tennis</a></li>
            <li><a href="#"><span class="sprite rugby"></span>Rugby</a></li>
            <li><a href="#"><span class="sprite handball"></span>Handball</a></li>
            <li><a href="#"><span class="sprite basketball"></span>Basketball</a></li>
        </ul>
    </div>
</div>