<div class="btn-group btn-group-justified">
    <a class="btn btn-primary active">Main</a>
    <a class="btn btn-default">Home</a>
    <a class="btn btn-default">Away</a>
    <a class="btn btn-default">Attack</a>
    <a class="btn btn-default">Defense</a>
    <a class="btn btn-default">1st Half</a>
    <a class="btn btn-default">2nd Half</a>
    <a class="btn btn-default">Fairplay</a>
    <div class="btn-group" role="group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="icon-caret-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Scorer</a></li>
        </ul>
    </div>
</div>