.table.table-odds{

  tbody{

    tr{

      td{

        &.logo{
          padding: 0 0 1px;
          vertical-align: middle;
        }

        &.best-odd{
          font-weight: @font-weight-bold;
        }

      }
    }
  }
}