.btn {
  background-color: rgb(240, 240, 240);
}

.btn-secondary {
  background-color: @ls-yellow-color;
  text-transform: uppercase;
  color: @text-color;

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: @ls-secondary-color;
  }

  &:active {
    color: @ls-yellow-color;
    background-color: @ls-secondary-color;
    box-shadow: none;
  }
}