// List of matches where matches have teams stakec vertically
.match-list.match-list--vertical {
  .match-item {
    display: flex;
    flex-direction: row;

    border-top: 1px solid #e2e2e2;
    color: @text-color-grayed;

    .match-item__when, .match-item__teams {
      padding: @spacer-2 @spacer-3;
    }

    .match-item__when {
      flex-basis: 130px;

      .match-item__competition {
        font-size: @text-size - 2;
      }
    }

    .match-item__teams {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .match-item__teams__team {
      display: flex;
      flex-direction: row;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      &.winner {
        font-weight: @text-weight-bold;
        color: @text-color-dark;
      }

      .team__logo {
        width: 18px;
        margin-right: 5px;
      }

      .team__name {
        flex-grow: 1;
      }

      .team__score {
        display: flex;
        flex-direction: column;
        flex-basis: 30px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
      }
    }
  }

  .match-item__date {
    color: @text-color;
  }
}

