// List of matches where matches have teams stakec vertically
.match-list.match-list--vertical {
  .match-item {
    display: flex;
    flex-direction: row;

    border-top: 1px solid #e2e2e2;
    color: @text-color-grayed;

    .match-item__when, .match-item__teams {
      padding: @spacer-2 @spacer-3;
    }

    .match-item__when {
      flex-basis: 110px;
      padding-right: 0;

      .match-item__date,
      .match-item__competition {
        font-size: @font-size-x-small;
      }
    }

    .match-item__teams {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-size: @font-size-x-small;
    }

    .match-item__teams__team {
      display: flex;
      flex-direction: row;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      &.winner {
        font-weight: @font-weight-bold;
        color: @text-color-dark;
      }

      .team__logo {
        width: 18px;
        margin-right: 5px;
        img {
          width: 100%;
        }
      }

      .team__name {
        flex-grow: 1;
      }

      .team__score {
        display: flex;
        flex-direction: column;
        flex-basis: 30px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
      }
    }

    @radius: 20px;
    .team__outcome {
      flex-basis: @radius;
      flex-grow: 0;
      flex-shrink: 0;

      display: flex;
      flex-direction: column;

      padding: @spacer-2 @spacer-2 @spacer-2 0;
    }

    .team__outcome__value {
      width: @radius;
      height: @radius;
      border-radius: @radius/2;

      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      color: @white;
      font-size: 12px;
      font-weight: @font-weight-bold;
      text-transform: uppercase;
    }

    .team__outcome--win {
      justify-content: flex-start;
      .team__outcome__value {
        background-color: @ls-primary;
      }
    }
    .team__outcome--lost {
      justify-content: flex-end;
      .team__outcome__value {
        background-color: @ls-danger;
      }
    }
    .team__outcome--draw {
      justify-content: center;
      .team__outcome__value {
        background-color: @ls-warning;
      }
    }
  }

  .match-item__date {
    color: @text-color;
  }
}

