.progress-top-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .progressbar__legend-value {

    &:last-child {
      align-items: flex-end;
    }

    &:nth-child(2):not(:last-child) {
      align-items: center;
    }
  }
}

.progressbar__legend-value {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;

  .legend, .number {
  }

  .legend {
    font-size: 13px;
    font-weight: normal;
    //font-weight: $text-weight-bold - 100;
    line-height: 1;
    margin-bottom: 3px;
    word-wrap: anywhere;
  }

  .number {
    font-weight: @font-weight-bold;
  }

  &.progressbar__legend-value--highlighted {
    .number {
      color: @brand-primary;
      font-weight: @font-weight-bolder;
    }
  }
}
