.panel-condensed{

  .comments{
    padding: 0 14px;
    margin: 0; 
    height: 277px;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid darken(@ls-light-color, 3.8%);
    border-top: 2px solid darken(@ls-light-color, 3.8%);
    
    .media-list{
      border: 0;
      
      .media{
        position: relative;
        padding: 10px 0;
        
        .img-circle{
          max-width: 47px;
        }
        
        .avatar{
          margin-right: 11px;
          
          .btn-group{
            margin-top: 5px; 
            display: block;
            
            .btn{
              line-height: 13px;
              font-size: 11px;
              padding: 1px 4px;
              margin-left: 0;
              
              &.btn-default{
                color: darken(@ls-light-color, 35.9%);
              }
            }
          }
        }
        
        .media-heading{
          h4, .name{
            font-size: 12px;
            margin-bottom: 7px;
          }
          
          .tools{
            top: 14px;
            right: 0;
            position: absolute;
            background: @ls-light-color;

            h5, .date{
              font-size: 10px;
              margin: 4px 0 0;
              white-space: nowrap;
              right: 0;
              position: absolute;
              background: @ls-light-color;
            }
            
            > a{
              display: none;
            }
          }
        }
        
        .media-body{
        
          p{
            margin: 0;
            font-size: 12px;
            line-height: 15px;
          }
        }
        
        &:hover{
        
          .media-heading{
          
            .tools{
            
              h5, .date{
                display: none;
              }
              
              > a{
                display: inline-block;
              }
            }
          }
        }
        
        &.view-all{
          text-align: center;
          
          a{
            font-size: 12px;
          }
        }
        
      }
    }
  }
}