{% extends 'blocks/elements/full_page_error.html.twig' %}

{% block image_block %}<img class="message-image" src="{{ basePath }}img/errors/403-error.jpg">{% endblock %}

{% block message_title %}Off-side !{% endblock %}
{% block message_sub_title %}You're not allowed to access this page{% endblock %}
{% block message_buttons %}
    <button type="button" class="btn btn-primary"><span class="icon-caret-left"</span> Return to home page </button>
{% endblock %}
