{% extends 'blocks/elements/full_page_error.html.twig' %}

{% block image_block %}<img class="message-image" src="{{ basePath }}img/errors/404-error.svg">{% endblock %}

{% block message_title %}Target missed !{% endblock %}
{% block message_sub_title %}The requested page does not exist{% endblock %}
{% block message_buttons %}
    <button type="button" class="btn btn-primary"><span class="icon-caret-left"</span> Return to home page </button>
{% endblock %}
