.widget-creator-widget-subject{
	> .row{
		margin: 0;

		> div{
			padding: 25px 20px;

			> .nav-pills{
				margin-bottom: 28px; 
			}

			.search-competition{
				label{
					font-size: @font-size-base;
					font-weight: @font-weight-semi-bold;
					margin-bottom: 10px;
					margin-top: 18px;
				}

				.inner-addon{
					position: relative;
					margin-bottom: 20px;

					> .glyphicon{
					  position: absolute;
					  padding: 10px;
					  pointer-events: none;
					  color: darken(@ls-light-color, 31.2%);
					  top: 3px;
					}

					&.left-addon{
						.glyphicon{ 
							left: 5px;
						}

						input  { 
							padding-left: 30px; 
						}
					}

					&.right-addon{
						.glyphicon{ 
							right: 5px;
						}

						input { 
							padding-right: 30px; 
						}
					}

					input{
						height: auto;
						padding-top: 11px;
						padding-bottom: 11px;
						.border-radius(2px);
					}

					.dropdown-menu{
						width: 100%;
						margin-top: 0;
						padding-bottom: 0;
						margin-bottom: 0;

						> li{
							> a{
								> span{
									margin-right: 8px;
								}
							}

							&.pag-nav{
								font-size: 0;
								text-align: center;
								background-color: darken(@ls-light-color, 7%);
								padding: 10px;

								ul.pagination{
									margin: 0;
								}
							}
						}
					}
				}

				.title{
					display: block;
					font-weight: @font-weight-semi-bold;
					font-size: @font-size-xx-large;
					margin-bottom: 20px;
				}

				.table{
					border: 1px solid darken(@ls-light-color, 4%);

					tbody{
						tr{
							td{
								&.number{
									text-align: right;
								}

								&.flag{
									text-align: center;
									padding-left: 0;
									padding-right: 0;
									width: 1%;
								}

								&.functions{
									text-align: right;

									.btn{
										.border-radius(2px);
									}
								}
							}
						}
					}
				}
			}
		}
	}	
}