.widget-creator-widget-subject{
	> .row{

		> div{

			.search-competition{
				label{
					font-size: @font-size-base;
					font-weight: @font-weight-semi-bold;
					margin-bottom: 10px;
					margin-top: 18px;
				}

				.title{
					display: block;
					font-weight: @font-weight-semi-bold;
					font-size: @font-size-xx-large;
					margin-bottom: 20px;
				}
			}
		}
	}	
}