<div class="panel panel-default">
    <div class="panel-heading">
        Contest Rules
    </div>
    <div class="panel-body">
        <a href="#"><img class="center-block" src="{{ ImageDirPath }}contest-rules-icon.png"></a>
    </div>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>Read full rules</a>
    </div>
</div>