<div class="panel panel-default season-gifts">
    <div class="panel-heading">
        <div class="panel-title">Season gifts</div>
    </div>
    <table class="table table-stripped">
        <tbody>
        <tr>
            <td class="odd place">1st</td>
            <td class="gift-img"><img src="img/user-dashboard/gift1.png" alt="Season Gift"></td>
            <td class="gift">iPhone 6</td>
        </tr>
        <tr>
            <td class="odd place">2nd</td>
            <td class="gift-img"><img src="img/user-dashboard/gift2.png" alt="Season Gift"></td>
            <td class="gift">Gopro Hero3+ White Edition</td>
        </tr>
        <tr>
            <td class="odd place">3rd</td>
            <td class="gift-img"><img src="img/user-dashboard/gift3.png" alt="Season Gift"></td>
            <td class="gift">iPad mini wifi 16go</td>
        </tr>
        <tr>
            <td class="odd place">4 - 5</td>
            <td class="gift-img"><img src="img/user-dashboard/gift4.png" alt="Season Gift"></td>
            <td class="gift">Pack Stadium Box</td>
        </tr>
        <tr>
            <td class="odd place">6 - 7</td>
            <td class="gift-img"><img src="img/user-dashboard/gift5.png" alt="Season Gift"></td>
            <td class="gift">Maillot</td>
        </tr>
        <tr>
            <td class="odd place">8 - 9</td>
            <td class="gift-img"><img src="img/user-dashboard/gift6.png" alt="Season Gift"></td>
            <td class="gift">FIFA 15</td>
        </tr>
        <tr>
            <td class="odd place">10</td>
            <td class="gift-img"><img src="img/user-dashboard/gift7.png" alt="Season Gift"></td>
            <td class="gift">Carte cadeau Intersport (valeur 50€)</td>
        </tr>
        </tbody>
    </table>
</div>