<div class="panel panel-condensed panel-default archives">
    <div class="panel-heading">
        Other contests
    </div>
    <table class="table table-striped no-border">
        <tbody>
        <tr>
            <td class="icon"><span class="icon icon-cup"></span></td>
            <td><a href="#">Contest : Season 2013/14</a></td>
        </tr>
        <tr>
            <td class="icon"><span class="icon icon-cup"></span></td>
            <td><a href="#">Contest : Season 2012/13</a></td>
        </tr>
        </tbody>
    </table>
</div>