<div class="panel panel-condensed panel-default prediction-statistics">
    <div class="panel-heading">
        Predictions statistics
    </div>
    <div class="panel-body">
        <div class="row stat">
            <div class="col-xs-9">
                <span class="title">Success rate</span>
            </div>
            <div class="col-xs-3">
                <span class="number active">56%</span>
            </div>
        </div>
        <div class="row stat">
            <div class="col-xs-9">
                <span class="title">Predictions "2" correct</span>
            </div>
            <div class="col-xs-3">
                <span class="number">56</span>
            </div>
        </div>
        <div class="row statistics">
            <div class="col-xs-4">
                <span class="title">won</span>
                <span class="number won">168</span>
            </div>
            <div class="col-xs-4">
                <span class="title">lost</span>
                <span class="number lost">132</span>
            </div>
            <div class="col-xs-4">
                <span class="title">total</span>
                <span class="number total">300</span>
            </div>
            <img src="{{ basePath }}img/prediction-statistics-chart.png" alt="Prediction Statistics Chart">
        </div>
    </div>
</div>