<div class="panel panel-default first-day-month-gift">
    <div class="panel-heading">
        <div class="panel-title">Gift for the 1st of each month</div>
    </div>
    <div class="panel-body">
        <span class="title">1<sup>st</sup></span>
        <p class="description">Your favorite team shirt</p>
        <img src="img/user-dashboard/1st-gift.png" alt="1st of Month Gift">
        <a href="#"><span class="icon-caret-right"></span> Rules & Gifts</a>
    </div>
</div>