<div class="panel panel-condensed panel-default predictions-filter">
    <div class="panel-heading">
        <div class="panel-title">
            Predictions Filter
        </div>
    </div>
    <div class="panel-body">
        <label for="select1">Filter by competition :</label>
        <select id="select1" multiple class="form-control">
            <option>Tous</option>
            <option>Coupe du Monde (23)</option>
            <option>Ligue des Champions (21)</option>
            <option>Ligue 1 (17)</option>
        </select>
        <label for="select1">Filter by result :</label>
        <div class="row">
            <div class="col-sm-4">
                <div class="radio">
                    <input id="radio2" type="radio" checked="" name="radio1">
                    <label for="radio2">All</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="radio">
                    <input id="radio3" type="radio" checked="" name="radio1">
                    <label for="radio3">Won</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="radio">
                    <input id="radio4" type="radio" checked="" name="radio1">
                    <label for="radio4">Lost</label>
                </div>
            </div>
        </div>
    </div>
</div>