<div class="panel panel-default share-contest">
    <div class="panel-heading">Challenge your friends!</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">

                <p>
                    Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="col-xs-6">
                <span class="share-buttons-title">Share the contest !</span>
                <a class="btn btn-facebook btn-block">Share on facebook</a>
                <a class="btn btn-twitter btn-block">Share on twitter</a>
                <a class="btn btn-default btn-block">Share by email</a>
            </div>

        </div>
    </div>
</div>