<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default last-predictions">
            <div class="panel-heading">
                Your last Predictions
            </div>
            <div class="panel-content">
                <table class="table matches predictions table-condensed table-striped no-border">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                        <th>Score</th>
                        <th></th>
                        <th>Prediction</th>
                        <th class="text-center">Trend</th>
                        <th>Aide</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="icon odd"><span class="icon icon-clock"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Leverkusen</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Werder Brême</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-success">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon odd"><span class="icon icon-clock"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">13/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/bundesliga.png" alt="Bundes liga"></td>
                        <td class="team team1"><a href="#">Arsenal</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Man City</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-failed">1</a>
                                <a class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-result">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon odd"><span class="icon icon-clock"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">13/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/premiereleague.png" alt="Premiere League"></td>
                        <td class="team team1"><a href="#">Bayern</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Stuttgart</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a class="btn btn-prediction">1</a>
                                <a class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-success">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon odd"><span class="icon icon-clock"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Barcelone</a></td>
                        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                        <td class="team team2"><a href="#">Ath. Bilbao</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a class="btn btn-prediction">1</a>
                                <a class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-success">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Rennes</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">0</span></a></td>
                        <td class="team team2"><a href="#">PSG</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-done">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Bastia</a></td>
                        <td class="score"><a href="#"><span class="home-score">2</span><span class="versus"> - </span><span class="away">1</span></a></td>
                        <td class="team team2"><a href="#">Lens</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-success">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Reims</a></td>
                        <td class="score"><a href="#"><span class="home-score">1</span><span class="versus"> - </span><span class="away">3</span></a></td>
                        <td class="team team2"><a href="#">Toulouse</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-result">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-failed">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">St Etienne</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">2</span></a></td>
                        <td class="team team2"><a href="#">Caen</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-success">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Real Madrid</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">1</span></a></td>
                        <td class="team team2"><a href="#">Atletico M.</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-failed">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-result">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Juventus</a></td>
                        <td class="score"><a href="#"><span class="home-score">1</span><span class="versus"> - </span><span class="away">0</span></a></td>
                        <td class="team team2"><a href="#">Udinese</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-success">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Lille</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">1</span></a></td>
                        <td class="team team2"><a href="#">Nantes</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction-failed">X</a>
                                <a href="#" class="btn btn-prediction-result">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Guingamp</a></td>
                        <td class="score"><a href="#"><span class="home-score">2</span><span class="versus"> - </span><span class="away">2</span></a></td>
                        <td class="team team2"><a href="#">Bordeaux</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction">1</a>
                                <a href="#" class="btn btn-prediction-success">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-won event-won prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-ok"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Man Utd</a></td>
                        <td class="score"><a href="#"><span class="home-score">1</span><span class="versus"> - </span><span class="away">3</span></a></td>
                        <td class="team team2"><a href="#">QPR</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-success">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    <tr class="prediction-lost event-lost prediction-closed">
                        <td class="icon odd"><span class="icon glyphicon glyphicon-remove"></span></td>
                        <td class="date" data-toggle="tooltip" data-placement="top" title="20h00" data-container="body">12/09</td>
                        <td class="league-logo"><img class="league" src="img/sprites/ligue1.png" alt="League 1"></td>
                        <td class="team team1"><a href="#">Evian</a></td>
                        <td class="score"><a href="#"><span class="home-score">0</span><span class="versus"> - </span><span class="away">2</span></a></td>
                        <td class="team team2"><a href="#">OM</a></td>
                        <td class="prediction">
                            <div class="btn-group btn-group-justified btn-group-xs">
                                <a href="#" class="btn btn-prediction-failed">1</a>
                                <a href="#" class="btn btn-prediction">X</a>
                                <a href="#" class="btn btn-prediction-result">2</a>
                            </div>
                        </td>
                        <td class="trend">
                            <div class="progress">
                                <div style="width: 35%" class="progress-bar progress-bar-home">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                                <div style="width: 30%" class="progress-bar progress-bar-neutral">
                                    <span class="sr-only">10% Complete (warning)</span>
                                </div>
                                <div style="width: 35%" class="progress-bar progress-bar-away">
                                    <span class="sr-only">40% Complete (danger)</span>
                                </div>
                            </div>
                        </td>
                        <td class="tools">
                            <a href="#"><i class="icon-bulb"></i></a>
                            <a href="#"><i class="icon-bell"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-pagination">
                    <a href="#"><span class="icon-caret-right icon"></span>All my predictions</a>
                    <ul class="pagination pagination-xs">
                        <li><a href="#"><span class="icon-caret-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="icon-caret-right"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
