<div class="panel panel-condensed panel-default how-to-play">
    <div class="panel-heading">
        Prediction contest quick info
    </div>
    <div class="panel-body">
        <p>Donec id elit non mi porta gravida at eget et magnus metus.</p>
        <div class="image">
            <img src="{{ ImageDirPath }}user-dashboard/cup.png" alt="Cup">
            <p>Classe-toi parmi les meilleurs et remporte des cadeaux !</p>
        </div>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget</p>
    </div>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right icon"></span>Rules & Prizes</a>
    </div>
</div>