.profile-wall{ 
  position: relative;
  min-height: 100px;
  background-color: darken(@ls-light-color,30%); 

  > img{
    max-width: 100%;
  }

  a.change-image{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.27);
    position: absolute;
    right: 0;
    top: 0;
    color: @ls-light-color;

    .icon{
      font-size: 18px;
      margin-right: 5px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
    
    &:hover{
      background-color: @brand-primary;
      color: @ls-light-color;
    }
  }

  .profile-image{
    height: 138px;
    width: 138px;
    .border-radius(50%);
    overflow: hidden;
    position: absolute;
    display: block;
    bottom: -49px;
    left: 24px;

    > img{
      height: 100%;
      width: 100%;
    }

    > a{
      height: 80px;
      width: 80px;
      display: block;
      position: absolute;
      bottom: -40px;
      background-color: rgba(0, 0, 0, 0.27);
      .border-radius(50%);
      left: 50%;
      margin-left: -40px;
      text-align: center;
      padding-top: 10px;

      .icon{
        font-size: 20px;
        color: @ls-light-color;
      }

      &:hover{
        background-color: @brand-primary;
      }

    }
  }

  .display-name{
    position: absolute;
    font-size: 28px;
    bottom: 10px;
    left: 180px;
    color: @ls-light-color;
    font-weight: @font-weight-normal;
    margin: 0;
  }
}

ul.profile-nav{
  margin-top: 23px;

  li{

    &:first-child{
      margin-left: 178px;
    }
  }
}

.content{

  .profile-tabs{
    margin-bottom: 20px;
  }

  ul.media-list{

    li{

      .match-info{
        text-align: center;
        padding: 0 70px 12px;
        position: relative;

        .date{
          display: inline-block;
          font-size: @font-size-x-small;
          position: relative;
          background-color: darken(@ls-light-color, 6%);
          padding: 5px 15px;
          margin-bottom: 10px;
        }

        img{
          max-width: 47px;
          max-height: 47px;
          margin-top: 12px;
          position: absolute;

          &.team1{
            left: 15px;
          }

          &.team2{
            right: 15px;
            top: 0;
          }
        }

        table.user-prediction{
          width: 100%;

          tr{

            td{

              &.team1{
                width: 38%;
                text-align: right;
                font-size: 17px;
                font-weight: @font-weight-semi-bold;
              }

              &.prediction{
                width: 22%;

                .btn-group{
                  margin-bottom: 0;
                }
              }

              &.team2{
                text-align: left;
                font-size: 17px;
                font-weight: @font-weight-semi-bold;
              }
            }
          }
        }
      }

      .indicators{
        margin: 0;
        padding: 0;
        background-color: darken(@ls-light-color, 2.8%);
        margin-top: 8px;
        margin-bottom: 10px;
     
        > div{
          padding: 15px 0;
          text-align: right;
          font-size: @font-size-small;
          
          &:first-child{
            padding-left: 20px;
            text-align: left;
          }

          &:last-child{
            padding-right: 20px; 
          }

          .number-big{
            font-size: @ls-contest-grid-big-number-font-size;
            line-height: @ls-contest-grid-big-number-font-size;
            color: lighten(@ls-dark-color, 36%);
            margin-right: 4px;
            margin-left: 3px;
          }

          .number-small{ 
            font-size: @font-size-x-large;
            color: darken(@ls-light-color, 30%);
          }

        }
      }
    } 
  }
}

ul.image-list{
  list-style: none; 
  padding: 0;
  margin: 0;
  font-size: 0;

  li{
    display: inline-block;
    padding: 13px;

    img{
      max-width: 35px;
      max-height: 35px;          
    }
  }
}

.contest-ranking{

  .panel-body{
    text-align: center;

    span.title{
      text-transform: uppercase;
      font-weight: @font-weight-bold;
      font-size: @font-size-small;
    }

    ul{
      list-style: none;
      padding: 0; 

      li.rank{
        border-bottom: 1px solid darken(@ls-light-color, 7%);
        margin-bottom: 10px;

        .rank-numbers{
          margin-top: 5px;
          margin-bottom: 10px;

          span{
            font-size: 28px;

            &.rank1{          
              font-weight: @font-weight-semi-bold;

              &.active{
                color: @brand-primary;
              }

              sup{
                font-size: 17px !important;
              }
            }
          }
        }

      }
    }
  }

  .evolution-image{

    img{
      width: 100%;
    }
  }
}

.prediction-statistics{

  .panel-body{

    .stat, .statistics{
      padding: 17px 0;
      border-bottom: 1px solid darken(@ls-light-color, 7%);

      span{

        &.title{
          text-transform: uppercase;
          font-weight: @font-weight-bold;
          font-size: @font-size-small; 
        }

        &.number{
          float: right;
          line-height: 18px;
          font-size: 21px;
          font-weight: @font-weight-semi-bold;

          &.active{
            color: @brand-primary;
            font-size: 28px;
            font-weight: @font-weight-semi-bold;
          }
        }
      }
    }

    .stat:first-child{
      padding-top: 4px;
    }

    .statistics{
      border: 0;
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 0;

      span{

        &.number{
          float: none;
          display: block;
          margin-top: 15px;
        }

        &.won{
          color: @brand-primary;
        }

        &.lost{
          color: @live-red;
        }
      }
    }

    img{
      margin-top: 25px;
      margin-bottom: 13px;
    }
  }
}

.change-profile-image{
  > .row{
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;

    .left-side{
      vertical-align: top;
      display: table-cell;
      float: none;
      padding: 0;
      border-right: 1px solid darken(@ls-light-color, 10.3%);
      background-color: darken(@ls-light-color, 2.8%);

      .current-image{
        padding: 20px;
        text-align: center;

        img{
          .border-radius(50%);
          margin-bottom: 8px;
          max-width: 104px;
          max-height: 104px;
        }
      }
    }

    .options{
      vertical-align: top;
      display: table-cell;
      float: none;
      padding: 15px 20px;

      label{
        font-weight: @font-weight-semi-bold;
        font-size: @font-size-medium;
        margin-bottom: 10px;
      }

      .predefined-images{
        margin-bottom: 20px;

        ul{
          margin: 0;
          padding: 0;
          overflow: hidden;

          > li{
            float: left;
            list-style: none;
            display: block;
            text-align: center;
            margin-right: 20px;

            .img{
              .border-radius(50%);
              display: inline-block;
              margin-bottom: 5px;

              img{
                border: 1px solid @ls-light-color;
                height: 50px;
                width: 50px;
              }
            }

            .name{
              display: block;
            }

            a{
              color: lighten(@ls-dark-color, 36%);
              outline: none;
            }

            &.selected-image{
              .img{
                position: relative;
                border: 3px solid transparent;
                border-color: @brand-primary;

                img{
                  max-height: 44px;
                  max-width: 44px;
                }

                &:after{
                  content: "\e013";
                  font-family: @ls-bootstrap-icons-font-family;
                  font-size: @font-size-normal;
                  color: @brand-primary;
                  position: absolute;
                  display: block;
                  left: 0;
                  bottom: 4px;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .custom-picture{
        > .row{
          > div{

            &:first-child{
              padding-right: 0;
              text-align: center;

              &.selected-image{
                .img{
                  .border-radius(50%);
                  display: inline-block;
                  position: relative;
                  border: 3px solid transparent;
                  border-color: @brand-primary;

                  img{
                    max-height: 46px;
                    max-width: 46px;
                  }

                  &:after{
                    content: "\e013";
                    font-family: @ls-bootstrap-icons-font-family;
                    font-size: @font-size-normal;
                    color: @brand-primary;
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: 4px;
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        .add-file{
          cursor: pointer;
        }

        .drag-zone{
          border: 2px dashed darken(@ls-light-color, 13%);
          padding: 9px;
          text-align: center;

          .drag-message{

            > span{
              font-size: @font-size-normal;
            }

            .btn{
              padding-top: 7px;
              padding-bottom: 7px;
              margin-left: 10px;

              .icon{
                font-size: @font-size-large;
                position: relative;
                vertical-align: middle;
                top: -2px;
                margin-right: 10px;
              }
            }
          }

          .drop-message{
            display: none;
            font-size: @font-size-normal;
            line-height: 32px;

            .icon{
              font-size: 27px;
              vertical-align: middle;
              position: relative;
              top: -1px;
              margin-right: 5px;
            }
          }

          &.dragging{
            background-color: @active-green;
            color: @ls-light-color;
            border-color: @ls-light-color;

            .drop-message{
              display: block;
            }

            .drag-message{
              display: none;
            }
          }
        }
      }

      .my-teams{

        .scroll-container{
          overflow: auto;
          width: 100%;
          padding-bottom: 10px;
        }

        ul{
          display: inline-block;
          padding: 0;
          margin: 0;
          white-space: nowrap;

          > li{
            list-style: none;
            display: inline-block;
            text-align: center;
            min-width: 70px;

            .logo{
              background-color: darken(@ls-light-color, 4.7%);
              display: inline-block;
              .border-radius(50%);
              height: 52px;
              width: 52px;
              margin-bottom: 5px;

              img{
                width: 100%;
                height: 100%;
              }
            }

            .name{
              display: block;
            }

            &.selected-image{
              .logo{
                position: relative;
                border: 3px solid transparent;
                border-color: @brand-primary;

                img{
                  max-height: 44px;
                  max-width: 44px;
                }

                &:after{
                  content: "\e013";
                  font-family: @ls-bootstrap-icons-font-family;
                  font-size: @font-size-normal;
                  color: @brand-primary;
                  position: absolute;
                  display: block;
                  left: 0;
                  bottom: 4px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}