<div class="row">
<div class="col-xs-12">
    <div class="teams-table">
        <span class="title">Équipes : <span>France</span></span>
        <table class="table">
            <tbody>
            <tr>
                <td class="logo"><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/fr.png" alt="France"></span></td>
                <td class="name">France</td>
            </tr>
            <tr>
                <td class="logo"><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/fr.png" alt="France"></span></td>
                <td class="name">France U17 (F)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>