<div class="row">
<div class="col-md-12">
    <div class="teams-table">
        <span class="title">Équipes : <span>France</span></span>
        <table class="table table-striped no-border">
            <tbody>
            <tr>
                <td class="logo"><img src="{{ ImageDirPath }}sprites/fr.png" alt="France"></td>
                <td class="name">France</td>
            </tr>
            <tr>
                <td class="logo"><img src="{{ ImageDirPath }}sprites/fr.png" alt="France"></td>
                <td class="name">France U17 (F)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>