<ul class="dropdown-menu" role="menu">
    <li><a href="#"><img class="team" src="img/sprites/psg.png" alt="PSG">Paris Saint Germain</a></li>
    <li class="divider"></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Claudio Paris</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Vinicio Paris</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Marc Paris</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Michele Paris</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Thomas Paris</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Niko Paris</a></li>
    <li class="pag-nav">
        <ul class="pagination pagination-xs">
            <li><a href="#"><span class="icon-caret-left"></span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><span class="icon-caret-right"></span></a></li>
        </ul>
    </li>
</ul>