<div class="row">
    <div class="col-md-12">
        <div class="search-block">
            <label>Rechercher</label>
            <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input data-toggle="dropdown" type="text" placeholder="Champions League, Europa League..." class="form-control">
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><img class="team" src="img/sprites/psg.png" alt="PSG">Paris Saint Germain</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Claudio Paris</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Vinicio Paris</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Marc Paris</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Michele Paris</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Thomas Paris</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Niko Paris</a></li>
                    <li class="pag-nav">
                        <ul class="pagination pagination-xs">
                            <li><a href="#"><span class="icon-caret-left"></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span class="icon-caret-right"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="option-group-name">Filtres</span>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check1">
                        <label for="check1">Compétitions</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check2">
                        <label for="check2">Equipes</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check3">
                        <label for="check3">Matchs</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check4">
                        <label for="check4">Joueurs</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check5">
                        <label for="check5">Pays</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check6">
                        <label for="check6">Actualités</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="option-group-name">Sport</span>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check7">
                        <label for="check7">Foot</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" checked="" id="check8">
                        <label for="check8">Tennis</label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#">- Masquer les filtres</a>
            </div>
        </div>
    </div>
</div>