<div class="panel panel-default team-over-under">
    <div class="panel-heading">
        O/U 2,5 Goals
        {% if logo %}
            <div class="tools">
                <img class="team-logo" alt="Real" src="img/sprites/realmadrid.png">
            </div>
        {% endif %}
    </div>
    <div class="panel-body">
        <div id="chart_OU{{ team2 }}"></div>
    </div>
</div>