<div class="panel panel-default team-over-under">
    <div class="panel-heading">
        O/U 2,5 Goals
        {% if logo %}
            <div class="tools">
                <span class="icon-placeholder team-logo"><img alt="Real" src="{{ basePath }}img/sprites/realmadrid.png"></span>
            </div>
        {% endif %}
    </div>
    <div class="panel-body">
        <div id="chart_OU{{ team2 }}"></div>
    </div>
</div>