<div class="panel panel-default stats">
    <div class="panel-heading">
        Past PSG Season Statistics
    </div>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th></th>
            <th>2011/12</th>
            <th>2012/13</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Points</td>
            <td class="date">79</td>
            <td class="date">83</td>
        </tr>
        <tr>
            <td>Nb Of League Games Played</td>
            <td class="date">38</td>
            <td class="date">38</td>
        </tr>
        <tr>
            <td>won</td>
            <td class="date">23</td>
            <td class="date">25</td>
        </tr>
        <tr>
            <td>Draw</td>
            <td class="date">10</td>
            <td class="date">8</td>
        </tr>
        <tr>
            <td>Lost</td>
            <td class="date">5</td>
            <td class="date">5</td>
        </tr>
        <tr>
            <td>Goals For</td>
            <td class="date">75</td>
            <td class="date">69</td>
        </tr>
        <tr>
            <td>Goals Against</td>
            <td class="date">41</td>
            <td class="date">23</td>
        </tr>
        <tr>
            <td>Goal Difference</td>
            <td class="date">34</td>
            <td class="date">46</td>
        </tr>
        </tbody>
    </table>
</div>