{% extends 'blocks/base.html.twig' %}

{% set panel_classes = 'panel-default' %}
{% block panel_heading %}
    <div class="panel-title">Results statistics</div>
{% endblock %}

{% block widget_content %}
    <div class="panel-body">
        <div class="row stats-holder">
            <div class="col-xs-6 stat-block">
                    <div class="yellow-cards">
                        <p>2013 / 2014</p>
                        <div id="chart_team_results_1"></div>
                    </div>
            </div>
            <div class="col-xs-6 stat-block">
                    <div class="red-cards">
                        <p>2014 / 2015</p>
                        <div id="chart_team_results_2"></div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
