<div class="row">
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-title"><span class="icon icon-football"></span>Last Result</div>
                <div class="tools">
                    <a href="#"><span class="icon-caret-right"></span>Statistics</a>
                </div>
            </div>
            <div class="description">
                <div class="name">LdC - Group Stage - Day 1</div>
                <div class="date">Fri. 23 June</div>
            </div>
            <table class="table table-striped my-games no-border">
                <tbody>
                <tr>
                    <td class="team team1"><a href="#">PSG<img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></a></td>
                    <td class="score"><a class="has-score-details" href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Team 5"><b>Barcelona</b></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-title"><span class="icon icon-calendar"></span>Next Game</div>
                <div class="tools">
                    <a href="#"><span class="icon-caret-right"></span>Gamecast</a>
                </div>
            </div>
            <div class="description">
                <div class="name">Ligue 1 - 25ème journée</div>
                <div class="date">Sat. 14 July</div>
            </div>
            <table class="table table-striped my-games no-border">
                <tbody>
                <tr>
                    <td class="team team1"><a href="#">Nimes<img src="{{ basePath }}img/sprites/team2.png" alt="Team 2"></a></td>
                    <td class="score"><a class="has-score-details" href="#">20h00</a></td>
                    <td class="team team2"><a href="#"><img src="{{ basePath }}img/sprites/psg.png" alt="Team 5"><b>PSG</b></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>