<div class="panel panel-default team-over-under">
    <div class="panel-heading">
        O/U 2,5 Goals Madrid
        <div class="tools">
            <ul class="nav nav-pills teams">
                <li><img alt="Real" src="img/sprites/realmadrid.png"></li>
            </ul>
        </div>
    </div>
    <table class="table table-condensed table-striped no-border">
        <thead>
        <tr>
            <th><b>Goals</b></th>
            <th class="text-right"><b>This season</b></th>
            <th class="text-right"><b>Past season</b></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Over 2,5 Goals</td>
            <td class="text-right"><b>16 (67%)</b></td>
            <td class="text-right"><b>16 (67%)</b></td>
        </tr>
        <tr>
            <td>Under 2,5 Goals</td>
            <td class="text-right"><b>8 (33%)</b></td>
            <td class="text-right"><b>8 (33%)</b></td>
        </tr>
        </tbody>
    </table>
</div>