<div class="panel panel-condensed panel-default standings-evolution">
    <div class="panel-heading">
        Standing evolution
    </div>

    <div class="empty-state">
        <span class="glyphicon glyphicon-th-list"></span>
        <p>No data available</p>
    </div>
</div>

