/*custom progress bars*/
.progress-bar-home{
  background-color: @ls-trend-home;
}

.progress-bar-neutral{
  background-color: @ls-trend-neutral;
  border-left: 1px solid @ls-light-color;
  border-right: 1px solid @ls-light-color;
}

.progress-bar-away{
  background-color: @ls-trend-away;
}