.step-heading{
	margin-bottom: 25px;

	.label{
		padding: 0;
		display: inline-block;
		text-align: center;
		font-weight: @font-weight-semi-bold;
		font-size: @ls-widget-creator-section-label-font-size;
		width: @ls-widget-creator-section-label-size;
		height: @ls-widget-creator-section-label-size;
		line-height: @ls-widget-creator-section-label-size;
		.border-radius(50%);
		color: @ls-light-color;
		background-color: @ls-widget-creator-section-label-bg;
		margin-right: 7px;
	}

	.title{
		font-size: @font-size-xx-large;
		font-weight: @font-weight-semi-bold;
		margin-right: 7px;
	}

	.description{
		font-weight: @font-weight-light;
		font-size: @font-size-normal;
	}
}