.search-block{
	padding: 20px;
	background-color: darken(@ls-light-color, 2%);
	border: 1px solid darken(@ls-light-color, 6.2%);

	label{
		font-weight: @font-weight-semi-bold;
	}

	.option-group-name{
		display: block;
		text-transform: uppercase;
		font-weight: @font-weight-semi-bold;
		color: darken(@ls-light-color, 41%);
	}

	div.checkbox{
		display: block;
		margin-bottom: 13px;
	}
}

.dropdown-search{
  li{

    a{

      img{
        height: 20px;
        margin-right: 5px;
        width: 20px;
      }

      .glyphicon-user{
        color: darken(@ls-light-color, 24.7%);
      }
    }
  }
}