main{

  .create-widget{
    border: 1px solid darken(@ls-light-color, 6.2%);
    overflow: hidden;

    img{
      float: left;
    }

    .content{
      padding: 20px;
      margin-left: 115px;

      p{
        font-weight: @font-weight-semi-bold;
        font-size: @font-size-normal;
        margin-bottom: 20px;
      }

      a{
        font-size: @font-size-normal;
      }

      button{
        margin-top: 20px;
      }
    }
  }

  .widget-conditions{

    p{
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .important{
      color: @warning-red;
    }
  }

  .fixtures-widgets, .standings-widgets, .livescore-widgets, .matches-widgets{

    tbody{

      tr{

        td{
          vertical-align: middle;
        }

        td.icon{
          width: 2%;

          img{
            max-width: 28px;
            max-height: 28px;
            margin-left: 6px;
          }
        }

        td.content{
          max-width: 70%;

          a.edit{
            color: lighten(@ls-dark-color, 53.5%);
            font-size: 16px;
            margin-left: 7px;
          }

          input{
            max-width: 58%;
            display: inline-block;
          }

          button{
            margin-left: 6px;
          }
        }

        td.button{
          text-align: right;
          max-width: 100%;

          .btn-default{
            margin-right: 5px;

            span{
              color: lighten(@ls-dark-color, 53.5%);
            }
          }

          .btn-danger{

            span{
              color: @ls-light-color;
            }
          }

          span.glyphicon{
            font-size: 18px;
            margin-right: 5px;
            line-height: 7px;
            position: relative;
            top: 4px;
          }
        }
      }
    }
  }

  .standings-widgets, .livescore-widgets, .matches-widgets{

    td.content{

      span.empty{
        color: darken(@ls-light-color, 21.5%);
        font-size: @font-size-small;
        font-weight: @font-weight-semi-bold;
      }
    }
  }
}