.visual-block{
  background: darken(@ls-light-color, 17%);
  
  img{
    max-width: 100%;
  }

  > * {
  	margin-left: auto;
  	margin-right: auto;
  }
}

.visual-bg {
	background-repeat: no-repeat;
	background-position: center 114px;

	&-only {
		> .container {
			margin-top: @ls-visual-only-height;
		}
	}

	&-fixed {
		background-attachment: fixed;
	}

	// Here goes each promotional background image
	&-prom {
		background-color: #ababab;
	}
}

.visual-top {
	padding: @ls-top-banner-padding;
	text-align: center;

	> div {
		display: block;
		margin: 0 auto;
	}

	&-bg {
		background-color: @ls-top-banner-bg;
	}
}