/* Mixins */

.prediction-remove(@cross-color){
  &::before {
    content: '\e014';
    color: @cross-color;
    font-family: 'Glyphicons Halflings';
    position: absolute;
    background-color: #5A5A5A;
    padding: 0px;
    margin: 0px;
    left: 0px;
    right: 0px;
  }
}

/*Custom Buttons*/

.btn-prediction{
	.button-variant(@ls-btn-prediction; @ls-light-color; @ls-btn-prediction);

  /* need for IE only */
  &.disabled {
    &:hover {
      border-color: darken(@ls-light-color, 11.6%);
    }
  }
}


.btn-prediction-done{
  position: relative;
  .button-variant(@ls-light-color; lighten(@ls-dark-color, 45%); lighten(@ls-dark-color, 37%));

  &:hover {
    .prediction-remove(red);
  }
}


.btn-prediction-success{
	.button-variant(@ls-light-color; @ls-btn-success; @ls-success-border);
}
 

.btn-prediction-result{
	.button-variant(@ls-success-border; darken(@ls-light-color, 3%); @ls-success-border);
	border-right-width: 1px !important;
	outline: none;
}


.btn.btn-prediction-result + .btn{
  margin-left: 0;
}

.btn-prediction-failed{
	.button-variant(@ls-light-color; @ls-btn-danger; @ls-btn-danger - 15%);
	outline: none;
}



/* Prediction buttons status depending on prediction state */

.prediction-locked{

  &.btn-group {
    cursor: not-allowed;
    pointer-events: none;

  }

  .btn-prediction{
      border-color: darken(@ls-light-color, 11.6%);
      color: lighten(@ls-dark-color, 20%);
  }

  .btn-prediction-success, .btn-prediction-failed, .btn-prediction-result {
      cursor: default;
  }

  .btn {
    opacity: 1;
  }

}

.prediction-closed{

  &.btn-group {
    cursor: default;
  }

  .prediction-locked;

  .btn {
      cursor: default; //necessary on IE
  }
}


.prediction-hidden{
       
	.prediction-locked;
  
}

.prediction-cancelled{

	&.prediction-closed.btn-group,
	.btn {
      opacity: 1;
      pointer-events: none;

	}
}

.prediction{
	.btn-hidden{
		text-transform: uppercase;
		font-size: @font-size-x-small;
	}
}


/* Livescore specific buttons */

.btn-live{
  position: relative;
  padding-left: 23px;
  
  &:after{
    position: absolute;
    background: url("@{ls-image-live-spot}") no-repeat 0 center;
    content: "";
    display: block;
    width: 8px;
    height: 100%;
    left: 10px;
    top: 0;
  }
}

.btn-selector-group{

  .btn-selector-item{
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
    width: 95px;

    .btn-selector{
      margin-bottom: 10px;
      padding: 20px 5px;
      box-sizing: border-box;
      width: 100%;

      &.active{
        border-width: 4px;
        border-color: @active-green;
        padding: 17px;
        background-color: @btn-default-bg;
        box-shadow: none;

        &:hover{
          background-color: darken(@btn-default-bg, 10%);
        }
      }
    }

    .title{
      text-align: center;
      display: block;
    }

    .popover{
      min-width: 418px;

      .popover-content{
        padding: 0;

        .content{
          padding: 20px;

          p{
            font-size: @font-size-base;
          }
        }
      }
    }
  }
}

.btn-facebook{
  .button-variant(@ls-light-color, @facebook-color, darken(@facebook-color, 5%));
}

.btn-twitter{
  .button-variant(@ls-light-color, @twitter-color, darken(@twitter-color, 5%));
}

.btn-block{
  .icon-expand{
    margin: 0 5px;
  }
}

.btn{

  &.dropdown-toggle{

    &.btn-partager{
      padding-right: 38px;
    }
  }

  &.large-icon{
    padding: 6px 23px 5px 11px;
    
    > span.icon{
      color: darken(@ls-light-color,39%);
      font-size: @font-size-base + 9;
      display: inline-block;
      font-size: 22px;
      height: 22px;
      vertical-align: middle;
      margin-right: 11px;
    }
    
    .icon-caret-down,.icon-expand{
      margin-top: -6px;
      position: absolute;
      right: 10px;
      top: 50%;
    }
  }
}

.btn.spinner{
  min-width: 100px;
  text-align: left;
  border:1px solid darken(@ls-light-color, 12%) !important;

  span.icon{
    float: right;
    line-height: @font-size-large;
  }
  
  .icon{
    font-size: @font-size-x-small;
  }
}

.btn-group{

  &.btn-group-justified{

    .btn{

      &.spinner{
        border-right-width: 0 !important;
      }
    }
  }

  .btn-prediction-failed{
    position: relative;
    
    &:after{
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 1px;
      top: 0;
      left: 50%;
      margin-left: -1px;
      background-color: @ls-light-color;
      transform: rotate(40deg);
    }
  }

  .dropdown-toggle{
    .icon-caret-select{
      margin-left: 10px;
      margin-right: 5px;
    }
  }

  .select-component{
    float: left;
    display: inline-block;
    font-style: normal;
    border-color: darken(@ls-light-color, 12%);

    select{
      outline: none;
    }

    &.select-component-xs{

      &:after{
        line-height: 20px;
        width: 30px;
      }

      select{
        color: lighten(@ls-dark-color, 20%);
        font-weight: @font-weight-semi-bold;
        padding: 0 6px 1px;
        min-width: 160px;
      }
    }
  }

  .btn + .select-component, .select-component + .btn {
    margin-left: -1px;
  }

  &.btn-group-selector-prev-next {

    .btn {
      width: auto;

      &.btn-prev,
      &.btn-next {
        width: 36px;
      }
    }

    .dropdown-toggle,
    .btn-group .dropdown-toggle{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 20px;
      text-align: left;

      > .icon {
        position: absolute;
        right: 4px;
        line-height: 18px;
      }
    }

    > .btn-group {
      width: 100%;
    }
  }

}


.floating-feedback {

  position: fixed;
  bottom: 10px;
  right:10px;
  z-index: 100;

}




