// Country flag list

.ls-country-flag-list {
  display: block;
  padding: 16px 0 20px;

  .list-icon & {
    padding-bottom: 0;
  }

  span {
    display: inline-block;
    margin: 0 5px 5px 0;
  }

  svg {
    width: 22px;
    height: 22px;
  }
}
