//Open Sans

//ls-icons
span.dark-icon{
	color: lighten(@ls-dark-color, 36%);
}


//Open Sans Condensed Bold
@font-face {
    font-family: '@{ls-alternate-font-name}';
    src: url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.svg#open_sans_condensedbold") format('svg');
    font-weight: 700;
    font-style: normal;
}

//Open Sans Condensed Light
@font-face {
    font-family: '@{ls-alternate-font-name}';
    src: url("@{ls-fonts-path}@{ls-alternate-light-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-alternate-light-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-alternate-light-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-alternate-light-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-alternate-light-font-name}.svg#open_sanscondensed_light") format('svg');
    font-weight: 500;
    font-style: normal;
}