body{
  padding-top: 64px;

  &.iframe{
    padding: 0;
  }
}

/*Typography*/
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  color: @ls-headings-color;
}

h1{
  font-weight: bold;
}


p{
  font-weight: lighter;
  font-size: @font-size-base + 1;
  line-height: @ls-paragraph-line-height;
  
  b{
    font-weight: 600;
  }
  
  &.lead{
    font-size: @font-size-large + 1px;

    b{
      font-weight: bold;
    }
  }
  
}

small,.small{
  font-size: @font-size-base;
  font-weight: normal;
}


a{
  
  &:hover{
    text-decoration: none;
  }
  
  &:focus{
    text-decoration: none;
  }
  
  > .icon-caret-right{
    font-size: @ls-link-caret-right-size;
  }
  
  &.view-more{
    display: block;
    font-size: 12px;
    line-height: 23px;
    padding: 6px 10px;
    
    > span{
      font-size: @font-size-x-tiny;
      margin-right: 5px;
      
      > i{
        vertical-align: middle;
        font-size: @font-size-large;
      }
    }
  }
}

iframe{
  border: 0;
  width: 100%;
  margin-bottom: 18px;
}

/*Typography classes*/
.uppercase{
  text-transform: uppercase;
}

.page-title{
  font-size: @ls-general-page-title-size;
  font-weight: @font-weight-semi-bold;
  display: block;
  margin-bottom: 10px;
}

.content-wrapper {
	
	h1 {
		margin-top: 0px;
	}
}


.page-message {
  text-align: center;

  .message-image {
    max-width: 600px;
  }

  .title {
    &:extend(h1);
    display: block;
    font-weight: 200;
  }

  .sub-title {
    &:extend(h4);
    color : darken(@ls-light-color, 20%);
    text-transform: uppercase;
    font-weight: 200;
    display: block;
  }
}