/*Custom General Icons Behavior*/

.span{
  &.active{
    .glyphicon-star{
      color: @ls-fav-hover !important;
    }
  }
}

i, span{
 &.glyphicon-star.active{
    color: @ls-fav-hover !important;
  }
}

/*Mixin General Tables Tools Icon Style*/
.ls-tools-icon-style(){
  display: inline-block;
  font-size:  @font-size-large;
  padding: 0 1px;
  color: fade(@ls-table-tools-icons-color, 35%);
  line-height: 15px;
  vertical-align: middle;
  position: relative;

  .comment-number{
    color: darken(@ls-light-color, 30%);
    font-size: @font-size-x-tiny - 2px;
    line-height: @font-size-x-tiny - 1px;
    font-weight: @font-weight-semi-bold;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 3px;
    left: 0;
  }

  &.available{
    color: @ls-table-tools-icons-color;

    &.live {
      color: @live-red;

      &:hover {
        color: darken(@live-red,10%);
      }
    }

    .comment-number {
      color: @ls-light-color;
    }

  }

  &:hover{
    color: @ls-table-tools-icons-hover-color ;

    &.available{

      .comment-number{
        color: @ls-light-color;
      }
    }
  }

  &.active{
    color: @brand-primary;

    &:hover{
      color: darken(@brand-primary, 10%);
    }
  }
}

.fav-match{
  .ls-tools-icon-style();
  color:@ls-table-tools-icons-color;
}