// Icon placeholder

.icon-placeholder {
	display: inline-block;
	overflow: hidden;
}

.icon-placeholder--flag {
	width: @ls-country-flag-size;
	height: @ls-country-flag-size;
	vertical-align: text-top;
}