.left-sidebar{
  display: table-cell;
  vertical-align: top;
  background: @ls-left-sidebar-bg;
  border-right: 1px solid darken(@ls-light-color, 9.5%);
  padding: 0;
  float: none;
  margin: 0;
  width: @ls-left-nav-width;
  font-size: 12px;
}

.sidebar-nav{
	padding: 0;
	list-style: none;
	margin-bottom: 0;

	> li{
	  border-bottom: 1px solid darken(@ls-light-color, 9%);

		> a{
			font-weight: 600;
			line-height: 23px;
			cursor: pointer;
			padding: 11px 21px;
			padding-right: 15px;
      
      .icon.right{
        float: right;
        line-height: 23px;
        color: darken(@ls-light-color, 17%);
      }
      
      .icon.active{
        color: @brand-primary;
      }
      
      &.option-icon {
	      position: absolute;
	      top: 0px;
	      right: 0px;
	      padding-left: 8px;
	      padding-right: 8px;
	      display: none;
      }

			&.pull-right{
				position: absolute;
				border-left: 1px solid darken(@ls-light-color, 9%);
				color: darken(@ls-light-color, 32%); 
				background-color: darken(@ls-light-color, 4%); 
				right: 0;
				top: 0;
				z-index: 1;
				padding: 15px 15px 8px;
				line-height: 30px;
        
				span{
					font-size: @font-size-large + 2;
				}
			}
      
			i{
				font-size: @font-size-large;
				margin-right: 4px;
				margin-left: 2px;
				vertical-align: middle;
				position: relative;
				top: -1px;
			}
      
			.badge.pull-right{
				margin-left: 2px;
			  	position: absolute;
			  	right:8px;
			}
		}
	}
	
	li{
	  position: relative;
	  font-weight: normal;


	  &.active{

			>a{
				color: @brand-primary;
			}
		}

		&.user-display.active{
			background-color: @brand-primary;

			.info{

				span{
					color: @ls-light-color !important;
				}
			}
		}
		
		&:hover {
			
			.option-icon {
				display: block;
			}
		}
		

		a{
			color: lighten(@ls-dark-color, 29%);
			display: block;
			
			&:hover{
				background-color: lighten(@ls-grey, 68%);
				cursor: pointer;
        
		        .icon.right{
		          color: darken(@ls-light-color, 50%);
		        }
		        
	        	&.dropdown-toggle:before {
					color: darken(@ls-light-color, 50%);
				}
		        

		
			}

			&.dropdown-toggle:before{
				content: "\e60d";
		    font-family: "LSicons";
		    font-size: @font-size-small - 2;
		    left: 8px;
		    position: absolute;
		    color: darken(@ls-light-color,17%);
		    transition: transform 200ms ease-out;
			}
      
			&.sortable{

					.sort{
						margin-top: 2px;
						position: absolute;
						left: 5px;
						top: 1px;
						opacity: 0;
						font-size: @font-size-small;
						cursor: move;
					}

					.close{
						display: none;
						font-size: @font-size-small;
						right: 4px;
				    top: 1px;
				    margin-top: 3px;
				    position: absolute;
				    color: rgba(red(@ls-dark-color),green(@ls-dark-color),blue(@ls-dark-color),0.2);
				    text-shadow: none;
				    opacity: 1;
 
					    &:hover{
						    color: darken(@ls-light-color, 50%);
					    }
					}

				&:hover{
					

					.sort{
				    color: rgba(red(@ls-dark-color),green(@ls-dark-color),blue(@ls-dark-color),0.2);
				    opacity: 1;
				    text-shadow: none;
				    &:hover{
				    	color: darken(@ls-light-color, 50%);
				    }
					}

					.close{
				    display: block;
			  	}
				}
				
			}		
		}
		

		.sub-menu{
			padding: 0 0 10px;
			list-style: none;
			transition: max-height 400ms ease-out;
			
			&.second-menu {
				> li {
					&.open{
						> a {
							background-color: @ls-left-sidebar-sublevel-bg;
							border-left: 3px solid @brand-primary; 
							padding-left: 18px;
						}	
					} 
				}
			}

			> li{

				a{
					padding: 3px 21px;
					white-space: nowrap;
					text-overflow : ellipsis;
					overflow: hidden;

					span.img{
						display: inline-block;
						text-align: center;
						vertical-align: middle;
						width: 18px;
						margin-top: -7px;

						> img{
							margin: 0;
						}
					}

					img,span{
						margin-right: 5px;
						margin-top: -5px;
						max-width: 18px;
						max-height: 18px;
					}
					
					.country-flag {
						position: relative;
						top:6px;
					}

					&.dropdown-toggle:before {
						margin-top: 2px;
					}

					&.no-link {
						cursor: default;
						background: none;
					}
				}
				
				
			
				
				
			
				&.open{
					> a {	
						
				        &:hover{
 				        	background-color: lighten(@ls-grey, 68%);
	
				        }
		
				        &:before{
				        	color: darken(@ls-light-color,40%);
				        }
				        
				        
					}
						
				        
					}	
				
				
				&.more {
					
					a {
						color: @link-color;
					
					
						i {
							position: relative;
							text-align: center;
							display: inline-block;
							width: 18px;
							margin-right: 5px;
						}	
					}
					
						
		
				}
				
				
				
				&.item-placeholder{
            	border: 1px dashed darken(@ls-light-color, 20%);
            	padding: 12px 0;
            	background: darken(@ls-light-color, 10%); 
				}
				
				
				.third-menu{
					padding: 0;
					list-style: none;
					background-color: @ls-left-sidebar-sublevel-bg;
					border-left: 3px solid @brand-primary;


					li{

						a{
							color: @link-color;
							padding-left: 18px;


							.fav{
                              color: darken(@ls-light-color, 20%);
								position: absolute;
						    right: 0;
						    top: 5px;
						    padding: 3px 7px;
						    display: block;
						    
						    &:hover{
									color:darken(@ls-light-color, 37%);
								}
								&.active{
									color: @ls-fav-hover;
								}
							}							
							
							&.dropdown-toggle:before {
								left: 5px;
							}
						}
						
										
							
						&:hover{

							&:before{
								color: darken(@ls-light-color,17%);
							}
						}
							
							
							
						

						&.sub-menu{

							&:hover{

								&:before{
									color: darken(@ls-light-color,17%);
								}
							}
						}

						.fourth-menu{
							padding: 0;
							list-style: none;


							li{

								a{
									padding-left: 30px;

									&.pull-right{
										padding-left: 0px !important;
									}
								}
								
														
							}
						}
					}
				}
			}
		}		
		
		&.open {
			
			> a {
				
				&.dropdown-toggle:before{
					transform: rotate(90deg);
					// content: "\e60b";
				}
			}
			
		}
	}	
}

.sidebar-nav-inverse{
	background-color: @ls-left-sidebar-inverse-bg;

	> li{

		> a.dropdown-toggle{
			color: lighten(@ls-greyblue-dark, 55.5%);
			line-height: 20px;

			&.active{

				.icon{
					color: @brand-primary;
					margin-right: 5px;
					font-size: @font-size-large;
				}
			}

			&:before{
				margin-top: 0;
				font-size: @font-size-x-tiny;
			}

			&:hover{
				background-color: lighten(@ls-left-sidebar-inverse-bg, 7%);
				
				&:before {
					color: @ls-light-color;
				}
			}
		}

		> ul{

			> li{

				a{
					color: lighten(@ls-greyblue-dark, 55.5%);
					line-height: @font-size-xx-large + 1px;

					.icon{
						color: lighten(@ls-left-sidebar-inverse-bg, 34.5%);
						font-size: @font-size-large;
						position: relative;
						top: 3px;
					}

					&:hover{
						background-color: lighten(@ls-left-sidebar-inverse-bg, 7%);

					}
				}

				&.active{

					a{
						background-color: @brand-primary;
						color: @ls-light-color;

						.icon{
							color: @ls-light-color;
						}
					}
				}
			}
		}
	}
}

.user-sidebar-nav{
	margin-bottom: 0;

	> li{
		border-bottom: 1px solid lighten(@ls-left-sidebar-inverse-bg, 2.5%); 
	}

	li.user-display{
		overflow: hidden;
		padding: 10px 20px;
		text-align: center;

	  	.profile-image {
		  height: 50px;
		  width: 50px;
		  position: relative;
		  margin-left: auto;
		  margin-right: auto;
		  
		  > a {
			height: 50px;
			width: 50px;
			bottom: 0px;
			margin-left: -50%;
			opacity: 0;

			.icon {
			  font-size: 15px;
			  top: 11px;
			  text-shadow: 0 0 10px rgba(0,0,0,0.3);
			}

			&:hover {
			  background-color: rgba(0,0,0,0.5);
			  opacity: 1;
			}
		  }
		}

		img{
			max-height: 50px;
			max-width: 50px;
			background: lighten(@ls-left-sidebar-inverse-bg, 5%);
		}

		.info{
			margin-top: 6px;

			span{
				color: darken(@ls-light-color, 15.5%);
			}

			a{
				color: @ls-inverse-link-color;
				font-size: @font-size-small; 

				&:hover{
					background-color: transparent;
					color: @ls-inverse-link-hover-color;
				}
			}
		}
	}

	li.rank{
		text-align: center;
		padding: 10px 20px;

		span.title{
			text-transform: uppercase;
			color: lighten(@ls-left-sidebar-inverse-bg, 34.5%);
			font-weight: @font-weight-bold;
			font-size: @font-size-small;
		}

		.rank-numbers{

			span.rank1{
				font-size: @ls-user-left-sidebar-rank1-font-size;
				color:	lighten(@ls-greyblue-dark, 55.5%);
			}

			span.rank2{
				font-size: @ls-user-left-sidebar-rank2-font-size;
				color: lighten(@ls-left-sidebar-inverse-bg, 37.3%);
			}
		}	
	}	
} 