/*custom progress bars*/
.progress-bar-home{
  background-color: @ls-trend-home;
}

.progress-bar-neutral{
  background-color: @ls-trend-neutral;
}

.progress-bar-away{
  background-color: @ls-trend-away;
}