// Partner list

.partner-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    display: flex;
    border-radius: @border-radius-large;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;

    &:hover {
      background-color: #f8f8f8;    // @todo use Variables to define this color
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }
}

.partner-list__order {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 24px;
  background-color: @ls-dark-contrast-color;
  font-size: 11px;
  font-weight: @font-weight-semi-bold;
  color: @ls-light-color;
  text-align: center;
  border-radius: @border-radius-large 0 0 @border-radius-large;

  .partner-list--small & {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: @border-radius-large 0 @border-radius-large 0;
    padding: 4px 0px;
    line-height: 1.5;
  }

  .partner-list--small li:active & {
    background-color: @ls-secondary-color;
  }
}

.partner-list__logo {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding: 8px;

  .partner-list--small & {
    flex: 0 0 96px;
    min-height: 88px;
  }

  img {
    max-width: 80px;
  }
}

.partner-list__container {
  display: flex;
  flex: 1 1 100%;

  .partner-list--small & {
    flex-direction: column;
  }
}

.partner-list__info {
  display: flex;

  &--left {
    flex: 1 1 100%;
    padding: 8px 0;
  }

  &--right {
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 8px 13px;

    .partner-list--small & {
      flex: 1 1 100%;
    }
  }
}

.partner-list__bonus-text {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
  font-size: 11px;
  line-height: 1.17;
  text-align: right;

  .partner-list--small & {
    justify-content: flex-start;
    line-height: 1.6em;
  }
}

.partner-list__bonus-value {
  display: flex;
  align-items: center;
  padding: 0 40px 0 16px;
  color: @ls-secondary-color;
  font-size: 20px;
  font-weight: @font-weight-semi-bold;
  line-height: 0.85;
  min-width: 55px;
  box-sizing: content-box;

  .partner-list--small & {
    justify-content: flex-end;
    padding: 0 8px 0 11px;
  }
}

.partner-list__review-link {
  color: @ls-secondary-color;
  font-size: 12px;
  font-weight: @font-weight-semi-bold;
  text-decoration: none;
  white-space: nowrap;

  .partner-list--small & {
    display: block;
    margin-bottom: 2px;
  }

  .main-article .partner-list & {
    text-decoration: none;
  }
}

.partner-list__cta-button {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding: 8px;

  .partner-list--small & {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 0;

    a {
      padding: 5px 14px;
    }
  }

  a {
    display: block;
    padding: 9px 17px;
    border-radius: 4px;
    background-color: @ls-yellow-color;
    font-size: 14px;
    line-height: 1.58;
    font-weight: @font-weight-semi-bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: @text-color;

    .main-article .partner-list & {
      text-decoration: none;
    }

    &:hover {
       box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
       color: @ls-secondary-color;
    }

    &:active {
      color: @ls-yellow-color;
      background-color: @ls-secondary-color;
      box-shadow: none;
    }
  }
}
