.panel{
  > .panel-heading {

    .team-logo {
      max-width: 28px;
      max-height: 28px;
      position: relative;

      & + .team-logo{
        margin-left: 5px;
      }
    }
  }

  &.panel-no-border {
    border: 0;
  }

  &.panel-inverse .panel-heading--primary,
  .panel-heading--primary {
    background-color: @active-green;
    color: #FCFCFA;
  }
}