*{
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
   
  &::-webkit-scrollbar-track {
    background: @ls-scrollbar-background;
  } 
   
  &::-webkit-scrollbar-thumb {
  background: @ls-scrollbar-color;
  border-radius: 2px;

    &:hover{
      background: darken(@ls-scrollbar-color, 5%);
    }
  }
}