 span.sprite-icons{
  width: 21px;
  height: 21px;
  content: "";
  display: inline-block;
  margin-bottom: -4px;
  background-image: url("@{ls-image-sprite-icons}");
  background-size: 292px; 
  background-repeat: no-repeat;
 }
 
 span.sprite-icons.football{
  background-position: -230px -28px;
 } 
 span.sprite-icons.tennis{
  background-position: -229px -75px;
 }
 span.sprite-icons.rugby{
  background-position: -230px -52px;
 }
 span.sprite-icons.handball{
  background-position: -229px -98px;
 }
 span.sprite-icons.basketball{
  background-position: -229px -122px;
 } 
 span.sprite-icons.volleyball{
  background-position: -257px -28px;
 } 
 span.sprite-icons.icehockey{
  background-position: -257px -52px;
 }
 span.sprite-icons.baseball{
  background-position:-257px -75px;
 } 
  span.sprite-icons.am-football{
  background-position: -255px -98px;
  height: 17px;
  width: 22px;
  margin-bottom: -4px !important;
  margin-left: -2px;
 } 
 
 span.sprite-icons.yellow-card{ 
  width: 9px;
  background-position: -121px -5px; 
 }
 
 span.sprite-icons.red-card{ 
  width: 12px;
  background-position: -146px -5px; 
 } 
 
 span.sprite-icons.yellow-red-card{
  width: 12px; 
  background-position: -176px -5px; 
 }
 
 span.sprite-icons.goal{
  background-position: -60px -26px;
 } 
 
 span.sprite-icons.penalty-goal{
  background-position: -3px -50px;
 }
 
 span.sprite-icons.penalty-missed{
  background-position: -254px -3px;
 }
 
 span.sprite-icons.shirt{
  background-position: -5px -97px;
 }
  
 span.sprite-icons.comment{
  background-position: -31px -97px;
 }
 
 span.sprite-icons.comment-more{
  background-position: -60px -97px;
 }
  
 span.sprite-icons.shot-off{
    background-position: -85px -97px;
    width: 26px;
 }  

 span.sprite-icons.shot-on{
    background-position: -114px -97px;
    width: 26px;
 }

 span.sprite-icons.shot-on-1{
    background-position: -171px -98px;
    width: 26px;
 }

 span.sprite-icons.shot-post{
    background-position: -143px -96px;
    height: 19px;
 }
 
 span.sprite-icons.clock{
  background-position: -144px -121px;
 }
 
  span.sprite-icons.player-change{
    background-position: -205px -5px;
    width: 8px;
 }  

  span.sprite-icons.substitution-left{
    background-position: -233px -5px;
    width: 8px;
  } 
  
  span.sprite-icons.football-field{
    background-position: -5px -3px;
    width: 16px;
    height: 19px;
 }  

  span.sprite-icons.lineups{
    background-position: -59px -120px;
    height: 20px;
 }  

  span.sprite-icons.shot-blocked{
    background-position: -88px -121px;
  } 
  
  span.sprite-icons.hit-player-wall{
    background-position: -116px -121px;
  }  
 
  span.sprite-icons.green-arrow{
    background-position: -37px -3px;
    width: 11px;
 }  
 
 span.sprite-icons.red-arrow{
    background-position: -64px -3px;
    width: 11px;
 }

 span.sprite-icons.chairs{
    background-position:-87px -3px;
    width: 23px;
 } 
 
 span.sprite-icons.incident-important{
  background-position: -143px -75px;
 } 
 
 span.sprite-icons.red-cross{
  background-position: -3px -75px;
 } 
 
 span.sprite-icons.yellow-cross{
  background-position:-31px -75px;
 } 

 span.sprite-icons.injury-back{
  background-position: -60px -74px;
 }

 span.sprite-icons.players-wall{
  background-position: -87px -74px;
  width: 22px;
 }

 span.sprite-icons.funfact{
  background-position: -115px -74px;
  width: 22px;
 }
 
 span.sprite-icons.stadium,
 span.sprite-icons.attendance{
  background-position:-198px -97px;
  width: 25px;
 }
 
 span.sprite-icons.info{
  background-position:-199px -75px;
 } 
 
 span.sprite-icons.whistle{
  background-position:-3px -27px;
 }  

 span.sprite-icons.interrupted{
  background-position:-31px -27px;
 } 

 span.sprite-icons.whistle-active{
  background-position: -31px -144px;
 } 

span.sprite-icons.shootouts{
  background-position: -60px -144px;
 } 

span.sprite-icons.goal-assist{
  background-position: -3px -121px;
  width: 23px;
 } 

span.sprite-icons.assist{
  background-position: -31px -121px;
  width: 23px;
} 
 
 span.sprite-icons.shootout-goal{
  background-position: -116px -26px;
 } 

 span.sprite-icons.own-goal{
  background-position: -171px -26px;
 }

 span.sprite-icons.goal-small{
  background-position: -201px -26px;
 }
 
 span.sprite-icons.nogoal{
  background-position: -31px -50px;
 }
 
 span.sprite-icons.shootout-missed{
  background-position: -87px -26px;
 } 


 span.sprite-icons.grid{
  background-position: -199px -123px;
 } 

 span.sprite-icons.gift{
  background-position: -255px -122px;
 } 
 
 span.sprite-icons.match-paused{
  background-position: -116px -50px;
 } 

 span.sprite-icons.match-play{
  background-position: -142px -50px;
 } 

 span.sprite-icons.match-reload{
  background-position: -199px -50px;
 } 

 span.sprite-icons.match-stop{
  background-position: -171px -50px;
 } 

 span.sprite-icons.extra-time{
  background-position: -171px -75px;
 }
 
  span.sprite-icons.offside{
  background-position:  -58px -50px;
 } 
 
  span.sprite-icons.corner-flag{
  background-position: -86px -50px;
 }
 

span.sprite-icons.webmaster-cogs{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -32px -1px;
  width: 20px;
  height: 24px;
  margin-right: 5px;
  margin-top: -10px;
  margin-bottom: 0;
  position: relative;
  top: 7px;
}

span.sprite-icons.webmaster-palette{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -36px -29px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: -3px;
}

span.sprite-icons.webmaster-background{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -5px -3px;
  width: 18px;
  height: 18px;
  margin: 0;
}

span.sprite-icons.webmaster-text{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -8px -29px;
  width: 15px;
  height: 15px;
  margin: 0;
}

span.sprite-icons.webmaster-border{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -8px -74px;
  width: 17px;
  height: 19px;
  margin: 0;
}



@media @retina {
	 span.sprite-icons{
		 background-image: url("@{ls-image-sprite-icons-retina}");
	 }
}

    
