.social-networks-block{
  &.panel{
    > .panel-body{
      background-color: darken(@ls-light-color, 2.8%);
      
      p{
        color:lighten(@ls-dark-color, 52%);
        font-weight: @font-weight-semi-bold;
        text-transform: uppercase;
        font-size: @font-size-small - 1;
      }

    }
  }
}