.step-heading{
	margin-bottom: 25px;

	.label{
		padding: 0;
		display: inline-block;
		.border-radius(50%);
		margin-right: 7px;
	}

	.title{
		font-size: @font-size-xx-large;
		font-weight: @font-weight-semi-bold;
		margin-right: 7px;
	}

	.description{
		font-weight: @font-weight-light;
		font-size: @font-size-normal;
	}
}