/* Specific livescore Tables */
@import "tables/league-tables.less";
@import "tables/matches-tables.less";
@import "tables/standing-tables.less";
@import "tables/predictions-tables.less";
@import "tables/odds-tables.less";


// General table style
.table {
  width: 100%;
  margin-bottom: 0px;

  > thead {
    > tr {
      > th {
        border-bottom: none;
        vertical-align: middle;
      }
    }
  }


  //General table style
  tr {
    //General league data & league heading style
    &.league-data {
      .league-data-style();

      &.active {
        .league-data-active-style();
      }
    }

    &.empty-row {
      td {
        text-align: center;
        border-bottom-width: 1px;

        .icon {
          color: darken(@ls-light-color, 30%);
        }
      }
    }


    //Shared style between th and td
    th, td {

      &.color-success {
        color: @brand-success;
      }

      span.icon { //Icon beside text margin
        margin-right: 5px;
      }

      .country {
        i {
          margin-right: 5px;
          position: relative;
          top: 0px;
        }
      }

      &.number {
        text-align: center;
      }
    }

    th {

      &.divider {
        text-align: center;
        text-transform: uppercase;
        font-size: @font-size-small;
        font-weight: @font-weight-bold;

        &.divider-dark {
          background: darken(@ls-light-color, 15%);
        }

      }
    }

    td {

      &.stage {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        img {
          max-width: 18px;
          margin-right: 3px;
        }

      }

      &.league {
        img {
          max-width: 18px;
        }
      }

      &.hour {
        font-weight: @font-weight-semi-bold;
        text-align: center;
      }

      &.date {
        text-align: center
      }
    }
  }

  //Deep level
  tbody {

    tr {

      > th {
        background-color: darken(@ls-light-color, 8.3%);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        span.match-name {
          color: fade(@ls-th-league-color, 60%) !important;
          font-weight: @font-weight-normal;
          display: none;
        }

        &:hover {
          span.match-name {
            display: inline-block;
          }
        }
      }

      > td {
        &.number {
          font-weight: @font-weight-semi-bold;

          .extra-info {
            font-weight: 400;
            color: @text-muted;
          }

        }

        &.icon {
          text-align: center;
          padding: 0 4px;
          color: lighten(@ls-dark-color, 50%);
          background-color: darken(@ls-light-color, 4%);

          .icon {
            font-size: @font-size-normal;
            margin: 0;
          }
        }

        &.time {
          color: fade(@text-color, 60%);
          white-space: nowrap;
          overflow: hidden;

          i {
            color: darken(@ls-light-color, 24%);
          }
        }

        &.view-more {
          background-color: @ls-light-color;
        }

        &.prediction {

          .btn-group-justified {
            max-width: 74px;
          }
        }

        &.score {
          font-size: @font-size-base + 1;
          font-weight: @font-weight-bold;
          background-color: darken(@ls-light-color, 2%);
          text-align: center;
          padding: 0;

          > a {
            position: relative;
            display: block;
            line-height: 28px;
            color: @ls-data-score-color;

            &.has-score-details:after {
              position: absolute;
              right: -1px;
              bottom: -3px;
              content: "";
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 5px solid contrast(@ls-light-color, darken(@ls-light-color, 28%), fade(#ffffff, 30%));
              transform: rotate(45deg);
            }
          }

          &.hour {

            text-align: center;

            > a {
              color: fade(@ls-data-score-color, 70%);
            }
          }

          span.icon-expand-h {
            color: contrast(@ls-light-color, darken(@ls-light-color, 16%), fade(#ffffff, 20%));
          }
        }



        // @todo Can we move this to /tables/matches-tables.less ???
        &.teams .score {
          position: relative;
          display: flex;
          flex: 0 0 45px;
          font-size: 14px;
          font-weight: 700;
          min-height: 28px;
          background-color: #fafafa;
          align-items: center;
          justify-content: center;
          padding: 0;

          > span {
            display: inline-block;

            &.versus {
              margin: 0 3px;
            }

            &.icon-expand-h {
              color: contrast(@ls-light-color, darken(@ls-light-color, 16%), fade(#ffffff, 20%));
            }
          }
        }

        &.tools {
          padding: 0px;
          text-align: right;
          font-size: 0;
          white-space: nowrap;

          > a,
          div > a {
            .ls-tools-icon-style();
          }

          &.tools-1 {
            max-width: 20px;
          }

          &:last-child {
            padding-right: 4px;
          }

          .data-multiple {
            text-align: right;
          }
        }

        &.favorite {
          text-align: center;
        }

        &.logo {

          img {
            max-width: 20px;
          }
        }

        &.action-icon {
          text-align: center;
          padding-left: 0;
          padding-right: 0;
        }

        &.minute-range {
          background-color: darken(@ls-light-color, 3%);
        }

        &.full-sportsbook-logo {

          img {
            max-width: 50px;
          }
        }

        &.odd {
          border-right: 1px solid @table-border-color;
          border-left: 1px solid @table-border-color;
          cursor: pointer;
          white-space: nowrap;

          &.odd-no-border {
            border-left: none;
            border-right: none;
          }

          > .odd-part {
            color: lighten(@link-color, 45%);
          }

          .moneyline {
            display: block;
            text-align: right;
            line-height: 16px;
            color: @link-color;
          }

          .spread {
            float: left;
            display: block;
            width: 50%;
            text-align: center;
            line-height: 16px;
            color: @link-color;
          }

          .totals {
            float: right;
            display: block;
            width: 50%;
            text-align: right;
            line-height: 16px;
            color: @link-color;
          }

          .totals-ou {
            display: block;
            float: left;
            width: 50%;
            text-align: center;
            line-height: 32px;
            color: @link-color;
          }
        }

        .odd-value {
          color: @link-color;
        }

        &.odd-type {
          font-size: @font-size-x-small;
          text-transform: uppercase;
          background-color: darken(@ls-light-color, 3%);
          text-align: center;
          font-weight: @font-weight-semi-bold;
          height: 44px;
        }

        &.cell-multiple {
          padding: 0;
        }

        .data-multiple {
          border-bottom: 1px solid @table-border-color;
          padding-top: @table-cell-padding - 2px;
          padding-bottom: @table-cell-padding - 2px;
          min-height: 30px;
          text-align: center;

          &:last-child {
            border: none;
          }
        }

        &.partner-logo {

          img {
            max-width: 100px;
          }
        }
      }

      //LIVE STYLES
      &.live {

        td {

          &.time {
            color: @live-red;

            img, i {
              margin-right: 3px;
            }
          }

          &.score {

            a {
              color: @live-red;
            }
          }

          &.teams .score {
            color: @live-red;
          }
        }
      }

      &:hover {
        &:nth-child(2n+1) {

        }

        &:nth-child(2n) {

        }

        td {

          &.score,
          &.teams .score {
            background-color: darken(@ls-light-color, 10%);
          }
        }
      }
    }

    &.empty-section {
      tr:hover td {
        background: inherit;
      }
    }
  }

  &.no-border {
    tr {
      > td {
        border: 0;

        &.event-outcome {
          box-shadow: 1px -1px 0 @ls-light-color inset;
        }
      }
    }
  }

  &.table-condensed {

    thead {

      &.league-data {

        > tr {

          > th {
            background-color: lighten(@ls-greyblue-dark, 21.3%);
            text-align: left;
            color: @ls-light-color;
            text-transform: none;
            padding: 0;
            font-size: 0;
          }
        }
      }
    }


    tr {

      td {

        span.icon-caret-right, span.icon-caret-right {
          font-size: @font-size-base - 3;
        }

        &.team {
          width: auto;

          img {
            max-height: 18px;
            max-width: 18px;
          }
        }

      }
    }
  }

  tr.stats {

    td {

      &.stat {
        background-color: darken(@ls-light-color, 2%);
      }
    }

    &:nth-child(even) {

      td.stat {
        background-color: darken(@ls-light-color, 6%);
      }
    }

    &:hover {

      td {

        &.stat {
          background-color: darken(@ls-light-color, 6%);

          &:hover {
            background-color: darken(@ls-light-color, 10%);
          }
        }
      }

      &:nth-child(even) {

        td.stat {
          background-color: darken(@ls-light-color, 10%);

          &:hover {
            background-color: darken(@ls-light-color, 14%);
          }
        }
      }
    }
  }


  /*TR HIGHLIGHT STYLES*/

  > tbody {

    > tr {

      &.highlight {
        background-color: @ls-tr-highlight-bg !important;

        td {
          background-color: transparent !important;
        }

        &:hover {
          background-color: darken(@ls-tr-highlight-bg, 6%) !important;
        }
      }

      &.updated {
        animation-name: progressiveHighlight;
        animation-duration: 6s;

        td,
        td .score {
          animation-name: progressiveHighlight;
          animation-duration: 6s;
        }

        &:hover {
          background-color: darken(@ls-tr-highlight-bg, 6%) !important;
        }

      }

      /*&.updated{
        animation-name: progressiveHighlight;
        animation-duration: 4s;
        animation-delay: 4s;
      }*/

      &.selected {
        background-color: @ls-tr-selected-bg !important;

        td,
        td .score {
          background-color: transparent !important;
        }

        &:hover {
          background-color: darken(@ls-tr-selected-bg, 6%) !important;
        }
      }

      &.event-won {
        background-color: @ls-tr-won-bg !important;

        td {
          background-color: transparent !important;
        }

        &:hover {
          background-color: darken(@ls-tr-won-bg, 6%) !important;
        }
      }

      &.event-lost {
        background-color: @ls-tr-lost-bg !important;

        td {
          background-color: transparent !important;
        }

        &:hover {
          background-color: darken(@ls-tr-lost-bg, 6%) !important;
        }
      }

      &.event-draw {
        background-color: @ls-tr-draw-bg !important;

        td {
          background-color: transparent !important;
        }

        &:hover {
          background-color: darken(@ls-tr-draw-bg, 6%) !important;
        }
      }

      &.event-cancelled {
        background-color: @ls-tr-cancelled-bg !important;

        td,
        td .score {
          background-color: transparent !important;
        }

        &:hover {
          background-color: darken(@ls-tr-cancelled-bg, 6%) !important;
        }
      }

      &.event-2nd-leg {
        td {
          border-bottom: 1px solid @table-border-color;
        }
      }

      &.event-won,
      &.event-lost,
      &.event-draw {
        td.score,
        td .score {
          background-color: rgba(255, 255, 255, 0.25) !important;
        }
      }
    }
  }

  /*TD HIGHLIGHT STYLES*/

  tbody {

    tr {

      td {

        &.highlight {
          background-color: @ls-tr-highlight-bg !important;
        }

        &.selected {
          background-color: @ls-tr-selected-bg !important;
        }

        &.rank {
          background-color: darken(@ls-light-color, 4%);
        }

        &.rank-standing-green {
          background-color: @ls-table-rank-standing-green !important;
          color: @ls-table-rank-standing-color;
        }

        &.rank-standing-clear-green {
          background-color: @ls-table-rank-standing-clear-green !important;
          color: @ls-table-rank-standing-color;
        }

        &.rank-standing-blue {
          background-color: @ls-table-rank-standing-blue !important;
          color: @ls-table-rank-standing-color;
        }

        &.rank-standing-clear-blue {
          background-color: @ls-table-rank-standing-clear-blue !important;
          color: @ls-table-rank-standing-color;
        }

        &.rank-standing-orange {
          background-color: @ls-table-rank-standing-orange !important;
          color: @ls-table-rank-standing-color;
        }

        &.rank-standing-clear-orange {
          background-color: @ls-table-rank-standing-clear-orange !important;
          color: @ls-table-rank-standing-color;
        }

        &.rank-standing-red {
          background-color: @ls-table-rank-standing-red !important;
          color: @ls-table-rank-standing-color;
        }

        &.rank-standing-clear-red {
          background-color: @ls-table-rank-standing-clear-red !important;
          color: @ls-table-rank-standing-color;
        }

        &.event-won {
          background-color: @ls-tr-won-bg !important;
        }

        &.event-lost {
          background-color: @ls-tr-lost-bg !important;
        }

        &.event-draw {
          background-color: @ls-tr-draw-bg !important;
        }

        &.win {
          font-weight: @font-weight-bold;
        }

        &.updated {
          animation-name: progressiveUpdate;
          animation-duration: 6s;

          > a {
            animation-name: progressiveUpdateLink;
            animation-duration: 6s;
          }
        }

        &.teams .updated {
          animation-name: progressiveUpdate;
          animation-duration: 6s;
        }
      }

      &:hover {

        td {

          &.highlight {
            background-color: darken(@ls-tr-highlight-bg, 4%) !important;
          }

          &.selected {
            background-color: darken(@ls-tr-selected-bg, 4%) !important;
          }

          &.event-won {
            background-color: darken(@ls-tr-won-bg, 4%) !important;
          }

          &.event-lost {
            background-color: darken(@ls-tr-lost-bg, 4%) !important;
          }

          &.event-draw {
            background-color: darken(@ls-tr-draw-bg, 4%) !important;
          }

          &:hover {

            &.highlight {
              background-color: darken(@ls-tr-highlight-bg, 8%) !important;
            }

            &.selected {
              background-color: darken(@ls-tr-selected-bg, 8%) !important;
            }

            &.event-won {
              background-color: darken(@ls-tr-won-bg, 8%) !important;
            }

            &.event-lost {
              background-color: darken(@ls-tr-lost-bg, 8%) !important;
            }

            &.event-draw {
              background-color: darken(@ls-tr-draw-bg, 8%) !important;
            }
          }
        }
      }
    }
  }

  > tbody {

    > tr {

      td {
        vertical-align: middle;

        > span.icon-arrow-down, > span.icon-arrow-up, span.icon-equal {
          font-size: @font-size-base - 3;
          margin-right: 3px;
        }

        span.icon-arrow-down {
          color: @ls-table-stats-down;
        }

        span.icon-arrow-up {
          color: @ls-table-stats-up;
        }

        span.icon-equal {
          color: @ls-table-stats-equal;
        }


        &.trend {
          min-width: 70px;
          padding: 0 !important;

          .progress {
            margin-bottom: 0;
          }
        }

        &.event-outcome {
          color: @ls-light-color;
          width: 1%;
          text-transform: uppercase;
          text-align: center;
          padding: 0;

          a {
            text-decoration: none;
            color: @ls-light-color;
            padding: 3px 4px 3px;
            display: block;
          }
        }

        &.event-outcome-won {
          background-color: @ls-td-won-bg !important;
        }

        &.event-outcome-draw {
          background-color: @ls-td-draw-bg !important;
        }

        &.event-outcome-lost {
          background-color: @ls-td-lost-bg !important;
        }

        &.event-outcome-neutral {
          background-color: @ls-td-neutral-bg !important;
        }

        &.event-outcome-live {
          padding: 0 !important;
          text-align: center;
          font-size: @font-size-x-tiny - 1 !important;
          background-color: @ls-td-live-bg !important;
          color: @live-red;

          a {
            color: @live-red;
          }
        }

        &.event-outcome-upcoming {
          background-color: @ls-td-upcoming-bg !important;
          color: @ls-light-color;
        }

        &.event-leg {
          background-color: darken(@ls-light-color, 13%) !important;
          font-weight: @font-weight-bold;
          text-align: center;
        }
      }

      &:hover {

        td {

          &.event-outcome-won {
            background-color: @ls-td-won-bg !important;
            color: @ls-light-color;
            width: 1%;
            text-transform: uppercase;
          }

          &.event-outcome-draw {
            background-color: @ls-td-draw-bg !important;
            color: @ls-light-color;
            width: 1%;
            text-transform: uppercase;
          }

          &.event-outcome-lost {
            background-color: @ls-td-lost-bg !important;
            color: @ls-light-color;
            width: 1%;
            text-transform: uppercase;
          }

          &.event-outcome-live {
            padding: 0 !important;
            text-align: center;
            font-size: @font-size-x-tiny - 1 !important;
            background-color: @ls-td-live-bg !important;
            color: @live-red;
            width: 1%;
            text-transform: uppercase;

          }

          &.event-outcome-upcoming {
            background-color: @ls-td-upcoming-bg !important;
            color: @ls-light-color;
            text-transform: uppercase;
          }

          &:hover {

            &.event-outcome-won {
              background-color: darken(@ls-td-won-bg, 4%) !important;
            }

            &.event-outcome-draw {
              background-color: darken(@ls-td-draw-bg, 4%) !important;
            }

            &.event-outcome-lost {
              background-color: darken(@ls-td-lost-bg, 4%) !important;
            }

            &.event-outcome-live {
              background-color: darken(@ls-td-live-bg, 4%) !important;
            }

            &.event-outcome-upcoming {
              background-color: darken(@ls-td-upcoming-bg, 4%) !important;
            }

            &.event-leg {
              background-color: darken(@ls-light-color, 17%) !important;
            }
          }
        }
      }

    }
  }

  tbody.open {

    tr.league-data {
      a.dropdown-toggle {

        i {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }

      }
    }


  }

  &.linked-rows {
    tr td {
      &.hour,
      &.time,
      &.team,
      &.score,
      &.half-time-score,
      &.event-outcome,
      &.date,
      &.league,
      &.stage,
      &.logo,
      &.league-logo,
      &.icon {
        cursor: pointer;
      }
    }
  }


  &.layout-fixed {
    table-layout: fixed;
    border-collapse: collapse;

    tr {

      td {
        width: auto;

        &.team {
          > a, div {
            overflow: hidden;
            position: relative;
          }
        }
      }
    }

    colgroup {

      col {
        &.hour {
          width: 44px;
        }

        &.time {
          width: 54px;
        }

        &.team {
          min-width: 50px;
        }

        &.score {
          width: 46px;
        }

        &.score-large {
          width: 110px;
        }

        &.score-small {
          width: 32px;
        }

        &.score-x-small {
          width: 22px;
        }

        &.half-time-score {
          width: 44px;
        }

        &.tools {
          width: 145px;
        }

        &.tools-1 {
          width: 30px;
        }

        &.tools-2 {
          width: 40px;
        }

        &.tools-4 {
          width: 74px;
        }

        &.tools-5 {
          width: 94px;
        }

        &.tools-6 {
          width: 114px;
        }

        &.tools-7 {
          width: 130px;
        }

        &.number {
          width: 25px;
        }

        &.number-with-3-digits {
          width: 32px;
        }

        &.number-with-4-digits {
          width: 40px;
        }

        &.rank-extra-info {
          width: 50px;
        }

        &.event-leg {
          width: 25px;
        }

        &.event-outcome {
          width: 25px;
        }

        &.league {
          width: 30px;
        }

        &.league-logo {
          width: 30px;
        }

        &.logo {
          width: 22px;
        }

        &.date {
          width: 44px;
        }

        &.date-dmy {
          width: 57px;
        }

        &.stage {
          width: 80px;
        }

        &.stage-has-logo {
          width: 95px;
        }

        &.stage-logo-only {
          width: 30px;
        }

        &.minutes {
          width: 60px;
        }

        &.action-icon {
          width: 26px;
        }

        &.odd {
          width: 54px;
        }

        &.prediction {
          width: 84px;
        }

        &.prediction-status {
          width: 25px;
        }

        &.trend {
          width: 70px;
        }

        &.goal-minute {
          width: 64px;
        }

        &.point {
          width: 30px;
        }

        &.points {
          width: 34px;
        }

        &.point-details {
          width: 10px;
        }

        &.extra-points {
          width: 30px;
        }

        &.rank-variation {
          width: 36px;
        }

        &.rank-variation-with-3-digits {
          width: 44px;
        }

        &.favorite {
          width: 30px;
        }

        &.minute-range {
          width: 60px;
        }

        &.goals-number {
          width: 26px;
        }

        &.width-auto {
          width: auto;
        }
      }
    }

    &.cta-button colgroup col.score {
      width: @ls-table-cta-button-width + 6px;
    }
  }
}

.table-width-auto {
  width: auto;
}

&.popover-odd-evolution {
  width: 100%;
  margin-top: 3px;

  .old {
    text-decoration: line-through;
  }

  .icon {

    span {
      font-size: 12px;
    }
  }


}
