/* Specific livescore Tables */


//Live TR Style
.live-blink-gif(){
  padding-left: 15px;
  background-image: url("@{ls-image-live-spot}");
  background-repeat: no-repeat;
  background-position: 5px center;
}

//Paused Spot Style
.paused-gif(){
  padding-left: 15px;
  background-image: url("@{ls-image-paused-spot}");
  background-repeat: no-repeat;
  background-position: 5px center;
}

//League header style
.league-data-style(){

  > th{
    cursor: pointer;
    background-color: @ls-th-league-bg;
    text-align: left;
    color: @ls-light-color;
    text-transform: none;
    padding: 0;
    font-size: 0;
    font-weight: @font-weight-bold !important;
    border-top: 0;

    .country{
      text-transform: uppercase;
      color: fade(@ls-th-league-color, 60%);
      font-weight: @font-weight-normal;
    }

    a{
      color: @ls-light-color;
    }

    span{
      color: darken(@ls-th-league-bg, 15%);
    }

    > .title{
      display: inline-block;
      font-size: 0;
      padding: 0 2px;

      > a, > span{
        font-size: @ls-data-league-font-size;
        display: inline-block;
        padding: @ls-data-league-padding;
        line-height: @ls-data-league-line-height;
        color: @ls-light-color;
      }

      span{

        img{
          max-width: 17px;
          max-height: 17px;
          margin-right: 5px;
        }
      }


    }

    > a.dropdown-toggle{
      padding: @ls-data-league-arrow-padding;
      line-height: @ls-data-league-line-height;
      font-size: @ls-data-league-font-size;

      i{
        font-size: @font-size-x-tiny;
      }

      &:hover{
        background-color: @ls-data-league-hover;
      }
    }

    .tools{
      float: right;
      padding: 0 !important;
      font-size: 0;

      span{
        display: inline-block;

        a.fav{
          font-size: @font-size-normal;
          vertical-align: top;
          line-height: @font-size-xx-large + 1px;
        }
      }

      a{
        display: inline-block;
        padding: @ls-data-league-padding;
        color: @ls-th-league-color;
        font-weight: 400;
        line-height: 19px;
        font-size: @ls-data-league-font-size;

        i{
          font-size:  @font-size-base + 5;
          vertical-align: middle;
          color:  rgba(red(@ls-dark-color),green(@ls-dark-color),blue(@ls-dark-color),0.2);
        }

        &:hover{
          background-color: @ls-data-league-hover;
          color: @ls-light-color;

          &.fav {
            span {
              color: @ls-fav-hover;
            }
          }
        }

        &.fav{
          vertical-align: middle;

          span{
            font-size: @font-size-medium;
            display: inline-block;
          }
        }

        &.active{
          color: @brand-primary;

          &.fav{

            span{
              font-size: @font-size-normal;
              color: @ls-fav-hover;
            }
          }

          &:hover{
            // color: @ls-light-color;
          }
        }

        &.live{

          i{
            color: @live-red;
          }
        }
      }

    }
  }

  &:hover{

    > th{
      background-color: darken(@ls-th-league-bg, 10%) !important;

    }
  }
}

.league-data-active-style(){
  > th{
    > a.dropdown-toggle{
      .box-shadow(5px 0 0 @active-green inset);
    }
  }
}

.league-data-matches-style(){
  th{
    border-bottom: 1px solid darken(@ls-th-league-bg, 4%);
    padding: 0;
    vertical-align: middle !important;

    .country{
      text-transform: uppercase;
      color: fade(@ls-th-league-color, 60%);
      font-weight: 400;
    }

    a{
      color: @ls-th-league-color;
    }

    span{
      color: darken(@ls-th-league-bg, 15%);
    }

    .tools{
      float: right;
      padding: 0;

      span{

        a.fav{
          font-size: @font-size-normal;
        }
      }

      a{
        display: inline-block;
        color: @ls-th-league-color;
        font-weight: 400;

        i{
          font-size:  @font-size-xx-large;
          line-height: @font-size-large;
          vertical-align: middle;
          color: fade(@ls-th-league-color, 60%);

          &.icon-standings{
            margin-right: 5px;
            position: relative;
            top: -1px;
          }
        }

        &.active{
          color: @brand-primary;

          &.fav{

            span{
              color: @ls-fav-hover;
              font-size: @font-size-normal;
            }
          }

          &:hover{
            //color: @ls-light-color;
          }
        }

        &.live{
          i{
            color: @live-red;
          }
        }
      }
    }
  }
}

.table{
  width: 100%;
  margin-bottom: 0px;

  > thead{

    > tr{

      > th{
        border-bottom: none;
        vertical-align: middle;
      }
    }

    &.league-data{

      > tr{

        .league-data-style();

      }

      &.active{
        > tr{
          .league-data-active-style();
        }
      }

    }
  }

  //General table style
  tr{

    td, th{

      &.color-success{
        color: @brand-success;
      }



      span.icon{//Icon beside text margin
        margin-right: 5px;
      }

      span.country{
        i{
          margin-right: 5px;
          position: relative;
          top: 0px;
        }
      }
    }

    th{

      &.divider{
        text-align: center;
        text-transform: uppercase;
        font-size:  @font-size-small;
        font-weight: bold;

        &.divider-dark{
          background: darken(@ls-light-color, 15%);
        }

      }
    }

    td{

      &.stage {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        img {
          max-width: 18px;
          margin-right: 3px;
        }

      }

      &.league {
        img {
          max-width: 18px;
        }
      }

      &.hour {
        font-weight: @font-weight-semi-bold;
        text-align: center;
      };

      &.date {
        text-align: center
      }
    }

    &.empty-row {
      td {
        text-align: center;
        border-bottom-width: 1px;

        .icon {
          color: darken(@ls-light-color, 30%);
        }
      }
    }
  }

  //Deep level
  tbody{

    tr, tr:nth-child(even), tr:nth-child(odd){

      > th{
        background-color: darken(@ls-light-color, 8.3%);

        span.match-name{
          color: fade(@ls-th-league-color, 60%) !important;
          font-weight: @font-weight-normal;
          display: none;
        }

        &:hover {
          span.match-name{
            display: inline-block;
          }
        }
      }

      > td{

        &.view-more{
          background-color: @ls-light-color;
        }

        &.updated{
          background-color: @live-red !important;
          color: @ls-light-color !important;

          > a {
            color: @ls-light-color !important;
          }
        }

        &.prediction{

          .btn-group-justified{
            max-width: 74px;
          }
        }

        &.score{
          font-size:  @font-size-base + 1;
          font-weight: 700;
          background-color: darken(@ls-light-color,3%);
          text-align: center;
          padding: 0;

          > a{
            position:relative;
            display: block;
            line-height: 28px;
            color: @ls-data-score-color;

            &.has-score-details:after{
              position: absolute;
              right: -1px;
              bottom: -3px;
              content: "";
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 5px solid contrast(@ls-light-color, darken(@ls-light-color, 28%), fade(#ffffff, 30%));
              .rotate(45deg);
            }
          }

          &.hour {

            text-align: center;

            > a {
              color: fade(@ls-data-score-color, 70%);
            }
          }

          span.icon-expand-h{
            color: contrast(@ls-light-color, darken(@ls-light-color,16%), fade(#ffffff, 20%));
          }
        }

        &.tools{
          padding: 0px;
          text-align: right;
          font-size: 0;
          white-space: nowrap;

          > a{
            .ls-tools-icon-style();
          }

          &.tools-1 {
            max-width: 20px;
          }

          &:last-child {
            padding-right: 4px; 
          }
        }

        &.favorite{
          text-align: center;
        }

        &.logo {

          img {
            max-width: 20px;
          }
        }

        &.minute-range {
          background-color: darken(@ls-light-color,3%);
        }

        &.full-sportsbook-logo {

          img {
            max-width: 50px;
          }
        }

        &.odd {
          border-right: 1px solid @table-border-color;
          border-left: 1px solid @table-border-color;

          &.odd-no-border {
            border-left: none;
            border-right: none;
          }

          a {
            > .odd-part {
              color: lighten(@link-color, 45%);
            }

            .moneyline {
              display: block;
              text-align: right;
              line-height: 16px;
            }

            .spread {
              float: left;
              display: block;
              width: 50%;
              text-align: right;
              line-height: 16px;
            }

            .totals {
              float: right;
              display: block;
              width: 50%;
              text-align: right;
              line-height: 16px;
            }

            .totals-ou {
              display: block;
              float: left;
              width: 50%;
              line-height: 32px;
            }
          }
        }

        &.odd-type {
          font-size: @font-size-x-small;
          text-transform: uppercase;
          background-color: darken(@ls-light-color,3%);
          text-align: center;
          font-weight: 600;
          height: 44px;
        }

      }

      //General TD Odd Style
      &:nth-child(2n+1){


        td.striped{
          background-color: darken(@ls-light-color,2%) !important;
        }
      }

      &:nth-child(2n){

        td.striped{
          background-color: darken(@ls-light-color,6%) !important;
        }
      }

      td.odd:last-child{
      }

      //LIVE STYLES
      &.live{

        td{

          &.time{
            color: @live-red;

            img, i{
              margin-right: 3px;
            }
          }

          &.score{

            a{
              color: @live-red;
            }
          }
        }
      }

      &:hover{
        &:nth-child(2n+1){
          
        }

        &:nth-child(2n){

        }

        td {

          &.score {
            background-color: darken(@ls-light-color,10%);
          }

        }

      }
    }

    //League header style in tbody
    tr.league-data{
      .league-data-style();

      &.active{
        .league-data-active-style();
      }
    }
  }


  &.table-condensed{

    thead{

      &.league-data{

        >tr{

          >th{
            background-color: lighten(@ls-greyblue-dark, 21.3%);
            text-align: left;
            color: @ls-light-color;
            text-transform: none;
            padding: 0;
            font-size: 0;
          }
        }
      }
    }


    tr{

      td{

        span.icon-caret-right, span.icon-caret-right{ font-size:  @font-size-base - 3; }

        &.team{
          width: auto;

          img{
            max-height: 18px;
            max-width: 18px;
          }
        }

      }
    }
  }

  tr.stats{

    td{

      &.stat{
        background-color: darken(@ls-light-color, 2%);
      }
    }

    &:nth-child(even){

      td.stat{
        background-color: darken(@ls-light-color, 6%);
      }
    }

    &:hover{

      td{

        &.stat{
          background-color: darken(@ls-light-color, 6%);

          &:hover{
            background-color: darken(@ls-light-color, 10%);
          }
        }
      }

      &:nth-child(even){

        td.stat{
          background-color: darken(@ls-light-color, 10%);

          &:hover{
            background-color: darken(@ls-light-color, 14%);
          }
        }
      }
    }
  }


  /*TR HIGHLIGHT STYLES*/
  > tbody{

    > tr{

      &.highlight{
        background-color: @ls-tr-highlight-bg !important;

        td{
          background-color: transparent !important;
        }

        &:hover{
          background-color: darken(@ls-tr-highlight-bg, 6%) !important;
        }
      }

      &.selected{
        background-color: @ls-tr-selected-bg !important;

        td{
          background-color: transparent !important;
        }

        &:hover{
          background-color: darken(@ls-tr-selected-bg, 6%) !important;
        }
      }

      &.event-won{
        background-color: @ls-tr-won-bg !important;

        td{
          background-color: transparent !important;
        }

        &:hover{
          background-color: darken(@ls-tr-won-bg, 6%) !important;
        }
      }

      &.event-lost{
        background-color: @ls-tr-lost-bg !important;

        td{
          background-color: transparent !important;
        }

        &:hover{
          background-color: darken(@ls-tr-lost-bg, 6%) !important;
        }
      }

      &.event-draw{
        background-color: @ls-tr-draw-bg !important;

        td{
          background-color: transparent !important;
        }

        &:hover{
          background-color: darken(@ls-tr-draw-bg, 6%) !important;
        }
      }

      &.event-cancelled{
        background-color: @ls-tr-cancelled-bg !important;

        td{
          background-color: transparent !important;
        }

        &:hover{
          background-color: darken(@ls-tr-cancelled-bg, 6%) !important;
        }
      }

      &.event-2nd-leg {
        td {
          border-bottom: 1px solid @table-border-color;
        }
      }

      &.event-won,
      &.event-lost,
      &.event-draw{
        td.score{
          background-color: rgba(255, 255, 255, 0.25) !important;
        }
      }
    }
  }

  /*TD HIGHLIGHT STYLES*/
  tbody{

    tr{

      td{

        &.highlight{
          background-color: @ls-tr-highlight-bg !important;
        }

        &.selected{
          background-color: @ls-tr-selected-bg !important;
        }

        &.event-won{
          background-color: @ls-tr-won-bg !important;
        }

        &.event-lost{
          background-color: @ls-tr-lost-bg !important;
        }

        &.event-draw{
          background-color: @ls-tr-draw-bg !important;
        }

        &.win{
          font-weight: @font-weight-bold;
        }
      }

      &:hover{

        td{

          &.highlight{
            background-color: darken(@ls-tr-highlight-bg, 4%) !important;
          }

          &.selected{
            background-color: darken(@ls-tr-selected-bg, 4%) !important;
          }

          &.event-won{
            background-color: darken(@ls-tr-won-bg, 4%) !important;
          }

          &.event-lost{
            background-color: darken(@ls-tr-lost-bg, 4%) !important;
          }

          &.event-draw{
            background-color: darken(@ls-tr-draw-bg, 4%) !important;
          }

          &:hover{

            &.highlight{
              background-color: darken(@ls-tr-highlight-bg, 8%) !important;
            }

            &.selected{
              background-color: darken(@ls-tr-selected-bg, 8%) !important;
            }

            &.event-won{
              background-color: darken(@ls-tr-won-bg, 8%) !important;
            }

            &.event-lost{
              background-color: darken(@ls-tr-lost-bg, 8%) !important;
            }

            &.event-draw{
              background-color: darken(@ls-tr-draw-bg, 8%) !important;
            }
          }
        }
      }
    }
  }

  > tbody{

    > tr{

      td{
        vertical-align: middle;

        > span.icon-arrow-down, > span.icon-arrow-up, span.icon-equal{
          font-size:  @font-size-base - 3;
          margin-right: 3px;
        }

        span.icon-arrow-down{ color: @ls-table-stats-down; }
        span.icon-arrow-up{ color: @ls-table-stats-up; }
        span.icon-equal{ color: @ls-table-stats-equal; }


        &.trend{
          min-width: 70px;
          padding: 0 !important;

          .progress{
            margin-bottom: 0;
          }
        }

        &.event-outcome{
          color: @ls-light-color;
          width: 1%;
          text-transform: uppercase;
          text-align:center;
          padding: 0;

          a{
            text-decoration: none;
            color: @ls-light-color;
            padding: 3px 4px 3px;
            display: block;
          }
        }

        &.event-outcome-won{
          background-color: @ls-td-won-bg !important;
        }

        &.event-outcome-draw{
          background-color: @ls-td-draw-bg !important;
        }

        &.event-outcome-lost{
          background-color: @ls-td-lost-bg !important;
        }

        &.event-outcome-live{
          padding: 0 !important;
          text-align: center;
          font-size: @font-size-x-tiny - 1 !important;
          background-color: @ls-td-live-bg !important;
          color: @live-red;

          a{
            color: @live-red;
          }
        }

        &.event-outcome-upcoming{
          background-color: @ls-td-upcoming-bg !important;
          color: @ls-light-color;
        }

        &.event-leg{
          background-color: darken(@ls-light-color,13%) !important;
          font-weight: bold;
          text-align: center;
        }
      }

      &:hover{

        td{

          &.event-outcome-won{
            background-color: @ls-td-won-bg !important;
            color: @ls-light-color;
            width: 1%;
            text-transform: uppercase;
          }

          &.event-outcome-draw{
            background-color: @ls-td-draw-bg !important;
            color: @ls-light-color;
            width: 1%;
            text-transform: uppercase;
          }

          &.event-outcome-lost{
            background-color: @ls-td-lost-bg !important;
            color: @ls-light-color;
            width: 1%;
            text-transform: uppercase;
          }

          &.event-outcome-live{
            padding: 0 !important;
            text-align: center;
            font-size: @font-size-x-tiny - 1 !important;
            background-color: @ls-td-live-bg !important;
            color: @live-red;
            width: 1%;
            text-transform: uppercase;

          }

          &.event-outcome-upcoming{
            background-color: @ls-td-upcoming-bg !important;
            color: @ls-light-color;
            text-transform: uppercase;
          }

          &:hover{

            &.event-outcome-won{
              background-color: darken(@ls-td-won-bg, 4%) !important;
            }

            &.event-outcome-draw{
              background-color: darken(@ls-td-draw-bg, 4%) !important;
            }

            &.event-outcome-lost{
              background-color: darken(@ls-td-lost-bg, 4%) !important;
            }

            &.event-outcome-live{
              background-color: darken(@ls-td-live-bg, 4%) !important;
            }

            &.event-outcome-upcoming{
              background-color: darken(@ls-td-upcoming-bg, 4%) !important;
            }

            &.event-leg{
              background-color: darken(@ls-light-color, 17%) !important;
            }
          }
        }
      }
      
    }
  }

  &.no-border{
    tr{
      > td{
        border: 0;

        &.event-outcome {
          .box-shadow(1px -1px 0 @ls-light-color inset);
        }
      }
    }
  }

  &.table-odds{

    tbody{

      tr{

        td{

          &.logo{
            padding: 0 0 1px;
            vertical-align: middle;
          }

          &.best-odd{
            font-weight: @font-weight-bold;
          }

        }
      }
    }
  }

  /*MY GAMES TABLES*/
  &.my-games{

    thead{

      &.league-data{

        tr{

          th{
            vertical-align: middle !important;
            background-color: @brand-primary;
            color: @ls-light-color;
            font-weight: @font-weight-bold;
            border-bottom: 1px solid darken(@brand-primary, 4%);

            a{
              color: @ls-light-color;

              &.title{
                margin-right: 5px;
                line-height: @ls-data-league-line-height;
              }

              &.icon-help{
                font-size: @font-size-normal;
              }
            }

            > .title{
              span.icon{
                font-size: @font-size-normal;
                line-height: @font-size-x-large;
                margin: 0;
                position: relative;
                top: 1px;
              }

              .icon-help{
                line-height: @font-size-x-large;
                position: relative;
                top: 1px;
              }
            }

            span{
              color: rgba(red(@ls-dark-color),green(@ls-dark-color),blue(@ls-dark-color),0.1);

              i{
                color: @ls-light-color;
              }
            }
          }
        }
      }
    }
    tbody{

      tr{

        td{
          vertical-align: middle !important;

          span.hour{
            font-weight: @font-weight-semi-bold;
          }

          .league{
            max-width: 20px;
            margin-right: 5px;
          }

          &.team{
            width: auto;
            > a{
              display: block;
            }

            img{
              max-width: 20px;
            }

            &.team1{
              text-align: right;

              img{
                margin-left: 5px;
              }
            }

            &.team2{
              text-align: left;

              img{
                margin-right: 5px;
              }
            }
          }



          &.score{
            font-size:  @font-size-base + 1;
            font-weight: 700;
            text-align: center;
            width: 50px;
            padding: 0;

            > a{
              display: block;
              line-height: 36px;
            }

            span.icon-expand-h{
              color: darken(@ls-light-color,16%);
            }
          }

          &.tools{
            padding: 0px;
            text-align: right;
            font-size: 0;//Fix for inline white space

            a{
              display: inline-block;
              font-size:  @font-size-large;
              color: rgba(red(@ls-dark-color),green(@ls-dark-color),blue(@ls-dark-color), 0.05);
              padding: 0 1px;


              &.active{
                color: @brand-primary;


              }
            }
          }
        }
      }
    }
  }


  /*MATCHES TABLES*/
  &.matches{

    thead.league-data{

      tr{

        .league-data-matches-style();

      }
    }

    tbody{

      tr{

        td{
          vertical-align: middle !important;

          &.score{
            min-width: 50px;
            width: 50px;
          }

          &.odd{
            white-space: nowrap;
          }

          span.hour{
            font-weight: @font-weight-semi-bold;
          }

          .league{
            max-width: 20px;
            margin-right: 5px;
          }

          &.time{
            color: fade(@text-color, 60%);
            white-space: nowrap;

            i{
              color: darken(@ls-light-color,24%);
            }
          }

          &.team{

            > a{
              display: block;
              color: @text-color;


              &:hover {
                color: @link-hover-color;
              }
            }

            .red-card{
              padding: 0 2px;
              background-color: @ls-table-red-card;
              font-weight: @font-weight-normal;
              position: relative;
              top: -2px;
            }

            img{
              max-width: 20px;
            }

            &.team1{
              text-align: right;

              > a{
                display: block;
              }

              .label{
                margin-right: 5px;
              }

              img{
                margin-left: 5px;
              }
            }

            &.team2{
              text-align: left;

              .label{
                margin-left: 5px;
              }

              img{
                margin-right: 5px;
              }
            }

            &.has-logo{

              > a{
                position: relative;
                padding-left: 23px;
              }

              img{
                margin-top: -9px;
                position: absolute;
                top: 50%;
                left: 0;
              }

              &.team1{

                > a{
                  padding-left: 0;
                  padding-right: 23px;
                }

                img{
                  right: 0;
                  left: auto;
                }
              }
            }
          }

          &.half-time-score{
            color: darken(@ls-light-color,37%);
            white-space: nowrap;
            text-align: center;
          }

          &.win{
            font-weight: @font-weight-bold;
          }

        }

        &.live{
          > td.time{
            .live-blink-gif();
          }

          &.paused{
            > td.time, > td.date{
              .paused-gif();
            }
          }
        }



        &.league-data{
          .league-data-matches-style();

          span.match-name {
            display: none;
          }
        }
      }
    }

    &.table-condensed{

      tr{

        td{

          &.prediction{

            .btn-group{

              .btn{
                line-height: @font-size-medium;
              }
            }
          }
        }
      }
    }

    &.odds{
      tbody{
        tr{
          td{
            &.tools{
            }
          }
        }
      }
    }
  }

  /*STANDING TABLES*/
  &.table-standing{

    thead, tbody{

      tr{

        th{
          border-bottom: 0;
          vertical-align: middle !important;

        }
      }
    }

    tbody{

      tr{

        td{
          vertical-align: middle;

          &.rank-standing-green{ background-color: @ls-table-rank-standing-green !important; }
          &.rank-standing-clear-green{ background-color: @ls-table-rank-standing-clear-green !important; }
          &.rank-standing-blue{ background-color: @ls-table-rank-standing-blue !important; }
          &.rank-standing-clear-blue{ background-color: @ls-table-rank-standing-clear-blue !important; }
          &.rank-standing-orange{ background-color: @ls-table-rank-standing-orange !important; }
          &.rank-standing-clear-orange{ background-color: @ls-table-rank-standing-clear-orange !important; }
          &.rank-standing-red{ background-color: @ls-table-rank-standing-red !important; }
          &.rank-standing-clear-red{ background-color: @ls-table-rank-standing-clear-red !important; }

          &.stats{
            font-weight: @font-weight-semi-bold;
            padding-left: 4px;
            padding-right: 1px;

            &.up{
              color: @ls-table-stats-up;
            }

            &.down{
              color: @ls-table-stats-down;
            }
          }

          &.team{
            width: auto;
            padding: 0px 5px;


            > a{
              color: @text-color;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            img{
              margin-right: 5px;
              max-width: 18px;
              max-height: 18px;
              vertical-align: top;
            }
          }

          &.number{
            font-weight: @font-weight-semi-bold;
            text-align: right;
            background-color: darken(@ls-light-color, 6%);

          }

          &.live{
            text-align: center;
            width: 8px;
            padding-left: 0;
            padding-right: 0;
          }

          &.extra-points{
            font-weight: @font-weight-semi-bold;
            color: @ls-table-stats-up;
            padding-left: 0;
            padding-right: 0;
            text-align: right;
            white-space: nowrap;
          }

          &.points{
            font-weight: @font-weight-bold;
            text-align: center;
          }

          &.point-detail{
            padding-left: 0;
            padding-right: 0;

            span{
              font-size: @ls-table-standing-point-detail-font-size;
              font-weight: @font-weight-bold;
              color: @ls-table-standing-point-detail-color;
              display: inline-block;
              cursor: pointer;
            }
          }

          &.point{
            text-align: center;
          }
        }

        &.league-data {

          span.match-name {
            display: inline-block;
          }
        }

        &.live{

          td{

            &.team, &.team > a{
              font-weight: @font-weight-semi-bold;
              color: @live-red;
            }

            &.extra-points{
              .live-blink-gif();
            }
          }
        }
      }
    }
  }

  &:hover {

    tr.league-data {
      > th {
        .title {
          span.match-name {
            display: inline-block;
          }
        }
      }
    }
  }

  &.layout-fixed {
    table-layout: fixed;
    border-collapse: collapse;

    tr {

      td {
        width: auto;
        /*
                        overflow: hidden;

        */
        &.team {

          > a {
            overflow: hidden;
            position: relative;
          }


        }


      }
    }

    colgroup {

      col {
        &.hour {
          width: 44px;
        }

        &.time {
          width: 50px;
        }

        &.team {
          min-width: 50px;
        }

        &.score {
          width: 46px;
        }

        &.half-time-score {
          width: 44px;
        }

        &.tools {
          width: 145px;
        }

        &.tools-1 {
          width: 32px;
        }

        &.tools-2 {
          width: 40px;
        }

        &.tools-4 {
          width: 74px;
        }

        &.tools-5 {
          width: 94px;
        }

        &.tools-6 {
          width: 114px;
        }

        &.tools-7 {
          width: 130px;
        }

        &.number{
          width: 25px ;
        }

        &.event-leg{
          width: 25px;
        }

        &.event-outcome{
          width: 25px;
        }

        &.league{
          width: 30px;
        }

        &.league-logo{
          width: 30px;
        }

        &.logo{
          width: 22px;
        }

        &.date{
          width:44px ;
        }

        &.date-dmy{
          width:57px ;
        }

        &.stage{
          width: 80px;
        }

        &.stage-has-logo{
          width: 95px;
        }

        &.minutes{
          width: 60px;
        }

        &.odd{
          width:54px ;
        }

        &.prediction{
          width:84px ;
        }

        &.prediction-status{
          width:25px;
        }

        &.trend{
          width: 70px;
        }

        &.goal-minute{
          width: 30px;
        }

        &.point {
          width: 30px;
        }

        &.points {
          width: 34px;
        }

        &.point-details {
          width: 10px;
        }

        &.extra-points {
          width: 30px;
        }

        &.rank-variation {
          width: 30px;
        }

        &.favorite{
          width: 25px;
        }

        &.minute-range{
          width: 60px;
        }

        &.goals-number{
          width: 26px;
        }
      }
    }
  }
}

.table.league-selection{
  border: 1px solid darken(@ls-light-color, 4%);

  tbody{
    tr{
      td{
        vertical-align: middle;

        &.number{
          text-align: right;
        }

        &.flag{
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          width: 1%;
        }

        &.name{
          font-weight: @font-weight-semi-bold;
        }

        &.functions{
          text-align: right;

          .btn{
            .border-radius(2px);
          }
        }

        &:first-child{
          padding: 8px;
        }
      }
    }
  }
}

.table.predictions{
  thead.league-data, tbody{
    tr{
      th{
        span.country{
          span.icon{
            color: @ls-light-color;
            font-size: @font-size-medium;
            line-height: @font-size-normal;
            position: relative;
            top: 2px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  tbody{
    tr{

      &.prediction-won{
        td.icon{
          background-color: @ls-td-won-bg !important;

          .icon{
            font-size: @font-size-small;
            color: @ls-light-color;
          }
        }
      }

      &.prediction-lost{
        td.icon{
          background-color: @ls-td-lost-bg !important;

          .icon{
            font-size: @font-size-small;
            color: @ls-light-color;
          }
        }
      }

      &.prediction-cancelled{

        td.icon{
          background-color: @ls-td-cancelled-bg !important;
        }

      }

      td{

        &.icon{
          text-align: center;
          padding: 0 4px;
          color: lighten(@ls-dark-color, 50%);

          .icon{
            font-size: @font-size-normal;
            margin: 0;
          }
        }

        &.league-logo{
          padding: 0 3px;

          img{
            max-width: 16px;
            max-height: 16px;
          }
        }


      }
    }
  }
}

&.popover-odd-evolution{
  width: 100%;
  margin-top: 3px;

  tr{
    td{

      &.old{
        text-decoration: line-through;
      }

      &.icon{

        span{
          font-size: 12px;
        }
      }
    }
  }
}