.widget-postprediction {
  .lead {
    font-size: @font-size-medium;

    strong {
      font-weight: @font-weight-semi-bold;
    }

    .amount {
      font-size: @font-size-xx-large;
    }
  }

  .amount {
    text-decoration: underline dotted;
  }

  .prediction-link {
    a {
      display: block;
      color: @link-color;
      font-size: @font-size-large;
      font-weight: @font-weight-semi-bold;

      strong {
        font-weight: @font-weight-bold;
      }
    }

    .catch {
      font-size: @font-size-small;
      font-weight: @font-weight-semi-bold;
      color: #5f5f5f;
    }
  }
}

