<!DOCTYPE html>
<html>
<head>

    {% block resources_header %}
        {% include 'blocks/commons/head.html.twig' %}
    {% endblock %}

</head>
<body>

{% block body %}

    {% block container_header %}
        {% include 'blocks/commons/header.html.twig' %}
    {% endblock %}

    <div class="container">
        {% block container_content_before %}
        {% endblock %}
        <div class="wrapper row">
            {% block container_content %}
                {# page content #}
            {% endblock %}
        </div>
        {% block container_content_after %}
        {% endblock %}
    </div>

    {% block container_footer %}

    {% endblock %}

{% endblock %}

{% block resources_footer %}

{% endblock %}

</body>
</html>
