table{
  &.odds-1x2, &.odds-over-under, &.odds-double-chance, &.odds-half-time-full-time{
    
    thead{}
    
    tbody{
     
      tr{
     
        td{
        
          &.logo{
            width: 22px;
            padding: 0 0 1px;
          }
      
          &.name{
            width: 65%;
          }
          
          &.result{
            text-align: center;
            width: 10%;
            .box-shadow(-1px -1px 0 @ls-light-color inset);
          }
        }
      }
      
      tr:first-child{
        td{
          &.result{
            .box-shadow(-1px -1px 0 @ls-light-color inset, -1px 1px 0 @ls-light-color inset);
          }
        }
      }
      
      tr:last-child{
        td{
          
          &.result{
            .box-shadow(-1px 0 0 @ls-light-color inset);
          }
        }
      }
    }
  }
  
  &.odds-over-under{
  
    tbody{
    
      tr{
      
        td{
        
          &.name{
            width:75%;
          }
        }
      }
    }
  }
  
  &.odds-half-time-full-time{
  
    tbody{
    
      tr{
      
        td{
        
          &.name{
            width:25%;
          }
        }
      }
    }
  }
}