.offer-simple{
  background: darken(@ls-light-color, 2.8%);
  padding: 12px;
  border: 1px solid darken(@ls-light-color, 6.4%);
  overflow: hidden;
  display: table;
  width: 100%;
  margin-bottom: 18px;
  
  .content{
    display: table-cell;
    
    img{
      margin: 0 15px 0 10px;
    }
    
    p{
      margin: 0;
      font-size: @font-size-small;
      font-weight: @font-weight-normal;
    }
  }
  
  .button{
    display: table-cell;
    text-align: right;
  }
}