.d-flex {
  display: flex !important;
}


// Directions
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

@media (min-width: @screen-sm-min) {
  .flex-sm-column {
    flex-direction: column;
  }

  .flex-sm-row {
    flex-direction: row;
  }
}






// Justify
.justify-content-center {
  justify-content: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}


// Align
.align-self-center {
  align-self: center;
}


// Grow / Shrink
.flex-grow-1 {
  flex-grow: 1;
}