ol.breadcrumb{

  li{
  
    a{
    
      img{
        width: 20px;
        height: 20px;
        margin-right: 5px; 
      }
    }
  }
}

.panel{

  .panel-heading{
    
    span.icon-football{
      margin-right: 5px;
    }
  }
  
  .table.league-clubs{
    
    tbody{
      
      tr{
      
        td{

          &.name {

            > a {
              color: lighten(@ls-dark-color, 36%);

              &:hover {
                color: @link-hover-color;
              }
            }

            span.name{
              color: darken(@ls-light-color, 30%);
            }

          }

        }
        
        td.number, td.goals{
          text-align: center;
        }
        
        td.number{
          width: 8%;
        }
        
        td.logo{
          width: 5%;
         
          img{
            max-height: 18px;
            max-width: 18px;
          }
        }
        
        td.name{
          width: 65%;
        }
      }
    }
  }
}