{% if withContest %}
    {% set colWidth = '6' %}
{% else %}
    {% set colWidth = '12' %}
{% endif %}

<div class="panel panel-default match-prediction">
    <div class="panel-heading">
        Prediction
    </div>
    <div class="panel-body">
        <span class="title h4">What’s your predictions ?</span>
        <div class="info"><span class="glyphicon icon glyphicon-info-sign"></span>Ce pronostic fait partie de la grille n°1</div>
    </div>
    <div class="make-prediction">
        <div class="user-info"><img src="img/user-default.png" class="img-circle" alt="User Avatar"> sebastien.au</div>
        <div class="prediction">
            <div class="team home">Brazil</div>
            <div class="choise">
                <div class="btn-group">
                    <button class="btn btn-prediction-done" type="button">1</button>
                    <button class="btn btn-prediction" type="button" data-popover="popover" data-container="body" data-html="true" data-placement="bottom" data-content="
                      <img src='img/134x231.gif' alt='img'>
                      <div class='content'>
                        <span class='title'>Follow your predictions</span>
                        <p>Cras justo odio, dapibus ac facilisis in, <b>egestas eget</b> quam. Morbi leo risus, porta ac consectetur ac,<a href='#'>link color</a> at eros. Morbi leo risus, <a href='#'>blue link hover</a> ac, vestibulum at eros. Fusce dapibus, tellus ac cursus</p>
                        <div class='text-center'>
                          <a class='btn btn-default' href='#'>Login</a>
                          <a class='btn btn-primary' href='#'>Register</a>
                        </div>
                      </div>
                      " data-template="<div class='popover popover-prediction'><div class='arrow'></div><div class='popover-title'></div><div class='popover-content'></div></div>">X</button>
                    <button class="btn btn-prediction" type="button">2</button>
                </div>
            </div>
            <div class="team away">Croatia</div>
        </div>
    </div>
    <div class="row">

        {% if withContest %}
        <div class="col-md-6">
            <span class="title h5">Predictions Contest</span>
            <div class="content">
                <img src="img/sprites/predict-and-win.png" alt="Predict & Win">
                <p>Predict and win ! Your predictions can make you win precious gifts!
                    Join the contest now !</p>
                <a href="#" class="btn btn-primary">Predictions Contest</a>
            </div>
        </div>
        {% endif %}

        <div class="col-md-{{ colWidth }}">
            <div class="notification">
                <div class="icon"><span class="icon icon-clock"></span></div>
                <span>Result pending...</span>
            </div>
            <div class="notification prediction-won">
                <div class="icon"><span class="icon glyphicon glyphicon-ok"></span></div>
                <span>Prediction won !</span>
            </div>
            <div class="notification prediction-lost">
                <div class="icon"><span class="icon glyphicon glyphicon-remove"></span></div>
                <span>Prediction lost !</span>
            </div>
            <span class="title h5">Trend from the community :</span>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th colspan="3">Predictions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>1: Brazil</b></td>
                    <td class="percent">
                        <div class="progress">
                            <div class="progress-bar" style="width: 95%"></div>
                        </div>
                    </td>
                    <td><b>95%</b></td>
                </tr>
                <tr class="percent">
                    <td><b>N: Draw</b></td>
                    <td>
                        <div class="progress gray">
                            <div class="progress-bar gray" style="width: 4%"></div>
                        </div>
                    </td>
                    <td><b>4%</b></td>
                </tr>
                <tr class="percent">
                    <td><b>2: Croatia</b></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" style="width: 0%"></div>
                        </div>
                    </td>
                    <td><b>0%</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
