<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default match-tips">
            <div class="panel-heading">
                <div class="panel-title">Betting Tips</div>
            </div>
            <iframe src="match-summary-match-tips-iframe.html" style="height: 300px;"></iframe>
        </div>
    </div>
</div>