<div class="panel panel-default live-commentary">
    <div class="panel-heading">
        <div class="panel-title">Live Commentary</div>
    </div>
    <iframe src="{{ basePath }}match-summary-live-commentary-iframe.html" style="height: 300px;"></iframe>
</div>
