<div class="panel panel-default match-report">
    <div class="panel-heading">
        Match report
    </div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th class="text-center team" colspan="3">Real Madrid</th>
            <th class="text-center middle"><span class="icon icon-clock"></span>Time</th>
            <th class="text-center team" colspan="3">Bayern Munich</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="7" class="text-center">1st Half</th>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">6'</td>
            <td class="incident-icon"><span class="sprite-icons yellow-card"></span></td>
            <td class="player away"><a href="#">David Alaba</a></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Cristiano Ronaldo (Penalty)</td>
            <td class="incident-icon"><span class="sprite-icons penalty-goal"></span></td>
            <td class="minute">6'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"><a href="#" class="replay"><span class="icon icon-play"></span></a></td>
            <td class="player home">Cristiano Ronaldo</td>
            <td class="incident-icon"><span class="sprite-icons goal"></span></td>
            <td class="minute">14'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Pepe</td>
            <td class="incident-icon"><span class="sprite-icons yellow-card"></span></td>
            <td class="minute">26'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">27'</td>
            <td class="incident-icon"><span class="sprite-icons penalty-missed"></span></td>
            <td class="player away">Arjen Robben (Penalty)</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <th colspan="7" class="text-center">2nd Half</th>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Alvaro Arbeloa</td>
            <td class="incident-icon"><span class="sprite-icons yellow-card"></span></td>
            <td class="minute">59'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">KakaA.<br>Di Maria</td>
            <td class="incident-icon"><span class="sprite-icons player-change"></span></td>
            <td class="minute">75'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">90 + 2'</td>
            <td class="incident-icon"><span class="sprite-icons yellow-card"></span></td>
            <td class="player away">Arjen Robben</td>
            <td class="extra-info"><a href="#" class="replay"><span class="icon icon-play"></span></a></td>
        </tr>
        <tr>
            <th colspan="7" class="text-center">Extra Time 1st Half</th>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">95'</td>
            <td class="incident-icon"><span class="sprite-icons player-change"></span></td>
            <td class="player away">T. Muller<br>F. Ribery</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">102'</td>
            <td class="incident-icon"><span class="sprite-icons yellow-card"></span></td>
            <td class="player away">Luiz Gustavo</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">104'</td>
            <td class="incident-icon"><span class="sprite-icons yellow-card"></span></td>
            <td class="player away">Holger Badstuber</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <th colspan="7" class="text-center">Extra Time Second Half</th>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">G. HiguainK.<br>Benzema</td>
            <td class="incident-icon"><span class="sprite-icons player-change"></span></td>
            <td class="minute">107'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">E. Granero<br>M. Ozil</td>
            <td class="incident-icon"><span class="sprite-icons player-change"></span></td>
            <td class="minute">111'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Esteban Granero</td>
            <td class="incident-icon"><span class="sprite-icons yellow-card"></span></td>
            <td class="minute">116'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <th colspan="7" class="text-center">Penalty Shootout</th>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">121'</td>
            <td class="incident-icon"><span class="sprite-icons shootout-goal"></span></td>
            <td class="player away">David Alaba</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Cristiano Ronaldo</td>
            <td class="incident-icon"><span class="sprite-icons shootout-missed"></span></td>
            <td class="minute">121'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">121'</td>
            <td class="incident-icon"><span class="sprite-icons shootout-goal"></span></td>
            <td class="player away">Mario Gomez</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Kaka</td>
            <td class="incident-icon"><span class="sprite-icons shootout-missed"></span></td>
            <td class="minute">121'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">121'</td>
            <td class="incident-icon"><span class="sprite-icons shootout-missed"></span></td>
            <td class="player away">Toni Kroos</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Xabi Alonso</td>
            <td class="incident-icon"><span class="sprite-icons shootout-goal"></span></td>
            <td class="minute">121'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">121'</td>
            <td class="incident-icon"><span class="sprite-icons shootout-missed"></span></td>
            <td class="player away">Philipp Lahm</td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home">Sergio Ramos</td>
            <td class="incident-icon"><span class="sprite-icons shootout-missed"></span></td>
            <td class="minute">121'</td>
            <td class="incident-icon"></td>
            <td class="player away"></td>
            <td class="extra-info"></td>
        </tr>
        <tr>
            <td class="extra-info"></td>
            <td class="player home"></td>
            <td class="incident-icon"></td>
            <td class="minute">121'</td>
            <td class="incident-icon"><span class="sprite-icons shootout-missed"></span></td>
            <td class="player away">Bastian Schweinsteiger</td>
            <td class="extra-info"></td>
        </tr>
        </tbody>
    </table>
</div>
