<div class="panel panel-inverse match-pronostics">
  <div class="panel-heading">Nuestra predicción de resultado</div>
  <div class="panel-body">
    <div class="match-score">
      <div class="match-score-team match-score-team--preferred">
        <div class="match-score-team-name">Barcelona</div>
        <div class="match-score-value">4</div>
      </div>
      <div class="match-score-divider">-</div>
      <div class="match-score-team">
        <div class="match-score-value">1</div>
        <div class="match-score-team-name">Real Madrid</div>
      </div>
    </div>
    <p class="text-center">Nuestro sistema estadístico es una inteligencia artificial que predice el resultado exacto con decimales. Barcelona anotará 3,8 goles y Real Madrid 1,2.</p>
    <div class="match-pronostic-block">
      <div class="match-pronostic-block-header">Mejor cuota para <span>Victoria de Barcelona</span></div>
      <div class="match-pronostic-block-body">
        <div class="match-pronostic-block-column match-pronostic-block-column--logo">
          <img src="{{ basePath }}img/sprites/bookmakers/codere.png" alt="Bet1">
        </div>
        <div class="match-pronostic-block-column match-pronostic-block-column--odds">Cuota <span>2.60</span></div>
        <div class="match-pronostic-block-column match-pronostic-block-column--bonus">Bono <span>350€</span></div>
        <div class="match-pronostic-block-column match-pronostic-block-column--cta">
          <a href="#">Clic para ganar</a>
        </div>
      </div>
    </div>
    <div class="match-pronostic-block">
      <div class="match-pronostic-block-header">Mejor cuota para <span>más de 2,5 goles</span></div>
      <div class="match-pronostic-block-body">
        <div class="match-pronostic-block-column match-pronostic-block-column--logo">
          <img src="{{ basePath }}img/sprites/bookmakers/william-hill.png" alt="Bet1">
        </div>
        <div class="match-pronostic-block-column match-pronostic-block-column--odds">Cuota <span>2.60</span></div>
        <div class="match-pronostic-block-column match-pronostic-block-column--bonus">Bono <span>350€</span></div>
        <div class="match-pronostic-block-column match-pronostic-block-column--cta">
          <a href="#">Apuesta, ya tardas</a>
        </div>
      </div>
    </div>
  </div>
</div>
