<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Teams Lineups</div>
    </div>
    <table class="table table-condensed teams-lineups">
        <thead>
        <tr>
            <th colspan="2" class="team-logo"><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/team3.png" alt="logo"></span><span class="positions">3 - 5 - 2<span></span></span></th>
            <th colspan="2" class="team-logo"><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/team4.png" alt="logo"></span><span class="positions">4 - 2 - 3 - 1<span></span></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="2" class="text-center">Entraineur</th>
            <th colspan="2" class="text-center">Entraineur</th>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="player">W. Mazzarri</td>
            <td class="number">-</td>
            <td class="player">V. Montella</td>
        </tr>
        <tr>
            <th colspan="2" class="text-center">Remplaçants</th>
            <th colspan="2" class="text-center">Remplaçants</th>
        </tr>
        <tr>
            <td class="number">15</td>
            <td class="player">R. Colombo</td>
            <td class="number">12</td>
            <td class="player">C. Lupatelli<span class="sprite-icons player-change" data-placement="bottom" data-toggle="tooltip" data-original-title="32'"></span></td>
        </tr>
        <tr>
            <td class="number">22</td>
            <td class="player">A. Rosati</td>
            <td class="number">89</td>
            <td class="player">Neto</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="player">G. Grava</td>
            <td class="number">31</td>
            <td class="player">M. Camporese</td>
        </tr>
        <tr>
            <td class="number">55</td>
            <td class="player">A. Gamberini<span class="sprite-icons player-change"></span></td>
            <td class="number">3</td>
            <td class="player">A. Hegazy</td>
        </tr>
        <tr>
            <td class="number">21</td>
            <td class="player">F. Fernandez</td>
            <td class="number">16</td>
            <td class="player">M. Cassani</td>
        </tr>
        <tr>
            <td class="number">6</td>
            <td class="player">S. Aronica</td>
            <td class="number">5</td>
            <td class="player">R. Olivera</td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="player">B. Uvini</td>
            <td class="number">14</td>
            <td class="player">M. Fernandez<span class="sprite-icons player-change"></span></td>
        </tr>
        <tr>
            <td class="number">16</td>
            <td class="player">G. Mesto</td>
            <td class="number">21</td>
            <td class="player">G. Migliaccio</td>
        </tr>
        <tr>
            <td class="number">88</td>
            <td class="player">G. Inler</td>
            <td class="number">19</td>
            <td class="player">C. Llama</td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td class="player">M. Donadel<span class="sprite-icons player-change"></span><span class="sprite-icons yellow-card"></span></td>
            <td class="number">10</td>
            <td class="player">A. Aquilani</td>
        </tr>
        <tr>
            <td class="number">13</td>
            <td class="player">O. El Kaddouri</td>
            <td class="number">22</td>
            <td class="player">A. Ljajic</td>
        </tr>
        <tr>
            <td class="number">9</td>
            <td class="player">E. Vargas</td>
            <td class="number">17</td>
            <td class="player">H. Seferovic</td>
        </tr>
        <tr>
            <th class="text-center" colspan="2">Suspendus</th>
            <th class="text-center" colspan="2">Blessés</th>
        </tr>
        <tr>
            <td class="number">8</td>
            <td class="player">A. Dossena<span class="sprite-icons red-cross"></span></td>
            <td class="number">18</td>
            <td class="player">F. Della Rocca<span class="sprite-icons red-cross"></span></td>
        </tr>
        <tr>
            <td class="number">18</td>
            <td class="player">G. Pandev<span class="sprite-icons yellow-cross" data-placement="bottom" data-toggle="tooltip" data-original-title="Doubtful"></span></td>
            <td class="number">6</td>
            <td class="player">J. Vargas<span class="sprite-icons red-card"></span></td>
        </tr>
        </tbody>
    </table>
</div>
