<div class="panel panel-default match-information live">
    <div class="panel-heading">
        <div class="panel-title"><img alt="Ligue" src="{{ basePath }}img/sprites/ldc.png"><a href="#" title="Champions League">Champions League</a> / <a href="#" title="Group Stage - Matchday 12 - Groupe A 2nd leg">Group Stage - Matchday 12 - Groupe A 2nd leg</a></div>
        <div class="tools">
            <div class="btn-group">
                <button class="btn btn-default btn-xs" type="button">1st Leg</button>
                <button class="btn btn-primary btn-xs" type="button">2nd leg</button>
            </div>
            <a href="#" class="icon"><span class="icon icon-open icon-lg"></span></a>
            <a href="#" class="icon"><span class="icon icon-bell icon-lg"></span></a>
        </div>
    </div>
    <div class="row row-voffset">
        <div class="col-xs-12">
            <div class="match-info row">
                <div class="col-xs-5">
                    <div class="date"><span class="icon icon-default icon-calendar"></span> Wednesday 25 April 2012 - <strong>20:45</strong></div>
                </div>
                <div class="col-xs-3 referee" title="Viktor Kassaistadfeurthein Senior">
                    <span class="icon icon-referee"></span> Viktor Kassaistadfeurthein Senior
                </div>
                <div class="col-xs-4 stadium" title="Estadio Santiago Mariano do Brazil">
                    <span class="icon glyphicon glyphicon-map-marker"></span> Estadio Santiago Mariano do Brazil
                </div>
            </div>
            <table class="table table-match-details layout-fixed">
                <colgroup>
                    <col class="team">
                    <col class="score-large">
                    <col class="team">
                </colgroup>
                <tbody>
                <tr>
                    <th class="team home-team">
                        <div class="row">
                            <div class="col-xs-2 logo"><a href="#"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"></a></div>
                            <div class="col-xs-10 name"><a href="#" class="star"><span class="glyphicon glyphicon-star"></span></a><a href="#" title="Real Madrid long team name">Real Madrid long team name</a></div>
                        </div>
                    </th>
                    <th class="score">
                        <span class="home-score">2</span><span class="versus">-</span><span class="away-score">1</span>
                        <div class="match-status">
                            <span>1H</span> -
                            <span class="minute">66'</span>
                        </div>
                    </th>
                    <th class="team away-team">
                        <div class="row">
                            <div class="col-xs-10 name"><a href="#" class="star active"><span class="glyphicon glyphicon-star"></span></a><a href="#" title="Fußball-Club Bayern München">Fußball-Club Bayern München<span class="qualified"><i class="icon-tick"></i>Qualified</span></a></div>
                            <div class="col-xs-2 logo"><a href="#"><img src="{{ basePath }}img/sprites/fc_bayern.png" alt="FC Bayern"></a></div>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
            <table class="table table-match-actions-summary layout-fixed">
                <colgroup>
                    <col class="team">
                    <col class="score-large">
                    <col class="team">
                </colgroup>
                <tbody>
                <tr>
                    <td class="team-information home">
                        <div class="standings">
                            <table class="table table-condensed no-border">
                                <tr>
                                    <td class="event-outcome event-outcome-won"><a href="#">w</a></td>
                                    <td class="event-outcome event-outcome-lost" data-popover="popover" data-trigger="hover" data-container=".match-information .standings" data-html="true" data-placement="bottom" data-content="
                            <table class='table my-games table-condensed table-striped no-border'>
                              <tbody>
                                <tr>
                                  <td class='date'>02/04</td>
                                  <td><img class='league' src='img/sprites/ldc.png'></td>
                                  <td class='team team team1'><a href='#'><b>Barcelona</b> <img src='img/sprites/barcelona.png'></a></td>
                                  <td class='score'><a href='#'><span class='home-score'>2</span> <span class='versus'> - </span> <span class='away'>1</span></a></td>
                                  <td class='team team team2'><a href='#'><img src='img/sprites/realmadrid.png'><b>Real Madrid</b></a></td>
                                </tr>
                              </tbody>
                            </table>
                            "><a href="#">l</a></td>
                                    <td class="event-outcome event-outcome-draw" data-toggle="tooltip" data-container="body" data-placement="bottom" title="02/04 - Barcelona 2 - 1 Real Madrid"><a href="#">d</a></td>
                                    <td class="event-outcome event-outcome-neutral"><a href="#">-</a></td>
                                    <td class="event-outcome event-outcome-won"><a href="#">w</a></td>
                                </tr>
                                <tr>
                                    <td class="position" colspan="5">3<sup>rd</sup></td>
                                </tr>
                            </table>
                        </div>
                        <div class="faults">
                            <span class="sprite-icons yellow-red-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-red-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-red-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-red-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-red-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-red-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons red-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons red-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-toggle="popover" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                        </div>
                        <ul class="players">
                            <li><a href="#"><span class="sprite-icons penalty-goal"></span>Cristiano Ronaldo (6’)</a></li>
                            <li><a href="#"><span class="sprite-icons goal"></span>Cristiano Ronaldo (14’)</a></li>
                        </ul>
                    </td>
                    <td class="middle">
                        <div class="score">
                            <div class="title">Aggregate</div>
                            <span class="home-score">3</span>
                            <span class="versus">-</span>
                            <span class="away-score">3</span>
                        </div>
                        <div class="score">
                            <div class="title">Pens</div>
                            <span class="home-score">1</span>
                            <span class="versus">-</span>
                            <span class="away-score success">3</span>
                        </div>
                        <div class="title">Full Time</div>
                        <div class="title">
                                <span>1H</span> -
                                <span class="minute">66'</span>
                        </div>
                        <div class="time-zone">Ht<span class="score">1 - 0</span></div>
                        <div class="time-zone">Reg<span class="score">2 - 1</span></div>
                        <div class="time-zone">E.t.<span class="score">2 - 1</span></div>
                    </td>
                    <td class="team-information away">
                        <div class="faults">
                            <span class="sprite-icons yellow-card" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-toggle="popover" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-toggle="popover" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                            <span class="sprite-icons yellow-card" data-template="<div class='popover popover-incident' role='tooltip'><div class='arrow'></div><div class='popover-content'></div></div>'" data-toggle="popover" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite-icons yellow-card'></span> Roben (20')" data-trigger="hover"></span>
                        </div>
                        <div class="standings">
                            <table class="table table-condensed no-border">
                                <tr>
                                    <td class="event-outcome event-outcome-won"><a href="#">w</a></td>
                                    <td class="event-outcome event-outcome-lost"><a href="#">l</a></td>
                                    <td class="event-outcome event-outcome-draw"><a href="#">d</a></td>
                                    <td class="event-outcome event-outcome-won"><a href="#">w</a></td>
                                    <td class="event-outcome event-outcome-won"><a href="#">w</a></td>
                                </tr>
                                <tr>
                                    <td class="position" colspan="5">1<sup>st</sup></td>
                                </tr>
                            </table>
                        </div>
                        <ul class="players">
                            <li><a href="#"><span class="sprite-icons penalty-goal"></span>Arjen Robben (27’)</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ include('blocks/elements/page_tabs.html.twig', {type: 'match', tab: selectedTab }) }}
        </div>
    </div>

</div>
