<div class="panel panel-inverse match-pronostics">
  <div class="panel-heading">Nuestra predicción de resultado</div>
  <div class="panel-body">
    <div class="match-score">
      <div class="match-score-team match-score-team--preferred">
        <div class="match-score-team-name">Barcelona</div>
        <div class="match-score-value">4</div>
      </div>
      <div class="match-score-divider">-</div>
      <div class="match-score-team">
        <div class="match-score-value">1</div>
        <div class="match-score-team-name">Real Madrid</div>
      </div>
    </div>
    <p class="text-center">Nuestro sistema estadístico es una inteligencia artificial que predice el resultado exacto con decimales. Barcelona anotará 3,8 goles y Real Madrid 1,2.</p>
  </div>
</div>
