<div class="panel panel-default">
    <div class="panel-heading">
        Betting Odds
    </div>
    <table class="table table-condensed table-striped no-border table-odds">
        <thead>
        <tr>
            <th colspan="2">bookmaker</th>
            <th>Bonus</th>
            <th class="text-center color-success">1</th>
            <th class="text-center">x</th>
            <th class="text-center">2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="logo">
                <img alt="Bet1" src="{{ basePath }}img/sprites/bets1.png">
            </td>
            <td class="name">Betclic</td>
            <td class="bonus-text"><a href="#">£20 Welcome Bonus</a></td>
            <td class="event-won result">
                <span class="icon-arrow-down"></span><a href="#">1.75</a>
            </td>
            <td class="event-lost result">
                <span class="icon-arrow-up"></span><a href="#">3.50</a>
            </td>
            <td class="event-lost result">
                <span class="icon-equal"></span><a href="#">3.80</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img alt="Bet1" src="{{ basePath }}img/sprites/bets2.png">
            </td>
            <td class="name">PMU</td>
            <td class="bonus-text"><a href="#">First Deposit bonus of up to £50</a></td>
            <td class="event-won result best-odd">
                <span class="icon-arrow-down"></span><a href="#">1.64</a>
            </td>
            <td class="event-lost result">
                <span class="icon-arrow-up"></span><a href="#">3.45</a>
            </td>
            <td class="event-lost result">
                <span class="icon-equal"></span><a href="#">3.60</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img alt="Bet1" src="{{ basePath }}img/sprites/bets3.png">
            </td>
            <td class="name">Netbet</td>
            <td class="bonus-text"><a href="#">First Deposit bonus of up to £50</a></td>
            <td class="event-won result">
                <span class="icon-arrow-down"></span><a href="#">1.75</a>
            </td>
            <td class="event-lost result best-odd">
                <span class="icon-arrow-up"></span><a href="#">3.50</a>
            </td>
            <td class="event-lost result best-odd">
                <span class="icon-equal"></span><a href="#">3.70</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
