<div class="panel panel-default">
    <div class="match-timeline" id="match-timeline">
        <div class="timeline-container">
            <div class="timeline-scroll">
                <div class="match-live-progress" style="width: 36%;"></div>
                <div class="match-time-zones">
                    <div class="time-zone" style="left: 286px;">
                        <div class="time" style="width: 6px;"></div>
                        <div class="label">1 - 0</div>
                    </div>
                    <div class="time-zone" style="left: 572px;">
                        <div class="time" style="width: 11px;"></div>
                        <div class="label">2 - 1</div>
                    </div>
                    <div class="time-zone" style="left: 696px;">
                        <div class="time" style="width: 6px;"></div>
                    </div>
                    <div class="time-zone final-score" style="left: 780px;">
                        <div class="label">2 - 1</div>
                    </div>
                </div>
                <div class="team-actions">
                    <div class="action home-team" style="left: 93px;"><span class="sprite-icons penalty-goal" data-container="#match-timeline" data-toggle="popover" data-popover="popover" data-placement="top" data-html="true" data-content="<span class='sprite penalty-goal'></span> Roben (20')" data-trigger="hover"></span><span class="sprite-icons goal"></span><span class="sprite-icons yellow-card"></span></div>
                    <div class="action away-team"  style="left: 102px;"><span class="sprite-icons goal"></span><span class="sprite-icons goal"></span></div>
                    <div class="action away-team"  style="left: 200px;"><span class="sprite-icons goal"></span><span class="sprite-icons goal"></span></div>
                    <div class="action away-team"  style="left: 215px;"><span class="sprite-icons red-card"></span><span class="sprite-icons goal"></span></div>
                    <div class="action away-team"  style="left: 350px;" data-container="#match-timeline" data-popover="popover" data-html="true" data-placement="bottom" data-trigger="hover" data-content="
                        <table class='table table-condensed no-border actions-detail'>
                          <tbody>
                            <tr class='sustitution'>
                              <td class='player player1'><img src='img/user-default.png' class='img-circle'></td>
                              <td class='player player2'><img src='img/user-default.png' class='img-circle'></td>
                              <td class='details'>N. Pareja replaced by J. Molina (53’)</td>
                            </tr>
                          </tbody>
                        </table>
                        "><span class="sprite-icons player-change"></span></div>
                    <div class="action home-team"  style="left: 350px;"><span class="sprite-icons yellow-card"></span></div>
                    <div class="replay"  style="left: 250px;"><span class="icon-play"></span></div>
                    <div class="replay"  style="left: 471px;"><span class="icon-play"></span></div>
                </div>
                <div class="timeline-elements">
                    <div class="timeline">
                        <div class="time-lapse">0</div>
                        <div class="time-lapse">5</div>
                        <div class="time-lapse">10</div>
                        <div class="time-lapse">15</div>
                        <div class="time-lapse">20</div>
                        <div class="time-lapse">25</div>
                        <div class="time-lapse">30</div>
                        <div class="time-lapse">35</div>
                        <div class="time-lapse">40</div>
                        <div class="time-lapse">45</div>
                        <div class="time-lapse">HT</div>
                        <div class="time-lapse">45</div>
                        <div class="time-lapse">50</div>
                        <div class="time-lapse">55</div>
                        <div class="time-lapse">60</div>
                        <div class="time-lapse">65</div>
                        <div class="time-lapse">70</div>
                        <div class="time-lapse">75</div>
                        <div class="time-lapse">80</div>
                        <div class="time-lapse">85</div>
                        <div class="time-lapse">90</div>
                        <div class="time-lapse">REG</div>
                        <div class="time-lapse">90</div>
                        <div class="time-lapse">95</div>
                        <div class="time-lapse">100</div>
                        <div class="time-lapse">105</div>
                        <div class="time-lapse">110</div>
                        <div class="time-lapse">115</div>
                        <div class="time-lapse">120</div>
                        <div class="time-lapse end">ET.</div>
                    </div>
                    <div class="penalty-goals">
                        <div class="home">
                            <span class="sprite-icons shootout-goal" data-container="#match-timeline" data-popover="popover" data-html="true" data-placement="bottom" data-trigger="hover" data-content="<span class='sprite shootout-goal'></span><span class='details'> N. Pareja (53’)</span>" ></span>
                            <span class="sprite-icons shootout-missed"></span>
                            <span class="sprite-icons shootout-goal"></span>
                            <span class="sprite-icons shootout-missed"></span>
                        </div>
                        <div class="away">
                            <span class="sprite-icons shootout-goal"></span>
                            <span class="sprite-icons shootout-missed"></span>
                            <span class="sprite-icons shootout-goal"></span>
                            <span class="sprite-icons shootout-goal"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-logos">
            <div class="team home"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"><span class="name">RMD</span></div>
            <div class="team away"><img src="{{ basePath }}img/sprites/fc_bayern.png" alt="FC Bayern"><span class="name">RMD</span></div>
        </div>
        <div class="controls">
            <a href="#" class="prev"><span class="icon-caret-left"></span></a>
            <a href="#" class="next"><span class="icon-caret-right"></span></a>
        </div>
    </div>
</div>