<div class="panel panel-default match-summary-statistics">
    <div class="panel-heading">
        Statistics
    </div>
    <div class="possession">
        <div class="title">Possession</div>
        <div class="graph">
            <div class="percent">45%</div>
            <div class="bar">
                <div class="progress gray">
                    <div style="width: 55%" class="progress-bar"></div>
                </div>
            </div>
            <div class="percent">55%</div>
        </div>
    </div>
    <table class="table table-condensed">
        <tbody>
        <tr>
            <td class="home prog">
                <div class="progress gray">
                    <div style="width: 50%" class="progress-bar"></div>
                </div>
            </td>
            <td class="home number">6</td>
            <td class="statistic-label">Shots on target</td>
            <td class="away number">6</td>
            <td class="away prog">
                <div class="progress gray">
                    <div style="width: 50%" class="progress-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="home prog">
                <div class="progress gray">
                    <div style="width: 40%" class="progress-bar"></div>
                </div>
            </td>
            <td class="home number">5</td>
            <td class="statistic-label">Shots off target</td>
            <td class="away number">7</td>
            <td class="away prog">
                <div class="progress">
                    <div style="width: 60%" class="progress-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="home prog">
                <div class="progress gray">
                    <div style="width: 60%" class="progress-bar"></div>
                </div>
            </td>
            <td class="home number">5</td>
            <td class="statistic-label">Corner</td>
            <td class="away number">5</td>
            <td class="away prog">
                <div class="progress gray">
                    <div style="width: 50%" class="progress-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="home prog">
                <div class="progress">
                    <div style="width: 65%" class="progress-bar"></div>
                </div>
            </td>
            <td class="home number">4</td>
            <td class="statistic-label">Offsides</td>
            <td class="away number">3</td>
            <td class="away prog">
                <div class="progress gray">
                    <div style="width: 40%" class="progress-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="home prog">
                <div class="progress gray">
                    <div style="width: 30%" class="progress-bar"></div>
                </div>
            </td>
            <td class="home number">3</td>
            <td class="statistic-label">Throw-ins</td>
            <td class="away number">8</td>
            <td class="away prog">
                <div class="progress">
                    <div style="width: 70%" class="progress-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="home prog">
                <div class="progress gray">
                    <div style="width: 40%" class="progress-bar"></div>
                </div>
            </td>
            <td class="home number">11</td>
            <td class="statistic-label">Fouls</td>
            <td class="away number">19</td>
            <td class="away prog">
                <div class="progress">
                    <div style="width: 60%" class="progress-bar"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
