<div role="alert" class="alert alert-warning alert-dismissible icon">
    <span class="icon icon-default icon-calendar"></span> The last Real Madrid - Bayern Munich match was on January 15th. <a href="#"><span class="icon-caret-right"></span> Go to last match</a>
</div>