<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default head-to-head">
            <div class="panel-heading">
                Head to Head
                <div class="tools">
                    <img class="team-logo" alt="Real" src="img/sprites/realmadrid.png">
                    <img class="team-logo" alt="fc" src="img/sprites/fc_bayern.png">
                </div>
            </div>
            <div class="teams">
                <table class="circles">
                    <tr>
                        <td class="circle-info"><div class="team first"><div class="circle gray1"><span>4</span></div></div></td>
                        <td class="circle-info"><div class="team third"><div class="circle gray3"><span>1</span></div></div></td>
                        <td class="circle-info"><div class="team second"><div class="circle gray2"><span>2</span></div></div></td>
                    </tr>
                    <tr>
                        <td class="title"><span>REAL M.</span></td>
                        <td class="title"><span>DRAW</span></td>
                        <td class="title"><span>BAYERN</span></td>
                    </tr>
                </table>
            </div>
            <table class="table matches table-condensed table-striped layout-fixed">
                <colgroup>
                    <col class="date date-dmy">
                    <col class="stage-with-logo">
                    <col class="team">
                    <col class="score">
                    <col class="team">
                    <col class="tools tools-6">
                </colgroup>
                <tbody>

                <tr>
                    <td class="date">17/04/12</td>
                    <td class="stage"><img src="img/sprites/cup2.png" alt="Cup">MD16</td>
                    <td class="team team1"><a href="#"><span class="label red-card">1</span>Bayern Munich</a></td>
                    <td class="score">2 - 1</td>
                    <td class="team team2"><a href="#">Real Madrid</a></td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">13/08/10</td>
                    <td class="stage"><img src="img/sprites/eurocoup.png" alt="Europa League">MD25</td>
                    <td class="team team1"><a href="#">Bayern Munich</a></td>
                    <td class="score">0 - 0</td>
                    <td class="team team2"><a href="#">Real Madrid</a></td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">07/03/07</td>
                    <td class="stage"><img src="img/sprites/cup2.png" alt="Cup">MD7</td>
                    <td class="team team1"><a href="#">Real Madrid</a></td>
                    <td class="score">2 - 1</td>
                    <td class="team team2"><a href="#">Bayern Munich</a></td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">20/02/07</td>
                    <td class="stage"><img src="img/sprites/eurocoup.png" alt="Europa League">MD12</td>
                    <td class="team team1"><a href="#">Real Madrid with a long name</a></td>
                    <td class="score">3 - 2</td>
                    <td class="team team2"><a href="#">Bayern Munich</a></td>
                    <td class="tools">
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="date">10/03/04</td>
                    <td class="stage"><img src="img/sprites/cup2.png" alt="Cup">MD14</td>
                    <td class="team team1"><a href="#">Real Madrid</a></td>
                    <td class="score">1 - 0</td>
                    <td class="team team2"><a href="#">Bayern Munich<span class="label red-card">1</span></a></td>
                    <td class="tools">
                        <a href="#" class="available"><i class="icon-play"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="#"><i class="icon-mic"></i></a>
                        <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                        <a href="#"><i class="icon-prono"></i></a>
                        <a href="#"><i class="icon-stats"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <a href="#"><span class="icon-caret-right"></span>All Stats</a>
            </div>
        </div>
    </div>
</div>