.panel.match-sumary-statistics{
  
  .possession{
    background: url("@{ls-image-timeline-bg}") repeat;
    padding: 13px 10px 20px;
    
    .title{
      text-align: center;
      font-weight: @font-weight-semi-bold;
      font-size: @font-size-base;
      color: @ls-light-color;
      padding-bottom: 8px;
    }
    
    .graph{
      display: table;
      width: 100%;
      
      .percent{
        color: @ls-light-color;
        width: 14%;
        display: table-cell;
        text-align: center;
        font-size: @ls-match-statistics-percent-size;
        line-height: @ls-match-statistics-percent-size;
        font-weight: @font-weight-semi-bold;
      }
      
      .bar{
        z-index: 2;
        position: relative;
        display: table-cell;
        
        .progress{
          margin-bottom: 0;
          background-color: darken(@brand-primary, 12.5%);
          .box-shadow(none);
          
          .progress-bar{ 
            float: right;
            .box-shadow(none);
            background-color: @ls-light-color;
          }
        }
        
        &:before{
          background-color: @ls-light-color;
          content: "";
          display: block;
          position: absolute;
          top: -2px;
          left: 50%;
          width: 1px;
          height: 33px;
          z-index: -1;
        }
      }
    }
  }

  .table{
    tbody{
      tr{
        td{
        
          &.prog{
            text-align: right;
            width: 30%;
            
            .progress{
              margin: 0;
              background-color: transparent;
             .box-shadow(none);
             
             .progress-bar{
              .box-shadow(none);
              .border-radius(2px);
             }
             
             &.gray{
               .progress-bar{
                background-color: darken(@ls-light-color, 38%);
               }
             }
            }
            
            &.home{
              
              .progress{
                .progress-bar{
                  float: right;
                }
              }
            }
          }
          
          &.striped{
            text-align: center;
            width: 19%;
          }
          
          &.number{
            width: 2%;
            text-align: center;
            font-weight: @font-weight-bold;
          }
        }
      } 
    }
  }
}