.panel{

  &.match-prediction{
  
    .panel-body{
    
      h4.title{
        display: inline-block;
        margin: 0;
      }
      
      .info{
        float: right;
        font-size: @font-size-x-tiny;
        font-weight: @font-weight-semi-bold;
        color: darken(@ls-light-color, 41%);
        
        span.icon{
          margin-right: 5px;
          font-size: @font-size-base;
        }
      }
    }
    
    .make-prediction{
      overflow: hidden;
      background-color: darken(@ls-light-color, 4%);
      padding: 10px 20px;
      border-bottom:1px solid darken(@ls-light-color, 6%);
      border-top:1px solid darken(@ls-light-color, 6%);
      
      .user-info{
        font-weight: @font-weight-semi-bold;
        display: inline-block;
        
        img{
          margin-right: 5px;
        }
      }
      
      .prediction{
        display: table;
        float: right;
        margin-top: 5px;
        
        .team{
          padding-top: 10px;
          vertical-align: top;
          display: table-cell;
          font-weight: @font-weight-semi-bold;
        }
        
        .choise{
          vertical-align: middle;
          display: table-cell;
        
          .btn-group{
            margin: 0 8px;
            
            .btn{
              padding-left: 13px;
              padding-right: 13px;
            }
          }
          
          .result{
            margin-top: 10px;
            text-align: center;
            font-size: @font-size-small;
            
            .icon{
              color: darken(@ls-light-color, 27%);
            }
          }
        }
      }
    }
    
    > .row{
      margin: 0;
      
      > div{
        border-right: 1px solid darken(@ls-light-color, 6%);
        padding: 0;
        
        h5.title{
          margin: 0;
          padding: 15px 20px;
          font-size: @font-size-medium;
          font-weight: @font-weight-semi-bold;
        }
        
        .content{
          padding: 0 20px 15px;
          
          p{
            margin: 10px 0 15px;
            font-size: @font-size-small;
          }
        }
        
        table{
          tbody{
            tr{
              td{
                .progress{
                  margin-bottom: 0;
                  .box-shadow(none); 
                  background-color: darken(@ls-light-color, 9%);
                  
                  .progress-bar{ 
                    .box-shadow(none);
                  }
                  
                  &.gray{
                     .progress-bar{
                      background-color: darken(@ls-light-color, 38%);
                     }
                  }
                }
                
                &.percent{
                  width: 60%;
                }
              }
            }
          }
        }
        
        &:last-child{ border-right: 0; }
      }
    }
  }
}