.match-timeline{  
  position: relative;
  
  .team-logos{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    z-index: 4;
    
    .team{
      width: 113px;
      position: absolute;
      
      img{
        vertical-align: top;
        display: inline-block;
        max-width: 38px;
        max-height: 38px;
        margin-right: 5px;
      }
      
      .name{
        display: inline-block;
        font-family: @ls-match-timeline-team-font-family;
        font-size: @ls-match-timeline-team-font-size;
        font-weight: 600;
        color: @ls-light-color;
        line-height: 38px;
      }
      
      &.home{
        top: 10%;
      }
      
      &.away{
        bottom: 10%;
      }
    }
    
  }
  
  .controls{
    > a{
      z-index: 6;
      position: absolute;
      height: 100%;
      width: 40px;
      background: rgba(0,0,0,0.3);
      left: 0;
      top: 0;
      outline: none;
      
      > span{
        font-size: @ls-match-timeline-control-icon-size;
        color: @ls-light-color;
        position: absolute;
        width: 100%;
        height: @ls-match-timeline-control-icon-size;
        display: block;
        top: 50%;
        margin-top: -( @ls-match-timeline-control-icon-size / 2);
        text-align: center;
      }
      
      &.next{
        left: auto;
        right: 0;
      }
      
      &:hover{
        background: rgba(0,0,0,0.7);
      }
    }
  }
  
  .timeline-container{
    overflow: hidden;
  }
  
  .timeline-scroll{
    position: relative;
    height: @ls-match-timeline-container-height;
    background: url("../img/timeline/timeline-gray-bg.jpg") repeat 0 0;
    display: table-cell;
    vertical-align: middle;
    
    .timeline{
      position: relative;
      z-index: 3;
      background-color: @ls-match-timeline-bg;
      border: @ls-match-timeline-border;
      border-width: 1px 0;
      font-size: 0; //This is to fix the inline-block known issue
      white-space: nowrap;
      padding-right: 40px;
      
      .time-lapse{
        background: url("../img/timeline/timeline-guide.png") repeat-x 12px 0;
        color: @ls-light-color;
        font-family: @ls-match-timeline-font;
        font-size: @font-size-x-small;
        display: inline-block;
        width: 26px;
        text-align: center;
        line-height: @ls-match-timeline-height;
        
        &:first-child{
          background-repeat: no-repeat;
          margin-left: 39px;
        }        
        
        &.end{
          margin-right: 10px;
          padding-left: 7px;
          text-align: left;
          width: 41px;
        }
      }
      
      .penalty-turn{
        position: relative;
        width: 22px;
        line-height: @ls-match-timeline-height;
        display: inline-block;
        top: -4px;
        
        span{
          display: block;
          position: absolute;
          height: 19px;
          width: 19px;
          
          &.home{
            top: -45px;
          }
          
          &.away{
            bottom: -45px;
          }
          
          &.win{ background: url("../img/timeline/penalty-win.png") no-repeat 0 0; }
          &.lose{ background: url("../img/timeline/penalty-lose.png") no-repeat 0 0; }
          
        }
      }
    }
    
    .match-live-progress{
      background: url("../img/timeline/timeline-bg.jpg") repeat 0 0;
      z-index: 1;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    
    .match-time-zones{
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      
      .time-zone{
        display: table;
        position: absolute;
        height: 100%;
        
        .time{
          display: table-cell;
          background: fade(@ls-match-timeline-time-zone-bg, 40%);
        }
        
        .label{
          font-family: @ls-match-timeline-font;
          font-size: @font-size-small;
          font-weight: normal;
          padding: 10px 5px;
          vertical-align: bottom;
          display: table-cell;
          color: @ls-match-timeline-time-zone-label-color;
          background: rgba(0,0,0,0.3);
          width: 41px;
          text-align: center;
        }
        
        &.final-score{
          .label{
            width: 52px;
          }
        }
      }
    }
    
    .team-actions{
      z-index: 4;
      top: 50%;
      left: 0;
      position: absolute;
      width: 100%;
      
      .replay{
        background: url("../img/timeline/play-action.png") no-repeat;
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        top: -10px;
      }
      
      .action{
        cursor: pointer;
        bottom: (@ls-match-timeline-height / 2) + 2px;
        position: absolute;
        text-align: center;
        display: inline-block;
        background: fade(@ls-match-timeline-action-bg, 70%);
        padding: 1px 1px;
        .border-radius(2px);
        
        span{
          height: 18px;
          width: 18px;
          display: block;
          
          &.act-goal{ background:url("../img/sprite-icons.png") no-repeat  -61px -28px; }
          &.act-replacement{ background:url("../img/sprite-icons.png") no-repeat  -200px -4px;}
          &.act-yellow-card{ background:url("../img/sprite-icons.png") no-repeat  -117px -5px;}
        }
        
        &:after{
          position: absolute;
          bottom: -4px;
          left: 50%;
          margin-left: -5px;
          content: "";
          display: block;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 4px solid fade(@ls-match-timeline-action-bg, 70%);
        }
        
        &.away-team{
          bottom: auto;
          top: (@ls-match-timeline-height / 2) + 2px;
          
          &:after{
            top: -4px;
            bottom: auto;
            border-bottom: 4px solid fade(@ls-match-timeline-action-bg, 70%);
            border-top-width: 0;
          }
        }
        
        &:hover{
          background-color: @ls-match-timeline-action-bg;
          z-index: 400;
          
          &:after{
            border-top-color: @ls-match-timeline-action-bg;
          }
          
          &.away-team{
            &:after{
              border-bottom-color: @ls-match-timeline-action-bg;
            }
          }
        }
      }
      
    }
  }
}