.match-timeline{  
  position: relative;
  
  .controls{
    > a{
      position: absolute;
      height: 100%;
      width: 40px;
      background: rgba(0,0,0,0.3);
      left: 0;
      top: 0;
      outline: none;
      
      > span{
        font-size: @ls-match-timeline-control-icon-size;
        color: @ls-light-color;
        position: absolute;
        width: 100%;
        height: @ls-match-timeline-control-icon-size;
        display: block;
        top: 50%;
        margin-top: -( @ls-match-timeline-control-icon-size / 2);
        text-align: center;
      }
      
      &.next{
        left: auto;
        right: 0;
      }
      
      &:hover{
        background: rgba(0,0,0,0.7);
      }
    }
  }
  
  .timeline-container{
    overflow: auto;
  }
  
  .timeline-scroll{
    position: relative;
    height: @ls-match-timeline-container-height;
    background: url("../img/timeline/timeline-bg.jpg") repeat-x 0 0;
    display: table-cell;
    vertical-align: middle;
    
    .timeline{
      background-color: @ls-match-timeline-bg;
      border: @ls-match-timeline-border;
      border-width: 1px 0;
      font-size: 0; //This is to fix the inline-block known issue
      white-space: nowrap;
      
      .time-lapse{
        background: url("../img/timeline/timeline-guide.png") repeat-x 12px 0;
        color: @ls-light-color;
        font-family: @ls-match-timeline-font;
        font-size: @font-size-x-small;
        display: inline-block;
        width: 26px;
        text-align: center;
        line-height: @ls-match-timeline-height;
        
        &:first-child{
          background-repeat: no-repeat;
          margin-left: 39px;
        }        
      }
    }
    
    .team-actions{
      top: 50%;
      left: 0;
      position: absolute;
      width: 100%;
      
      .action{
        cursor: pointer;
        bottom: (@ls-match-timeline-height / 2) + 2px;
        position: absolute;
        text-align: center;
        display: inline-block;
        background: fade(@ls-match-timeline-action-bg, 70%);
        padding: 1px 1px;
        .border-radius(2px);
        
        span{
          height: 18px;
          width: 18px;
          display: block;
          
          &.act-goal{ background:url("../img/sprite-icons.png") no-repeat  -61px -28px; }
          &.act-replacement{ background:url("../img/sprite-icons.png") no-repeat  -200px -4px;}
          &.act-yellow-card{ background:url("../img/sprite-icons.png") no-repeat  -117px -5px;}
        }
        
        &:after{
          position: absolute;
          bottom: -4px;
          left: 50%;
          margin-left: -5px;
          content: "";
          display: block;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 4px solid fade(@ls-match-timeline-action-bg, 70%);
        }
        
        &.away-team{
          bottom: auto;
          top: (@ls-match-timeline-height / 2) + 2px;
          
          &:after{
            top: -4px;
            bottom: auto;
            border-bottom: 4px solid fade(@ls-match-timeline-action-bg, 70%);
            border-top-width: 0;
          }
        }
        
        &:hover{
          background-color: @ls-match-timeline-action-bg;
          z-index: 400;
          
          &:after{
            border-top-color: @ls-match-timeline-action-bg;
          }
          
          &.away-team{
            &:after{
              border-bottom-color: @ls-match-timeline-action-bg;
            }
          }
        }
      }
      
    }
  }
}