<div class="panel panel-default successfully">
    <div class="panel-body">
        <i class="icon glyphicon glyphicon-ok"></i>
        <span class="title">Your password has been <br>successfully updated</span>
        <p>Your new password have been set with sucess. <br>
            Click on Login to enter you account.</p>
        <button type="button" class="btn btn-primary">Redirecting to My Account...</button>
    </div>
</div>