<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Login to My Livescore</h1>
    </div>
    <div class="panel-body">
        {{ include('blocks/login/login_register.html.twig', {tab:'register'}) }}
    </div>
</div>