<div class="registration-features">
<div class="image">
    <img src="{{ ImageDirPath }}292x600.gif" alt="Visual Block">
</div>
<div class="content">
    <p><b>Register for FREE</b> in a few seconds to  join the community <br> and enjoy the benefits of being a member.</p>
    <span class="title">11 good reason to register:</span>
    <p>Duis mollis, est non commodo luctus, nisi erat</p>
    <ul>
        <li>
            <i class="icon icon-football"></i> 9 sports disponibles !
        </li>
        <li>
            <i class="icon icon-stats"></i> Résultats et statistiques détaillées
        </li>
        <li>
            <i class="icon icon-mic"></i> Commentaires des matchs en direct
        </li>
        <li>
            <i class="icon icon-play"></i> Résumé et Vidéos des buts
        </li>
        <li>
            <i class="icon glyphicon glyphicon-comment"></i> Débattez des matchs avec les membres
        </li>
        <li>
            <i class="icon icon-bulb"></i> Les infos clés pour mieux parier
        </li>
        <li>
            - Comparez les cotes de tous les matchs
        </li>
        <li>
            - livescore entièrement personnalisable
        </li>
        <li>
            <i class="icon icon-x2"></i> Des milliers de ponostics partagés
        </li>
        <li>
            <i class="icon icon-cup"></i> Concours avec de nombreux lots à gagner
        </li>
        <li>
            - Widgets utilisables sur votre site
        </li>
    </ul>
</div>
</div>