.dropdown-select {
  top: 0;
  left: 0;
  min-width: 100%;
}

.dropdown-menu {

  .comment-number {
    top:2px;
  }

  li > a {

    &:hover, &:focus {

      .comment-number {
        color: @brand-primary;
      }
    }
  }

}

ul.nav li.dropdown-hover:hover ul.dropdown-menu {
  display: block;
}