// Payment methods

.ls-payment-methods-list {
  display: block;
  padding: 16px 0 20px;

  .list-icon & {
    padding-bottom: 0;
  }
}

.ls-payment-icon {
    display: inline-block;
    background: url("@{ls-image-review-payment-methods-bg}") transparent no-repeat;
    width: 40px;
    height: 23px;
    text-indent: -3939em;
    margin: 0 5px 5px 0;
}

.ls-payment-icon--empty {
    background-position: 0px 20px;
}
.ls-payment-icon--visa_electron {
    background-position: -4px -5px;
}
.ls-payment-icon--webmoney {
    background-position: -54px -5px;
}
.ls-payment-icon--visa {
    background-position: -104px -5px;
}
.ls-payment-icon--usemywallet {
    background-position: -154px -5px;
}
.ls-payment-icon--ukash {
    background-position: -204px -5px;
}
.ls-payment-icon--speedcard {
    background-position: -254px -5px;
}
.ls-payment-icon--sofort {
    background-position: -4px -36px;
}
.ls-payment-icon--paypal {
    background-position: -154px -36px;
}
.ls-payment-icon--neteller {
    background-position: -254px -36px;
}
.ls-payment-icon--mypaylinq {
    background-position: -4px -67px;
}
.ls-payment-icon--mycitadel {
    background-position: -54px -67px;
}
.ls-payment-icon--check {
    background-position: -154px -67px;
}
.ls-payment-icon--moneybookers {
    background-position: -204px -67px;
}
.ls-payment-icon--mastercard {
    background-position: -254px -67px;
}
.ls-payment-icon--maestro {
    background-position: -4px -98px;
}
.ls-payment-icon--kalixa {
    background-position: -54px -98px;
}
.ls-payment-icon--ipoint {
    background-position: -104px -98px;
}
.ls-payment-icon--goldpay {
    background-position: -154px -98px;
}
.ls-payment-icon--giropay {
    background-position: -204px -98px;
}
.ls-payment-icon--ezvouchers {
    background-position: -254px -98px;
}
.ls-payment-icon--ewalletxpress {
    background-position: -4px -129px;
}
.ls-payment-icon--ecocard {
    background-position: -54px -129px;
}
.ls-payment-icon--directebanking {
    background-position: -104px -129px;
}
.ls-payment-icon--dinersclub {
    background-position: -154px -129px;
}
.ls-payment-icon--click2pay {
    background-position: -4px -160px;
}
.ls-payment-icon--moneyorder {
    background-position: -54px -160px;
}
.ls-payment-icon--cb {
    background-position: -104px -160px;
}
.ls-payment-icon--b2b {
    background-position: -204px -160px;
}
.ls-payment-icon--american_express {
    background-position: -254px -160px;
}
.ls-payment-icon--americanexpress {
    background-position: -254px -160px;
}
.ls-payment-icon--neosurf {
    background-position: -4px -191px;
}
.ls-payment-icon--wiretransfer {
    background-position: -254px -346px;
}
.ls-payment-icon--clickandbuy {
    background-position: -104px -191px;
}
.ls-payment-icon--paysafecard {
    background-position: -154px -191px;
}
.ls-payment-icon--ticketpremium {
    background-position: -254px -191px;
}
.ls-payment-icon--hipay {
    background-position: -4px -222px;
}
.ls-payment-icon--entropay {
    background-position: -54px -222px;
}
.ls-payment-icon--amazon_payment {
    background-position: -104px -222px;
}
.ls-payment-icon--skrill {
    background-position: -154px -222px;
}
.ls-payment-icon--quicktender {
    background-position: -204px -222px;
}
.ls-payment-icon--ezipay {
    background-position: -254px -222px;
}
.ls-payment-icon--moneygram {
    background-position: -4px -253px;
}
.ls-payment-icon--poli {
    background-position: -54px -253px;
}
.ls-payment-icon--bpay {
    background-position: -104px -253px;
}
.ls-payment-icon--intercash {
    background-position: -204px -253px;
}
.ls-payment-icon--mistercash {
    background-position: -254px -253px;
}
.ls-payment-icon--fasterpay {
    background-position: -4px -284px;
}
.ls-payment-icon--enets {
    background-position: -54px -284px;
}
.ls-payment-icon--interac {
    background-position: -104px -284px;
}
.ls-payment-icon--echecks {
    background-position: -154px -284px;
}
.ls-payment-icon--echeck {
    background-position: -154px -284px;
}
.ls-payment-icon--boleto {
    background-position: -204px -284px;
}
.ls-payment-icon--pokerstarspay {
    background-position: -254px -284px;
}
.ls-payment-icon--multibanco {
    background-position: -4px -315px;
}
.ls-payment-icon--epay {
    background-position: -54px -315px;
}
.ls-payment-icon--toditocash {
    background-position: -104px -315px;
}
.ls-payment-icon--obopay {
    background-position: -154px -315px;
}
.ls-payment-icon--google_checkout {
    background-position: -204px -315px;
}
.ls-payment-icon--pppay {
    background-position: -254px -315px;
}
.ls-payment-icon--qiwi-visa {
    background-position: -54px -346px;
}
.ls-payment-icon--debit-card {
    background-position: -104px -346px;
}
.ls-payment-icon--debit {
    background-position: -104px -346px;
}
.ls-payment-icon--debitcards {
    background-position: -104px -346px;
}
.ls-payment-icon--dankort {
    background-position: -154px -346px;
}
.ls-payment-icon--online-bank-transfer {
    background-position: -204px -346px;
}
.ls-payment-icon--banktransfer {
    background-position: -54px -191px;
}
.ls-payment-icon--elv {
    background-position: -4px -377px;
}
.ls-payment-icon--moneta {
    background-position: -104px -377px;
}
.ls-payment-icon--instadebit {
    background-position: -154px -377px;
}
.ls-payment-icon--astropay {
    background-position: -204px -377px;
}
.ls-payment-icon--barcode-santander {
    background-position: -254px -377px;
}
.ls-payment-icon--teleingreso {
    background-position: -4px -408px;
}
.ls-payment-icon--abaqoos {
    background-position: -104px -408px;
}
.ls-payment-icon--robokassa {
    background-position: -154px -408px;
}
.ls-payment-icon--sporopay {
    background-position: -204px -408px;
}
.ls-payment-icon--laser {
    background-position: -254px -408px;
}
.ls-payment-icon--xoom {
    background-position: -4px -439px;
}
.ls-payment-icon--bankaxess {
    background-position: -54px -439px;
}
.ls-payment-icon--postepay {
    background-position: -104px -439px;
}
.ls-payment-icon--discover {
    background-position: -154px -439px;
}
.ls-payment-icon--freebet {
    background-position: -204px -439px;
}
.ls-payment-icon--alipay {
    background-position: -254px -439px;
}
.ls-payment-icon--westerunion {
    background-position: -4px -470px;
}
.ls-payment-icon--westernunion {
    background-position: -4px -470px;
}
.ls-payment-icon--union_pay {
    background-position: -54px -470px;
}
.ls-payment-icon--easycash {
    background-position: -104px -470px;
}
.ls-payment-icon--paymate {
    background-position: -154px -470px;
}
.ls-payment-icon--cashu {
    background-position: -204px -470px;
}
.ls-payment-icon--p2p {
    background-position: -254px -470px;
}
.ls-payment-icon--asia_pay {
    background-position: -4px -501px;
}
.ls-payment-icon--cirrus {
    background-position: -54px -501px;
}
.ls-payment-icon--citibank {
    background-position: -104px -501px;
}
.ls-payment-icon--unet {
    background-position: -204px -501px;
}
.ls-payment-icon--instant_banking {
    background-position: -4px -532px;
}
.ls-payment-icon--instantbanking {
    background-position: -4px -532px;
}
.ls-payment-icon--visa_debit {
    background-position: -54px -532px;
}
.ls-payment-icon--buyster {
    background-position: -104px -532px;
}
.ls-payment-icon--dineromail {
    background-position: -4px -625px;
}
.ls-payment-icon--eps {
    background-position: -254px -532px;
}
.ls-payment-icon--ideal {
    background-position: -154px -532px;
}
.ls-payment-icon--ikoruna {
    background-position: -104px -625px;
}
.ls-payment-icon--local-bank-transfer {
    background-position: -104px -129px;
}
.ls-payment-icon--moneyclic {
    background-position: -54px -625px;
}
.ls-payment-icon--ecartebleue {
    background-position: -204px -191px;
}
.ls-payment-icon--spei {
    background-position: -154px -625px;
}
.ls-payment-icon--servipag {
    background-position: -204px -625px;
}
.ls-payment-icon--tpay {
    background-position: -204px -532px;
}
.ls-payment-icon--bonificobancario {
    background-position: -254px -624px;
}
.ls-payment-icon--bitcoin {
    background-position: -4px -654px;
}
.ls-payment-icon--jcb {
    background-position: -54px -654px;
}
.ls-payment-icon--banamex {
    background-position: -104px -654px;
}
.ls-payment-icon--bancomer {
    background-position: -154px -654px;
}
.ls-payment-icon--mint {
    background-position: -204px -654px;
}
.ls-payment-icon--mobiamo {
    background-position: -254px -654px;
}
.ls-payment-icon--oxxo {
    background-position: -4px -687px;
}
.ls-payment-icon--red_compra {
    background-position: -54px -687px;
}
.ls-payment-icon--safetypay {
    background-position: -104px -687px;
}
.ls-payment-icon--efectivo {
    background-position: -154px -66px;
}
.ls-payment-icon--ecopayz {
    background-position: -204px -687px;
}
.ls-payment-icon--idebit {
    background-position: -154px -687px;
}
