.step-heading{
	margin-bottom: 25px;

	.label{
	  border-radius: 50%;
		padding: 0;
		display: inline-block;
		margin-right: 7px;
	}

	.title{
		font-size: @font-size-xx-large;
		font-weight: @font-weight-semi-bold;
		margin-right: 7px;
	}

	.description{
		font-weight: @font-weight-normal;
		font-size: @font-size-normal;
	}
}