.streaming{

	> .row{
		margin: 0;

		> div{

			&:first-child{				
				padding-right: 0;
				padding-left: 0;
			}

			&:last-child{
				text-align: right;
				padding: 0;
				border-left: 1px solid darken(@ls-light-color, 10%);
			}
		}
	}

	span.title{
		font-size: @font-size-normal;
		line-height: 22px;
		font-weight: @font-weight-semi-bold;
		margin: 10px 20px;
		display: block;
	}

	table{

		tbody{

			tr{

				td{
					vertical-align: middle;

					&.icon{
						width: 5%;
						
						a{

							span{
								font-size: 23px;
								color: lighten(@ls-dark-color, 53.5%);
								margin-left: 5px;
							}
						}
					}

					&.hour{
						padding-left: 0;
						padding-right: 0;
						font-weight: @font-weight-semi-bold;
					}

					&.watch{
						width: 50%;
						text-align: right;

						span{

							i{
								font-size: @font-size-x-large;
								color: @ls-light-color;
								margin-right: 10px;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}

	p{
		margin: 10px 18px;
	}
}

.streaming-matches{

	table{

		thead{

			tr{

				th{
					text-align: center;
				}
			}
		}

		tbody{

			tr{

				td{
					text-align: center;

					&.team1{
						width: 17%;
					}

					&.icon{
						
						a{
							font-size: @font-size-x-large;
							color: @brand-primary;

                          &:hover {
                            color: darken(@brand-primary,10%);
                          }
						}
					}

					&.tools{
						width: 30%;
					}
				}
			}
		}
	}
}