.match-information{
  margin-bottom: 0;
  padding-bottom: @grid-gutter-width;
  border-bottom-width: 0;

  .panel-heading{
    .clearfix();
    
    .panel-title{
      font-weight: @font-weight-normal;
      font-size: @font-size-small;
      width: 65%;
      line-height: 21px;
      float: left;
      .text-overflow();
      
      a{
        color: @link-color; 
      }        
    }
    
    .tools{
    
      .btn-group{
        margin-right: 20px;
        top:-1px;
      }
      
      a.icon{        

        span{
          font-size: @font-size-xx-large + 1px;
          vertical-align: middle;  
          color: @ls-action-icon-color;       
        }

        &:hover{
          span{
            color: @ls-action-icon-color-hover;
          }
        }
      }
    }
  }
  
  .match-info{
    padding: 0 10px;
    line-height: 35px;
    font-size: @font-size-x-small;
    
    .date{
      display: inline;
    }

    span.icon{
      color: lighten(@ls-dark-color, 70%);
      margin-right: 4px;
      margin-top: -2px;
      font-size: @font-size-large;
      vertical-align: middle;
      position: relative;
      display: inline-block;
    }
    
    .referee{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .stadium {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
    }
  }
  
  .table{

    
    tbody{
    
      tr{

        th{
          text-transform: none;
          color: darken(@ls-light-color, 12.4%);

          &.team{
            background-color: lighten(@ls-greyblue-dark, 1.3%);

            .row{
              margin: 0;
            }

            .logo{
              padding: 0;

              .icon-placeholder {
                display: inline-block;
                width: @ls-match-info-table-team-logo-size;
                height: @ls-match-info-table-team-logo-size;
              }

              img{
                max-width: 100%;
                max-height: 100%;
              }

              &:hover{
                img{
                  opacity: .7;
                }
              }
            }
          }

          .name{
            padding: 0;
            text-align: right;
            font-size: @ls-match-info-table-team-name-size;
            font-weight: @font-weight-semi-bold;
            line-height: @ls-match-info-table-team-name-size + 20px;

            a{
              display: block;
              min-height: 40px;
              max-width: 100%;
              color: @ls-light-color;
              margin-left: 20px;
              position: relative;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;


              .qualified{
                color: @ls-match-info-table-qualified-color;
                font-size: @font-size-x-small - 1px;
                line-height: @font-size-x-small;
                text-transform: uppercase;
                bottom: 0px;
                right: 0;
                position: absolute;

                i{
                  vertical-align: middle;
                  margin-right: 3px;
                }
              }

              &:hover{
                color: @ls-light-color;
              }
            }

            a.star{
              display: none;
              color: darken(@ls-light-color, 30.5%);
              position: absolute;
              margin-left: 4px;

              &.active {
                display: block;
              }

              span{
                font-size: @font-size-normal;
              }

              &:hover{
                color: darken(@ls-light-color, 40%);
              }

              &.active span,
              &.active i{
                color: @ls-fav-hover !important;
              }
            }
          }

          &.team:hover{

            .name{
              a.star{
                display: block;
              }
            }
          }

          &.away-team{

            .logo{
              text-align: right;
            }

            .name{
              text-align: left;

              a{
                margin-left: 0;
                margin-right: 20px;

                .qualified{
                  left: 0;
                  right: auto;
                }
              }
            }

            a.star {
              right: 0;
              margin-right: 6px;
            }
          }

          &.score{
            text-align: center;
            background-color: darken(@ls-greyblue-dark, 7%);
            padding-top: 0;
            padding-bottom: 0;
            min-width: 110px;
            vertical-align: middle;
            white-space: nowrap;
            position: relative;

            > span{
              font-size: @ls-match-info-table-sore-size;
              font-weight: @font-weight-bold;
              line-height: 31px;
              color: @ls-light-color;

              &.versus{
                margin: 0 7px;
              }
            }

            .match-status {
              background-color: #dbdbdb;
              text-align: center;
              font-weight: @font-weight-bold;
              text-transform: uppercase;
              padding: 5px 0 5px;
              line-height: 16px;
              margin-bottom: 2px;
              position: absolute;
              width: 100%;
              left: 0;
              bottom: -28px;
              font-size: @font-size-base;
              color: @text-color;
              display: none;
              box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

              span.minute {
                color: #e33000;
                .live-blink-gif();
                background-position: 1px center;
              }
            }
          }
        }
      
        td{
        
          &.team-information{
            padding-top: 3px;
            padding-right: 10px;
            padding-left: 0;
            vertical-align: top !important;
            
            .standings{
              display: inline-block;
              width: 46%;
              
              table{
                margin-bottom: 0;
                background-color: transparent;
                border: 0;

                tbody{
                
                  td{
                    min-width: 22px;
                    line-height: @font-size-normal;
                    
                    &.position{
                      padding-top: 6px;
                      text-align: center;
                      font-weight: @font-weight-bold;
                    }
                  }
                }
              }
              
              .popover{
                min-width: 395px;
                
                .popover-content{
                  padding: 6px 0;
                  
                  table{
                  
                    tr{
                    
                      td{
                       
                        a{
                           line-height: 25px;
                        }
                      
                        &.date{
                          font-weight: @font-weight-semi-bold;
                        }
                        
                        img.league{
                          max-height: 18px;
                          max-width: 18px;
                        }
                      }
                    }
                  }
                }
              }
            }
            
            .faults{
              display: inline-block;
              width: 49%;
              text-align: right;
              float: right;
              font-size: 0;
              
              span{
                display: inline-block;
                margin-bottom: 0;
                margin-left: 2px;
                
              }
            }
            
            ul.players{
              clear: both;
              width: 100%;
              text-align: right;
              padding: 0;
              
              li{
                list-style: none;
                font-size: @font-size-small; 
                line-height: 22px;

                a{
                  color: lighten(@ls-dark-color, 36%);

                  &:hover{
                    color: @link-hover-color;
                  }
                }

                span{
                  margin-right: 5px;
                  float: left;
                  margin-top: 2px;
                }
              }
            }

            &.home {

              .players {

                li span{
                  float: right;
                  margin-right: 0;
                  margin-left: 5px;
                }
              }
            }
          }

          
          &.middle{
            padding: 2px 0 0;
            vertical-align: top !important;
           
            > .score{
              background-color: lighten(@ls-greyblue-dark, 1.3%);
              padding: 5px 0;
              text-align: center;
              color: @ls-light-color;
              margin-bottom: 2px;
              
              .title{
                font-size: @font-size-x-tiny;
                font-weight: @font-weight-semi-bold;
                color: darken(@ls-light-color, 23%);
                text-transform: uppercase;
              }
              
              span{
                font-size: @ls-match-info-table-sore-size - 15px;
                font-weight: @font-weight-bold;
                line-height: 23px;
                color: @ls-light-color;
                
                &.versus{
                  margin: 0 3px;
                }
                
                &.success{
                  color: @ls-match-info-table-winner-color;
                }
              }
            }
          
            > .title{
              background-color: darken(@ls-light-color, 14%);
              text-align: center;
              font-weight: @font-weight-bold;
              text-transform: uppercase;
              padding: 5px 0 5px;
              line-height: 16px;
              margin-bottom: 2px;

            }
            
            .time-zone{ 
              background-color: darken(@ls-light-color, 14%);
              padding: 3px 7px 5px;
              line-height: 16px;
              text-transform: uppercase;
              font-size: @font-size-small;
              font-weight: @font-weight-semi-bold;
              margin-bottom: 2px;
              
              span.score{
                font-weight: @font-weight-bold;
                font-size: @font-size-base;
                float: right;
              }
            }
            
            > div:last-child{
              margin-bottom: 0;
            }
          }
          
          &.team-information.away{
            padding-top: 3px;
            padding-left: 10px;
            padding-right: 0;
            
            .standings{
              float: right;
            }
            
            .faults{
              float: none;
              text-align: left;
            }
            
            ul.players{
              text-align: left;
            }
          }
        }
        
        &:hover{
        
          td{
            background-color: transparent;
          }
        }
      }
    }
  }

  // Style for status LIVE
  &.live {

     .table {

       tbody {

         tr {

           td {
             > .title {

               span.minute {
                 color: #e33000;
                 .live-blink-gif();
                 background-position: 1px center;
               }
             }

           }
         }
       }
     }

  }

  // Style for status LIVE PAUSED
  &.paused {

    .table {

      tbody {

        tr {

          td {
            > .title {

              span.minute {
                color: #e33000;
                .paused-gif();
                background-position: 1px center;
              }
            }

          }
        }
      }
    }

  }

  &.flying {

    .table-match-details {
        position: fixed;
        top:64px;
        width: 608px;
        z-index: 10;
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

        .match-status {
        display: block !important;
      }
    }

    .table-match-actions-summary {
      margin-top: 56px;
    }
  }

  // Tabs styling
  & + .nav-tabs {
    margin-bottom: @line-height-computed;
    border-left: 1px solid @panel-inner-border;
    border-right: 1px solid @panel-inner-border;
  }
}