.match-report{
  table{
    thead{
      tr{
        th{
          span.icon{
            vertical-align: middle;
            font-size: @font-size-large;
            color: lighten(@ls-dark-color, 55.3%);
            line-height: @font-size-small;
            position: relative;
            top: -2px;
          }
          
          &.team{
            width: 40%;
          }
          
          &.middle{
            width: 10%;
          }
        }
      }
    }
    
    tbody{
      tr{
        th{
          border-top: 0;
          font-weight: @font-weight-bold;
          font-size: @font-size-small;
        }
        
        td{
          
          &.minute{
            font-size: @font-size-small;
            font-weight: @font-weight-bold;
            text-align: center;
          }
          
          &.player{
            &.home{
              text-align: right;
              
              a.replay{
                float: left;
                color: @active-green;
                font-size: @font-size-x-large;
              }
            }
          }
          
          &.icon{
            width: 1%;
            text-align: center;
          }
        }
      }
    }
  }
}