// Margin top
.mt-1 { margin-top: @font-size-base; }
.mt-2 { margin-top: @font-size-base + ((@font-size-base / 5)*2); }
.mt-3 { margin-top: @font-size-base + ((@font-size-base / 5)*3); }
.mt-4 { margin-top: @font-size-base + ((@font-size-base / 5)*4); }
.mt-5 { margin-top: @font-size-base * 2; }

.mb-1 { margin-bottom: @font-size-base; }
.mb-2 { margin-bottom: @font-size-base + ((@font-size-base / 5)*2); }
.mb-3 { margin-bottom: @font-size-base + ((@font-size-base / 5)*3); }
.mb-4 { margin-bottom: @font-size-base + ((@font-size-base / 5)*4); }
.mb-5 { margin-bottom: @font-size-base * 2; }