@spacer-0: 0;
@spacer-1: @font-size-base * 0.25;
@spacer-2: @font-size-base * 0.5;
@spacer-3: @font-size-base;
@spacer-4: @font-size-base * 1.5;
@spacer-5: @font-size-base * 3;

.vertical-margin(@property; @size) {
  .direction-spacing(@property, top, @size);
  .direction-spacing(@property, bottom, @size);
}

.direction-spacing(@property; @direction; @size) {
  @length : "spacer-@{size}";
  @propertyName : ~"@{property}-@{direction}";
    @{propertyName}: @@length !important;
}




// Margin --------------------
.m-0 { margin: @spacer-0 !important; }
.m-1 { margin: @spacer-1 !important; }
.m-2 { margin: @spacer-2 !important; }
.m-3 { margin: @spacer-3 !important; }
.m-4 { margin: @spacer-4 !important; }
.m-5 { margin: @spacer-5 !important; }


// Margin top
.mt-0 { .direction-spacing(margin, top, 0) }
.mt-1 { .direction-spacing(margin, top, 1) }
.mt-2 { .direction-spacing(margin, top, 2) }
.mt-3 { .direction-spacing(margin, top, 3) }
.mt-4 { .direction-spacing(margin, top, 4) }
.mt-5 { .direction-spacing(margin, top, 5) }

// Margin bottom
.mb-0 { .direction-spacing(margin, bottom, 0) }
.mb-1 { .direction-spacing(margin, bottom, 1) }
.mb-2 { .direction-spacing(margin, bottom, 2) }
.mb-3 { .direction-spacing(margin, bottom, 3) }
.mb-4 { .direction-spacing(margin, bottom, 4) }
.mb-5 { .direction-spacing(margin, bottom, 5) }

.mr-0 { .direction-spacing(margin, right, 0) }
.mr-1 { .direction-spacing(margin, right, 1) }
.mr-2 { .direction-spacing(margin, right, 2) }
.mr-3 { .direction-spacing(margin, right, 3) }
.mr-4 { .direction-spacing(margin, right, 4) }
.mr-5 { .direction-spacing(margin, right, 5) }

.my-0 { .vertical-margin(margin, 0) }
.my-1 { .vertical-margin(margin, 1) }
.my-2 { .vertical-margin(margin, 2) }
.my-3 { .vertical-margin(margin, 3) }
.my-4 { .vertical-margin(margin, 4) }
.my-5 { .vertical-margin(margin, 5) }





// Padding -----------------------------
.p-0 { padding: @spacer-0 !important; }

// Padding top
.pt-0 { .direction-spacing(padding, top, 0) }
.pt-1 { .direction-spacing(padding, top, 1) }
.pt-2 { .direction-spacing(padding, top, 2) }
.pt-3 { .direction-spacing(padding, top, 3) }
.pt-4 { .direction-spacing(padding, top, 4) }
.pt-5 { .direction-spacing(padding, top, 5) }

// Padding bottom
.pb-0 { .direction-spacing(padding, bottom, 0) }
.pb-1 { .direction-spacing(padding, bottom, 1) }
.pb-2 { .direction-spacing(padding, bottom, 2) }
.pb-3 { .direction-spacing(padding, bottom, 3) }
.pb-4 { .direction-spacing(padding, bottom, 4) }
.pb-5 { .direction-spacing(padding, bottom, 5) }

.py-0 { .vertical-margin(padding, 0) }
.py-1 { .vertical-margin(padding, 1) }
.py-2 { .vertical-margin(padding, 2) }
.py-3 { .vertical-margin(padding, 3) }
.py-4 { .vertical-margin(padding, 4) }
.py-5 { .vertical-margin(padding, 5) }