body{
  font-family: @ls-body-font;
  padding-top: 64px;
  background: @body-bg;
} 

a{
  color: @ls-link-color;
  
  &:hover{
    text-decoration: none;
  }
  
  &:focus{
    text-decoration: none;
  }
  
}