body{
  font-family: @ls-body-font;
  padding-top: 64px;
  background: @body-bg;
} 

a{
  color: @ls-link-color;
  
  &:hover{
    text-decoration: none;
    color: @ls-link-hover-color;
  }
  
  &:focus{
    text-decoration: none;
  }
  
}
b,strong{
  color: lighten(@ls-dark-color,36%);
}