
#live-commented-matches{
  &.panel{
    > .panel-body{
      padding: 0;
      
      .preview{
        width: 100%;
      }
      
      .description{
        padding: 15px;
        border-bottom: 2px solid darken(@ls-light-color, 4%);
        
        p{
          font-size: 12px;
          line-height: 17px;
          margin: 0;
        }
        
      }
      
      .matches{
        margin: 0;
        
        tr{
          td{
            &.team1{
              text-align: right;
            }
          
            &.score{ 
              text-align: center;
              background-color: darken(@ls-light-color, 3.3%);
              
              &.none{
                line-height: 12px;
              }
              
              > span{
                color: darken(@ls-light-color, 16.5%);
                font-size: 15px;
              }
            }
            
            &.commented{
              width: 25px;
              background-image: url("../img/sprites/mic.png");
              background-position: center center;
              background-repeat: no-repeat;
            }
          }
          
          &.live{
            td{
              &.date{
                font-size: 11px;
                font-weight: 600;
                color: @live-red; 
                padding-left: 17px;
                background-image: url("../img/sprites/live-spot.gif");
                background-position: 5px center;
                background-repeat: no-repeat;
              }
              
              &.score{
                color: @live-red;
                font-size: 13px;
                font-weight: 700;
              }
              
              &.commented{
                background-image: url("../img/sprites/mic-live.png");
              }
            }
          }
          
          &:nth-child(even){
            td.score{
              background-color: darken(@ls-light-color, 7.2%);
            }

          }
        }
      }
      
    }
  } 
  
}