.matches-slider, .matches-slider-live{
  width: 100%;
  display: table;
  background: lighten(@ls-grey, 74%); 
  border-bottom: 1px solid darken(@ls-light-color, 7.5%);
  
  .control{
    background: darken(@ls-light-color, 1.5%);
    text-align: center;
    width: 38px;
    vertical-align: top;
    display: table-cell;
    border-color: darken(@ls-light-color, 8.5%);
    cursor: pointer; 
    
    span{
      font-size: 21px;
      line-height: 71px;
      color: darken(@ls-light-color, 14%);
    }
    
    &:hover{
      background: darken(@ls-light-color, 6%);
      
      span{
        color: darken(@ls-light-color, 31.5%);
      }
    }
    
    &.prev{
      border-right-width: 1px;
      border-right-style: solid;
    }
    
    &.next{
      border-left-width: 1px;
      border-left-style: solid;
    }
    
  }

  .content{
    vertical-align: top;
    display: table-cell;
    
    .matches{
      overflow: hidden;
    }
    
    .match{
      cursor: pointer;
      padding: 6px 20px;
      float: left;
      border-right: 1px solid darken(@ls-light-color, 8.5%);
      background: darken(@ls-light-color, 1.5%);
      
      .status{
        display: block;
        line-height: 18px;
        font-size: 10px;
        color: lighten(@ls-dark-color, 60.5%);
      }
      
      table{
        tr{
          td{
            line-height: 10px;
            padding: 5px;
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            
            &.flag{
              border-color: transparent;
              padding: 0 4px 0 0;
              
              img{
                max-width: 16px;
              }
            }
            
            &.team{
              min-width: 45px;
              padding-left: 0;
              padding-right: 11px;
            }
            
            &.score{
              font-weight: 700;
              padding-left: 8px;
              padding-right: 8px;
              background-color: darken(@ls-light-color, 9.8%);
            }
          }
          
          &:first-child{
            td{
              border-bottom-width: 1px;
              border-bottom-style: solid;
              
              &.team{
                border-bottom: 1px solid darken(@ls-light-color, 9.8%);
              }
              
              &:last-child{
                border-color: darken(@ls-light-color, 1.5%);
              }
            }
          }
          
          &.win{
            td.team{
              font-weight: 700;
            }
          }
        }
      }
      
      &:nth-child(even){//Zebra Style
        background-color: @ls-light-color;
      }      
      
      &.live{
        .status{
          padding-left: 11px;
          background: url("../img/sprites/live-spot.png") no-repeat 0 4px;
          font-weight: 600;
          color: @live-red;
        }
        
        table{
          tr{
            td.score{
              color: @live-red;
            }
          }
        }
        
      }
      
      &.final-stage{
        background-color: @ls-matches-slider-final-stage-bg;
        
        table{
          tr{
           &:first-child{
              td:last-child{
                border-color: @ls-matches-slider-final-stage-bg;
              }
           }
          }
        }
      }
      
      &:hover{
        background: darken(@ls-light-color, 6%);
      }
    }
    
  }
  
} 

.matches-slider-live{
  background-color: @ls-greyblue-dark;
  
  > .title{
    border-right:1px solid lighten(@ls-greyblue-dark, 6.6%);
    position: relative;
    line-height: 71px;
    padding: 20px 60px 20px 20px;
    
    .controls{
      position: absolute;
      right: 15px;
      top: 26px;
      line-height: 17px;
      
      span{
        cursor: pointer;
        font-size: 17px;
        margin-left: 3px;
      }
    }
    
    h4{
      margin: 0;
      font-size: 12px;
      color: lighten(@ls-greyblue-dark, 31%);
      font-weight: 600;      
      line-height: 16px;
      
      span{
        background: url("../img/sprites/live-spot.png") no-repeat 0 4px;
        padding-left: 11px;
        text-transform: uppercase;
        color: @ls-light-color;
        display: block;
      }
    }
  }
  
  .control{
    background-color: @ls-greyblue-dark;
    border-color: lighten(@ls-greyblue-dark, 6.6%);
    
    span{
      color: lighten(@ls-greyblue-dark, 6.6%);
    }
    
    &:hover{
      background-color:  lighten(@ls-greyblue-dark, 3%);
      
      span{
        color: lighten(@ls-greyblue-dark, 9.6%);
      }
    }
  }
  
  .content{
    .match{
      background-color: darken(@ls-greyblue-dark, 7.7%);
      border-color: lighten(@ls-greyblue-dark, 6.6%);
      
      table{
        tr{
          td{
            color: @ls-light-color;
            border-color: lighten(@ls-greyblue-dark, 6.6%);
            
            &.score{
               background-color: darken(@ls-greyblue-dark, 8.49%);
            }
          }
          
          &:first-child{
            td{
              &.team{
                border-bottom-color: lighten(@ls-greyblue-dark, 6.6%);
              }
              
              &:last-child{
                border-color: darken(@ls-greyblue-dark, 7.7%);
              }
            }
          }
        }
      }
      
      &:nth-child(even){//Zebra Style
        background-color: @ls-greyblue-dark;
        
        table{
          tr{
            &:first-child{
              td{
                &:last-child{
                  border-color:  @ls-greyblue-dark;
                }
              }
            }
          }
        }        
      }     
      
      &:hover{
        background-color: darken(@ls-greyblue-dark, 5%);
      }
      
    }
  }
  
  .toggle-right{
    cursor: pointer;
    width: 25px;
    display: table-cell;
    background: url("../img/sprites/toggle-match-slider-right.png") no-repeat center center darken(@ls-greyblue-dark, 7%);
    
    &:hover{
      background-color: darken(@ls-greyblue-dark, 5%);
    }
  }
  
}