.main{
  display: table-cell;
  vertical-align: top;
  background: @ls-light-color;
  
  //Includes
  @import "ls-top-breadcrumbs.less";
  
  .content-wrapper{
    padding: 20px;
    
    > .content{
      float: left;
      width: 620px;
      padding-right: 10px;
    }
    
    .right-sidebar{
      float: left;
      width: 260px;
      padding-left: 10px;
    }
  }
  
}