/*Main Colors*/
@brand-primary: #5da400;
@ls-grey: #33393b;
@ls-greyblue-dark: #424749;
@ls-greyblue-darker: @ls-greyblue-dark, 2%;
@live-red: #e33000;
@body-bg: #fff;

@danger:;

/*Typography*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700|Open+Sans+Condensed:300,700);