.article-resume{
	border-bottom: 1px solid darken(@ls-light-color, 10%);
	margin-bottom: 10px;

	.article-data{
		margin: 0;
		padding: 0;

		> li{
			display: inline-block;
			list-style: none;
			font-size: @font-size-x-small;
			margin-right: 5px;
			color: darken(@ls-light-color, 35.8%);

			&.social-link{
				font-weight: @font-weight-semi-bold;
				margin-right: 3px;

				.icon{
					color: darken(@ls-light-color, 17.3%);
					font-size: @font-size-base;
					margin-right: 5px;
					vertical-align: middle;
					position: relative;
					top: -2px;
				}

				a{
					display: block;
					color: darken(@ls-light-color, 35.8%);
					padding: 5px 6px;
					min-width: 40px;
					text-align: center;
					line-height: @font-size-medium;
				}

				&.facebook{
					a:hover{
						background-color: @facebook-color;
						color: @ls-light-color;

						.icon{ color: @ls-light-color; }
					}
				}

				&.twitter{
					a:hover{
						background-color: @twitter-color;
						color: @ls-light-color;

						.icon{ color: @ls-light-color; }
					}
				}

				&.google-plus{
					a:hover{
						background-color: @google-plus-color;
						color: @ls-light-color;

						.icon{ color: @ls-light-color; }
					}
				}

				&.comment{
					a:hover{
						background-color: @active-green;
						color: @ls-light-color;

						.icon{ color: @ls-light-color; }
					}
				}
			}
		}
	}

	.article-title{
		margin-top: 0;
		margin-bottom: 20px;
		display: block;
		font-size: @ls-news-article-title-size;
		font-weight: @font-weight-extra-bold;
		line-height: @ls-news-article-title-line-height;
		color: lighten(@ls-dark-color, 20.8%);
	}

	.article-body{
		padding-bottom: 20px;
		overflow: hidden;

		.article-image{
			float: left;
			width: 50%;
			margin-right: 10px;

			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	a.read-more{
		font-size: @font-size-small;
		font-weight: @font-weight-semi-bold;

		span{
			font-size: @font-size-x-tiny - 1px;
			margin-right: 3px;
		}
	}

	&.full-width{
		.article-body{
			padding-bottom: 0;

			.article-title{
				font-size: @ls-news-article-full-width-title-size;
			}

			.article-image{
				float: none;
				margin-right: 0;
				width: 100%;
				margin: 10px 0;
			}

			p{
				margin-bottom: 15px;
			}
		}
	}
}

.article-match-info{ 
	display: table;
	width: 100%;
	background-color: darken(@ls-light-color, 4%);
	margin-bottom: 15px;
	position: relative;

	a{
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}

	.team{
		font-size: @font-size-large;
		font-weight: @font-weight-bold;
		line-height: 29px;
		padding: 6px 8px;
		width: 42%;
		display: table-cell;

		img{
			max-width: 30px;
			max-height: 30px;
		}

		&.team1{
			text-align: right;
			padding-right: 20px;

			img{
				float: left;
			}
		}

		&.team2{
			text-align: left;
			padding-left: 20px;

			img{
				float: right;
			}
		}
	}

	.hour, .versus{
		text-align: center;
		width: 16%;
		display: table-cell;
		font-size: @font-size-xx-large + 1;
		font-weight: @font-weight-bold;
		background-color: darken(@ls-light-color, 12.5%);
	}

	&:hover{
		text-decoration: none;
		background-color: darken(@ls-light-color, 8%)
	}
}

.featured-article{
	background-color: darken(@ls-greyblue-dark, 5%); 

	> .row{
		margin: 0;
		padding: 0;
	}

	.article-image{
		padding: 0;
		position: relative;

		img{
			width: 100%;
		}

		.message{
			padding: 5px 10px;
			position: absolute;
			display: inline-block;
			background-color: @brand-primary;
			color: @ls-light-color;
			top: 0;
			left: 20px;
			text-transform: uppercase;
			font-family: @ls-alternate-font;
			font-weight: @font-weight-semi-bold;
			font-size: @font-size-xx-large;
		}

		.match-container{
				padding: 0 20px;
				position: absolute;
				bottom: 20px;
				left: 0;
				width: 100%; 

			.article-match-info{
				position: relative;
				margin-bottom: 0;
				background-color: lighten(@ls-greyblue-dark, 1.3%);

				> a{
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
				}

				.team{
					color: darken(@ls-light-color, 12.5%);

					&.team1{
						padding-right: 8px;
					}

					&.team2{
						padding-left: 8px;
					}
				}

				.hour{
					background-color: darken(@ls-greyblue-dark, 7%);
					color: @ls-light-color;
				}
			}
		}	
	}

	.article-resume{
		padding: 10px 20px;
		border-bottom: 0;
		margin-bottom: 0;

		.article-data{
			margin-bottom: 2px;

			> li{
				color: darken(@ls-light-color, 35.5%);

				&.social-link{
					.icon{
						color: lighten(@ls-dark-color, 48%);
					}
				}
			}
		}

		.article-title{
			color: @ls-light-color;
			font-size: @ls-news-article-title-size + 2px;
			margin-bottom: 10px;
		}

		p{
			color: darken(@ls-light-color, 15.5%);
		}

		a{
			color: @ls-inverse-link-color;
		}
	}
}

