// Colors
@blue: #2e9fc7;
@white: #FFF;

@link-color: @blue;
@text-color: #4a4a4a;
@text-color-dark: #000;
@text-color-grayed: #969696;

@ls-primary: #94da1c;
@ls-warning: #fbd900;
@ls-danger: #f67f62;
@ls-line-color: #ddd;


// Font
@icon-font-path:          "fonts/";
@font-family: 'Open Sans', sans-serif;

//@text-weight-light: 300;
//@text-weight-normal: 400;
//@text-weight-semibold: @font-weight-normal;
//@text-weight-bold: 600;
//@text-weight-bolder: 700;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-semi-bold: 600;
@font-weight-bold: 600;
@font-weight-bolder: 700;
@font-weight-extra-bold: 800;


// Screen sizes
@screen-xs: 480px;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);