// Colors
@blue: #2e9fc7;
@text-color: #4a4a4a;
@text-color-dark: #000;
@text-color-grayed: #969696;

// Font
@font-family: 'Open Sans', sans-serif;

@text-weight-light: 300;
@text-weight-semibold: 400;
@text-weight-bold: 600;
@text-weight-bolder: 700;

@text-size-small: 11px;
@text-size: 13px;
@text-size-big: 18px;

// Screen sizes
@screen-xs: 480px;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);