.match-information{
  .panel-heading{
    
    .panel-title{
      font-family: @ls-body-font;
      font-weight: @font-weight-semi-bold;
      font-size: @font-size-small;
      width: 60%;
      .text-overflow();
      
      a{
        color: @link-color; 
      }        
    }
    
    .tools{
    
      .btn-group{
        margin-right: 20px;
        top:-1px;
      }
      
      a.icon{
      
        span{
          font-size: @font-size-xx-large + 1px;
          vertical-align: middle;
        }
      }
    }
  }
  
  .match-info{
    padding: 0 10px;
    line-height: 35px;
    font-size: @font-size-x-small;
    
    .date{
      display: inline;
      
      span.icon{
        color: lighten(@ls-dark-color, 50%);
        margin-right: 4px;
        font-size: @font-size-large;
        vertical-align: middle;
      }
    }
    
    span.referee{
      margin-right: 20px;
    }
  }
  
  .table{
  
    thead{
    
      tr{
      
        th{
          text-transform: none;
          color: darken(@ls-light-color, 12.4%);
          
          &.team{
            background-color: lighten(@ls-greyblue-dark, 1.3%);
            width: 35%;
            
            .row{
              margin: 0;
            }
            
            .logo{
              padding: 0;
              
              img{
                max-width: 38px;
                max-height: 38px;
              }
            }
            
            .name{
              padding: 0;
              text-align: right;
              font-size: @ls-match-info-table-team-name-size;
              font-weight: @font-weight-bold;
              line-height: @ls-match-info-table-team-name-size + 12px;
              
              a{
                display: inline-block;
                color: darken(@ls-light-color, 12.4%);
                margin-left: 7px;
                position: relative;
                
                .qualified{
                  color: @ls-match-info-table-qualified-color;
                  font-size: @font-size-x-small;
                  line-height: @font-size-x-small;
                  text-transform: uppercase;
                  bottom: -10px;
                  right: 0;
                  position: absolute;
                  
                  i{
                    vertical-align: middle;
                    margin-right: 3px;
                  }
                }
              }
              
              a.star{
                color: darken(@ls-light-color, 30.5%);
                
                span{
                  font-size: @font-size-normal;
                }
              }
            }
            
            &.away-team{
            
              .logo{
                text-align: right;
              }
              
              .name{
                text-align: left;
                
                a{
                   margin-left: 0;
                   margin-right: 7px;
                   
                  .qualified{
                    left: 0;
                    right: auto;
                  }
                }
              }
            }
          }
          
          &.score{
            text-align: center;
            background-color: darken(@ls-greyblue-dark, 7%);
            padding-top: 0;
            padding-bottom: 0;
            width: 15%;
            
            span{
              font-size: @ls-match-info-table-sore-size;
              font-weight: @font-weight-bold;
              line-height: 31px;
              color: @ls-light-color;
              
              &.versus{
                margin: 0 7px;
              }
            }
          }
        }
      }
    }
    
    tbody{
    
      tr{
      
        td{
        
          &.team-information{
            padding-top: 3px;
            padding-right: 10px;
            padding-left: 0;
            vertical-align: top !important;
            
            .standings{
              display: inline-block;
              width: 46%;
              
              table{
                margin-bottom: 0;
                background-color: transparent;
                border: 0;
                
                tbody{
                
                  td{
                    min-width: 22px;
                    padding: 3px 4px;
                    line-height: @font-size-normal;
                    
                    &.position{
                      padding-top: 6px;
                      text-align: center;
                      font-weight: @font-weight-bold;
                    }
                  }
                }
              }
              
              .popover{
                min-width: 395px;
                
                .popover-content{
                  padding: 6px 0;
                  
                  table{
                  
                    tr{
                    
                      td{
                       
                        a{
                           line-height: 25px;
                        }
                      
                        &.date{
                          font-weight: @font-weight-semi-bold;
                        }
                        
                        img.league{
                          max-height: 18px;
                          max-width: 18px;
                        }
                      }
                    }
                  }
                }
              }
            }
            
            .faults{
              display: inline-block;
              width: 49%;
              text-align: right;
              float: right;
              font-size: 0;
              
              span{
                display: inline-block;
                margin-bottom: 0;
                margin-left: 2px;
                
              }
            }
            
            ul.players{
              clear: both;
              width: 100%;
              text-align: right;
              padding: 0;
              
              li{
                list-style: none;
                font-size: @font-size-small; 
                line-height: 22px;
                
                span{
                  margin-left: 5px;
                }
              }
            }
          }   
          
          &.middle{
            padding: 2px 0 0;
            vertical-align: top !important;
           
            > .score{
              background-color: lighten(@ls-greyblue-dark, 1.3%);
              padding: 5px 0;
              text-align: center;
              color: @ls-light-color;
              margin-bottom: 2px;
              
              .title{
                font-size: @font-size-x-tiny;
                font-weight: @font-weight-semi-bold;
                color: darken(@ls-light-color, 23%);
                text-transform: uppercase;
              }
              
              span{
                font-size: @ls-match-info-table-sore-size - 15px;
                font-weight: @font-weight-bold;
                line-height: 23px;
                color: @ls-light-color;
                
                &.versus{
                  margin: 0 3px;
                }
                
                &.success{
                  color: @ls-match-info-table-winner-color;
                }
              }
            }
          
            > .title{
              background-color: darken(@ls-light-color, 14%);
              text-align: center;
              font-size: @font-size-medium;
              font-weight: @font-weight-bold;
              text-transform: uppercase;
              padding: 2px 0 5px;
              line-height: 16px;
              margin-bottom: 2px;
            }
            
            .time-zone{ 
              background-color: darken(@ls-light-color, 14%);
              padding: 3px 7px 5px;
              line-height: 16px;
              text-transform: uppercase;
              font-size: @font-size-small;
              font-weight: @font-weight-semi-bold;
              margin-bottom: 2px;
              
              span.score{
                font-weight: @font-weight-bold;
                font-size: @font-size-base;
                float: right;
              }
            }
            
            > div:last-child{
              margin-bottom: 0;
            }
          }
          
          &.team-information.away{
            padding-top: 3px;
            padding-left: 10px;
            padding-right: 0;
            
            .standings{
              float: right;
            }
            
            .faults{
              float: none;
              text-align: left;
            }
            
            ul.players{
              text-align: left;
            }
          }
        }
        
        &:hover{
        
          td{
            background-color: transparent;
          }
        }
      }
    }
  }
}