.pass-recovery, .successfully{
  float: none;
  margin: auto; 

  span.title{
    font-size: 24px;
    font-weight: @font-weight-semi-bold;
    margin-bottom: 40px;
    display: block;
    margin-top: 5px;
  }

  form{

    .buttons{
      margin-top: 30px;
    }
  }
}

.successfully{
  text-align: center;

  span.title{
    margin-bottom: 15px;
  }

  i.icon{
    display: block;
    font-size: 50px;
    margin-bottom: 20px;
    color: @active-green;
  }

  p{
    font-size: @font-size-base;
    font-weight: @font-weight-normal;
  }

  button{
    margin-top: 30px;
  }
}