/*Content Header*/
.content-header{
	position: relative;
	padding: 10px 6px;
  
	.avatar{
		display: inline-block;
		position: relative;
		top: -32px;
		margin-right: 20px;
    padding-top: 5px;
    
		img{
			max-width: 65px;
      margin-top: 8px;
		}
	}
  
	.info{
		display: inline-block;
    
		.title{
      margin: 0;
      line-height: 21px;
    
      > span, > h1, > h2, > h3, > div{
        font-weight: @font-weight-semi-bold;
        font-size: @font-size-h2;
        line-height: 38px;
        color: @ls-headings-color;
        margin: 0;
        display: inline-block;
      }
    
			a{
				display: inline-block;
				font-size: @font-size-base + 1;
		    margin-left: 10px;
		    vertical-align: top;
        line-height: 38px;

        span{
          vertical-align: middle;
          color: darken(@ls-light-color,31%);
        }
        
		    &.active{
		    	color: @ls-fav-hover;
          
          span{
            color: @ls-fav-hover;
          }
		    }  
        
		    &:hover{
		    	color: darken(@ls-light-color,37%);
          
          span{
            color: darken(@ls-light-color,37%);
          }
		    }
			}
      
      &.uppercase{
        text-transform: uppercase;
      }

		}
		
    .btn-link{
      font-weight: 400;
      padding: 0;
      margin-top: 5px;
		}
		
		a{
			color: darken(@ls-light-color,35%);
			display: block;
			font-size: @font-size-small - 1;
      
			span{
				margin-right: 5px;
			}
		}
	}
  
	&.teams{
  
		.shirts{
			float: right;
      
			a{
				text-align: center;
				display: inline-block;
				font-size: @font-size-small - 1;
				color: darken(@ls-light-color,32%);

				img{
					display: block;
					margin: 0 auto;
				}
			}      
		}
    
    a.star{
      
      &:hover{
        
        span.add-to-my-team{
          display: inline-block;
        }
      }
      
      span.add-to-my-team{
        text-transform: none;
        color: @link-color;
        font-size: @font-size-small;
        margin-left: 0;
        display: none;
        vertical-align: baseline;
        
        &:hover{
          color: @link-hover-color;
        }
      }    
    } 
	}
  
	&.player{
  
		.avatar{
			top: -27px;
		}
    
		.info{
			margin-right: 46px;
      
			.title{
      
				.first-name {
					margin: 0;
					font-size: @font-size-base;
          line-height: 18px;
					font-weight: 600;
					padding-left: 2px;
          display: block;
				}
        
        .last-name{
          margin: 0;
          display: block;
          font-weight: @font-weight-semi-bold;
          font-size: @font-size-h2;
          line-height: 32px;
          color: @ls-headings-color;
        }
			}
		}
    
		.description{
			display: inline-block;
      
			ul{
				padding: 0;
				list-style: none;

				li{
					padding: 1px 0;
					font-size: @font-size-small - 1;
					border-bottom: 1px solid darken(@ls-light-color,7%);

					b{
						color: lighten(@ls-dark-color,20%);
					}
				}
			}
		}
    
		.teams{
			float: right;
      
			a{
				text-align: center;
				display: inline-block;
				font-size: @font-size-small - 1;
				color: darken(@ls-light-color,32%);
				padding: 2px;

				img{
					max-width: 52px;
					display: block;
				}
			}
		}
	}
}