
.empty-block{
  &.panel{
    > .panel-body{
      text-align: center;
      padding: 55px 15px;
      background-color: darken(@ls-light-color, 2.8%);
      
      p{
        margin-top: 20px;
        color: darken(@ls-light-color, 18%);
        font-size: 12px;
        line-height: 17px;
      }
      
    }
  }
}