//Open Sans

//ls-icons
span.dark-icon{
	color: lighten(@ls-dark-color, 36%);
}

//Open Sans Condensed Bold
@font-face {
    font-family: 'Open Sans Condensed';
    src: url("@{ls-fonts-path}@{ls-font-open-sans-condensed-bold}.eot");
    src: url("@{ls-fonts-path}@{ls-font-open-sans-condensed-bold}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-condensed-bold}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-font-open-sans-condensed-bold}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-condensed-bold}.svg#open_sans_condensedbold") format('svg');
    font-weight: 700;
    font-style: normal;
}

//Open Sans Condensed Light
@font-face {
    font-family: 'Open Sans Condensed';
    src: url("@{ls-fonts-path}@{ls-font-open-sans-condensed-light}.eot");
    src: url("@{ls-fonts-path}@{ls-font-open-sans-condensed-light}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-condensed-light}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-font-open-sans-condensed-light}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-condensed-light}.svg#open_sanscondensed_light") format('svg');
    font-weight: 300;
    font-style: normal;
}

//Open Sans Regular
@font-face {
    font-family: 'Open Sans';
    src: url("@{ls-fonts-path}@{ls-font-open-sans-regular}.eot");
    src: url("@{ls-fonts-path}@{ls-font-open-sans-regular}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-regular}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-font-open-sans-regular}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-regular}.svg#open_sansregular") format('svg');
    font-weight: 400;
    font-style: normal;
}

//Open Sans Light
@font-face {
    font-family: 'Open Sans';
    src: url("@{ls-fonts-path}@{ls-font-open-sans-light}.eot");
    src: url("@{ls-fonts-path}@{ls-font-open-sans-light}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-light}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-font-open-sans-light}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-light}.svg#open_sanslight") format('svg');
    font-weight: 300;
    font-style: normal;
}

//Open Sans Semi Bold
@font-face {
    font-family: 'Open Sans';
    src: url("@{ls-fonts-path}@{ls-font-open-sans-semi-bold}.eot");
    src: url("@{ls-fonts-path}@{ls-font-open-sans-semi-bold}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-semi-bold}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-font-open-sans-semi-bold}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-semi-bold}.svg#open_sanssemibold") format('svg');    
    font-weight: 600;
    font-style: normal;
}

//Open Sans Bold
@font-face {
    font-family: 'Open Sans';
    src: url("@{ls-fonts-path}@{ls-font-open-sans-bold}.eot");
    src: url("@{ls-fonts-path}@{ls-font-open-sans-bold}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-bold}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-font-open-sans-bold}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-font-open-sans-bold}.svg#open_sansbold") format('svg');     
    font-weight: 700;
    font-style: normal;
}

