//Open Sans

//ls-icons
span.dark-icon{
	color: lighten(@ls-dark-color, 36%);
}

//Open Sans Condensed Bold
@font-face {
    font-family: '@{ls-alternate-font-name}';
    src: url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-alternate-bold-font-name}.svg#open_sans_condensedbold") format('svg');
    font-weight: 700;
    font-style: normal;
}

//Open Sans Condensed Light
@font-face {
    font-family: '@{ls-alternate-font-name}';
    src: url("@{ls-fonts-path}@{ls-alternate-light-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-alternate-light-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-alternate-light-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-alternate-light-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-alternate-light-font-name}.svg#open_sanscondensed_light") format('svg');
    font-weight: 300;
    font-style: normal;
}

//Open Sans Regular
@font-face {
    font-family: '@{ls-alternate-font-name}';
    src: url("@{ls-fonts-path}@{ls-body-regular-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-body-regular-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-body-regular-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-body-regular-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-body-regular-font-name}.svg#open_sansregular") format('svg');
    font-weight: 400;
    font-style: normal;
}

//Open Sans Light
@font-face {
    font-family: '@{ls-body-font-name}';
    src: url("@{ls-fonts-path}@{ls-body-light-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-body-light-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-body-light-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-body-light-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-body-light-font-name}.svg#open_sanslight") format('svg');
    font-weight: 300;
    font-style: normal;
}

//Open Sans Semi Bold
@font-face {
    font-family: '@{ls-body-font-name}';
    src: url("@{ls-fonts-path}@{ls-body-semi-bold-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-body-semi-bold-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-body-semi-bold-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-body-semi-bold-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-body-semi-bold-font-name}.svg#open_sanssemibold") format('svg');    
    font-weight: 600;
    font-style: normal;
}

//Open Sans Bold
@font-face {
    font-family: '@{ls-body-font-name}';
    src: url("@{ls-fonts-path}@{ls-body-bold-font-name}.eot");
    src: url("@{ls-fonts-path}@{ls-body-bold-font-name}.eot?#iefix") format('embedded-opentype'),
         url("@{ls-fonts-path}@{ls-body-bold-font-name}.woff") format('woff'),
         url("@{ls-fonts-path}@{ls-body-bold-font-name}.ttf") format('truetype'),
         url("@{ls-fonts-path}@{ls-body-bold-font-name}.svg#open_sansbold") format('svg');     
    font-weight: 700;
    font-style: normal;
}

