.footer{

  .top-footer{
    padding: 20px;
    background: @ls-top-footer-bg;
  }
  
  .bottom-footer{
    overflow: hidden;
    text-align: center;
    background: @ls-bottom-footer-bg;
    
    .navbar-nav{
      float: none;
      display: inline-block;
      vertical-align: top;
      
      li{
        a{
          color: @ls-footer-text-color;
          font-size: @font-size-small - 1;
          padding: 13px 15px;
          
          &:hover, &:focus{
            background: transparent;
          }
          
        }
      }
    }
  }
  
} 