body{
  font-family: @ls-body-font;
  padding-top: 64px;
  background: @body-bg;
  color: lighten(@ls-dark-color, 36%);
}

/*Typography*/
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  color: lighten(@ls-dark-color, 28%);
}

h1{
  font-weight: bold;
}


p{
  font-weight: lighter;
  font-size: @font-size-base + 1;
  
  b{
    font-weight: 600;
  }
  
  &.lead{
    font-size: @font-size-large + 1px;

    b{
      font-weight: bold;
    }
  }
  
}

small,.small{
  font-size: @font-size-base;
  font-weight: normal;
}


a{
  
  &:hover{
    text-decoration: none;
  }
  
  &:focus{
    text-decoration: none;
  }
  
  > .icon-caret-right{
    font-size: @ls-link-caret-right-size;
  }
  
  &.view-more{
    display: block;
    font-size: 12px;
    line-height: 23px;
    padding: 6px 10px;
    
    > span{
      font-size: @font-size-x-tiny;
    }
  }
}

b,strong{
  color: lighten(@ls-dark-color,36%);
}

/*Typography classes*/
.uppercase{
  text-transform: uppercase;
}