body{
  font-family: @ls-body-font;
  padding-top: 64px;
  background: @body-bg;
  color: lighten(@ls-dark-color, 36%);
}

/*Typography*/
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  color: lighten(@ls-dark-color, 28%);
}

h1{
  font-weight: bold;
  font-size: 38px;
}

h2{
  font-size: 27px;
}

h5{
  font-size: 16px;
}

p{
  font-weight: lighter;

  b{
    font-weight: 600;
  }
  
  &.lead{
    font-size: 17px;

    b{
      font-weight: bold;
    }
  }
  
}

small,.small{
  font-size: 13px;
  font-weight: normal;
}


a{
  
  &:hover{
    text-decoration: none;
  }
  
  &:focus{
    text-decoration: none;
  }
  
}

b,strong{
  color: lighten(@ls-dark-color,36%);
}

/*Typography classes*/
.uppercase{
  text-transform: uppercase;
}