
.live-commented-matches{
  &.panel{
    > .panel-body{
      padding: 0;
      
      .preview{
        width: 100%;
      }
      
      .description{
        padding: 15px;
        border-bottom: 2px solid darken(@ls-light-color, 4%);
        
        p{
          font-size: @font-size-small;
          line-height: 17px;
          margin: 0;
        }
        
      }
      
      .matches{
        margin: 0;
        
        tr{
          td{
            &.team1{
              text-align: right;
            }
          
            &.score{ 
              text-align: center;
              background-color: darken(@ls-light-color, 3.3%);
              
              &.none{
                line-height: 12px;
              }
              
              > span{
                color: darken(@ls-light-color, 16.5%);
                font-size: @font-size-large - 1;
              }
            }
            
            &.commented{
              width: 25px;
              
              span{
                font-size: @font-size-large + 2;
                line-height: 10px;
                vertical-align: middle;
                color: darken(@ls-light-color, 20.5%);
              }
            }
          }
          
          &.live{
            td{
              &.date{
                font-size: @font-size-small - 1;
                font-weight: 600;
                color: @live-red; 
                padding-left: 17px;
                background-image: url("@{ls-image-live-spot}");
                background-position: 5px center;
                background-repeat: no-repeat;
              }
              
              &.score{
                color: @live-red;
                font-size: @font-size-base;
                font-weight: 700;
              }
              
              &.commented{
                
                span{
                  color: @live-red;
                }
              }
            }
          }
          
          &:nth-child(even){
            td.score{
              background-color: darken(@ls-light-color, 7.2%);
            }

          }
        }
      }
      
    }
  } 
  
}