//Includes
  @import "ls-top-breadcrumbs.less";

.main{
  display: table-cell;
  vertical-align: top;
  background: @ls-light-color;
  padding: 0;
  float: none;
  margin: 0;
  width: @ls-main-width;
  
  
  
  .content-wrapper{
    margin: 0;
    padding: 20px;
    
    > .content{
      float: left;
      width: 615px;
      padding-right: 10px;
    }
    
    .right-sidebar{
      float: left;
      width: @ls-sidebar-width;
      padding-left: 10px;
      
    }
  }
  
}