.notifications-list{ 
  max-height: 338px;
  overflow: auto;

  >ul{
    margin: 0;
    padding: 0;
  
    > li{
      padding: 0;
      list-style: none;
      display: block;
      border-bottom: 1px solid darken(@ls-light-color, 5.5%);
     
      a{
        display: block;
        position: relative;
        padding: 15px 20px 15px 75px;
        
        img.avatar{
          position: absolute;
          left: 18px;
          top: 15px;
          max-height: 48px;
          max-width: 48px;
        }
        
        .title{
          font-size: @font-size-small;
          font-weight: @font-weight-semi-bold;
          display: block;
          color: lighten(@ls-dark-color, 19%);
          margin-bottom: 2px;
        }
        
        .message{
          font-size: @font-size-small;
          color: lighten(@ls-dark-color, 37%);
          line-height: @font-size-medium;
          margin-bottom: 5px;
        }
        
        .date{
          display: block;
          font-size: @font-size-x-tiny;
          color: darken(@ls-light-color, 28%);
        }
        
      }
      
      &.highlight{
        a{
          background-color: @ls-notification-menu-highlight;
          
          .message{
            font-weight: @font-weight-semi-bold;
            color: lighten(@ls-dark-color, 21%);
          }
        }
      }
                      
      &:hover{
        a{
          background-color: @ls-notification-menu-hover;
          
          .title, .message{
            color: @ls-light-color;
          }
          
        }
      }
      
    }
  }
}    
