
#news-block{
  &.panel{
    > .panel-body{
      padding: 0;
      
      .main-news, .sub-news{
        
        a{ outline: none; }
         
        .preview{
          width: 100%;
        }
        
        .content{
          padding: 7px 15px 15px;
          
          .date{
            color: darken(@ls-light-color, 35.5%);
            font-size: 11px;
            margin-bottom: 2px;
          }
          
          .resume{
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            
            a{
              color:lighten(@ls-dark-color, 20.8%);
            }
            
          }
        }
      }      
      
      .sub-news{
        padding: 18px 0;
        border-top: 1px solid darken(@ls-light-color, 7.8%);
        
        .preview{
          width: 100%;
        }
        
        .content{
          padding: 0 10px 0;
          
          .date{
            color: darken(@ls-light-color, 35.5%);
            font-size: 11px;
            margin-bottom: 0;
          }
          
          .resume{
            margin: 0;
            color:lighten(@ls-dark-color, 20.8%);
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
          }
        }
        
        > .row{
          margin:0;
          
          > div{
            padding: 0;
            
            img{
              width: 100%;
            }
          }
        }
        
      }
      
      .latest-news{
        padding: 15px;
        border-top: 1px solid darken(@ls-light-color, 7.8%);
        border-bottom: 1px solid darken(@ls-light-color, 7.8%);
        
        ul{
          margin: 0;
          padding: 0;
          
          li{
            line-height: 17px;
            font-size: 12px;
            padding: 0;
            list-style: none;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
  
  .all-news{
    display: block;
    font-size: 12px;
    padding: 6px 10px;
    line-height: 23px;
    
    span{
      font-size: 10px;
    }
  }
  
}