/*Player info*/
.player{

  .name{
    margin: 0;
    font-size: @font-size-small;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px;
    img{
      margin-top: -3px;
      max-width: 14px;
      margin-right: 6px;
    }
  }

  .goals{
    display: inline-block;
    h1{
      font-size: @ls-player-goal-size;
      font-weight: 100;
      color: darken(@ls-light-color, 46%);
      margin-bottom: 0;
    }
    p{
      font-size: 10px;
      color: darken(@ls-light-color, 27%);
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
      i{
        font-size: @font-size-base + 1;
        vertical-align: middle;
      }
    }
  }
  .picture{
    bottom: 0;
    position: absolute;
    right: 5px;
    background-color: darken(@ls-light-color, 5%);
    .border-radius(50px);
    min-width: 85px;
    min-height: 85px;

    img{
      max-width: 85px;
      min-width: 85px;
      
    }
  }


  &+.player{
    border-left: 1px solid darken(@ls-light-color, 7%);
  }
}