.right-sidebar{

  .panel{
  
    .panel-heading{
      //padding-right: 10px;
      .tools{
        right: 6px;
        margin-top: -9px;
        
        .glyphicon{
          font-size: 16px; 
        }
      }
    }
  } 
}