 span.sprite{
  width: 21px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-bottom: -4px;
 }
 
 span.sprite.football{
  background: url("@{ls-image-sprite-icons}") no-repeat -230px -28px;
 }
 span.sprite.tennis{
  background: url("@{ls-image-sprite-icons}") no-repeat -229px -75px;
 }
 span.sprite.rugby{
  background: url("@{ls-image-sprite-icons}") no-repeat -230px -52px;
 }
 span.sprite.handball{
  background: url("@{ls-image-sprite-icons}") no-repeat -229px -98px;
 }
 span.sprite.basketball{
  background: url("@{ls-image-sprite-icons}") no-repeat -229px -122px;
 } 
 span.sprite.volleyball{
  background: url("@{ls-image-sprite-icons}") no-repeat -257px -28px;
 } 
 span.sprite.icehockey{
  background: url("@{ls-image-sprite-icons}") no-repeat -257px -52px;
 }
 span.sprite.baseball{
  background: url("@{ls-image-sprite-icons}") no-repeat -257px -75px;
 } 
  span.sprite.am-football{
  background: url("@{ls-image-sprite-icons}") no-repeat -255px -98px;
  height: 17px;
  width: 22px;
  margin-bottom: -4px !important;
  margin-left: -2px;
 } 
 
 span.sprite.yellow-card{ 
  width: 9px;
  background: url("@{ls-image-sprite-icons}") no-repeat -121px -5px; 
 } 
 
 span.sprite.red-card{ 
  width: 12px;
  background: url("@{ls-image-sprite-icons}") no-repeat -146px -5px; 
 } 
 
 span.sprite.yellow-red-card{
  width: 12px; 
  background: url("@{ls-image-sprite-icons}") no-repeat -176px -5px; 
 }
 
 span.sprite.goal{
  background: url("@{ls-image-sprite-icons}") no-repeat -60px -26px;
 } 
 
 span.sprite.penalty-goal{
  background: url("@{ls-image-sprite-icons}") no-repeat -3px -50px;
 }
 
 span.sprite.penalty-missed{
  background: url("@{ls-image-sprite-icons}") no-repeat -254px -3px;
 }
 
 span.sprite.shirt{
  background: url("@{ls-image-sprite-icons}") no-repeat -5px -97px;
 }
 
 span.sprite.clock{
  background: url("@{ls-image-sprite-icons}") no-repeat -144px -121px;
 }
 
  span.sprite.player-change{
    background: url("@{ls-image-sprite-icons}") no-repeat -205px -5px;
    width: 8px;
 } 
  
  span.sprite.football-field{
    background: url("@{ls-image-sprite-icons}") no-repeat -5px -3px;
    width: 16px;
    height: 19px;
 }  
 
  span.sprite.green-arrow{
    background: url("@{ls-image-sprite-icons}") no-repeat -37px -3px;
    width: 11px;
 }  
 
 span.sprite.red-arrow{
    background: url("@{ls-image-sprite-icons}") no-repeat -64px -3px;
    width: 11px;
 }

 span.sprite.chairs{
    background: url("@{ls-image-sprite-icons}") no-repeat -87px -3px;
    width: 23px;
 } 
 
 span.sprite.incident-important{
  background: url("@{ls-image-sprite-icons}") no-repeat -143px -75px;
 } 
 
 span.sprite.red-cross{
  background: url("@{ls-image-sprite-icons}") no-repeat -3px -75px;
 } 
 
 span.sprite.yellow-cross{
  background: url("@{ls-image-sprite-icons}") no-repeat -31px -75px;
 }
 
  span.sprite.stadium{
  background: url("@{ls-image-sprite-icons}") no-repeat -198px -97px;
  width: 25px;
 }
 
 span.sprite.info{
  background: url("@{ls-image-sprite-icons}") no-repeat -199px -75px;
 } 
 
 span.sprite.whistle{
  background: url("@{ls-image-sprite-icons}") no-repeat -3px -27px;
 } 

 span.sprite.whistle-active{
  background: url("@{ls-image-sprite-icons}") no-repeat -31px -144px;
 } 

 span.sprite.shootouts{
  background: url("@{ls-image-sprite-icons}") no-repeat -60px -144px;
 } 
 
 span.sprite.shootout-goal{
  background: url("@{ls-image-sprite-icons}") no-repeat -116px -27px;
 }
 
 span.sprite.shootout-missed{
  background: url("@{ls-image-sprite-icons}") no-repeat -86px -27px;
 } 

 span.sprite.grid{
  background: url("@{ls-image-sprite-icons}") no-repeat -199px -123px;
 } 

 span.sprite.gift{
  background: url("@{ls-image-sprite-icons}") no-repeat -255px -122px;
 } 
 
 span.sprite.extra-time{
  background: url("@{ls-image-sprite-icons}") no-repeat -171px -75px;
 }
 
  span.sprite.linesman-flag{
  background: url("@{ls-image-sprite-icons}") no-repeat -58px -50px;
 } 
 
  span.sprite.corner-flag{
  background: url("@{ls-image-sprite-icons}") no-repeat -86px -50px;
 }
 

span.sprite.webmaster-cogs{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -32px -1px;
  width: 20px;
  height: 24px;
  margin-right: 5px;
  margin-top: -10px;
  margin-bottom: 0;
  position: relative;
  top: 7px;
}

span.sprite.webmaster-palette{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -36px -29px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: -3px;
}

span.sprite.webmaster-background{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -5px -3px;
  width: 18px;
  height: 18px;
  margin: 0;
}

span.sprite.webmaster-text{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -8px -29px;
  width: 15px;
  height: 15px;
  margin: 0;
}

span.sprite.webmaster-border{
  background: url("@{ls-image-sprite-icons-webmaster}") no-repeat -8px -74px;
  width: 17px;
  height: 19px;
  margin: 0;
}

