.ls-scrollbar{
  &::-webkit-scrollbar {
    width: 3px;
  }
   
  &::-webkit-scrollbar-track {
    background: @ls-scrollbar-background;
  } 
   
  &::-webkit-scrollbar-thumb {
	background: @ls-scrollbar-color;
	.border-radius(2px);

	&:hover{
		background: darken(@ls-scrollbar-color, 5%);
	}
  }

  &::-webkit-scrollbar:hover {
	width: 11px;
  }

}