 span.sprite{
  width: 21px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-bottom: -4px;
 }
 
 span.sprite.football{
  background: url('../img/sprite-icons.png') no-repeat -230px -28px;
 }
 span.sprite.tennis{
  background: url('../img/sprite-icons.png') no-repeat -229px -75px;
 }
 span.sprite.rugby{
  background: url('../img/sprite-icons.png') no-repeat -230px -52px;
 }
 span.sprite.handball{
  background: url('../img/sprite-icons.png') no-repeat -229px -98px;
 }
 span.sprite.basketball{
  background: url('../img/sprite-icons.png') no-repeat -229px -122px;
 } 
 span.sprite.volleyball{
  background: url('../img/sprite-icons.png') no-repeat -257px -28px;
 } 
 span.sprite.icehockey{
  background: url('../img/sprite-icons.png') no-repeat -257px -52px;
 }
 span.sprite.baseball{
  background: url('../img/sprite-icons.png') no-repeat -257px -75px;
 } 
  span.sprite.a-football{
  background: url('../img/sprite-icons.png') no-repeat -255px -98px;
  height: 17px;
  width: 22px;
  margin-bottom: -4px !important;
  margin-left: -2px;
 } 
 
 span.yellow-card{ 
  width: 12px;
  background: url("../img/sprite-icons.png") no-repeat -120px -5px; 
 } 
 
 span.red-card{ 
  width: 12px;
  background: url("../img/sprite-icons.png") no-repeat -146px -5px; 
 } 
 
 span.yellow-red-card{
  width: 12px; 
  background: url("../img/sprite-icons.png") no-repeat -176px -5px; 
 }
 
 span.sprite.goal{
  background: url("../img/sprite-icons.png") no-repeat -60px -26px;
 } 
 
 span.sprite.penalty-goal{
  background: url("../img/sprite-icons.png") no-repeat -3px -50px;
 }