 span.sprite{
  width: 21px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-bottom: -4px;
 }
 
 span.sprite.football{
  background: url('../img/sprite-icons.png') no-repeat -230px -28px;
 }
 span.sprite.tennis{
  background: url('../img/sprite-icons.png') no-repeat -229px -75px;
 }
 span.sprite.rugby{
  background: url('../img/sprite-icons.png') no-repeat -230px -52px;
 }
 span.sprite.handball{
  background: url('../img/sprite-icons.png') no-repeat -229px -98px;
 }
 span.sprite.basketball{
  background: url('../img/sprite-icons.png') no-repeat -229px -122px;
 } 
 span.sprite.volleyball{
  background: url('../img/sprite-icons.png') no-repeat -257px -28px;
 } 
 span.sprite.icehockey{
  background: url('../img/sprite-icons.png') no-repeat -257px -52px;
 }
 span.sprite.baseball{
  background: url('../img/sprite-icons.png') no-repeat -257px -75px;
 } 
  span.sprite.a-football{
  background: url('../img/sprite-icons.png') no-repeat -255px -98px;
  height: 17px;
  width: 22px;
  margin-bottom: -4px !important;
  margin-left: -2px;
 } 
 
 span.sprite.yellow-card{ 
  width: 9px;
  background: url("../img/sprite-icons.png") no-repeat -121px -5px; 
 } 
 
 span.sprite.red-card{ 
  width: 12px;
  background: url("../img/sprite-icons.png") no-repeat -146px -5px; 
 } 
 
 span.sprite.yellow-red-card{
  width: 12px; 
  background: url("../img/sprite-icons.png") no-repeat -176px -5px; 
 }
 
 span.sprite.goal{
  background: url("../img/sprite-icons.png") no-repeat -60px -26px;
 } 
 
 span.sprite.penalty-goal{
  background: url("../img/sprite-icons.png") no-repeat -3px -50px;
 }
 
 span.sprite.shirt{
  background: url("../img/sprite-icons.png") no-repeat -5px -97px;
 }
 
 span.sprite.clock{
  background: url("../img/sprite-icons.png") no-repeat -144px -121px;
 }
 
  span.sprite.player-change{
    background: url("../img/sprite-icons.png") no-repeat -205px -5px;
    width: 8px;
 } 
  
  span.sprite.football-field{
    background: url("../img/sprite-icons.png") no-repeat -5px -3px;
    width: 16px;
    height: 19px;
 }  
 
  span.sprite.green-arrow{
    background: url("../img/sprite-icons.png") no-repeat -37px -3px;
    width: 11px;
 }  
 
 span.sprite.red-arrow{
    background: url("../img/sprite-icons.png") no-repeat -64px -3px;
    width: 11px;
 }

 span.sprite.chairs{
    background: url("../img/sprite-icons.png") no-repeat -87px -3px;
    width: 23px;
 } 
 
 span.sprite.missed-goal{
  background: url("../img/sprite-icons.png") no-repeat -143px -75px;
 } 
 
 span.sprite.red-cross{
  background: url("../img/sprite-icons.png") no-repeat -3px -75px;
 } 
 
 span.sprite.yellow-cross{
  background: url("../img/sprite-icons.png") no-repeat -31px -75px;
 }
 
  span.sprite.stadium{
  background: url("../img/sprite-icons.png") no-repeat -198px -97px;
  width: 25px;
 }
 
 span.sprite.info{
  background: url("../img/sprite-icons.png") no-repeat -199px -75px;
 } 
 
 span.sprite.whistle{
  background: url("../img/sprite-icons.png") no-repeat -3px -27px;
 } 
 
 span.sprite.extra-time{
  background: url("../img/sprite-icons.png") no-repeat -171px -75px;
 }
 
  span.sprite.linesman-flag{
  background: url("../img/sprite-icons.png") no-repeat -58px -50px;
 } 
 
  span.sprite.corner-flag{
  background: url("../img/sprite-icons.png") no-repeat -86px -50px;
 }
 