
.top-competitions-block{
  &.panel{
      
      .nav-pills{
        > li{
          > a{
            line-height: 40px;
            .border-radius(0);
            padding: 0 8px;
            border-bottom: 2px solid darken(@ls-light-color, 6.4%);
            
            &:hover{
              background: darken(@ls-light-color, 2.8%);
              border-bottom-color: darken(@brand-primary, 3.8%);
            }
            
            > img{
              max-width: 20px;
            }
            
            .icon-caret-down{
              color: darken(@ls-light-color, 24%); 
              font-size: @font-size-small;
            }
          }
          
          &.active{
            > a{
              background: darken(@ls-light-color, 2.8%);
              border-bottom-color: darken(@brand-primary, 3.8%);
            }
          }
          
          &.open{
            > a{
              .icon-caret-down{
                color: @ls-light-color;
              }
            }
            
            > .dropdown-menu{
              margin-top: -1px;
            }
          }
        }
      }
      
      .active-ligue{
        padding: 15px;
        
        .ligue-logo{
          float: right;
          max-width: 32px;
        }
        
        h4, .h4{
          margin: 0 0 20px;
          font-size: @font-size-small - 1;
          font-weight: 600;
          line-height: 18px;
          text-transform: uppercase;
          color: darken(@ls-light-color, 26%);
          display: block;
          
          span{
            color: lighten(@ls-dark-color, 20.8%);
            font-size: @font-size-base + 1;
            display: block;
            text-transform: none;
          }
        }
        
        .btn-group{
          .btn{
            font-weight: 400;
            min-width: 73px;
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
      
      table.teams{
        margin: 0;
        
        tr{
          th{
            &.number{
              text-align: center;
              width: 23px;
            }
            
            &.state{
              width: 20px;
            }
            
            &.team{
              width: 43%;
            }
          }
          
          td{
            &.state{
              padding-right: 0;
              padding-left: 4px;
              
              &.down{ color: @ls-table-stats-down; }
              &.up{ color: @ls-table-stats-up; }
            }
            
            &.team{
              img{
                max-width: 17px;
              }
            }
            
            &.number{
              font-weight: 600;
              text-align: center;
            }
            
            &.pts{
              font-weight: 600;
            }
          }
          
          &.live{ 
            td.team{
              font-weight: 600;
              color: @live-red;
              background-image: url("@{ls-image-live-spot}");
              background-repeat: no-repeat;
              background-position: right center;
            }
          }
        }
        
        tbody{
          tr, tr.highlight{
            td.number{ background-color: #efefef !important; } 
            &:nth-child(odd){ td.number{ background-color: #e6e6e6 !important; } }
            &:nth-child(+1), &:nth-child(+2){ td.number{ background-color: #d1e9be !important; } }
            &:nth-child(+3){ td.number{ background-color: #e3f1d9 !important; } }
            &:nth-child(+4){ td.number{ background-color: #bee1ec !important; } }
            &:nth-child(+18), &:nth-child(+19), &:nth-child(+20){ td.number{ background-color: #eebaba !important; } }
          }
        }
      }
      
      table.results{
        thead{
          th{
            text-transform: none;
            font-size: @font-size-small;
          }
        }
      
        tbody{
          tr{
            td{
              &.time{
                color: darken(@ls-light-color,46%);
                width: 5%;
                padding-left: 4px;
                padding-right: 4px;
              }
              
              &.hour{
                width: 5%;
                padding-left: 4px;
                padding-right: 4px;
              }
              
              &.team{
                width: 20%;
                
                b{
                  font-weight: @font-weight-semi-bold;
                }
              }
              
              &.team1{
                text-align: right;
              }
              
              &.score{
                font-size: @font-size-base;
                
                a{
                  line-height: inherit;
                }
              }
            }
          }
        }
      }
      
      .full-table{
        display: block;
        font-size: @font-size-small;
        padding: 6px 10px;
        line-height: 23px;
        
        span{
          font-size: @font-size-small - 2;
        }
      }

  }
}