/* Tables */

.table {
	tr {
		td {
			
			&.stage {
				
				white-space: nowrap;
				
				img {
					max-width: 18px;
					margin-right: 3px;
				}
				
			}	
			
			&.league {
				img {
					max-width: 18px;
				}
			}
			
			&.hour {
				font-weight: @font-weight-semi-bold;
			}
		}
	}
}