.ls-wizard{
  > ul.nav{
  	background-color: @ls-wizard-nav-bg;

  	> li{
  		margin: 0;

  		> a{
  			position: relative;
  			padding: @ls-wizard-step-vertical-padding @ls-wizard-step-horizontal-padding;
  			padding-left: @ls-wizard-step-horizontal-padding + @ls-wizard-step-tail-width;
  			.border-radius(0) !important;
  			font-weight: @font-weight-normal;
  			font-size: @ls-wizard-step-font-size;
  			background-color: @ls-wizard-step-bg;
  			border-bottom: 0 !important;

  			&:after, &:before{
  				content: "";
  				display: block;
  				position: absolute;
  				top: 0;
  				right: -(@ls-wizard-step-tail-width + 1px);
  				border-top: (@ls-wizard-step-tail-height / 2) solid transparent;
  				border-bottom: (@ls-wizard-step-tail-height / 2) solid transparent;
  				border-right: 0;
  				border-left: @ls-wizard-step-tail-width solid @ls-wizard-step-tail-border-color;
  				z-index: 1;
  			}

  			&:after{
  				right: -(@ls-wizard-step-tail-width);
  				border-left-color: @ls-wizard-step-bg;
  				z-index: 2;
  			}

  			.label{
  				padding: 0;
  				display: inline-block;
  				text-align: center;
  				font-weight: @font-weight-semi-bold;
  				font-size: @ls-wizard-step-label-font-size;
  				width: @ls-wizard-step-label-size;
  				height: @ls-wizard-step-label-size;
  				line-height: @ls-wizard-step-label-size;
  				.border-radius(50%);
  				color: @ls-light-color;
  				background-color: @ls-wizard-step-label-bg;
  				margin-right: 7px;
  			}

  			&:hover{
  				background-color: @ls-wizard-step-hover-bg;

  				&:after{
  					border-left-color: @ls-wizard-step-hover-bg;
  				}
  			}
  		}

  		&:first-child{
  			> a{
  				padding-left: @ls-wizard-step-horizontal-padding;
  			}
  		}

  		&.active{
  			> a{
  				color: @ls-light-color;
  				background-color: @ls-wizard-active-step-bg;

  				&:after{
  					border-left-color: @ls-wizard-active-step-bg;
  				}

  				.label{
  					background-color: @ls-light-color;
  					color: @active-green;
  				}
  			}
  		}
  	}	
  }
}