.widget-postforecast {
  // Widget variables
  @transparent-black: rgba(0, 0, 0, .4);
  @text-color: #effbde;

  // styles...
  background-color: #3E5B20;
  background-image: url('../img/widgets/postforecast.jpg');
  background-size: cover;
  background-position: center;


  .widget-postforecast-main {
    color: #FFF;
    padding: @spacer-4;

    .description {
      color: @text-color;
      text-shadow: 0 1px @transparent-black;

      .lead {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: @spacer-3;
      }

      a {
        color: #FFF;
        font-weight: bold;
      }

      .potential-earns {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: 0 3px 1px @transparent-black;

        .lead {
          font-weight: bold;
          font-size: 55px;
          margin: @spacer-0;
        }
      }
    }
  }

  .widget-postforecast-footer {
    padding: @spacer-3 @spacer-4;
    color: @text-color;
    background: @transparent-black;

    .caption {
      margin-right: @spacer-3;
    }
  }
}

