.odds-selector{
  background: darken(@ls-light-color, 2.8%);
  border: 1px solid darken(@ls-light-color, 6.4%);
  overflow: hidden;
  display: table;
  width: 100%;
  margin-bottom: 18px;
  
  .content{
    display: table-cell;
    padding: 12px;
    padding-left: 24px;
    padding-right: 0;
    
    img{
      margin: 0 15px 0 10px;
    }
    
    p{
      margin: 0;
      font-size: @font-size-small;
      font-weight: @font-weight-normal;
    }
  }
  
  .button{
    padding: 12px;
    display: table-cell;
    text-align: left;
    width: 80%;
    
    .btn-group{
      .btn{
        &.bet-name{
          background-color: darken(@ls-light-color, 2%);
          min-width: 117px;
          text-align: left;
          
          span{
            float: right;
            line-height: @font-size-medium;
          }
        }
        
        &.bet-preview{
          padding: 7px 11px 6px;
          background-color: darken(@ls-light-color, 9.5%);
          
          img{
            max-height: 21px;
          }
        }
      }
    }
  }
}