{% extends "layouts/3_columns.html.twig" %}
{% set basePath = '../' %}

{% block container_main %}
    {{ include('blocks/commons/breadcrumb.html.twig', {breadcrumb: ['France'], breadcrumb_h1:'France Football Standings'}) }}
{% endblock %}

{% block content %}
    {{  include('blocks/elements/content_header_country.html.twig', {selectedTab: 'tables'}) }}
    <h2 class="h2-small">French Football tables</h2>
    {% include 'blocks/various/share_page_small.html.twig' %}
    {% include 'blocks/sports/competition/competition_standing_panel.html.twig' %}
    {% include 'blocks/sports/competition/competition_standing_panel.html.twig' %}
    {% include 'blocks/various/comment_thread.html.twig' %}
{% endblock %}

{% block content_right %}
    {% include 'blocks/sports/upcoming_top_games.html.twig' %}
    {{ include('blocks/various/follow_us.html.twig', {in_panel:'true'}) }}
{% endblock %}