{% extends "layouts/3_columns.html.twig" %}
{% set basePath = '../' %}

{% block container_main %}
    {{ include('blocks/commons/breadcrumb.html.twig', {breadcrumb: ['Champions League Scores', 'Real Madrid vs. Bayern Munich Odds']}) }}

{% endblock %}

{% block content %}
    {{ include('blocks/sports/match/match_information.html.twig', {selectedTab: 'odds'}) }}
    <h2 class="h2-small">Real Madrid Bayern Munich Odds</h2>
    {% include 'blocks/various/share_page_small.html.twig' %}
    {% include 'blocks/sports/match/match_odds.html.twig' %}
    {% include 'blocks/various/comment_thread.html.twig' %}
{% endblock %}

{% block content_right %}
    {% include 'blocks/various/partners_featured.html.twig' %}
    {% include 'blocks/sports/match/match_betting_tips_iframe.html.twig' %}
    {{ include('blocks/sports/match/team_head2head.html.twig', {small:'true'}) }}
    {% include 'blocks/sports/team/team_form.html.twig' %}
    {% include 'blocks/sports/team/team_form.html.twig' %}
    {% include 'blocks/news/news_in_brief_list.html.twig' %}
    {{ include('blocks/various/follow_us.html.twig', {in_panel:'true'}) }}
{% endblock %}