{% extends "layouts/full.html.twig" %}
{% set basePath = '../' %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
{% endblock %}

{% block container_content_wrapper %}
    {% include 'blocks/review/header.twig' %}
    <div class="review-body">
        <div class="main-article">
          {% include 'blocks/review/content.twig' %}
        </div>
        <div class="review-sidebar">
          {% include 'blocks/review/sidebar.twig' %}
        </div>
    </div>
{% endblock %}

{% block container_footer %}
    {% include 'blocks/commons/footer.html.twig' %}
{% endblock %}
