<table class="table matches results table-condensed table-striped layout-fixed">
    <colgroup>
        <col class="hour">
        <col class="time">
        <col class="team">
        <col class="score">
        <col class="team">
        <col class="tools tools-1">
    </colgroup>
    <thead>
    <tr>
        <th colspan="6" class="text-center">Samedi 10 Mai 2014</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">VA</a></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><a href="#">Monaco</a></td>
        <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>

        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Rennes</a></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><a href="#">Sochaux</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Nantes</a></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
        <td class="team team2"><a href="#">St Etie.</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Montpel.</a></td>
        <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><a href="#">Bastia</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Lyon</a></td>
        <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
        <td class="team team2"><a href="#">Lorient</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Lille</a></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
        <td class="team team2"><a href="#">PSG</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Guingamp</a></td>
        <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
        <td class="team team2"><a href="#">Toulouse</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Evian</a></td>
        <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
        <td class="team team2"><a href="#">Nice</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr class="selected-row">
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Bordeaux</td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
        <td class="team team2"><a href="#">OM</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Ajaccio</a></td>
        <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
        <td class="team team2"><a href="#">Reims</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    </tbody>
</table>
