<div class="row">
    <div class="col-xs-12">
        <table class="table matches table-condensed layout-fixed">
            <colgroup>
                <col class="event-leg">
                <col class="date">
                <col class="time">
                <col class="team">
                <col class="score">
                <col class="team">
                <col class="half-time-score">
                <col class="tools tools-4">
                <col class="favorite">
            </colgroup>
            <tbody>
            <tr class="league-data">
                <th colspan="9">
                    <div class="tools">
                            <span>
                              <a class="fav active" href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="Click here to add/remove from My Leagues"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                    <div class="title">
                        <a href="#" class="country"><i class="country-flag at"></i>Austria :</a>
                        <a href="#">Austria Regionalliga</a>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="9" class="divider divider-dark"></th>
            </tr>
            <tr class="event-first-leg">
                <td class="event-leg" data-toggle="tooltip" data-placement="left" data-container="body" title="1st leg">1</td>
                <td><span class="date">17/02</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Club Atletico Est.</a></td>
                <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
                <td class="team team2"><a href="#">Flandria</a></td>
                <td></td>
                <td class="tools dropdown">
                    <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                </td>
                <td class="favorite">
                    <a class="active fav-match" href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="Click to add/remove from My Games">
                        <i class="icon-bell"></i>
                    </a>
                </td>
            </tr>
            <tr class="event-2nd-leg">
                <td class="event-leg" data-toggle="tooltip" data-placement="left" data-container="body" title="2nd leg">2</td>
                <td><span class="date">05/03</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Flandria</a></td>
                <td class="score hour"><a href="#">20:45</a></td>
                <td class="team team2"><a href="#">Club Atletico Est.</a></td>
                <td></td>
                <td class="tools dropdown">
                    <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                </td>
                <td class="favorite">
                    <a class="active fav-match" href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="Click to add/remove from My Games">
                        <i class="icon-bell"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th colspan="9" class="divider divider-dark"></th>
            </tr>
            <tr class="event-first-leg">
                <td class="event-leg" data-toggle="tooltip" data-placement="left" data-container="body" title="1st leg">1</td>
                <td><span class="date">24/02</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Dep. Merlo</a></td>
                <td class="score"><a class="has-score-details" href="javascript:;" data-trigger="hover" data-popover="popover" data-html="true" data-container="body" data-placement="bottom" data-content="
                        <table class='table matches table-condensed layout-fixed'>
                          <colgroup>
                            <col class='team' />
                            <col class='action-icon' />
                            <col class='minute' />
                            <col class='action-icon' />
                            <col class='team' />
                          </colgroup>
                          <tbody>
                            <tr>
                              <td class='team team1'></td>
                              <td class='action-icon'></td>
                              <td class='score'><span class='away'>6'</span></td>
                              <td class='action-icon'><span class='sprite-icons goal'></span></td>
                              <td class='team team2'>David Alaba</td>
                            </tr>
                            <tr>
                              <td class='team team1'>Cristiano Ronaldo (Penalty)</td>
                              <td class='action-icon'><span class='sprite-icons penalty-goal'></span></td>
                              <td class='score'><span class='home-score'>6'</span></td>
                              <td class='action-icon'></td>
                              <td class='team team2'></td>
                            </tr>
                            <tr>
                              <td class='team team1'>Cristiano Ronaldo</td>
                              <td class='action-icon'><span class='sprite-icons goal'></span></td>
                              <td class='score'><span class='home-score'>14'</span></td>
                              <td class='action-icon'></td>
                              <td class='team team2'></td>
                            </tr>
                            <tr>
                              <td class='team team1'></td>
                              <td class='action-icon'></td>
                              <td class='score'><span class='away'>26'</span></td>
                              <td class='action-icon'><span class='sprite-icons penalty-goal'></span></td>
                              <td class='team team2'>Arjen Robben (Penalty)</td>
                            </tr>
                          </tbody>
                        </table>
                        " data-template="<div class='popover popover-score'><div class='arrow'></div><div class='popover-title'></div><div class='popover-content'></div></div>"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                <td class="team team2"><a href="#" >Chacarita Juniors</a></td>
                <td class="half-time-score" data-toggle="tooltip" data-placement="top" data-container="body" title="Half time score">(0 - 1)</td>
                <td class="tools dropdown">
                    <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                </td>
                <td class="favorite">
                    <a class="active fav-match" href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="Click to add/remove from My Games">
                        <i class="icon-bell"></i>
                    </a>
                </td>
            </tr>
            <tr class="event-2nd-leg">
                <td class="event-leg" data-toggle="tooltip" data-placement="left" data-container="body" title="2nd leg">2</td>
                <td><span class="date">12/03</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Chacarita Juniors</a></td>
                <td class="score hour"><a href="#">20:45</a></td>
                <td class="team team2"><a href="#">Dep. Merlo</a></td>
                <td></td>
                <td class="tools dropdown">
                    <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                </td>
                <td class="favorite">
                    <a class="active fav-match" href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="Click to add/remove from My Games">
                        <i class="icon-bell"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th colspan="9" class="divider divider-dark"></th>
            </tr>
            <tr class="event-first-leg">
                <td class="event-leg" data-toggle="tooltip" data-placement="left" data-container="body" title="1st leg">1</td>
                <td><span class="date">19/02</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Deportivo Armenio</a></td>
                <td class="score hour"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
                <td class="team team2"><a href="#">Los Andes</a></td>
                <td></td>
                <td class="tools dropdown">
                    <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                </td>
                <td class="favorite">
                    <a class="active fav-match" href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="Click to add/remove from My Games">
                        <i class="icon-bell"></i>
                    </a>
                </td>
            </tr>
            <tr class="event-2nd-leg">
                <td class="event-leg" data-toggle="tooltip" data-placement="left" data-container="body" title="2nd leg">2</td>
                <td><span class="date">15/03</span> </td>
                <td></td>
                <td class="team team1"><a href="#">Los Andes</a></td>
                <td class="score hour"><a href="#">20:45</a></td>
                <td class="team team2"><a href="#">Deportivo Armenio</a></td>
                <td></td>
                <td class="tools dropdown">
                    <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                </td>
                <td class="favorite">
                    <a class="active fav-match" href="#" data-toggle="tooltip" data-placement="top" data-container="body" title="Click to add/remove from My Games">
                        <i class="icon-bell"></i>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>