{% extends 'blocks/base.html.twig' %}

{% set panel_classes = 'panel-default' %}
{% block panel_heading %}
    <div class="panel-title">Champions League Games</div>
{% endblock %}

{% block widget_content %}


        {% if in_panel %}<div class="panel-body">{% endif %}
            {% include 'blocks/elements/competition_stages_buttons_2.html.twig' %}
        {% if in_panel %}</div>{% endif %}

            <table class="table matches table-condensed layout-fixed">
                <colgroup>
                    <col class="hour">
                    <col class="time">
                    <col class="team">
                    <col class="score">
                    <col class="team">
                    <col class="half-time-score">
                    <col class="tools tools-4">
                    <col class="favorite">
                </colgroup>
                <tbody>
                <tr class="league-data">
                    <th colspan="8">
                        <div class="tools">
                        <span>
                          <a href="#"><i class="icon-standings"></i> Table</a>
                          <a class="fav" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Games"></span></a>
                        </span>
                        </div>
                        <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                        <div class="title">
                            <a href="#" class="country"><i class="country-flag _United_Nations"></i>International :</a>
                            <a href="#">Champions League</a><span class="match-name">: Groupe stage - Group B</span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="3" class="text-center"><b>Tuesday 16 july 2013</b></th>
                    <th colspan="2"></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1 has-logo"><a href="#"><span>Barcelona</span><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2 has-logo"><a href="#"><img alt="Team 5" src="{{ basePath }}img/sprites/team5.png"><span>Atletico Madrid</span></a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr class="live">
                    <td class="hour">18h00</td>
                    <td class="time">104+</td>
                    <td class="team team1"><a href="#">Ain Fekroun</a></td>
                    <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#">CR Belouizdad with a really long name<span class="label red-card">1</span></a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="hour">18h00</td>
                    <td class="time">TAB</td>
                    <td class="team team1"><a href="#"><span class="label red-card">1</span>USM El Harrach</a></td>
                    <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
                    <td class="team team2 win"><a href="#">CABBA <span class="qualified">*</span></a></td>
                    <td class="half-time-score">(0 - 2)</td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr class="live paused">
                    <td class="hour">18h00</td>
                    <td class="time">HT</td>
                    <td class="team team1 win"><a href="#">MO Béjaia</a></td>
                    <td class="score"><a href="#"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></a></td>
                    <td class="team team2"><a href="#">JS Kabylie</a></td>
                    <td class="half-time-score">(0 - 0)</td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr class="live">
                    <td class="hour">18h00</td>
                    <td class="time live">42'</td>
                    <td class="team team1"><a href="#">JS Saoura</a></td>
                    <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2 win"><a href="#">MC Alger</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="3" class="text-center"><b>Wednesday 17 july 2013</b></th>
                    <th colspan="2"></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="hour">20h45</td>
                    <td class="time">FT</td>
                    <td class="team team1"><a href="#">Barracas Central</a></td>
                    <td class="score"><a href="javascript:;" class="has-score-details" data-trigger="hover" data-popover="popover" data-html="true" data-container="body" data-placement="bottom" data-content="
                    <table class='table matches table-condensed layout-fixed'>
                          <colgroup>
                            <col class='team' />
                            <col class='action-icon' />
                            <col class='minute' />
                            <col class='action-icon' />
                            <col class='team' />
                          </colgroup>
                          <tbody>
                            <tr>
                              <td class='team team1'></td>
                              <td class='action-icon'></td>
                              <td class='score'><span class='away'>6'</span></td>
                              <td class='action-icon'><span class='sprite-icons goal'></span></td>
                              <td class='team team2'>David Alaba</td>
                            </tr>
                            <tr>
                              <td class='team team1'>Cristiano Ronaldo (Penalty)</td>
                              <td class='action-icon'><span class='sprite-icons penalty-goal'></span></td>
                              <td class='score'><span class='home-score'>6'</span></td>
                              <td class='action-icon'></td>
                              <td class='team team2'></td>
                            </tr>
                            <tr>
                              <td class='team team1'>Cristiano Ronaldo</td>
                              <td class='action-icon'><span class='sprite-icons goal'></span></td>
                              <td class='score'><span class='home-score'>14'</span></td>
                              <td class='action-icon'></td>
                              <td class='team team2'></td>
                            </tr>
                            <tr>
                              <td class='team team1'></td>
                              <td class='action-icon'></td>
                              <td class='score'><span class='away'>26'</span></td>
                              <td class='action-icon'><span class='sprite-icons penalty-goal'></span></td>
                              <td class='team team2'>Arjen Robben (Penalty)</td>
                            </tr>
                          </tbody>
                        </table>
                    " data-template="<div class='popover popover-score'><div class='arrow'></div><div class='popover-title'></div><div class='popover-content'></div></div>"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                    <td class="team team2"><a href="#" >Colegiales</a></td>
                    <td class="half-time-score">(0 - 1)</td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1"><a href="#">Sparta Prague</a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2"><a href="#">Malmo</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1"><a href="#">Bratislava</a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2"><a href="#">Sheriff</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1"><a href="#">Juventus</a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2"><a href="#">Olympiakos</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1"><a href="#">Real Madrid</a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2"><a href="#">Chelsea</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table matches table-condensed layout-fixed">
                <colgroup>
                    <col class="hour">
                    <col class="time">
                    <col class="team">
                    <col class="score">
                    <col class="team">
                    <col class="half-time-score">
                    <col class="tools tools-6">
                    <col class="favorite">
                </colgroup>
                <tbody>
                <tr class="league-data">
                    <th colspan="8">
                        <div class="tools">
                        <span>
                          <a href="#"><i class="icon-standings"></i> Table</a>
                          <a class="fav" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Games"></span></a>
                        </span>
                        </div>
                        <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                        <div class="title">
                            <a href="#" class="country"><i class="country-flag _United_Nations"></i>International :</a>
                            <a href="#">Champions League</a><span class="match-name">: Groupe stage - Group C</span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="3" class="text-center"><b>Tuesday 16 july 2013</b></th>
                    <th colspan="2"></th>
                    <th></th<
                </tr>

                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1"><a href="#">Borussia Dortmund</a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2"><a href="#">Zenith</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1"><a href="#">Razgrad</a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2"><a href="#">Anderlecht</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="hour">20h00</td>
                    <td><a href="#">Bet</a></td>
                    <td class="team team1"><a href="#">Shalke 04</a></td>
                    <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                    <td class="team team2"><a href="#">Shakhtar Donesk</a></td>
                    <td class="half-time-score"></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

{% endblock %}




















