<table class="table matches results table-condensed layout-fixed linked-rows">
    <colgroup>
        <col class="teams" />
    </colgroup>
    <tbody class="my-games open">
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">VA</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Monaco</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Rennes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Sochaux</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Nantes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">St Etie.</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Montpel.</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Bastia</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Lyon</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Lorient</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Lille</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">PSG</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Guingamp</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Toulouse</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Evian</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Nice</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Bordeaux</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">OM</span>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="league-title"><a href="#">MON 10 - 20:00</a></th>
        </tr>
        <tr>
            <td data-meta="" class="teams">
                <a href="#" title="VA - Monaco (Samedi 10 Mai 2014 - 22h00)">
                    <span title="Barcelona" class="team team1">
                        <span class="name">Ajaccio</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Reims</span>
                    </span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
