<table class="table matches results table-condensed layout-fixed linked-rows">
    <colgroup>
        <col class="hour">
        <col class="time">
        <col class="team">
        <col class="score">
        <col class="team">
        <col class="tools tools-1">
    </colgroup>
    <thead>
    <tr>
        <th colspan="6" class="text-center">Samedi 10 Mai 2014</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>VA</span></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><span>Monaco</span></td>
        <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>

        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Rennes</span></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><span>Sochaux</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Nantes</span></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
        <td class="team team2"><span>St Etie.</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Montpel.</span></td>
        <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><span>Bastia</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><a href="#">Lyon</a></td>
        <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
        <td class="team team2"><a href="#">Lorient</a></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Lille</span></td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
        <td class="team team2"><span>PSG</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Guingamp</span></td>
        <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
        <td class="team team2"><span>Toulouse</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Evian</span></td>
        <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
        <td class="team team2"><span>Nice</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr class="selected">
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Bordeaux</td>
        <td class="score"><a href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
        <td class="team team2"><span>OM</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    <tr>
        <td class="hour">21h00</td>
        <td class="time">Term.</td>
        <td class="team team1"><span>Ajaccio</span></td>
        <td class="score"><a href="#"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
        <td class="team team2"><span>Reims</span></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a>
        </td>
    </tr>
    </tbody>
</table>
