<div class="row">
    <div class="col-md-12">
        <h2>Tennis</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed other-sport sport-tennis">
            <tbody class="header">
            <tr class="league-data">
                <th colspan="12">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i>Classement</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i><img alt="fc" src="{{ basePath }}img/sprites/tennis-field.png"><i class="icon-man"></i>France :</span>
                        <a href="#">Grand Slanm</a>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>sets</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>Pts</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="live">
            <tr class="is-serving">
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams"><i class="country-flag es"></i>R. Nadal <img alt="fc" src="{{ basePath }}img/sprites/tennis-ball.png"></td>
                <td class="score main">3</td>
                <td class="score">3</td>
                <td class="score">7</td>
                <td class="score">6</td>
                <td class="score">6</td>
                <td class="score"></td>
                <td class="score main">30</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag rs"></i>N. Djokovic</td>
                <td class="score main">1</td>
                <td class="score">6</td>
                <td class="score">5</td>
                <td class="score">2</td>
                <td class="score">4</td>
                <td class="score"></td>
                <td class="score main">15</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><i class="country-flag de"></i>S. Halep</td>
                <td class="score main">2</td>
                <td class="score">6</td>
                <td class="score">7<sup>7</sup></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>A. Petkovic</td>
                <td class="score main">12</td>
                <td class="score">0</td>
                <td class="score">2</td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><i class="country-flag de"></i>T. Papik / P. Rikl</td>
                <td class="score main">3</td>
                <td class="score">3</td>
                <td class="score">7</td>
                <td class="score">6</td>
                <td class="score">6</td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>J. Cluskey / J. Pospis</td>
                <td class="score main">1</td>
                <td class="score">6</td>
                <td class="score">5</td>
                <td class="score">2</td>
                <td class="score">4</td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody class="live highlight">
            <tr class="is-serving">
                <td class="hour" rowspan="2">18h00</td>
                <td class="time live" rowspan="2">57'</td>
                <td class="teams"><i class="country-flag de"></i>R. Nadal</td>
                <td class="score main">3</td>
                <td class="score">3</td>
                <td class="score">7</td>
                <td class="score">6</td>
                <td class="score updated">5</td>
                <td class="score"></td>
                <td class="score main">15</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>N. Djokovic <img alt="fc" src="{{ basePath }}img/sprites/tennis-ball.png"></td>
                <td class="score main">1</td>
                <td class="score">6</td>
                <td class="score">5</td>
                <td class="score">2</td>
                <td class="score">4</td>
                <td class="score"></td>
                <td class="score main updated">A</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><i class="country-flag de"></i>T. Papik / P. Rikl</td>
                <td class="score main">2</td>
                <td class="score">3</td>
                <td class="score">7</td>
                <td class="score">6<sup>7</sup></td>
                <td class="score">6</td>
                <td class="score">6</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i><b>J. Cluskey / J. Pospis</b></td>
                <td class="score main">3</td>
                <td class="score">6</td>
                <td class="score">5</td>
                <td class="score">7<sup>9</sup></td>
                <td class="score">4</td>
                <td class="score">4</td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><i class="country-flag de"></i><b>R. Nadal</b></td>
                <td class="score main">3</td>
                <td class="score">3</td>
                <td class="score">7</td>
                <td class="score">6</td>
                <td class="score">6</td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>N. Djokovic</td>
                <td class="score main">1</td>
                <td class="score">6</td>
                <td class="score">5</td>
                <td class="score">2</td>
                <td class="score">4</td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody class="header">
            <tr class="league-data">
                <th colspan="12">
                    <div class="tools">
                            <span>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i><img alt="fc" src="{{ basePath }}img/sprites/tennis-field.png"><i class="icon-woman"></i>France :</span>
                        <a href="#">Grand Slanm</a>
                    </div>
                </th>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag es"></i>R. Nadal</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>N. Djokovic</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag de"></i>R. Nadal</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>N. Djokovic</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag de"></i>T. Papik / P. Rikl</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>J. Cluskey / J. Pospis</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag de"></i>R. Nadal</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>N. Djokovic</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag de"></i>T. Papik / P. Rikl</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>J. Cluskey / J. Pospis</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"></td>
                <td class="teams"><i class="country-flag de"></i>R. Nadal</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag de"></i>N. Djokovic</td>
                <td class="score main"> - </td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
                <td class="score"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>