<div class="row">
    <div class="col-md-12">
        <h2>Basketball, Ice Hockey</h2>
    </div>
</div>
<div class="row">
    <div class=" col-md-12">
        <table class="table matches my-games table-condensed layout-fixed other-sport sport-icehockey">
            <colgroup>
                <col class="hour">
                <col class="time">
                <col class="teams">
                <col class="score">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="tools tools-1">
                <col class="favorite">
            </colgroup>
            <thead  class="league-data">
            <tr>
                <th colspan="11"><div class="title"><span class="icon"><i class="icon-bell"></i></span><a class="title" href="#">My Games</a><a class="help-icon" href="#" data-toggle="popover" data-popover="popover" data-trigger="hover" data-placement="right" data-content="[Translation to create] Have your games always showing up first here by clicking the star next to each game or by selecting your favorite team." data-container="body"><span class="glyphicon glyphicon-question-sign"></span></a></div></th>
            </tr>
            </thead>
            <tbody class="header">
            <tr>
                <th colspan="3"></th>
                <th>score</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>ET</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="live">
            <tr>
                <th class="league-title"><a href="#">League 1</a></th>
            </tr>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams">Montepashi Sierra</td>
                <td class="score main">91</td>
                <td class="score">22</td>
                <td class="score">22</td>
                <td class="score">23</td>
                <td class="score">24</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Lottomatica Roma</td>
                <td class="score main">75</td>
                <td class="score">17</td>
                <td class="score">23</td>
                <td class="score">16</td>
                <td class="score">19</td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <th class="league-title"><a href="#">League 1</a></th>
            </tr>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams">Crvena Zvezda</td>
                <td class="score main">78</td>
                <td class="score">21</td>
                <td class="score">11</td>
                <td class="score">16</td>
                <td class="score">30</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><b>Mega Vizura</b></td>
                <td class="score main">80</td>
                <td class="score">15</td>
                <td class="score">29</td>
                <td class="score">19</td>
                <td class="score">17</td>
                <td class="score"></td>
            </tr>
            </tbody>
        </table>
        <table class="table matches table-condensed layout-fixed other-sport sport-icehockey">
            <colgroup>
                <col class="hour">
                <col class="time">
                <col class="teams">
                <col class="score">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="tools tools-1">
                <col class="favorite">
            </colgroup>
            <tbody class="header">
            <tr class="league-data">
                <th colspan="11">
                    <div class="tools">
                            <span>
                              <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <span class="country"><i class="country-flag de"></i>Germany :</span>
                        <a href="#">Germany BBL League</a>
                        <span class="match-name">: Poff - Final - L1</span>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>score</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>ET</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="live">
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams">Montepashi Sierra</td>
                <td class="score main">91</td>
                <td class="score">22</td>
                <td class="score">22</td>
                <td class="score">23</td>
                <td class="score">24</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Lottomatica Roma</td>
                <td class="score main">75</td>
                <td class="score">17</td>
                <td class="score">23</td>
                <td class="score">16</td>
                <td class="score">19</td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams">Crvena Zvezda</td>
                <td class="score main">78</td>
                <td class="score">21</td>
                <td class="score">11</td>
                <td class="score">16</td>
                <td class="score">30</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><b>Mega Vizura</b></td>
                <td class="score main">80</td>
                <td class="score">15</td>
                <td class="score">29</td>
                <td class="score">19</td>
                <td class="score">17</td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody class="header">
            <tr class="league-data">
                <th colspan="11">
                    <div class="tools">
                            <span>
                              <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <span class="country"><i class="country-flag _United_Nations"></i>International :</span>
                        <a href="#">Basketball - United League 1</a>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>score</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>ET</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="live">
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams"><i class="country-flag fr"></i>France</td>
                <td class="score main">91</td>
                <td class="score">22</td>
                <td class="score">22</td>
                <td class="score">23</td>
                <td class="score">24</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag es"></i>Spain</td>
                <td class="score main">75</td>
                <td class="score">17</td>
                <td class="score">23</td>
                <td class="score">16</td>
                <td class="score">19</td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams"><i class="fcountry-flag za"></i>South Africa</td>
                <td class="score main">78</td>
                <td class="score">21</td>
                <td class="score">11</td>
                <td class="score">16</td>
                <td class="score">30</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><i class="country-flag au"></i>Australia</td>
                <td class="score main">80</td>
                <td class="score">15</td>
                <td class="score">29</td>
                <td class="score">19</td>
                <td class="score">17</td>
                <td class="score"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>