<div class="row">
    <div class="col-xs-12">
        <h2>Ice Hockey</h2>
    </div>
</div>
<div class="row">
    <div class=" col-xs-12">
        <table class="table matches table-condensed layout-fixed other-sport sport-icehockey">
            <colgroup>
                <col class="hour">
                <col class="time">
                <col class="teams">
                <col class="score">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="tools tools-1">
                <col class="favorite">
            </colgroup>
            <tbody class="header">
            <tr class="league-data league-data-heading">
                <th colspan="10"><div class="title"><span class="icon"><i class="icon-bell"></i></span><a class="title" href="#">My Games</a><a class="help-icon" href="#" data-toggle="popover" data-popover="popover" data-trigger="hover" data-placement="right" data-content="[Translation to create] Have your games always showing up first here by clicking the star next to each game or by selecting your favorite team." data-container="body"><span class="glyphicon glyphicon-question-sign"></span></a></div></th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>score</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>ET</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="my-games live">
            <tr>
                <th class="league-title"><a href="#">NHL</a></th>
            </tr>
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams">Montepashi Sierra</td>
                <td class="score main">1</td>
                <td class="score">1</td>
                <td class="score">0</td>
                <td class="score">0</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Lottomatica Roma</td>
                <td class="score main">4</td>
                <td class="score">2</td>
                <td class="score">1</td>
                <td class="score">1</td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody class="my-games">
            <tr>
                <th class="league-title"><a href="#">NHL</a></th>
            </tr>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams">Crvena Zvezda</td>
                <td class="score main">4</td>
                <td class="score">1</td>
                <td class="score">1</td>
                <td class="score">2</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><b>Mega Vizura</b></td>
                <td class="score main">0</td>
                <td class="score">0</td>
                <td class="score">0</td>
                <td class="score">0</td>
                <td class="score"></td>
            </tr>
            </tbody>
        </table>
        <table class="table matches table-condensed layout-fixed other-sport sport-icehockey">
            <colgroup>
                <col class="hour">
                <col class="time">
                <col class="teams">
                <col class="score">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="score-small">
                <col class="tools tools-1">
                <col class="favorite">
            </colgroup>
            <tbody class="header">
            <tr class="league-data">
                <th colspan="10">
                    <div class="tools">
                            <span>
                              <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <a href="#" class="country"><span class="icon-placeholder"><i class="country-flag de"></i></span>Germany :</a>
                        <a href="#">Germany BBL League</a>
                        <span class="match-name">: Poff - Final - L1</span>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>score</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>ET</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="live">
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams">Montepashi Sierra</td>
                <td class="score main">5</td>
                <td class="score">1</td>
                <td class="score">1</td>
                <td class="score">2</td>
                <td class="score">0</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Lottomatica Roma</td>
                <td class="score main">4</td>
                <td class="score">1</td>
                <td class="score">1</td>
                <td class="score">2</td>
                <td class="score">0</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams">Crvena Zvezda</td>
                <td class="score main">3</td>
                <td class="score">0</td>
                <td class="score">1</td>
                <td class="score">2</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams"><b>Mega Vizura</b></td>
                <td class="score main">2</td>
                <td class="score">0</td>
                <td class="score">2</td>
                <td class="score">0</td>
                <td class="score"></td>
            </tr>
            </tbody>
            <tbody class="header">
            <tr class="league-data">
                <th colspan="10">
                    <div class="tools">
                            <span>
                              <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                            </span>
                    </div>
                    <div class="title">
                        <a href="#" class="country"><span class="icon-placeholder"><i class="country-flag _United_Nations"></i></span>International :</a>
                        <a href="#">United League 1</a>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th>score</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>ET</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
            <tbody class="live">
            <tr>
                <td class="hour" rowspan="2">20h00</td>
                <td class="time live" rowspan="2">63'</td>
                <td class="teams">France</td>
                <td class="score main">4</td>
                <td class="score">1</td>
                <td class="score">1</td>
                <td class="score">2</td>
                <td class="score">0</td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Spain</td>
                <td class="score main">5</td>
                <td class="score">1</td>
                <td class="score">3</td>
                <td class="score">0</td>
                <td class="score">1</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td class="hour" rowspan="2">18h00</td>
                <td class="time" rowspan="2"><span>Term</span></td>
                <td class="teams">South Africa</td>
                <td class="score main">3</td>
                <td class="score">1</td>
                <td class="score">1</td>
                <td class="score">1</td>
                <td class="score"></td>
                <td class="tools" rowspan="2">
                    <a href="#" class="available"><i class="icon-stats"></i></a>
                </td>
                <td class="tools favorite" rowspan="2">
                    <a href="#" class="fav-match"><i class="icon-bell"></i></a>
                </td>
            </tr>
            <tr>
                <td class="teams">Australia</td>
                <td class="score main">5</td>
                <td class="score">1</td>
                <td class="score">2</td>
                <td class="score">2</td>
                <td class="score"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>