<table class="table matches results table-condensed layout-fixed linked-rows">
    <colgroup>
        <col class="hour" />
        <col class="time" />
        <col class="teams" />
        <col class="tools tools-1" />
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="text-center">Samedi 10 Mai 2014</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">VA</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Monaco</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">Rennes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Sochaux</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">Nantes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">St Etie.</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">VA</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Monaco</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">Rennes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Sochaux</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">Nantes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">St Etie.</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">VA</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Monaco</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">Rennes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">Sochaux</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">Nantes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">St Etie.</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="hour">20h00</td>
            <td class="time">Term.</td>
            <td id="#" class="teams">
                <a href="#" title="CA Rosario Central-Boca Juniors">
                    <span title="Rosario Central" class="team team1">
                        <span class="name">Nantes</span>
                    </span>
                    <span class="score">
                        <span class="icon-expand-h"></span>
                    </span>
                    <span title="Boca Juniors" class="team team2">
                        <span class="name">St Etie.</span>
                    </span>
                </a>
            </td>
            <td class="tools dropdown">
                <a href="#" id="dropdownMenuMatch" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMatch">
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-ellipse"></span>Live</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-x2"></span>Odds</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-stats"></span>Statistics</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><span class="icon icon-play"></span>Videos</a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
