<ul class="sidebar-nav">
    <li><a href="typography.html" ><i class="glyphicon glyphicon-font"></i>Typography</a></li>
    <li><a href="#" ><i class="glyphicon glyphicon-th-list"></i>Tables</a></li>


</ul>