 
.flag-0, .flag-1, .flag-100, .flag-101, .flag-102, 
.flag-103, .flag-104, .flag-105, .flag-106, .flag-107, 
.flag-108, .flag-109, .flag-11, .flag-110, .flag-111, 
.flag-112, .flag-113, .flag-114, .flag-115, .flag-116, 
.flag-117, .flag-118, .flag-119, .flag-12, .flag-120, 
.flag-121, .flag-122, .flag-123, .flag-125, .flag-126, 
.flag-127, .flag-128, .flag-129, .flag-13, .flag-130, 
.flag-131, .flag-133, .flag-134, .flag-135, .flag-136, 
.flag-137, .flag-138, .flag-139, .flag-140, .flag-141, 
.flag-142, .flag-143, .flag-144, .flag-145, .flag-146, 
.flag-147, .flag-148, .flag-149, .flag-15, .flag-150, 
.flag-151, .flag-152, .flag-153, .flag-154, .flag-155, 
.flag-156, .flag-157, .flag-158, .flag-159, .flag-16, 
.flag-160, .flag-161, .flag-162, .flag-163, .flag-164, 
.flag-165, .flag-166, .flag-167, .flag-168, .flag-169, 
.flag-17, .flag-170, .flag-171, .flag-172, .flag-173, 
.flag-174, .flag-175, .flag-176, .flag-177, .flag-178, 
.flag-179, .flag-180, .flag-181, .flag-182, .flag-183, 
.flag-184, .flag-185, .flag-186, .flag-187, .flag-188, 
.flag-189, .flag-19, .flag-190, .flag-192, .flag-193, 
.flag-194, .flag-195, .flag-196, .flag-197, .flag-198, 
.flag-199, .flag-2, .flag-20, .flag-200, .flag-201, 
.flag-202, .flag-203, .flag-205, .flag-206, .flag-207, 
.flag-208, .flag-209, .flag-21, .flag-210, .flag-211, 
.flag-212, .flag-213, .flag-214, .flag-215, .flag-216, 
.flag-217, .flag-218, .flag-219, .flag-22, .flag-220, 
.flag-221, .flag-222, .flag-223, .flag-224, .flag-225, 
.flag-228, .flag-229, .flag-23, .flag-230, .flag-24, 
.flag-25, .flag-26, .flag-28, .flag-29, .flag-3, 
.flag-30, .flag-31, .flag-32, .flag-33, .flag-34, 
.flag-35, .flag-37, .flag-38, .flag-39, .flag-4, 
.flag-41, .flag-42, .flag-44, .flag-45, .flag-465, 
.flag-47, .flag-48, .flag-5, .flag-50, .flag-51, 
.flag-52, .flag-53, .flag-54, .flag-55, .flag-56, 
.flag-57, .flag-58, .flag-59, .flag-6, .flag-60, 
.flag-61, .flag-62, .flag-63, .flag-64, .flag-65, 
.flag-652, .flag-653, .flag-654, .flag-655, .flag-656, 
.flag-657, .flag-658, .flag-659, .flag-66, .flag-660, 
.flag-661, .flag-662, .flag-663, .flag-664, .flag-67, 
.flag-68, .flag-69, .flag-7, .flag-70, .flag-71, 
.flag-72, .flag-73, .flag-74, .flag-76, .flag-77, 
.flag-78, .flag-79, .flag-8, .flag-80, .flag-81, 
.flag-82, .flag-83, .flag-84, .flag-85, .flag-86, 
.flag-87, .flag-88, .flag-89, .flag-9, .flag-90, 
.flag-91, .flag-92, .flag-93, .flag-94, .flag-95, 
.flag-96, .flag-98, .flag-99, .flag-default
{ display: inline-block; background: url('flags.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.flag-0 { background-position: -0px -0px; width: 18px; height: 13px; }
.flag-1 { background-position: -18px -0px; width: 18px; height: 13px; }
.flag-100 { background-position: -36px -0px; width: 18px; height: 13px; }
.flag-101 { background-position: -54px -0px; width: 18px; height: 13px; }
.flag-102 { background-position: -72px -0px; width: 18px; height: 13px; }
.flag-103 { background-position: -90px -0px; width: 18px; height: 13px; }
.flag-104 { background-position: -108px -0px; width: 18px; height: 13px; }
.flag-105 { background-position: -126px -0px; width: 18px; height: 13px; }
.flag-106 { background-position: -144px -0px; width: 18px; height: 13px; }
.flag-107 { background-position: -162px -0px; width: 18px; height: 13px; }
.flag-108 { background-position: -180px -0px; width: 18px; height: 13px; }
.flag-109 { background-position: -198px -0px; width: 18px; height: 13px; }
.flag-11 { background-position: -216px -0px; width: 18px; height: 13px; }
.flag-110 { background-position: -234px -0px; width: 18px; height: 13px; }
.flag-111 { background-position: -252px -0px; width: 18px; height: 13px; }

.flag-112 { background-position: -0px -13px; width: 18px; height: 13px; }
.flag-113 { background-position: -18px -13px; width: 18px; height: 13px; }
.flag-114 { background-position: -36px -13px; width: 18px; height: 13px; }
.flag-115 { background-position: -54px -13px; width: 18px; height: 13px; }
.flag-116 { background-position: -72px -13px; width: 18px; height: 13px; }
.flag-117 { background-position: -90px -13px; width: 18px; height: 13px; }
.flag-118 { background-position: -108px -13px; width: 18px; height: 13px; }
.flag-119 { background-position: -126px -13px; width: 18px; height: 13px; }
.flag-12 { background-position: -144px -13px; width: 18px; height: 13px; }
.flag-120 { background-position: -162px -13px; width: 18px; height: 13px; }
.flag-121 { background-position: -180px -13px; width: 18px; height: 13px; }
.flag-122 { background-position: -198px -13px; width: 18px; height: 13px; }
.flag-123 { background-position: -216px -13px; width: 18px; height: 13px; }
.flag-125 { background-position: -234px -13px; width: 18px; height: 13px; }
.flag-126 { background-position: -252px -13px; width: 18px; height: 13px; }
.flag-127 { background-position: -0px -26px; width: 18px; height: 13px; }
.flag-128 { background-position: -18px -26px; width: 18px; height: 13px; }
.flag-129 { background-position: -36px -26px; width: 18px; height: 13px; }
.flag-13 { background-position: -54px -26px; width: 18px; height: 13px; }
.flag-130 { background-position: -72px -26px; width: 18px; height: 13px; }
.flag-131 { background-position: -90px -26px; width: 18px; height: 13px; }
.flag-133 { background-position: -108px -26px; width: 18px; height: 13px; }
.flag-134 { background-position: -126px -26px; width: 18px; height: 13px; }
.flag-135 { background-position: -144px -26px; width: 18px; height: 13px; }
.flag-136 { background-position: -162px -26px; width: 18px; height: 13px; }
.flag-137 { background-position: -180px -26px; width: 18px; height: 13px; }
.flag-138 { background-position: -198px -26px; width: 18px; height: 13px; }
.flag-139 { background-position: -216px -26px; width: 18px; height: 13px; }
.flag-140 { background-position: -234px -26px; width: 18px; height: 13px; }
.flag-141 { background-position: -252px -26px; width: 18px; height: 13px; }
.flag-142 { background-position: -0px -39px; width: 18px; height: 13px; }
.flag-143 { background-position: -18px -39px; width: 18px; height: 13px; }
.flag-144 { background-position: -36px -39px; width: 18px; height: 13px; }
.flag-145 { background-position: -54px -39px; width: 18px; height: 13px; }
.flag-146 { background-position: -72px -39px; width: 18px; height: 13px; }
.flag-147 { background-position: -90px -39px; width: 18px; height: 13px; }
.flag-148 { background-position: -108px -39px; width: 18px; height: 13px; }
.flag-149 { background-position: -126px -39px; width: 18px; height: 13px; }
.flag-15 { background-position: -144px -39px; width: 18px; height: 13px; }
.flag-150 { background-position: -162px -39px; width: 18px; height: 13px; }
.flag-151 { background-position: -180px -39px; width: 18px; height: 13px; }
.flag-152 { background-position: -198px -39px; width: 18px; height: 13px; }
.flag-153 { background-position: -216px -39px; width: 18px; height: 13px; }
.flag-154 { background-position: -234px -39px; width: 18px; height: 13px; }
.flag-155 { background-position: -252px -39px; width: 18px; height: 13px; }
.flag-156 { background-position: -0px -52px; width: 18px; height: 13px; }
.flag-157 { background-position: -18px -52px; width: 18px; height: 13px; }
.flag-158 { background-position: -36px -52px; width: 18px; height: 13px; }
.flag-159 { background-position: -54px -52px; width: 18px; height: 13px; }
.flag-16 { background-position: -72px -52px; width: 18px; height: 13px; }
.flag-160 { background-position: -90px -52px; width: 18px; height: 13px; }
.flag-161 { background-position: -108px -52px; width: 18px; height: 13px; }
.flag-162 { background-position: -126px -52px; width: 18px; height: 13px; }
.flag-163 { background-position: -144px -52px; width: 18px; height: 13px; }
.flag-164 { background-position: -162px -52px; width: 18px; height: 13px; }
.flag-165 { background-position: -180px -52px; width: 18px; height: 13px; }
.flag-166 { background-position: -198px -52px; width: 18px; height: 13px; }
.flag-167 { background-position: -216px -52px; width: 18px; height: 13px; }
.flag-168 { background-position: -234px -52px; width: 18px; height: 13px; }
.flag-169 { background-position: -252px -52px; width: 18px; height: 13px; }
.flag-17 { background-position: -0px -65px; width: 18px; height: 13px; }
.flag-170 { background-position: -18px -65px; width: 18px; height: 13px; }
.flag-171 { background-position: -36px -65px; width: 18px; height: 13px; }
.flag-172 { background-position: -54px -65px; width: 18px; height: 13px; }
.flag-173 { background-position: -72px -65px; width: 18px; height: 13px; }
.flag-174 { background-position: -90px -65px; width: 18px; height: 13px; }
.flag-175 { background-position: -108px -65px; width: 18px; height: 13px; }
.flag-176 { background-position: -126px -65px; width: 18px; height: 13px; }
.flag-177 { background-position: -144px -65px; width: 18px; height: 13px; }
.flag-178 { background-position: -162px -65px; width: 18px; height: 13px; }
.flag-179 { background-position: -180px -65px; width: 18px; height: 13px; }
.flag-180 { background-position: -198px -65px; width: 18px; height: 13px; }
.flag-181 { background-position: -216px -65px; width: 18px; height: 13px; }
.flag-182 { background-position: -234px -65px; width: 18px; height: 13px; }
.flag-183 { background-position: -252px -65px; width: 18px; height: 13px; }
.flag-184 { background-position: -0px -78px; width: 18px; height: 13px; }
.flag-185 { background-position: -18px -78px; width: 18px; height: 13px; }
.flag-186 { background-position: -36px -78px; width: 18px; height: 13px; }
.flag-187 { background-position: -54px -78px; width: 18px; height: 13px; }
.flag-188 { background-position: -72px -78px; width: 18px; height: 13px; }
.flag-189 { background-position: -90px -78px; width: 18px; height: 13px; }
.flag-19 { background-position: -108px -78px; width: 18px; height: 13px; }
.flag-190 { background-position: -126px -78px; width: 18px; height: 13px; }
.flag-192 { background-position: -144px -78px; width: 18px; height: 13px; }
.flag-193 { background-position: -162px -78px; width: 18px; height: 13px; }
.flag-194 { background-position: -180px -78px; width: 18px; height: 13px; }
.flag-195 { background-position: -198px -78px; width: 18px; height: 13px; }
.flag-196 { background-position: -216px -78px; width: 18px; height: 13px; }
.flag-197 { background-position: -234px -78px; width: 18px; height: 13px; }
.flag-198 { background-position: -252px -78px; width: 18px; height: 13px; }
.flag-199 { background-position: -0px -91px; width: 18px; height: 13px; }
.flag-2 { background-position: -18px -91px; width: 18px; height: 13px; }
.flag-20 { background-position: -36px -91px; width: 18px; height: 13px; }
.flag-200 { background-position: -54px -91px; width: 18px; height: 13px; }
.flag-201 { background-position: -72px -91px; width: 18px; height: 13px; }
.flag-202 { background-position: -90px -91px; width: 18px; height: 13px; }
.flag-203 { background-position: -108px -91px; width: 18px; height: 13px; }
.flag-205 { background-position: -126px -91px; width: 18px; height: 13px; }
.flag-206 { background-position: -144px -91px; width: 18px; height: 13px; }
.flag-207 { background-position: -162px -91px; width: 18px; height: 13px; }
.flag-208 { background-position: -180px -91px; width: 18px; height: 13px; }
.flag-209 { background-position: -198px -91px; width: 18px; height: 13px; }
.flag-21 { background-position: -216px -91px; width: 18px; height: 13px; }
.flag-210 { background-position: -234px -91px; width: 18px; height: 13px; }
.flag-211 { background-position: -252px -91px; width: 18px; height: 13px; }
.flag-212 { background-position: -0px -104px; width: 18px; height: 13px; }
.flag-213 { background-position: -18px -104px; width: 18px; height: 13px; }
.flag-214 { background-position: -36px -104px; width: 18px; height: 13px; }
.flag-215 { background-position: -54px -104px; width: 18px; height: 13px; }
.flag-216 { background-position: -72px -104px; width: 18px; height: 13px; }
.flag-217 { background-position: -90px -104px; width: 18px; height: 13px; }
.flag-218 { background-position: -108px -104px; width: 18px; height: 13px; }
.flag-219 { background-position: -126px -104px; width: 18px; height: 13px; }
.flag-22 { background-position: -144px -104px; width: 18px; height: 13px; }
.flag-220 { background-position: -162px -104px; width: 18px; height: 13px; }
.flag-221 { background-position: -180px -104px; width: 18px; height: 13px; }
.flag-222 { background-position: -198px -104px; width: 18px; height: 13px; }
.flag-223 { background-position: -216px -104px; width: 18px; height: 13px; }
.flag-224 { background-position: -234px -104px; width: 18px; height: 13px; }
.flag-225 { background-position: -252px -104px; width: 18px; height: 13px; }
.flag-228 { background-position: -0px -117px; width: 18px; height: 13px; }
.flag-229 { background-position: -18px -117px; width: 18px; height: 13px; }
.flag-23 { background-position: -36px -117px; width: 18px; height: 13px; }
.flag-230 { background-position: -54px -117px; width: 18px; height: 13px; }
.flag-24 { background-position: -72px -117px; width: 18px; height: 13px; }
.flag-25 { background-position: -90px -117px; width: 18px; height: 13px; }
.flag-26 { background-position: -108px -117px; width: 18px; height: 13px; }
.flag-28 { background-position: -126px -117px; width: 18px; height: 13px; }
.flag-29 { background-position: -144px -117px; width: 18px; height: 13px; }
.flag-3 { background-position: -162px -117px; width: 18px; height: 13px; }
.flag-30 { background-position: -180px -117px; width: 18px; height: 13px; }
.flag-31 { background-position: -198px -117px; width: 18px; height: 13px; }
.flag-32 { background-position: -216px -117px; width: 18px; height: 13px; }
.flag-33 { background-position: -234px -117px; width: 18px; height: 13px; }
.flag-34 { background-position: -252px -117px; width: 18px; height: 13px; }
.flag-35 { background-position: -0px -130px; width: 18px; height: 13px; }
.flag-37 { background-position: -18px -130px; width: 18px; height: 13px; }
.flag-38 { background-position: -36px -130px; width: 18px; height: 13px; }
.flag-39 { background-position: -54px -130px; width: 18px; height: 13px; }
.flag-4 { background-position: -72px -130px; width: 18px; height: 13px; }
.flag-41 { background-position: -90px -130px; width: 18px; height: 13px; }
.flag-42 { background-position: -108px -130px; width: 18px; height: 13px; }
.flag-44 { background-position: -126px -130px; width: 18px; height: 13px; }
.flag-45 { background-position: -144px -130px; width: 18px; height: 13px; }
.flag-465 { background-position: -162px -130px; width: 18px; height: 13px; }
.flag-47 { background-position: -180px -130px; width: 18px; height: 13px; }
.flag-48 { background-position: -198px -130px; width: 18px; height: 13px; }
.flag-5 { background-position: -216px -130px; width: 18px; height: 13px; }
.flag-50 { background-position: -234px -130px; width: 18px; height: 13px; }
.flag-51 { background-position: -252px -130px; width: 18px; height: 13px; }
.flag-52 { background-position: -0px -143px; width: 18px; height: 13px; }
.flag-53 { background-position: -18px -143px; width: 18px; height: 13px; }
.flag-54 { background-position: -36px -143px; width: 18px; height: 13px; }
.flag-55 { background-position: -54px -143px; width: 18px; height: 13px; }
.flag-56 { background-position: -72px -143px; width: 18px; height: 13px; }
.flag-57 { background-position: -90px -143px; width: 18px; height: 13px; }
.flag-58 { background-position: -108px -143px; width: 18px; height: 13px; }
.flag-59 { background-position: -126px -143px; width: 18px; height: 13px; }
.flag-6 { background-position: -144px -143px; width: 18px; height: 13px; }
.flag-60 { background-position: -162px -143px; width: 18px; height: 13px; }
.flag-61 { background-position: -180px -143px; width: 18px; height: 13px; }
.flag-62 { background-position: -198px -143px; width: 18px; height: 13px; }
.flag-63 { background-position: -216px -143px; width: 18px; height: 13px; }
.flag-64 { background-position: -234px -143px; width: 18px; height: 13px; }
.flag-65 { background-position: -252px -143px; width: 18px; height: 13px; }
.flag-652 { background-position: -0px -156px; width: 18px; height: 13px; }
.flag-653 { background-position: -18px -156px; width: 18px; height: 13px; }
.flag-654 { background-position: -36px -156px; width: 18px; height: 13px; }
.flag-655 { background-position: -54px -156px; width: 18px; height: 13px; }
.flag-656 { background-position: -72px -156px; width: 18px; height: 13px; }
.flag-657 { background-position: -90px -156px; width: 18px; height: 13px; }
.flag-658 { background-position: -108px -156px; width: 18px; height: 13px; }
.flag-659 { background-position: -126px -156px; width: 18px; height: 13px; }
.flag-66 { background-position: -144px -156px; width: 18px; height: 13px; }
.flag-660 { background-position: -162px -156px; width: 18px; height: 13px; }
.flag-661 { background-position: -180px -156px; width: 18px; height: 13px; }
.flag-662 { background-position: -198px -156px; width: 18px; height: 13px; }
.flag-663 { background-position: -216px -156px; width: 18px; height: 13px; }
.flag-664 { background-position: -234px -156px; width: 18px; height: 13px; }
.flag-67 { background-position: -252px -156px; width: 18px; height: 13px; }
.flag-68 { background-position: -0px -169px; width: 18px; height: 13px; }
.flag-69 { background-position: -18px -169px; width: 18px; height: 13px; }
.flag-7 { background-position: -36px -169px; width: 18px; height: 13px; }
.flag-70 { background-position: -54px -169px; width: 18px; height: 13px; }
.flag-71 { background-position: -72px -169px; width: 18px; height: 13px; }
.flag-72 { background-position: -90px -169px; width: 18px; height: 13px; }
.flag-73 { background-position: -108px -169px; width: 18px; height: 13px; }
.flag-74 { background-position: -126px -169px; width: 18px; height: 13px; }
.flag-76 { background-position: -144px -169px; width: 18px; height: 13px; }
.flag-77 { background-position: -162px -169px; width: 18px; height: 13px; }
.flag-78 { background-position: -180px -169px; width: 18px; height: 13px; }
.flag-79 { background-position: -198px -169px; width: 18px; height: 13px; }
.flag-8 { background-position: -216px -169px; width: 18px; height: 13px; }
.flag-80 { background-position: -234px -169px; width: 18px; height: 13px; }
.flag-81 { background-position: -252px -169px; width: 18px; height: 13px; }
.flag-82 { background-position: -0px -182px; width: 18px; height: 13px; }
.flag-83 { background-position: -18px -182px; width: 18px; height: 13px; }
.flag-84 { background-position: -36px -182px; width: 18px; height: 13px; }
.flag-85 { background-position: -54px -182px; width: 18px; height: 13px; }
.flag-86 { background-position: -72px -182px; width: 18px; height: 13px; }
.flag-87 { background-position: -90px -182px; width: 18px; height: 13px; }
.flag-88 { background-position: -108px -182px; width: 18px; height: 13px; }
.flag-89 { background-position: -126px -182px; width: 18px; height: 13px; }
.flag-9 { background-position: -144px -182px; width: 18px; height: 13px; }
.flag-90 { background-position: -162px -182px; width: 18px; height: 13px; }
.flag-91 { background-position: -180px -182px; width: 18px; height: 13px; }
.flag-92 { background-position: -198px -182px; width: 18px; height: 13px; }
.flag-93 { background-position: -216px -182px; width: 18px; height: 13px; }
.flag-94 { background-position: -234px -182px; width: 18px; height: 13px; }
.flag-95 { background-position: -252px -182px; width: 18px; height: 13px; }
.flag-96 { background-position: -0px -195px; width: 18px; height: 13px; }
.flag-98 { background-position: -18px -195px; width: 18px; height: 13px; }
.flag-99 { background-position: -36px -195px; width: 18px; height: 13px; }
.flag-default { background-position: -54px -195px; width: 18px; height: 13px; }