<div class="panel panel-condensed panel-default streaming">
    <div class="panel-heading">
        Streaming Real Madrid Bayern Munich
    </div>
    <div class="row">
        <div class="col-md-7">
            <span class="title">Watch Real Madrid - Bayern Munich free online streaming on:</span>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td class="icon"><a href="#"><span class="icon icon-tv"></span></a></td>
                    <td class="hour">20:45</td>
                    <td><a href="#"><img src="img/sprites/bonus3.png" alt="Bonus"></a></td>
                    <td class="watch"><button type="button" class="btn btn-primary btn-sm"><span><i class="icon-play"></i></span>Watch now</button></td>
                </tr>
                <tr>
                    <td class="icon"><a href="#"><span class="icon icon-tv"></span></a></td>
                    <td class="hour">20:45</td>
                    <td><a href="#"><img src="img/sprites/pmu_logo.png" alt="PMU"></a></td>
                    <td class="watch"><button type="button" class="btn btn-primary btn-sm"><span><i class="icon-play"></i></span>Watch now</button></td>
                </tr>
                </tbody>
            </table>
            <p> Nullam sed iaculis risus. Praesent malesuada tortor dui, vitae consequat lacus hendrerit quis. Suspendisse dignissim, felis non molestie.</p>
        </div>
        <div class="col-md-5">
            <img src="img/news/streaming.png" alt="Streaming">
        </div>
    </div>
</div>