<div class="row streaming-description">
    <div class="col-md-7">
        <span class="title">Streaming foot</span>
        <span class="sub-title">Suis le foot en streaming live !</span>
        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-md-5 text-right">
        <img src="{{ basePath }}img/streaming.png" alt="Streaming">
    </div>
</div>