&.player-statistics{

  > .row{
    margin: 0;
  
    > div{
      padding: 0;
      
      &:first-child{
      
        .big-stat{
          border-left: 0;
        }
        
        .statistics{
        
          .row{
          
            > div:first-child{
              border: 0;
            }
          }
        }
      }
    }
    
    &.stat-titles{
      display: table;
      width: 100%;
    
      > div{
        display: table-cell;
        padding: 20px 20px 10px;
        border-right: 1px solid darken(@ls-light-color, 6%); 
        float: none;
        
        h5.title, .title{
          text-transform: uppercase;
          font-size: @font-size-small;
          font-weight: @font-weight-bold;
          line-height: 14px;
          margin-bottom: 0;
          display: block;
          margin-top: 9px;
        }
        
        &:last-child{
          border-right: 0;
        }
      }
    }    
    
    &.stat-values{
      display: table;
      width: 100%;
    
      > div{
        display: table-cell;
        padding: 0 20px 20px;
        border-right: 1px solid darken(@ls-light-color, 6%); 
        float: none;
        
        span.icon{
          font-size: 40px;
          color: darken(@ls-light-color, 15.5%);
        }
        
        h1.result, .result{
          font-size: 47px;
          font-weight: @font-weight-light;
          display: inline-block;
          line-height: 1.1;
          margin-top: 0;
          margin-bottom: 0;
        }
        
        &:last-child{
          border-right: 0;
        }
      }
    }
        
    &.stats-bottom{
      display: table;
      width: 100%;
      border-top: 1px solid darken(@ls-light-color, 6%);  
    
      > div{
        display: table-cell;
        border-right: 1px solid darken(@ls-light-color, 6%); 
        float: none;
        
        &:last-child{
          border-right: 0;
        }
      }
    } 
  }
    
    .statistics{   

      > .row{
        margin: 0;
        
        > div:last-child{
          border-left: 1px solid darken(@ls-light-color, 6%);  
          text-align: center;
        }
        
      }
        
        img{
          vertical-align: baseline;
        }
      
        h2.result, .result{
          font-size: 29px;
          font-weight: @font-weight-light;
          line-height: 1.1;
          text-align: right;
          display: inline-block;
          width: 100%;
          margin-top: 18px;
          margin-bottom: 18px;

          
          &.football-field{
            padding-left: 25px;
            background: url("@{ls-image-player-summary-football-field}") no-repeat left center;
          }
          
          &.arrow-right-green{
            padding-left: 22px;
            background: url("@{ls-image-player-summary-arrow-right-green}") no-repeat left center;
          }
          
          &.arrow-left-red{
            padding-left: 20px;
            background: url("@{ls-image-player-summary-arrow-left-red}") no-repeat left center;
          }
          
          &.chairs{
            padding-left: 40px;
            background: url("@{ls-image-player-summary-chairs}") no-repeat left center;
          }
          
          &.yellow-card{
            padding-left: 20px;
            background: url("@{ls-image-player-summary-yellow-card}") no-repeat left center;
          }
          
          &.red-card{
            padding-left: 20px;
            background: url("@{ls-image-player-summary-red-card}") no-repeat left center;
          }
        }
    }
    
    table.player-statistics{
    
     thead{
     
      tr{
      
        th{
          text-align: center;
          
          &.competition{
            text-align: left;
          }
          
          &.shirt-number{
            border-left: 2px solid darken(@ls-light-color, 13%);
            border-right: 2px solid darken(@ls-light-color, 13%);
          }
          
          &.goals-number{
            border-left: 2px solid darken(@ls-light-color, 13%);
          }
        }
      }
     }

     tbody{
      
        tr{
        
          th{
            border-top: 0;
            text-align: center;
            font-weight: @font-weight-bold;
            font-size: @font-size-small;
            background-color: darken(@ls-light-color, 10.7%);
            
            &.competition{
              text-align: left;
            }
          }
          
          td{
            text-align: center;
            
            &.competition{
              text-align: left;
              
              a{
                margin-left: 8px;
              }
            }
            
            &.shirt-number{
              border-left: 2px solid darken(@ls-light-color, 8.2%);
              border-right: 2px solid darken(@ls-light-color, 8.2%);
            }
            
            &.goals-number{
              border-left: 2px solid darken(@ls-light-color, 8.2%);
            }
          }
        }
      }
    }   
}

&.goals-distribution{

  > .row{
    margin: 0;
    
    > div{
      padding: 20px;
      
      p{
        font-size: @font-size-base;
        margin-bottom: 20px;
        font-weight: @font-weight-normal;
      }
      
      h4, .content{
        font-weight: @font-weight-normal;
        font-size: @font-size-large;
        display: block;
        margin: 9px 0;
        line-height: 1.1;
      }
    }
  }
  
  .js-chart{
    text-align: center;
    background: darken(@ls-light-color, 2%);

  }
}

&.goals-statistics{

  
    thead, tbody{
    
      tr{
      
        th.date{
          text-align: center;
          font-weight: @font-weight-bold;
          font-size: @font-size-small;
        }
        
        th.statistics-title{
          font-weight: @font-weight-bold;
          font-size: @font-size-small;
          background: @ls-light-color;
          line-height: 47px;
          border-bottom: 1px solid darken(@ls-light-color, 2%);
          
          > span{
            line-height: 60px;
          }
        
          .stat{
            float: right;
            line-height: 20px;
        
            span.icon{
              font-size: 36px;
              color: darken(@ls-light-color, 15.5%);
            }
            
            h1.result, .result{
              font-size: 47px;
              font-weight: @font-weight-light;
              display: inline-block;
              margin: 5px 0;
              line-height: 1.1;
            }
          }
        }

      }

      &.multiple {

        &:hover {

          tr td {
            background: @table-bg-hover;
          }

        }
      }

    }
    
    tbody{
    
      tr{
      
        td{
    
          &.logo, &.date{
            width: 3%;
            
            img{
              max-width: 16px;
              max-height: 16px;
            }
          }
          
          &.league{
          
             img{
              max-height: 16px;
              max-width: 16px;
              margin-right: 2px;
            }
          }
          
          &.score{
            width: 8%;
          }
          
          &.minutes, &.date{
            font-weight: @font-weight-semi-bold;
          }
          
          &.tools{
            width: 4%;
          }
        }
      
    
    }
  }
}
