.panel-condensed{

  .comments{
    padding: 0 14px;
    margin: 0; 
    max-height: 277px;
    overflow: auto;
    border: 0;
    border-bottom: 1px solid darken(@ls-light-color, 3.8%);
    border-top: 2px solid darken(@ls-light-color, 3.8%);
    
    .media-list{
      border: 0;
      
      .media{
        position: relative;
        padding: 10px 0;
        
        .img-circle{
          width: 47px;
          height: 47px;
          background: @ls-user-avatar-placeholder-bg;
        }
        
        .avatar{
          margin-right: 11px;
          
          .btn-group{
            margin-top: 5px; 
            display: block;
            
            .btn{
              line-height: 13px;
              font-size: 11px;
              padding: 1px 4px;
              margin-left: 0;
              
              &.btn-default{
                color: darken(@ls-light-color, 35.9%);
              }
            }
          }
        }
        
        .media-heading{
          margin: 0 0 4px;

          h4, .name{
            font-size: 12px;
            display: inline-block;
            .text-overflow(); 
            width: 83px;
          }
          
          .tools{
            position: absolute;
            right: 0;
            top: 11px;

            h5, .date{
              font-size: 10px;
              margin: 0;
              white-space: nowrap;
              right: 0;
              position: absolute;
            }
            
            > a{
              display: none;
            }
          }
        }
        
        .media-body{
        
          p{
            margin: 0;
            font-size: 12px;
            line-height: 15px;
          }
        }
        
        &:hover{
        
          .media-heading{
          
            .tools{
              position: absolute;
              right: 0;
              z-index: 1;

              h5, .date{
                display: none;
              }
              
              > a{
                display: inline-block;
              }
            }
          }
        }
        
        &.view-all{
          text-align: center;
          
          a{
            font-size: 12px;
          }
        }
        
      }
    }

    &.carousel{
      padding: 0;
      height: auto;
      position: relative;

      .media-list{
        .media{
          padding: 10px 14px;
          width: 248px;

          .media-heading{
            .tools{
              right: 14px;
            }
          }
        }
      }

      .control{
        display: none;
        position: absolute;
        background: darken(@ls-light-color, 1.5%);
        text-align: center;
        width: 38px;
        border-color: darken(@ls-light-color, 8.5%);
        cursor: pointer; 
        height: 100%;
        z-index: 2;

        span{
          font-size: 21px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -10px;
          margin-top: -10px;
          color: darken(@ls-light-color, 14%);
        }
        
        &:hover{
          background: darken(@ls-light-color, 6%);
          
          span{
            color: darken(@ls-light-color, 31.5%);
          }
        }
        
        &.prev{
          top: 0;
          left: 0;
          border-right-width: 1px;
          border-right-style: solid;
        }
        
        &.next{
          top: 0;
          right: 0;
          border-left-width: 1px;
          border-left-style: solid;
        }
      }

      &:hover{
        .control{
          display: block;
        }
      }
    }
  }
}